In [1]:
import sys
sys.path.append(r'c:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool')
from schemas import schema_pool_m, schema_pool_m1, schema_client, schema_contable
import pandas as pd
pd.options.display.max_columns = None
# pd.options.display.max_rows = 200
# pd.reset_option('display.max_rows')
pd.set_option('display.float_format', '{:,.4f}'.format)
#pd.reset_option('display.float_format')
# for an specific column
# df['your_column'] = df['your_column'].apply(lambda x: f"{x:,.2f}")
# df['your_column'] = df['your_column'].round(2)

#### lectura de datos base (pool_m, pool_m1, client, contable)

In [2]:
pool_m = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m.csv',delimiter=';',dtype=schema_pool_m)
pool_m1 = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m1.csv',delimiter=';',dtype=schema_pool_m1)
client = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\cliente.csv',delimiter=';',dtype=schema_client)
contable = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\contable.csv',delimiter=';',dtype=schema_contable)

In [4]:
pool_m

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
0,00000000000000000691334334,01821299008300000000019569,0058,0083,CP,BB-,000147893,NaN,BB-,NC,0,BB-,"296,086.7500",0.0874,0.0278,0.1202,0.0360,0.0453,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0285,MA,0.1003,0.0600,0.0600,2025-06-30
1,00000000000000000667711952,01822344050500000000190663,0058,0505,LP,B-,034908347,NaN,B-,NC,0,B-,"4,540.2500",-0.0700,-0.0881,-0.0892,0.0179,0.0246,SI,CI/OI,CN/OP,PARCIAL,6,2025-01-31,2025-01-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
2,00000000000000000687067102,01822344008300000000017034,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"40,324.2500",-0.0700,-0.0881,-0.0892,-0.1071,-0.1426,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
3,00000000000000000693353710,01822344008300000000017182,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"18,069.6250",-0.0700,-0.0881,-0.0892,-0.5163,-0.6884,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
4,00000000000000000693528484,01822342008300000000033909,0058,0083,CP,B,038094323,NaN,B,NC,0,B,"19,809.6250",0.1414,0.0390,0.1966,0.0223,0.0310,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0390,MA,0.1003,0.0600,0.0600,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,01822376008300000000058147,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"19,997.8750",0.0983,0.0713,0.1636,0.0862,0.1792,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
446,00000000000000000695925911,01822376008300000000058154,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"11,047.0000",0.0983,0.0713,0.1636,0.0645,0.1339,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
447,00000000000000000519329576,01821299051100000000031608,0058,0511,CP,A-,000992836,NaN,BB,NC,0,BB,"260,829.0000",0.1042,0.0831,0.1731,0.1751,0.2944,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0831,NaN,0.1003,0.0600,0.0600,2025-06-30
448,00000000000000000492897544,01822324051600000000060603,0058,0516,CP,B+,034807425,NaN,B+,NC,0,B+,"307,073.8800",0.0684,0.0654,0.0882,0.1109,0.1429,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
449,00000000000000000697419588,01825473001000000000151377,0058,0010,CP,B+,009637729,NaN,B+,NC,0,B+,"300,069.1200",0.0047,0.0453,0.0060,0.0639,0.0885,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0453,MA,0.1003,0.0600,0.0600,2025-06-30

##### guardados excel (pool_m, pool_m1)

In [ ]:
from pathlib import Path

file_path = Path("comparison_final_2.xlsx")
if file_path.exists():
    with pd.ExcelWriter(file_path, mode="a", if_sheet_exists="replace") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)
else:
    with pd.ExcelWriter(file_path, mode="w") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)

-------------------

#### top 5 - pruebas -- nada

In [5]:
# TOP 5 customers with highest regulatory capital amount with pool_situation_type = 'SI'
def five_oldest_surv(group):
    return group[group.pool_situation_type == 'SI'].nlargest(5, "rwas_regul_capital_amount")

pool_m.groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000032713   37   00000000000000000686975746  01822372008300000000030074
            185  00000000000000000696936333  01822372008300000000030649
            184  00000000000000000694261754  01822372008300000000030523
            35   00000000000000000690207454  01822372008300000000030311
            36   00000000000000000693356026  01822372008300000000030486
...                                     ...                         ...
059949867   44   00000000000000000575172005  01822338030000673422000109
            45   00000000000000000690815273  01822338008300000000019256
            189  00000000000000000696787786  01822338008300000000019498
064682707   150  00000000000000000683507011  01822376008300000000056595
            250  00000000000000000695917995  01822376008300000000058153

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000032713   37                 0058           0083                 CP
            185                0058           0083                 CP
            184                0058           0083                 CP
            35                 0058           0083                 CP
            36                 0058           0083                 CP
...                             ...            ...                ...
059949867   44                 0058           0300                 CP
            45                 0058           0083                 CP
            189                0058           0083                 CP
064682707   150                0058           0083                 CP
            250                0058           0083                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000032713   37                        B+                NaN         B+
            185                       B+                NaN         B+
            184                       B+                NaN         B+
            35                        B+                NaN         B+
            36                        B+                NaN         B+
...                                  ...                ...        ...
059949867   44                       BB+                NaN        BB+
            45                       BB+                NaN        BB+
            189                      BB+                NaN        BB+
064682707   150                       BB                NaN         BB
            250                       BB                NaN         BB

                rating_status rating_diff rating_var  \
customer_id
000032713   37             NC           0         B+
            185            NC           0         B+
            184            NC           0         B+
            35             NC           0         B+
            36             NC           0         B+
...                       ...         ...        ...
059949867   44             NC           0        BB+
            45             NC           0        BB+
            189            NC           0        BB+
064682707   150            UP           1     BB-/BB
            250            UP           1     BB-/BB

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000032713   37                129,461.7500                   0.1044
            185                35,988.6250                   0.1044
            184                34,374.8750                   0.1044
            35                 29,968.2500                   0.1044
            36                 22,746.0000                   0.1044
...                                    ...                      ...
059949867   44                140,213.6200                   0.1049
            45                 47,808.6250                   0.1049
            189                18,671.3750                   0.1049
064682707   150                 6,454.5000                   0.0983
            250                 1,657.0000                   0.0983

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000032713   37                   0.1008                  0.1341
            185                  0.1008                  0.1341
            184                  0.1008                  0.1341
            35                   0.1008                  0.1341
            36                   0.1008                  0.1341
...                                 ...                     ...
059949867   44                   0.0804                  0.1527
            45                   0.0804                  0.1527
            189                  0.0804                  0.1527
064682707   150                  0.0713                  0.1636
            250                  0.0713                  0.1636

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000032713   37                  0.0323                   0.0414
            185                 0.0373                   0.0479
            184                 0.0370                   0.0475
            35                  0.0197                   0.0253
            36                  0.0252                   0.0323
...                                ...                      ...
059949867   44                 -0.0254                  -0.0381
            45                 -0.0015                  -0.0023
            189                -0.1847                  -0.2706
064682707   150                 0.0547                   0.1134
            250                -0.2177                  -0.4493

                pool_situation_type motivo_des analisis_neg cancelation_type  \
customer_id
000032713   37                   SI      CI/OI        CP/OP              NaN
            185                  SI      CI/OI        CP/OP              NaN
            184                  SI      CI/OI        CP/OP              NaN
            35                   SI      CI/OI        CP/OP              NaN
            36                   SI      CI/OI        CP/OP              NaN
...                             ...        ...          ...              ...
059949867   44                   SI      CI/OI        CP/ON          PARCIAL
            45                   SI      CI/OI        CP/ON              NaN
            189                  SI      CI/OI        CP/ON              NaN
064682707   150                  SI      CI/OI        CP/OP              NaN
            250                  SI      CI/OI        CP/ON              NaN

                 rorc_6m_cust_times_number billing_date  \
customer_id
000032713   37                           6   2025-04-30
            185                          6   2025-06-30
            184                          6   2025-06-30
            35                           6   2025-05-31
            36                           6   2025-05-31
...                                    ...          ...
059949867   44                           6   2024-04-30
            45                           6   2025-05-31
            189                          6   2025-06-30
064682707   150                          6   2025-03-31
            250                          6   2025-06-30

                pool_customer_reg_date pool_exit_date alerta_com  \
customer_id
000032713   37              2025-04-30            NaN         DC
            185             2025-06-30            NaN         DC
            184             2025-06-30            NaN         DC
            35              2025-05-31            NaN         DC
            36              2025-05-31            NaN         DC
...                                ...            ...        ...
059949867   44              2024-04-30            NaN         SC
            45              2025-05-31            NaN         SC
            189             2025-06-30            NaN         SC
064682707   150             2025-03-31            NaN        NaN
            250             2025-06-30            NaN        NaN

                 prof_ratio_rorc_amount_2 valid_model_id  rorc_cliente  \
customer_id
000032713   37                     0.0992             MA        0.1003
            185                    0.0992             MA        0.1003
            184                    0.0992             MA        0.1003
            35                     0.0992             MA        0.1003
            36                     0.0992             MA        0.1003
...                                   ...            ...           ...
059949867   44                     0.0809             MA        0.1003
            45                     0.0809             MA        0.1003
            189                    0.0809             MA        0.1003
064682707   150                    0.0713             ME        0.1003
            250                    0.0713             ME        0.1003

                 rorc_op  new_rorc_op part_closing_date
customer_id
000032713   37    0.0600       0.0600        2025-06-30
            185   0.0600       0.0600        2025-06-30
            184   0.0600       0.0600        2025-06-30
            35    0.0600       0.0600        2025-06-30
            36    0.0600       0.0600        2025-06-30
...                  ...          ...               ...
059949867   44    0.0600       0.0600        2025-06-30
            45    0.0600       0.0600        2025-06-30
            189   0.0600       0.0600        2025-06-30
064682707   150   0.0600       0.0600        2025-06-30
            250   0.0600       0.0600        2025-06-30

[231 rows x 32 columns]

In [ ]:
# .loc[:,["level60_operarea_id","customer_id","pool_situation_type","rwas_regul_capital_amount"]]

In [9]:
pool_m.groupby(["level60_operarea_id","customer_id"]).apply(five_oldest_surv, include_groups=False)

                                                    contract_id  \
level60_operarea_id customer_id
0023                012225332   179  00000000000000000696082853
                                31   00000000000000000537869112
                                32   00000000000000000691404343
0058                000032713   37   00000000000000000686975746
                                185  00000000000000000696936333
...                                                         ...
8519                055890379   222  00000000000000000694261990
                                99   00000000000000000689369766
                                98   00000000000000000689979632
                                100  00000000000000000692597674
                                103  00000000000000000686895867

                                            current_contract_id  \
level60_operarea_id customer_id
0023                012225332   179  01824899008300000000008443
                                31   01824899030000033502000909
                                32   01824899008300000000008368
0058                000032713   37   01822372008300000000030074
                                185  01822372008300000000030649
...                                                         ...
8519                055890379   222  01828510008300000000001657
                                99   01828510008300000000001601
                                98   01828510008300000000001607
                                100  01828510008300000000001636
                                103  01828510008300000000001549

                                    counterpart_id term_contract_type  \
level60_operarea_id customer_id
0023                012225332   179           0083                 CP
                                31            0300                 CP
                                32            0083                 CP
0058                000032713   37            0083                 CP
                                185           0083                 CP
...                                            ...                ...
8519                055890379   222           0083                 CP
                                99            0083                 CP
                                98            0083                 CP
                                100           0083                 CP
                                103           0083                 CP

                                    m5_scale_master_limit_id  \
level60_operarea_id customer_id
0023                012225332   179                     BBB-
                                31                      BBB-
                                32                      BBB-
0058                000032713   37                        B+
                                185                       B+
...                                                      ...
8519                055890379   222                        B
                                99                         B
                                98                         B
                                100                        B
                                103                        B

                                    cliente_nuevo_pool rating_mes  \
level60_operarea_id customer_id
0023                012225332   179                NaN       BBB-
                                31                 NaN       BBB-
                                32                 NaN       BBB-
0058                000032713   37                 NaN         B+
                                185                NaN         B+
...                                                ...        ...
8519                055890379   222                NaN          B
                                99                 NaN          B
                                98                 NaN          B
                                100                NaN          B
                                103                NaN          B

                                    rating_status rating_diff rating_var  \
level60_operarea_id customer_id
0023                012225332   179            NC           0       BBB-
                                31             NC           0       BBB-
                                32             NC           0       BBB-
0058                000032713   37             NC           0         B+
                                185            NC           0         B+
...                                           ...         ...        ...
8519                055890379   222            NC           0          B
                                99             NC           0          B
                                98             NC           0          B
                                100            NC           0          B
                                103            NC           0          B

                                     rwas_regul_capital_amount  \
level60_operarea_id customer_id
0023                012225332   179               968,228.9000
                                31                389,789.0000
                                32                108,341.6250
0058                000032713   37                129,461.7500
                                185                35,988.6250
...                                                        ...
8519                055890379   222                25,642.5000
                                99                 21,149.1250
                                98                 12,052.2500
                                100                 7,651.8750
                                103                 5,657.6250

                                     rorc_last_m_cust_amount  \
level60_operarea_id customer_id
0023                012225332   179                   0.0932
                                31                    0.0932
                                32                    0.0932
0058                000032713   37                    0.1044
                                185                   0.1044
...                                                      ...
8519                055890379   222                   0.0702
                                99                    0.0702
                                98                    0.0702
                                100                   0.0702
                                103                   0.0702

                                     prof_ratio_rorc_amount  \
level60_operarea_id customer_id
0023                012225332   179                  0.0806
                                31                   0.0806
                                32                   0.0806
0058                000032713   37                   0.1008
                                185                  0.1008
...                                                     ...
8519                055890379   222                  0.0463
                                99                   0.0463
                                98                   0.0463
                                100                  0.0463
                                103                  0.0463

                                     raroec_customer_amount  \
level60_operarea_id customer_id
0023                012225332   179                  0.1940
                                31                   0.1940
                                32                   0.1940
0058                000032713   37                   0.1341
                                185                  0.1341
...                                                     ...
8519                055890379   222                  0.0752
                                99                   0.0752
                                98                   0.0752
                                100                  0.0752
                                103                  0.0752

                                     rorc_operation_amount  \
level60_operarea_id customer_id
0023                012225332   179                 0.0438
                                31                  0.0168
                                32                  0.0540
0058                000032713   37                  0.0323
                                185                 0.0373
...                                                    ...
8519                055890379   222                -0.0425
                                99                 -0.0366
                                98                 -0.0441
                                100                -0.0949
                                103                -0.0165

                                     raroec_operation_amount  \
level60_operarea_id customer_id
0023                012225332   179                   0.0895
                                31                    0.0345
                                32                    0.1101
0058                000032713   37                    0.0414
                                185                   0.0479
...                                                      ...
8519                055890379   222                  -0.0564
                                99                   -0.0485
                                98                   -0.0585
                                100                  -0.1261
                                103                  -0.0219

                                    pool_situation_type motivo_des  \
level60_operarea_id customer_id
0023                012225332   179                  SI      CI/OI
                                31                   SI      CI/OI
                                32                   SI      CI/OI
0058                000032713   37                   SI      CI/OI
                                185                  SI      CI/OI
...                                                 ...        ...
8519                055890379   222                  SI      CI/OI
                                99                   SI      CI/OI
                                98                   SI      CI/OI
                                100                  SI      CI/OI
                                103                  SI      CI/OI

                                    analisis_neg cancelation_type  \
level60_operarea_id customer_id
0023                012225332   179        CP/OP              NaN
                                31         CP/OP          PARCIAL
                                32         CP/OP              NaN
0058                000032713   37         CP/OP              NaN
                                185        CP/OP              NaN
...                                          ...              ...
8519                055890379   222        CP/ON              NaN
                                99         CP/ON              NaN
                                98         CP/ON              NaN
                                100        CP/ON              NaN
                                103        CP/ON              NaN

                                     rorc_6m_cust_times_number billing_date  \
level60_operarea_id customer_id
0023                012225332   179                          6   2025-06-30
                                31                           6   2025-03-31
                                32                           6   2025-05-31
0058                000032713   37                           6   2025-04-30
                                185                          6   2025-06-30
...                                                        ...          ...
8519                055890379   222                          6   2025-06-30
                                99                           6   2025-05-31
                                98                           6   2025-05-31
                                100                          6   2025-05-31
                                103                          6   2025-04-30

                                    pool_customer_reg_date pool_exit_date  \
level60_operarea_id customer_id
0023                012225332   179             2025-06-30            NaN
                                31              2025-03-31            NaN
                                32              2025-05-31            NaN
0058                000032713   37              2025-04-30            NaN
                                185             2025-06-30            NaN
...                                                    ...            ...
8519                055890379   222             2025-06-30            NaN
                                99              2025-05-31            NaN
                                98              2025-05-31            NaN
                                100             2025-05-31            NaN
                                103             2025-04-30            NaN

                                    alerta_com  prof_ratio_rorc_amount_2  \
level60_operarea_id customer_id
0023                012225332   179         SC                    0.0832
                                31          SC                    0.0832
                                32          SC                    0.0832
0058                000032713   37          DC                    0.0992
                                185         DC                    0.0992
...                                        ...                       ...
8519                055890379   222        NaN                    0.0240
                                99         NaN                    0.0240
                                98         NaN                    0.0240
                                100        NaN                    0.0240
                                103        NaN                    0.0240

                                    valid_model_id  rorc_cliente  rorc_op  \
level60_operarea_id customer_id
0023                012225332   179             MA        0.1003   0.0600
                                31              MA        0.1003   0.0600
                                32              MA        0.1003   0.0600
0058                000032713   37              MA        0.1003   0.0600
                                185             MA        0.1003   0.0600
...                                            ...           ...      ...
8519                055890379   222             MA        0.1003   0.0600
                                99              MA        0.1003   0.0600
                                98              MA        0.1003   0.0600
                                100             MA        0.1003   0.0600
                                103             MA        0.1003   0.0600

                                     new_rorc_op part_closing_date
level60_operarea_id customer_id
0023                012225332   179       0.0600        2025-06-30
                                31        0.0600        2025-06-30
                                32        0.0600        2025-06-30
0058                000032713   37        0.0600        2025-06-30
                                185       0.0600        2025-06-30
...                                          ...               ...
8519                055890379   222       0.0600        2025-06-30
                                99        0.0600        2025-06-30
                                98        0.0600        2025-06-30
                                100       0.0600        2025-06-30
                                103       0.0600        2025-06-30

[231 rows x 31 columns]

In [10]:
df5 = pool_m.groupby(["level60_operarea_id","customer_id"]).apply(five_oldest_surv, include_groups=False)

cols_to_save = [
    'level60_operarea_id', 
    'customer_id',  # add index columns
    'counterpart_id', 
    'contract_id',
    'term_contract_type',
    'rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount',
    'rorc_operation_amount',
    'rwas_regul_capital_amount',
    'billing_date',
]
# 'prof_ratio_rorc_amount_diff',
# 'prof_ratio_rorc_amount_SA',
#  'prof_ratio_rorc_amount_SI_mes',

# Reset index to include index columns as regular columns
df5_reset = df5.reset_index()


df5_reset_new=df5_reset.loc[:,cols_to_save]

In [11]:
df5_reset_new

,level60_operarea_id,customer_id,counterpart_id,contract_id,term_contract_type,rorc_last_m_cust_amount,prof_ratio_rorc_amount,rorc_operation_amount,rwas_regul_capital_amount,billing_date
0,0023,012225332,0083,00000000000000000696082853,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30
1,0023,012225332,0300,00000000000000000537869112,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31
2,0023,012225332,0083,00000000000000000691404343,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31
3,0058,000032713,0083,00000000000000000686975746,CP,0.1044,0.1008,0.0323,"129,461.7500",2025-04-30
4,0058,000032713,0083,00000000000000000696936333,CP,0.1044,0.1008,0.0373,"35,988.6250",2025-06-30
...,...,...,...,...,...,...,...,...,...,...
226,8519,055890379,0083,00000000000000000694261990,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30
227,8519,055890379,0083,00000000000000000689369766,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31
228,8519,055890379,0083,00000000000000000689979632,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31
229,8519,055890379,0083,00000000000000000692597674,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31
230,8519,055890379,0083,00000000000000000686895867,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30

In [ ]:
df5_reset_new

In [12]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    df5_reset_new.to_excel(writer, sheet_name="top5", index=False)

In [17]:
def n_oldest_surv(group, n):
    return group[group.pool_situation_type == 'SI'].nlargest(n, "rwas_regul_capital_amount")

df6 = pool_m.groupby(["level60_operarea_id"]).apply(lambda group: n_oldest_surv(group, 5), include_groups=False)

In [28]:
# TOP 5 customers with highest regulatory capital amount with pool_situation_type = 'SI'
def n_oldest_surv(group, n):
    return group[group.pool_situation_type == 'SI'].nlargest(n, "rwas_regul_capital_amount")

df6 = pool_m.groupby(["level60_operarea_id"]).apply(lambda group: n_oldest_surv(group, 10), include_groups=False)

df6

                                        contract_id  \
level60_operarea_id
0023                179  00000000000000000696082853
                    31   00000000000000000537869112
                    32   00000000000000000691404343
0058                49   00000000000000000679764662
                    10   00000000000000000610773752
                    151  00000000000000000689893684
                    12   00000000000000000584016126
                    22   00000000000000000643922216
                    27   00000000000000000596662002
                    173  00000000000000000549637223
                    48   00000000000000000640634367
                    230  00000000000000000584319910
                    186  00000000000000000697145512
8519                222  00000000000000000694261990
                    99   00000000000000000689369766
                    98   00000000000000000689979632
                    100  00000000000000000692597674
                    103  00000000000000000686895867
                    102  00000000000000000692597223
                    101  00000000000000000688211601

                                current_contract_id counterpart_id  \
level60_operarea_id
0023                179  01824899008300000000008443           0083
                    31   01824899030000033502000909           0300
                    32   01824899008300000000008368           0083
0058                49   01822336098800144348400069           0988
                    10   01822393008300000000014801           0083
                    151  01821299008300000000019525           0083
                    12   01822393001000000000152914           0010
                    22   01822327050500000000175580           0505
                    27   01822357051600000000078585           0516
                    173  01822357030000397400070109           0300
                    48   01822336098800144348400051           0988
                    230  01821299001000000000152284           0010
                    186  01822345025200000000169119           0252
8519                222  01828510008300000000001657           0083
                    99   01828510008300000000001601           0083
                    98   01828510008300000000001607           0083
                    100  01828510008300000000001636           0083
                    103  01828510008300000000001549           0083
                    102  01828510008300000000001635           0083
                    101  01828510008300000000001580           0083

                        term_contract_type m5_scale_master_limit_id  \
level60_operarea_id
0023                179                 CP                     BBB-
                    31                  CP                     BBB-
                    32                  CP                     BBB-
0058                49                  LP                        B
                    10                  LP                      BB-
                    151                 LP                       BB
                    12                  CP                      BB-
                    22                  LP                      CC+
                    27                  CP                      BB+
                    173                 CP                      BB+
                    48                  LP                        B
                    230                 CP                      BB-
                    186                 CP                       B-
8519                222                 CP                        B
                    99                  CP                        B
                    98                  CP                        B
                    100                 CP                        B
                    103                 CP                        B
                    102                 CP                        B
                    101                 CP                        B

                        customer_id cliente_nuevo_pool rating_mes  \
level60_operarea_id
0023                179   012225332                NaN       BBB-
                    31    012225332                NaN       BBB-
                    32    012225332                NaN       BBB-
0058                49    007652980                NaN         B-
                    10    010134184                NaN        BB-
                    151   000992836                NaN         BB
                    12    010134184                NaN        BB-
                    22    028407710                NaN        CC+
                    27    001005370                NaN        BB+
                    173   001005370                NaN        BB+
                    48    007652980                NaN         B-
                    230   013644107                NaN        BB-
                    186   030695078                NaN         B-
8519                222   055890379                NaN          B
                    99    055890379                NaN          B
                    98    055890379                NaN          B
                    100   055890379                NaN          B
                    103   055890379                NaN          B
                    102   055890379                NaN          B
                    101   055890379                NaN          B

                        rating_status rating_diff rating_var  \
level60_operarea_id
0023                179            NC           0       BBB-
                    31             NC           0       BBB-
                    32             NC           0       BBB-
0058                49             NC           0         B-
                    10             NC           0        BB-
                    151            NC           0         BB
                    12             NC           0        BB-
                    22             NC           0        CC+
                    27             UP           1     BB/BB+
                    173            UP           1     BB/BB+
                    48             NC           0         B-
                    230            NC           0        BB-
                    186            NC           0         B-
8519                222            NC           0          B
                    99             NC           0          B
                    98             NC           0          B
                    100            NC           0          B
                    103            NC           0          B
                    102            NC           0          B
                    101            NC           0          B

                         rwas_regul_capital_amount  rorc_last_m_cust_amount  \
level60_operarea_id
0023                179               968,228.9000                   0.0932
                    31                389,789.0000                   0.0932
                    32                108,341.6250                   0.0932
0058                49              3,791,792.5000                   0.0428
                    10              2,313,388.5000                   0.0641
                    151             2,301,002.2000                   0.1042
                    12              1,575,211.9000                   0.0641
                    22              1,337,020.4000                  -0.1180
                    27              1,050,429.4000                   0.0600
                    173             1,011,901.9000                   0.0600
                    48                993,983.9000                   0.0428
                    230               912,108.4000                   0.1452
                    186               900,595.0000                  -0.0090
8519                222                25,642.5000                   0.0702
                    99                 21,149.1250                   0.0702
                    98                 12,052.2500                   0.0702
                    100                 7,651.8750                   0.0702
                    103                 5,657.6250                   0.0702
                    102                 4,124.5000                   0.0702
                    101                 2,051.6250                   0.0702

                         prof_ratio_rorc_amount  raroec_customer_amount  \
level60_operarea_id
0023                179                  0.0806                  0.1940
                    31                   0.0806                  0.1940
                    32                   0.0806                  0.1940
0058                49                   0.0310                  0.0877
                    10                   0.0619                  0.0814
                    151                  0.0831                  0.1731
                    12                   0.0619                  0.0814
                    22                  -0.1537                 -0.1535
                    27                   0.0687                  0.1149
                    173                  0.0687                  0.1149
                    48                   0.0310                  0.0877
                    230                  0.0533                  0.2407
                    186                 -0.0083                 -0.0136
8519                222                  0.0463                  0.0752
                    99                   0.0463                  0.0752
                    98                   0.0463                  0.0752
                    100                  0.0463                  0.0752
                    103                  0.0463                  0.0752
                    102                  0.0463                  0.0752
                    101                  0.0463                  0.0752

                         rorc_operation_amount  raroec_operation_amount  \
level60_operarea_id
0023                179                 0.0438                   0.0895
                    31                  0.0168                   0.0345
                    32                  0.0540                   0.1101
0058                49                 -0.0393                  -0.0990
                    10                  0.0463                   0.0582
                    151                 0.0268                   0.0439
                    12                  0.0334                   0.0416
                    22                 -0.2164                  -0.2766
                    27                  0.0213                   0.0408
                    173                -0.0030                  -0.0059
                    48                  0.0109                   0.0273
                    230                 0.0017                   0.0030
                    186                -0.1104                  -0.1823
8519                222                -0.0425                  -0.0564
                    99                 -0.0366                  -0.0485
                    98                 -0.0441                  -0.0585
                    100                -0.0949                  -0.1261
                    103                -0.0165                  -0.0219
                    102                -0.2213                  -0.2939
                    101                -0.1233                  -0.1638

                        pool_situation_type motivo_des analisis_neg  \
level60_operarea_id
0023                179                  SI      CI/OI        CP/OP
                    31                   SI      CI/OI        CP/OP
                    32                   SI      CI/OI        CP/OP
0058                49                   SI      CI/OI        CP/ON
                    10                   SI      CI/OI        CP/OP
                    151                  SI      CI/OI        CP/OP
                    12                   SI      CI/OI        CP/OP
                    22                   SI      CI/OI        CN/ON
                    27                   SI      CI/OI        CP/OP
                    173                  SI      CI/OI        CP/ON
                    48                   SI      CI/OI        CP/OP
                    230                  SI      CI/OI        CP/OP
                    186                  SI      CI/OI        CN/ON
8519                222                  SI      CI/OI        CP/ON
                    99                   SI      CI/OI        CP/ON
                    98                   SI      CI/OI        CP/ON
                    100                  SI      CI/OI        CP/ON
                    103                  SI      CI/OI        CP/ON
                    102                  SI      CI/OI        CP/ON
                    101                  SI      CI/OI        CP/ON

                        cancelation_type  rorc_6m_cust_times_number  \
level60_operarea_id
0023                179              NaN                          6
                    31           PARCIAL                          6
                    32               NaN                          6
0058                49               NaN                          6
                    10           PARCIAL                          6
                    151              NaN                          6
                    12           PARCIAL                          6
                    22           PARCIAL                          6
                    27               NaN                          6
                    173              NaN                          6
                    48               NaN                          6
                    230              NaN                          6
                    186              NaN                          6
8519                222              NaN                          6
                    99               NaN                          6
                    98               NaN                          6
                    100              NaN                          6
                    103              NaN                          6
                    102              NaN                          6
                    101              NaN                          6

                        billing_date pool_customer_reg_date pool_exit_date  \
level60_operarea_id
0023                179   2025-06-30             2025-06-30            NaN
                    31    2025-03-31             2025-03-31            NaN
                    32    2025-05-31             2025-05-31            NaN
0058                49    2025-03-31             2025-03-31            NaN
                    10    2023-11-30             2023-11-30            NaN
                    151   2025-05-31             2025-05-31            NaN
                    12    2024-06-30             2024-06-30            NaN
                    22    2024-07-31             2024-07-31            NaN
                    27    2024-09-30             2024-09-30            NaN
                    173   2025-06-30             2025-06-30            NaN
                    48    2024-06-30             2024-06-30            NaN
                    230   2025-06-30             2025-06-30            NaN
                    186   2025-06-30             2025-06-30            NaN
8519                222   2025-06-30             2025-06-30            NaN
                    99    2025-05-31             2025-05-31            NaN
                    98    2025-05-31             2025-05-31            NaN
                    100   2025-05-31             2025-05-31            NaN
                    103   2025-04-30             2025-04-30            NaN
                    102   2025-05-31             2025-05-31            NaN
                    101   2025-04-30             2025-04-30            NaN

                        alerta_com  prof_ratio_rorc_amount_2 valid_model_id  \
level60_operarea_id
0023                179         SC                    0.0832             MA
                    31          SC                    0.0832             MA
                    32          SC                    0.0832             MA
0058                49         NaN                    0.0310             MB
                    10         NaN                    0.0621             MA
                    151         SC                    0.0831             MA
                    12         NaN                    0.0621             MA
                    22         NaN                   -0.1535             MA
                    27         NaN                    0.0687             MA
                    173        NaN                    0.0687             MA
                    48         NaN                    0.0310             MB
                    230        NaN                    0.0537             MA
                    186        NaN                   -0.0083             MA
8519                222        NaN                    0.0240             MA
                    99         NaN                    0.0240             MA
                    98         NaN                    0.0240             MA
                    100        NaN                    0.0240             MA
                    103        NaN                    0.0240             MA
                    102        NaN                    0.0240             MA
                    101        NaN                    0.0240             MA

                         rorc_cliente  rorc_op  new_rorc_op part_closing_date
level60_operarea_id
0023                179        0.1003   0.0600       0.0600        2025-06-30
                    31         0.1003   0.0600       0.0600        2025-06-30
                    32         0.1003   0.0600       0.0600        2025-06-30
0058                49         0.1003   0.0600       0.0600        2025-06-30
                    10         0.1003   0.0600       0.0600        2025-06-30
                    151        0.1003   0.0600       0.0600        2025-06-30
                    12         0.1003   0.0600       0.0600        2025-06-30
                    22         0.1003   0.0600       0.0600        2025-06-30
                    27         0.1003   0.0600       0.0600        2025-06-30
                    173        0.1003   0.0600       0.0600        2025-06-30
                    48         0.1003   0.0600       0.0600        2025-06-30
                    230        0.1003   0.0600       0.0600        2025-06-30
                    186        0.1003   0.0600       0.0600        2025-06-30
8519                222        0.1003   0.0600       0.0600        2025-06-30
                    99         0.1003   0.0600       0.0600        2025-06-30
                    98         0.1003   0.0600       0.0600        2025-06-30
                    100        0.1003   0.0600       0.0600        2025-06-30
                    103        0.1003   0.0600       0.0600        2025-06-30
                    102        0.1003   0.0600       0.0600        2025-06-30
                    101        0.1003   0.0600       0.0600        2025-06-30

-------------

#### top5_clientes_por_aprs_contratos

In [67]:
# Group by level60_operarea_id and customer_id, and sum the capital if needed
grouped = (
    pool_m[pool_m.pool_situation_type == 'SI'].groupby(['level60_operarea_id', 'customer_id'], as_index=False)
      .agg({'rwas_regul_capital_amount': 'sum','contract_id':'count'})
)

# Now get top 5 customers by capital amount per operarea
top5_per_operarea = (
    grouped.sort_values(['level60_operarea_id', 'rwas_regul_capital_amount'], ascending=[True, False])
           .groupby('level60_operarea_id')
           .head(5)
)

# Optional: sort final result
top5_per_operarea = top5_per_operarea.sort_values(['level60_operarea_id', 'rwas_regul_capital_amount'], ascending=[True, False])

In [68]:
top5_per_operarea

   level60_operarea_id customer_id  rwas_regul_capital_amount  contract_id
0                 0023   012225332             1,466,359.5250            3
17                0058   007652980             5,062,834.1500            4
43                0058   030695078             4,773,207.1200            7
23                0058   010134184             4,434,608.2700            7
8                 0058   000992836             2,766,053.3200            2
12                0058   002362927             2,092,553.4950            7
62                8519   055890379                78,329.5000            7

In [85]:
validate = pool_m[pool_m.pool_situation_type == 'SI'].customer_id.isin(top5_per_operarea['customer_id'])
top5 = pool_m[pool_m.pool_situation_type == 'SI'][validate].sort_values('customer_id').merge(
    top5_per_operarea ,on='customer_id', how='left').rename(columns={'contract_id_x':'contract_id',
                                                                     'level60_operarea_id_x':'level60_operarea_id',
                                                                     'rwas_regul_capital_amount_x': 'rwas_regul_capital_amount',
                                                                     'rwas_regul_capital_amount_y':'rwas_Tot_m_client'}).drop(columns=['level60_operarea_id_y', 'contract_id_y'])

In [86]:
top5

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date,rwas_Tot_m_client
0,00000000000000000698049116,01821299008300000000019894,0058,0083,CP,BB,000992836,NaN,BB,NC,0,BB,"465,051.1200",0.1042,0.0831,0.1731,0.0010,0.0016,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,SC,0.0831,MA,0.1003,0.0600,0.0600,2025-06-30,"2,766,053.3200"
1,00000000000000000689893684,01821299008300000000019525,0058,0083,LP,BB,000992836,NaN,BB,NC,0,BB,"2,301,002.2000",0.1042,0.0831,0.1731,0.0268,0.0439,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,SC,0.0831,MA,0.1003,0.0600,0.0600,2025-06-30,"2,766,053.3200"
2,00000000000000000695099886,01822376008300000000058061,0058,0083,CP,B+,002362927,NaN,B+,NC,0,B+,"231,204.2500",0.0582,0.0741,0.0743,0.0404,0.0528,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
3,00000000000000000686241631,01822376008300000000056866,0058,0083,CP,B+,002362927,NaN,B+,NC,0,B+,"272,532.7500",0.0582,0.0741,0.0743,0.0466,0.0603,SI,CI/OI,CP/OP,NaN,6,2025-04-30,2025-04-30,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
4,00000000000000000645044849,01822376050100000001781524,0058,0501,LP,B+,002362927,NaN,B+,NC,0,B+,"168,411.1200",0.0582,0.0741,0.0743,0.0091,0.0117,SI,CI/OI,CP/OP,NaN,6,2024-07-31,2024-07-31,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
5,00000000000000000680791027,01822376008300000000056381,0058,0083,CP,B+,002362927,NaN,B+,NC,0,B+,"73,750.6250",0.0582,0.0741,0.0743,-0.1328,-0.1711,SI,CI/OI,CP/ON,PARCIAL,6,2025-03-31,2025-03-31,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
6,00000000000000000689037129,01822376008300000000057300,0058,0083,CP,B+,002362927,NaN,B+,NC,0,B+,"347,108.7500",0.0582,0.0741,0.0743,0.0535,0.0698,SI,CI/OI,CP/OP,NaN,6,2025-04-30,2025-04-30,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
7,00000000000000000580134344,01822376008300000000044896,0058,0083,LP,B+,002362927,NaN,B+,NC,0,B+,"733,844.2500",0.0582,0.0741,0.0743,0.0277,0.0354,SI,CI/OI,CP/OP,PARCIAL,6,2023-04-30,2023-04-30,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
8,00000000000000000694882902,01822376008300000000058046,0058,0083,CP,B+,002362927,NaN,B+,NC,0,B+,"265,701.7500",0.0582,0.0741,0.0743,0.0396,0.0517,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0743,MA,0.1003,0.0600,0.0600,2025-06-30,"2,092,553.4950"
9,00000000000000000697824258,01822336098800144348400072,0058,0988,LP,B,007652980,NaN,B-,NC,0,B-,"237,731.0000",0.0428,0.0310,0.0877,-0.0202,-0.0505,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0310,MB,0.1003,0.0600,0.0600,2025-06-30,"5,062,834.1500"
10,00000000000000000679764662,01822336098800144348400069,0058,0988,LP,B,007652980,NaN,B-,NC,0,B-,"3,791,792.5000",0.0428,0.0310,0.0877,-0.0393,-0.0990,SI,CI/OI,CP/ON,NaN,6,2025-03-31,2025-03-31,NaN,NaN,0.0310,MB,0.1003,0.0600,0.0600,2025-06-30,"5,062,834.1500"
11,00000000000000000640634367,01822336098800144348400051,0058,0988,LP,B,007652980,NaN,B-,NC,0,B-,"993,983.9000",0.0428,0.0310,0.0877,0.0109,0.0273,SI,CI/OI,CP/OP,NaN,6,2024-06-30,2024-06-30,NaN,NaN,0.0310,MB,0.1003,0.0600,0.0600,2025-06-30,"5,062,834.1500"
12,00000000000000000684634211,01822336098800144348400070,0058,0988,LP,B,007652980,NaN,B-,NC,0,B-,"39,326.7500",0.0428,0.0310,0.0877,-0.0230,-0.0544,SI,CI/OI,CP/ON,NaN,6,2025-03-31,2025-03-31,NaN,NaN,0.0310,MB,0.1003,0.0600,0.0600,2025-06-30,"5,062,834.1500"
13,00000000000000000696288294,01822393008300000000017630,0058,0083,CP,BB-,010134184,NaN,BB-,NC,0,BB-,"113,850.8750",0.0641,0.0619,0.0814,-0.0102,-0.0127,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
14,00000000000000000672925182,01822393008300000000016784,0058,0083,CP,BB-,010134184,NaN,BB-,NC,0,BB-,"226,966.1200",0.0641,0.0619,0.0814,0.0399,0.0498,SI,CI/OI,CP/OP,NaN,6,2025-01-31,2025-01-31,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
15,00000000000000000658384215,01822393098800165880900011,0058,0988,LP,BB-,010134184,NaN,BB-,NC,0,BB-,"6,459.2500",0.0641,0.0619,0.0814,0.0486,0.1399,SI,CI/OI,CP/OP,NaN,6,2024-10-31,2024-10-31,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
16,00000000000000000691672211,01822393008300000000017469,0058,0083,CP,BB-,010134184,NaN,BB-,NC,0,BB-,"113,580.3750",0.0641,0.0619,0.0814,0.0121,0.0151,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
17,00000000000000000610773752,01822393008300000000014801,0058,0083,LP,BB-,010134184,NaN,BB-,NC,0,BB-,"2,313,388.5000",0.0641,0.0619,0.0814,0.0463,0.0582,SI,CI/OI,CP/OP,PARCIAL,6,2023-11-30,2023-11-30,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
18,00000000000000000687483633,01822393008300000000017308,0058,0083,CP,BB-,010134184,NaN,BB-,NC,0,BB-,"85,151.2500",0.0641,0.0619,0.0814,-0.0033,-0.0041,SI,CI/OI,CP/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
19,00000000000000000584016126,01822393001000000000152914,0058,0010,CP,BB-,010134184,NaN,BB-,NC,0,BB-,"1,575,211.9000",0.0641,0.0619,0.0814,0.0334,0.0416,SI,CI/OI,CP/OP,PARCIAL,6,2024-06-30,2024-06-30,NaN,NaN,0.0621,MA,0.1003,0.0600,0.0600,2025-06-30,"4,434,608.2700"
20,00000000000000000537869112,01824899030000033502000909,0023,0300,CP,BBB-,012225332,NaN,BBB-,NC,0,BBB-,"389,789.0000",0.0932,0.0806,0.1940,0.0168,0.0345,SI,CI/OI,CP/OP,PARCIAL,6,2025-03-31,2025-03-31,NaN,SC,0.0832,MA,0.1003,0.0600,0.0600,2025-06-30,"1,466,359.5250"
21,00000000000000000696082853,01824899008300000000008443,0023,0083,CP,BBB-,012225332,NaN,BBB-,NC,0,BBB-,"968,228.9000",0.0932,0.0806,0.1940,0.0438,0.0895,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,SC,0.0832,MA,0.1003,0.0600,0.0600,2025-06-30,"1,466,359.5250"
22,00000000000000000691404343,01824899008300000000008368,0023,0083,CP,BBB-,012225332,NaN,BBB-,NC,0,BBB-,"108,341.6250",0.0932,0.0806,0.1940,0.0540,0.1101,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,SC,0.0832,MA,0.1003,0.0600,0.0600,2025-06-30,"1,466,359.5250"
23,00000000000000000697144585,01822345025200000000169118,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"549,381.0000",-0.0090,-0.0083,-0.0136,-0.1117,-0.1844,SI,CI/OI,CN/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
24,00000000000000000697145512,01822345025200000000169119,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"900,595.0000",-0.0090,-0.0083,-0.0136,-0.1104,-0.1823,SI,CI/OI,CN/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
25,00000000000000000692115582,01822345025200000000168879,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"682,096.1000",-0.0090,-0.0083,-0.0136,-0.0872,-0.1439,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
26,00000000000000000689012391,01822345025200000000168749,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"296,664.6200",-0.0090,-0.0083,-0.0136,-0.0894,-0.1476,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
27,00000000000000000688132471,01822345025200000000168705,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"831,531.4000",-0.0090,-0.0083,-0.0136,-0.0874,-0.1442,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
28,00000000000000000687500047,01822345025200000000168681,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"706,623.1000",-0.0090,-0.0083,-0.0136,-0.0899,-0.1484,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
29,00000000000000000684715656,01822345025200000000168577,0058,0252,CP,B-,030695078,NaN,B-,NC,0,B-,"806,315.9000",-0.0090,-0.0083,-0.0136,-0.0877,-0.1447,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0083,MA,0.1003,0.0600,0.0600,2025-06-30,"4,773,207.1200"
30,00000000000000000686895867,01828510008300000000001549,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"5,657.6250",0.0702,0.0463,0.0752,-0.0165,-0.0219,SI,CI/OI,CP/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
31,00000000000000000692597223,01828510008300000000001635,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"4,124.5000",0.0702,0.0463,0.0752,-0.2213,-0.2939,SI,CI/OI,CP/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
32,00000000000000000688211601,01828510008300000000001580,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"2,051.6250",0.0702,0.0463,0.0752,-0.1233,-0.1638,SI,CI/OI,CP/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
33,00000000000000000689369766,01828510008300000000001601,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"21,149.1250",0.0702,0.0463,0.0752,-0.0366,-0.0485,SI,CI/OI,CP/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
34,00000000000000000694261990,01828510008300000000001657,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"25,642.5000",0.0702,0.0463,0.0752,-0.0425,-0.0564,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
35,00000000000000000689979632,01828510008300000000001607,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"12,052.2500",0.0702,0.0463,0.0752,-0.0441,-0.0585,SI,CI/OI,CP/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"
36,00000000000000000692597674,01828510008300000000001636,8519,0083,CP,B,055890379,NaN,B,NC,0,B,"7,651.8750",0.0702,0.0463,0.0752,-0.0949,-0.1261,SI,CI/OI,CP/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0240,MA,0.1003,0.0600,0.0600,2025-06-30,"78,329.5000"

In [31]:
top5.columns

Index(['contract_id', 'current_contract_id', 'level60_operarea_id',
       'counterpart_id', 'term_contract_type', 'm5_scale_master_limit_id',
       'customer_id', 'cliente_nuevo_pool', 'rating_mes', 'rating_status',
       'rating_diff', 'rating_var', 'rwas_regul_capital_amount',
       'rorc_last_m_cust_amount', 'prof_ratio_rorc_amount',
       'raroec_customer_amount', 'rorc_operation_amount',
       'raroec_operation_amount', 'pool_situation_type', 'motivo_des',
       'analisis_neg', 'cancelation_type', 'rorc_6m_cust_times_number',
       'billing_date', 'pool_customer_reg_date', 'pool_exit_date',
       'alerta_com', 'prof_ratio_rorc_amount_2', 'valid_model_id',
       'rorc_cliente', 'rorc_op', 'new_rorc_op', 'part_closing_date'],
      dtype='object')

In [29]:
len(pool_m[pool_m.pool_situation_type == 'SI'][validate].sort_values('customer_id'))

37

In [87]:
pool_m1_filtered = pool_m1.loc[:,['level60_operarea_id','contract_id','rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount',
    'rorc_operation_amount',
    'rwas_regul_capital_amount',]]

# creamos este dataframe porque abajo cruzamos banca y contrato mes en curso contra mes anterior
# y claro, si el contrato no está en el mes anterior, recogemos a null campos asociados al cliente, lo cual no es correcto
# por que el cliente puede tener otros contratos en el mes anterior y esos campos asociados al cliente no deberían ser null

# por eso creamos este dataframe con los campos asociados al cliente y luego hacemos un merge left sobre la union de banca y contrato
# y cliente, de forma que si el contrato no está en el mes anterior, pero el cliente sí, recogemos los campos asociados al cliente
# del mes anterior
pool_m1_filtered_cli = pool_m1.loc[:,['customer_id','rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount']].rename(mapper={'customer_id':'cliente','rorc_last_m_cust_amount':'rorc_cli_m12',
    'prof_ratio_rorc_amount':'rorc_cli_6m12'},axis='columns')

# eliminamos duplicados, solo necesitamos un registro por cliente
pool_m1_filtered_cli_fixed = pool_m1_filtered_cli.drop_duplicates(subset=['cliente'], keep='first')

In [74]:
pool_m1_filtered

,level60_operarea_id,contract_id,rorc_last_m_cust_amount,prof_ratio_rorc_amount,rorc_operation_amount,rwas_regul_capital_amount
0,0058,00000000000000000688636768,0.0231,0.0018,0.0469,"147,943.7500"
1,0058,00000000000000000690777697,0.0667,0.0643,0.0535,"8,789.2470"
2,0058,00000000000000000546767126,0.0800,0.0722,-0.0200,"35,666.9500"
3,0058,00000000000000000546935949,-0.0267,0.0379,0.0094,"88,081.0700"
4,0058,00000000000000000614224075,-0.0504,0.0325,-0.0079,"4,603.4050"
...,...,...,...,...,...,...
256,0058,00000000000000000689221159,0.0799,0.0262,-0.3605,"11,915.8300"
257,0058,00000000000000000689430067,0.0590,0.0816,0.0276,"22,688.9730"
258,0058,00000000000000000691332047,0.0879,0.0696,0.0715,"82,676.7000"
259,0058,00000000000000000692284227,0.0921,0.0963,0.0675,"88,180.5400"
260,8519,00000000000000000692597223,0.0660,0.0082,-0.2076,"4,140.4575"

In [65]:
pool_m1_filtered_cli_fixed

       cliente  rorc_cli_m12  rorc_cli_6m12
0    012246142        0.0231         0.0018
1    064682707        0.0667         0.0643
2    000059569        0.0800         0.0722
3    000259175       -0.0267         0.0379
4    059835368       -0.0504         0.0325
..         ...           ...            ...
126  052282112        0.0032        -0.1525
127  000147893        0.0799         0.0262
148  009427237        0.0796         0.0743
178  012054659        0.0855         0.0821
197  028407710       -0.1570        -0.1604

[63 rows x 3 columns]

In [88]:
cols_from_base= [
    'level60_operarea_id',
    'contract_id',
    'counterpart_id', 
    'customer_id',  # add index columns
    'term_contract_type',
    'rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount',
    'rorc_operation_amount',
    'rwas_regul_capital_amount',
    'rwas_Tot_m_client',
    'billing_date',
]
top5_filtered = top5.loc[:,cols_from_base]
top5_filtered

,level60_operarea_id,contract_id,counterpart_id,customer_id,term_contract_type,rorc_last_m_cust_amount,prof_ratio_rorc_amount,rorc_operation_amount,rwas_regul_capital_amount,rwas_Tot_m_client,billing_date
0,0058,00000000000000000698049116,0083,000992836,CP,0.1042,0.0831,0.0010,"465,051.1200","2,766,053.3200",2025-06-30
1,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000","2,766,053.3200",2025-05-31
2,0058,00000000000000000695099886,0083,002362927,CP,0.0582,0.0741,0.0404,"231,204.2500","2,092,553.4950",2025-06-30
3,0058,00000000000000000686241631,0083,002362927,CP,0.0582,0.0741,0.0466,"272,532.7500","2,092,553.4950",2025-04-30
4,0058,00000000000000000645044849,0501,002362927,LP,0.0582,0.0741,0.0091,"168,411.1200","2,092,553.4950",2024-07-31
5,0058,00000000000000000680791027,0083,002362927,CP,0.0582,0.0741,-0.1328,"73,750.6250","2,092,553.4950",2025-03-31
6,0058,00000000000000000689037129,0083,002362927,CP,0.0582,0.0741,0.0535,"347,108.7500","2,092,553.4950",2025-04-30
7,0058,00000000000000000580134344,0083,002362927,LP,0.0582,0.0741,0.0277,"733,844.2500","2,092,553.4950",2023-04-30
8,0058,00000000000000000694882902,0083,002362927,CP,0.0582,0.0741,0.0396,"265,701.7500","2,092,553.4950",2025-06-30
9,0058,00000000000000000697824258,0988,007652980,LP,0.0428,0.0310,-0.0202,"237,731.0000","5,062,834.1500",2025-06-30
10,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000","5,062,834.1500",2025-03-31
11,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000","5,062,834.1500",2024-06-30
12,0058,00000000000000000684634211,0988,007652980,LP,0.0428,0.0310,-0.0230,"39,326.7500","5,062,834.1500",2025-03-31
13,0058,00000000000000000696288294,0083,010134184,CP,0.0641,0.0619,-0.0102,"113,850.8750","4,434,608.2700",2025-06-30
14,0058,00000000000000000672925182,0083,010134184,CP,0.0641,0.0619,0.0399,"226,966.1200","4,434,608.2700",2025-01-31
15,0058,00000000000000000658384215,0988,010134184,LP,0.0641,0.0619,0.0486,"6,459.2500","4,434,608.2700",2024-10-31
16,0058,00000000000000000691672211,0083,010134184,CP,0.0641,0.0619,0.0121,"113,580.3750","4,434,608.2700",2025-05-31
17,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000","4,434,608.2700",2023-11-30
18,0058,00000000000000000687483633,0083,010134184,CP,0.0641,0.0619,-0.0033,"85,151.2500","4,434,608.2700",2025-04-30
19,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000","4,434,608.2700",2024-06-30
20,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000","1,466,359.5250",2025-03-31
21,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000","1,466,359.5250",2025-06-30
22,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250","1,466,359.5250",2025-05-31
23,0058,00000000000000000697144585,0252,030695078,CP,-0.0090,-0.0083,-0.1117,"549,381.0000","4,773,207.1200",2025-06-30
24,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000","4,773,207.1200",2025-06-30
25,0058,00000000000000000692115582,0252,030695078,CP,-0.0090,-0.0083,-0.0872,"682,096.1000","4,773,207.1200",2025-05-31
26,0058,00000000000000000689012391,0252,030695078,CP,-0.0090,-0.0083,-0.0894,"296,664.6200","4,773,207.1200",2025-04-30
27,0058,00000000000000000688132471,0252,030695078,CP,-0.0090,-0.0083,-0.0874,"831,531.4000","4,773,207.1200",2025-04-30
28,0058,00000000000000000687500047,0252,030695078,CP,-0.0090,-0.0083,-0.0899,"706,623.1000","4,773,207.1200",2025-04-30
29,0058,00000000000000000684715656,0252,030695078,CP,-0.0090,-0.0083,-0.0877,"806,315.9000","4,773,207.1200",2025-04-30
30,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250","78,329.5000",2025-04-30
31,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000","78,329.5000",2025-05-31
32,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250","78,329.5000",2025-04-30
33,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250","78,329.5000",2025-05-31
34,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000","78,329.5000",2025-06-30
35,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500","78,329.5000",2025-05-31
36,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750","78,329.5000",2025-05-31

In [89]:
# Merge the dataframes
top5_m_m1 = top5_filtered.merge(
	pool_m1_filtered,
	how="left",
	on=['level60_operarea_id', 'contract_id'],
	suffixes=("_m", "_m1"),
	indicator=True
)

# -- previous error:  -- TypeError: Cannot setitem on a Categorical with a new category (0), set the categories first 
# -- ** _merge column FUCK US otherwise -- df8 = df7_reset.merge(pool_m1_filtered,how="left",on=['level60_operarea_id', 'contract_id'],suffixes=("_m", "_m1"),indicator=True).fillna(0) -- OK

# Check for Categorical columns and add 0 as a valid category if necessary
for col in top5_m_m1.select_dtypes(include="category").columns:
	top5_m_m1[col] = top5_m_m1[col].cat.add_categories([0])

# Fill NaN values with 0
top5_m_m1 = top5_m_m1.fillna(0)

In [40]:
top5_m_m1

,level60_operarea_id,contract_id,counterpart_id,customer_id,term_contract_type,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m,rorc_operation_amount_m,rwas_regul_capital_amount_m,billing_date,rorc_last_m_cust_amount_m1,prof_ratio_rorc_amount_m1,rorc_operation_amount_m1,rwas_regul_capital_amount_m1,_merge
0,0058,00000000000000000698049116,0083,000992836,CP,0.1042,0.0831,0.0010,"465,051.1200",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
1,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31,0.0514,0.0970,0.0228,"2,323,432.2000",both
2,0058,00000000000000000695099886,0083,002362927,CP,0.0582,0.0741,0.0404,"231,204.2500",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
3,0058,00000000000000000686241631,0083,002362927,CP,0.0582,0.0741,0.0466,"272,532.7500",2025-04-30,0.0603,0.0764,0.0443,"271,573.6200",both
4,0058,00000000000000000645044849,0501,002362927,LP,0.0582,0.0741,0.0091,"168,411.1200",2024-07-31,0.0603,0.0764,0.0315,"170,682.6000",both
5,0058,00000000000000000680791027,0083,002362927,CP,0.0582,0.0741,-0.1328,"73,750.6250",2025-03-31,0.0603,0.0764,0.0252,"189,399.4800",both
6,0058,00000000000000000689037129,0083,002362927,CP,0.0582,0.0741,0.0535,"347,108.7500",2025-04-30,0.0603,0.0764,0.0547,"346,269.7200",both
7,0058,00000000000000000580134344,0083,002362927,LP,0.0582,0.0741,0.0277,"733,844.2500",2023-04-30,0.0603,0.0764,0.0268,"746,194.7000",both
8,0058,00000000000000000694882902,0083,002362927,CP,0.0582,0.0741,0.0396,"265,701.7500",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
9,0058,00000000000000000697824258,0988,007652980,LP,0.0428,0.0310,-0.0202,"237,731.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
10,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31,0.0319,0.0317,-0.0427,"3,787,897.2000",both
11,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30,0.0319,0.0317,0.0096,"1,026,476.4000",both
12,0058,00000000000000000684634211,0988,007652980,LP,0.0428,0.0310,-0.0230,"39,326.7500",2025-03-31,0.0319,0.0317,-0.0243,"39,204.0900",both
13,0058,00000000000000000696288294,0083,010134184,CP,0.0641,0.0619,-0.0102,"113,850.8750",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
14,0058,00000000000000000672925182,0083,010134184,CP,0.0641,0.0619,0.0399,"226,966.1200",2025-01-31,0.0604,0.0609,0.0404,"227,149.2800",both
15,0058,00000000000000000658384215,0988,010134184,LP,0.0641,0.0619,0.0486,"6,459.2500",2024-10-31,0.0604,0.0609,0.0353,"6,437.4900",both
16,0058,00000000000000000691672211,0083,010134184,CP,0.0641,0.0619,0.0121,"113,580.3750",2025-05-31,0.0604,0.0609,0.0187,"113,882.3000",both
17,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30,0.0604,0.0609,0.0453,"2,356,884.2000",both
18,0058,00000000000000000687483633,0083,010134184,CP,0.0641,0.0619,-0.0033,"85,151.2500",2025-04-30,0.0604,0.0609,-0.0019,"85,242.9500",both
19,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30,0.0604,0.0609,0.0317,"1,609,007.6000",both
20,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31,0.0998,0.0916,0.0530,"888,546.0600",both
21,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
22,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31,0.0998,0.0916,0.0560,"108,408.2100",both
23,0058,00000000000000000697144585,0252,030695078,CP,-0.0090,-0.0083,-0.1117,"549,381.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
24,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
25,0058,00000000000000000692115582,0252,030695078,CP,-0.0090,-0.0083,-0.0872,"682,096.1000",2025-05-31,-0.0110,0.0086,-0.0738,"707,769.4000",both
26,0058,00000000000000000689012391,0252,030695078,CP,-0.0090,-0.0083,-0.0894,"296,664.6200",2025-04-30,-0.0110,0.0086,-0.0847,"307,034.7500",both
27,0058,00000000000000000688132471,0252,030695078,CP,-0.0090,-0.0083,-0.0874,"831,531.4000",2025-04-30,-0.0110,0.0086,-0.0846,"860,160.5600",both
28,0058,00000000000000000687500047,0252,030695078,CP,-0.0090,-0.0083,-0.0899,"706,623.1000",2025-04-30,-0.0110,0.0086,-0.0890,"730,544.7000",both
29,0058,00000000000000000684715656,0252,030695078,CP,-0.0090,-0.0083,-0.0877,"806,315.9000",2025-04-30,-0.0110,0.0086,-0.0861,"833,786.4000",both
30,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30,0.0660,0.0082,-0.0164,"5,657.7600",both
31,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31,0.0660,0.0082,-0.2076,"4,140.4575",both
32,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30,0.0660,0.0082,-0.1214,"2,052.6826",both
33,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31,0.0660,0.0082,-0.0390,"21,133.8850",both
34,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
35,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31,0.0660,0.0082,-0.0461,"12,045.1680",both
36,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31,0.0660,0.0082,-0.0821,"7,680.6475",both

In [90]:
import numpy as np
top5_m_m1_copy = top5_m_m1.copy()
top5_m_m1_copy['_merge'] = top5_m_m1_copy['_merge'].astype('string')


renamed_dict_top5_m_m1_copy = {
    'level60_operarea_id':'banca',
    'counterpart_id':'ctpa',
    'customer_id': 'cliente',
    'contract_id': 'contrato_id',
    'term_contract_type':'plazo',
    'rorc_last_m_cust_amount_m':'rorc_cli_m',
    'prof_ratio_rorc_amount_m':'rorc_cli_6m',
    'rorc_operation_amount_m': 'rorc_op_m',
    'rwas_regul_capital_amount_m':'rwas_Tot_m',
    'billing_date':'Fecha_entrada',
    'rorc_last_m_cust_amount_m1':'rorc_cli_m1',
    'prof_ratio_rorc_amount_m1':'rorc_cli_6m1',
    'rorc_operation_amount_m1': 'rorc_op_m1',
    'rwas_regul_capital_amount_m1':'rwas_Tot_m1',
    'rwas_Tot_m_client':'rwas_Tot_m_client',
    '_merge':'status_contrato'
}

top5_m_m1_copy_renamed=top5_m_m1_copy.rename(mapper=renamed_dict_top5_m_m1_copy, axis="columns")

top5_m_m1_copy_renamed

,banca,contrato_id,ctpa,cliente,plazo,rorc_cli_m,rorc_cli_6m,rorc_op_m,rwas_Tot_m,rwas_Tot_m_client,Fecha_entrada,rorc_cli_m1,rorc_cli_6m1,rorc_op_m1,rwas_Tot_m1,status_contrato
0,0058,00000000000000000698049116,0083,000992836,CP,0.1042,0.0831,0.0010,"465,051.1200","2,766,053.3200",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
1,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000","2,766,053.3200",2025-05-31,0.0514,0.0970,0.0228,"2,323,432.2000",both
2,0058,00000000000000000695099886,0083,002362927,CP,0.0582,0.0741,0.0404,"231,204.2500","2,092,553.4950",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
3,0058,00000000000000000686241631,0083,002362927,CP,0.0582,0.0741,0.0466,"272,532.7500","2,092,553.4950",2025-04-30,0.0603,0.0764,0.0443,"271,573.6200",both
4,0058,00000000000000000645044849,0501,002362927,LP,0.0582,0.0741,0.0091,"168,411.1200","2,092,553.4950",2024-07-31,0.0603,0.0764,0.0315,"170,682.6000",both
5,0058,00000000000000000680791027,0083,002362927,CP,0.0582,0.0741,-0.1328,"73,750.6250","2,092,553.4950",2025-03-31,0.0603,0.0764,0.0252,"189,399.4800",both
6,0058,00000000000000000689037129,0083,002362927,CP,0.0582,0.0741,0.0535,"347,108.7500","2,092,553.4950",2025-04-30,0.0603,0.0764,0.0547,"346,269.7200",both
7,0058,00000000000000000580134344,0083,002362927,LP,0.0582,0.0741,0.0277,"733,844.2500","2,092,553.4950",2023-04-30,0.0603,0.0764,0.0268,"746,194.7000",both
8,0058,00000000000000000694882902,0083,002362927,CP,0.0582,0.0741,0.0396,"265,701.7500","2,092,553.4950",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
9,0058,00000000000000000697824258,0988,007652980,LP,0.0428,0.0310,-0.0202,"237,731.0000","5,062,834.1500",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
10,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000","5,062,834.1500",2025-03-31,0.0319,0.0317,-0.0427,"3,787,897.2000",both
11,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000","5,062,834.1500",2024-06-30,0.0319,0.0317,0.0096,"1,026,476.4000",both
12,0058,00000000000000000684634211,0988,007652980,LP,0.0428,0.0310,-0.0230,"39,326.7500","5,062,834.1500",2025-03-31,0.0319,0.0317,-0.0243,"39,204.0900",both
13,0058,00000000000000000696288294,0083,010134184,CP,0.0641,0.0619,-0.0102,"113,850.8750","4,434,608.2700",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
14,0058,00000000000000000672925182,0083,010134184,CP,0.0641,0.0619,0.0399,"226,966.1200","4,434,608.2700",2025-01-31,0.0604,0.0609,0.0404,"227,149.2800",both
15,0058,00000000000000000658384215,0988,010134184,LP,0.0641,0.0619,0.0486,"6,459.2500","4,434,608.2700",2024-10-31,0.0604,0.0609,0.0353,"6,437.4900",both
16,0058,00000000000000000691672211,0083,010134184,CP,0.0641,0.0619,0.0121,"113,580.3750","4,434,608.2700",2025-05-31,0.0604,0.0609,0.0187,"113,882.3000",both
17,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000","4,434,608.2700",2023-11-30,0.0604,0.0609,0.0453,"2,356,884.2000",both
18,0058,00000000000000000687483633,0083,010134184,CP,0.0641,0.0619,-0.0033,"85,151.2500","4,434,608.2700",2025-04-30,0.0604,0.0609,-0.0019,"85,242.9500",both
19,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000","4,434,608.2700",2024-06-30,0.0604,0.0609,0.0317,"1,609,007.6000",both
20,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000","1,466,359.5250",2025-03-31,0.0998,0.0916,0.0530,"888,546.0600",both
21,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000","1,466,359.5250",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
22,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250","1,466,359.5250",2025-05-31,0.0998,0.0916,0.0560,"108,408.2100",both
23,0058,00000000000000000697144585,0252,030695078,CP,-0.0090,-0.0083,-0.1117,"549,381.0000","4,773,207.1200",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
24,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000","4,773,207.1200",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
25,0058,00000000000000000692115582,0252,030695078,CP,-0.0090,-0.0083,-0.0872,"682,096.1000","4,773,207.1200",2025-05-31,-0.0110,0.0086,-0.0738,"707,769.4000",both
26,0058,00000000000000000689012391,0252,030695078,CP,-0.0090,-0.0083,-0.0894,"296,664.6200","4,773,207.1200",2025-04-30,-0.0110,0.0086,-0.0847,"307,034.7500",both
27,0058,00000000000000000688132471,0252,030695078,CP,-0.0090,-0.0083,-0.0874,"831,531.4000","4,773,207.1200",2025-04-30,-0.0110,0.0086,-0.0846,"860,160.5600",both
28,0058,00000000000000000687500047,0252,030695078,CP,-0.0090,-0.0083,-0.0899,"706,623.1000","4,773,207.1200",2025-04-30,-0.0110,0.0086,-0.0890,"730,544.7000",both
29,0058,00000000000000000684715656,0252,030695078,CP,-0.0090,-0.0083,-0.0877,"806,315.9000","4,773,207.1200",2025-04-30,-0.0110,0.0086,-0.0861,"833,786.4000",both
30,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250","78,329.5000",2025-04-30,0.0660,0.0082,-0.0164,"5,657.7600",both
31,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000","78,329.5000",2025-05-31,0.0660,0.0082,-0.2076,"4,140.4575",both
32,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250","78,329.5000",2025-04-30,0.0660,0.0082,-0.1214,"2,052.6826",both
33,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250","78,329.5000",2025-05-31,0.0660,0.0082,-0.0390,"21,133.8850",both
34,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000","78,329.5000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
35,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500","78,329.5000",2025-05-31,0.0660,0.0082,-0.0461,"12,045.1680",both
36,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750","78,329.5000",2025-05-31,0.0660,0.0082,-0.0821,"7,680.6475",both

In [95]:
top5_m_m1_copy_renamed_salida = top5_m_m1_copy_renamed.merge(
	pool_m1_filtered_cli_fixed,
	how="left",
	on=['cliente'],
	indicator=True
).drop(columns=['rorc_cli_m1','rorc_cli_6m1','_merge']).rename(columns={'rorc_cli_m12':'rorc_cli_m1','rorc_cli_6m12':'rorc_cli_6m1'})

top5_m_m1_copy_renamed_salida

,banca,contrato_id,ctpa,cliente,plazo,rorc_cli_m,rorc_cli_6m,rorc_op_m,rwas_Tot_m,rwas_Tot_m_client,Fecha_entrada,rorc_op_m1,rwas_Tot_m1,status_contrato,rorc_cli_m1,rorc_cli_6m1
0,0058,00000000000000000698049116,0083,000992836,CP,0.1042,0.0831,0.0010,"465,051.1200","2,766,053.3200",2025-06-30,0.0000,0.0000,left_only,0.0514,0.0970
1,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000","2,766,053.3200",2025-05-31,0.0228,"2,323,432.2000",both,0.0514,0.0970
2,0058,00000000000000000695099886,0083,002362927,CP,0.0582,0.0741,0.0404,"231,204.2500","2,092,553.4950",2025-06-30,0.0000,0.0000,left_only,0.0603,0.0764
3,0058,00000000000000000686241631,0083,002362927,CP,0.0582,0.0741,0.0466,"272,532.7500","2,092,553.4950",2025-04-30,0.0443,"271,573.6200",both,0.0603,0.0764
4,0058,00000000000000000645044849,0501,002362927,LP,0.0582,0.0741,0.0091,"168,411.1200","2,092,553.4950",2024-07-31,0.0315,"170,682.6000",both,0.0603,0.0764
5,0058,00000000000000000680791027,0083,002362927,CP,0.0582,0.0741,-0.1328,"73,750.6250","2,092,553.4950",2025-03-31,0.0252,"189,399.4800",both,0.0603,0.0764
6,0058,00000000000000000689037129,0083,002362927,CP,0.0582,0.0741,0.0535,"347,108.7500","2,092,553.4950",2025-04-30,0.0547,"346,269.7200",both,0.0603,0.0764
7,0058,00000000000000000580134344,0083,002362927,LP,0.0582,0.0741,0.0277,"733,844.2500","2,092,553.4950",2023-04-30,0.0268,"746,194.7000",both,0.0603,0.0764
8,0058,00000000000000000694882902,0083,002362927,CP,0.0582,0.0741,0.0396,"265,701.7500","2,092,553.4950",2025-06-30,0.0000,0.0000,left_only,0.0603,0.0764
9,0058,00000000000000000697824258,0988,007652980,LP,0.0428,0.0310,-0.0202,"237,731.0000","5,062,834.1500",2025-06-30,0.0000,0.0000,left_only,0.0319,0.0317
10,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000","5,062,834.1500",2025-03-31,-0.0427,"3,787,897.2000",both,0.0319,0.0317
11,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000","5,062,834.1500",2024-06-30,0.0096,"1,026,476.4000",both,0.0319,0.0317
12,0058,00000000000000000684634211,0988,007652980,LP,0.0428,0.0310,-0.0230,"39,326.7500","5,062,834.1500",2025-03-31,-0.0243,"39,204.0900",both,0.0319,0.0317
13,0058,00000000000000000696288294,0083,010134184,CP,0.0641,0.0619,-0.0102,"113,850.8750","4,434,608.2700",2025-06-30,0.0000,0.0000,left_only,0.0604,0.0609
14,0058,00000000000000000672925182,0083,010134184,CP,0.0641,0.0619,0.0399,"226,966.1200","4,434,608.2700",2025-01-31,0.0404,"227,149.2800",both,0.0604,0.0609
15,0058,00000000000000000658384215,0988,010134184,LP,0.0641,0.0619,0.0486,"6,459.2500","4,434,608.2700",2024-10-31,0.0353,"6,437.4900",both,0.0604,0.0609
16,0058,00000000000000000691672211,0083,010134184,CP,0.0641,0.0619,0.0121,"113,580.3750","4,434,608.2700",2025-05-31,0.0187,"113,882.3000",both,0.0604,0.0609
17,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000","4,434,608.2700",2023-11-30,0.0453,"2,356,884.2000",both,0.0604,0.0609
18,0058,00000000000000000687483633,0083,010134184,CP,0.0641,0.0619,-0.0033,"85,151.2500","4,434,608.2700",2025-04-30,-0.0019,"85,242.9500",both,0.0604,0.0609
19,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000","4,434,608.2700",2024-06-30,0.0317,"1,609,007.6000",both,0.0604,0.0609
20,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000","1,466,359.5250",2025-03-31,0.0530,"888,546.0600",both,0.0998,0.0916
21,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000","1,466,359.5250",2025-06-30,0.0000,0.0000,left_only,0.0998,0.0916
22,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250","1,466,359.5250",2025-05-31,0.0560,"108,408.2100",both,0.0998,0.0916
23,0058,00000000000000000697144585,0252,030695078,CP,-0.0090,-0.0083,-0.1117,"549,381.0000","4,773,207.1200",2025-06-30,0.0000,0.0000,left_only,-0.0110,0.0086
24,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000","4,773,207.1200",2025-06-30,0.0000,0.0000,left_only,-0.0110,0.0086
25,0058,00000000000000000692115582,0252,030695078,CP,-0.0090,-0.0083,-0.0872,"682,096.1000","4,773,207.1200",2025-05-31,-0.0738,"707,769.4000",both,-0.0110,0.0086
26,0058,00000000000000000689012391,0252,030695078,CP,-0.0090,-0.0083,-0.0894,"296,664.6200","4,773,207.1200",2025-04-30,-0.0847,"307,034.7500",both,-0.0110,0.0086
27,0058,00000000000000000688132471,0252,030695078,CP,-0.0090,-0.0083,-0.0874,"831,531.4000","4,773,207.1200",2025-04-30,-0.0846,"860,160.5600",both,-0.0110,0.0086
28,0058,00000000000000000687500047,0252,030695078,CP,-0.0090,-0.0083,-0.0899,"706,623.1000","4,773,207.1200",2025-04-30,-0.0890,"730,544.7000",both,-0.0110,0.0086
29,0058,00000000000000000684715656,0252,030695078,CP,-0.0090,-0.0083,-0.0877,"806,315.9000","4,773,207.1200",2025-04-30,-0.0861,"833,786.4000",both,-0.0110,0.0086
30,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250","78,329.5000",2025-04-30,-0.0164,"5,657.7600",both,0.0660,0.0082
31,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000","78,329.5000",2025-05-31,-0.2076,"4,140.4575",both,0.0660,0.0082
32,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250","78,329.5000",2025-04-30,-0.1214,"2,052.6826",both,0.0660,0.0082
33,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250","78,329.5000",2025-05-31,-0.0390,"21,133.8850",both,0.0660,0.0082
34,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000","78,329.5000",2025-06-30,0.0000,0.0000,left_only,0.0660,0.0082
35,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500","78,329.5000",2025-05-31,-0.0461,"12,045.1680",both,0.0660,0.0082
36,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750","78,329.5000",2025-05-31,-0.0821,"7,680.6475",both,0.0660,0.0082

In [96]:
top5_m_m1_copy_renamed_salida['pct_rorc_cli_var_rel'] = (
    ((top5_m_m1_copy_renamed_salida['rorc_cli_m'] - top5_m_m1_copy_renamed_salida['rorc_cli_m1']) / 
     abs(top5_m_m1_copy_renamed_salida['rorc_cli_m1'])))

top5_m_m1_copy_renamed_salida['pct_rorc_cli_6m_var_rel'] = (
    ((top5_m_m1_copy_renamed_salida['rorc_cli_6m'] - top5_m_m1_copy_renamed_salida['rorc_cli_6m1']) / 
     abs(top5_m_m1_copy_renamed_salida['rorc_cli_6m1'])))

top5_m_m1_copy_renamed_salida['pct_rorc_op_var_rel'] = (
    ((top5_m_m1_copy_renamed_salida['rorc_op_m'] - top5_m_m1_copy_renamed_salida['rorc_op_m1']) / 
     abs(top5_m_m1_copy_renamed_salida['rorc_op_m1'])))

top5_m_m1_copy_renamed_salida['pct_rwas_var'] = (
    ((top5_m_m1_copy_renamed_salida['rwas_Tot_m'] - top5_m_m1_copy_renamed_salida['rwas_Tot_m1']) / 
     top5_m_m1_copy_renamed_salida['rwas_Tot_m1']))

top5_m_m1_copy_renamed_salida.replace([np.inf, -np.inf], 0, inplace=True)

top5_m_m1_copy_renamed_salida['status_contrato'] = top5_m_m1_copy_renamed_salida['status_contrato'].apply(lambda x: 'new' if x == 'left_only' else '')

renamed_dict_df8 = {
    'level60_operarea_id':'banca',
    'counterpart_id':'ctpa',
    'customer_id': 'cliente',
    'contract_id': 'contrato_id',
    'term_contract_type':'plazo',
    'rorc_last_m_cust_amount_m':'rorc_cli_m',
    'prof_ratio_rorc_amount_m':'rorc_cli_6m',
    'rorc_operation_amount_m': 'rorc_op_m',
    'rwas_regul_capital_amount_m':'rwas_Tot_m',
    'billing_date':'Fecha_entrada',
    'rorc_last_m_cust_amount_m1':'rorc_cli_m1',
    'prof_ratio_rorc_amount_m1':'rorc_cli_6m1',
    'rorc_operation_amount_m1': 'rorc_op_m1',
    'rwas_regul_capital_amount_m1':'rwas_Tot_m1',
    '_merge':'status_contrato'
}

top5_m_m1_copy_renamed_ord = top5_m_m1_copy_renamed_salida.loc[:,['banca','cliente','contrato_id','ctpa','plazo','rwas_Tot_m','rwas_Tot_m_client','rwas_Tot_m1','rorc_cli_m','rorc_cli_m1','pct_rorc_cli_var_rel',
                                                     'rorc_cli_6m','rorc_cli_6m1','pct_rorc_cli_6m_var_rel',
                                                     'rorc_op_m','rorc_op_m1','pct_rorc_op_var_rel',
                                                     'pct_rwas_var',
                                                     'Fecha_entrada','status_contrato']].sort_values(by=['banca','rwas_Tot_m_client','rwas_Tot_m','cliente'], ascending=[True,False,False,True])

top5_m_m1_copy_renamed_ord

,banca,cliente,contrato_id,ctpa,plazo,rwas_Tot_m,rwas_Tot_m_client,rwas_Tot_m1,rorc_cli_m,rorc_cli_m1,pct_rorc_cli_var_rel,rorc_cli_6m,rorc_cli_6m1,pct_rorc_cli_6m_var_rel,rorc_op_m,rorc_op_m1,pct_rorc_op_var_rel,pct_rwas_var,Fecha_entrada,status_contrato
21,0023,012225332,00000000000000000696082853,0083,CP,"968,228.9000","1,466,359.5250",0.0000,0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0438,0.0000,0.0000,0.0000,2025-06-30,new
20,0023,012225332,00000000000000000537869112,0300,CP,"389,789.0000","1,466,359.5250","888,546.0600",0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0168,0.0530,-0.6830,-0.5613,2025-03-31,
22,0023,012225332,00000000000000000691404343,0083,CP,"108,341.6250","1,466,359.5250","108,408.2100",0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0540,0.0560,-0.0357,-0.0006,2025-05-31,
10,0058,007652980,00000000000000000679764662,0988,LP,"3,791,792.5000","5,062,834.1500","3,787,897.2000",0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,-0.0393,-0.0427,0.0796,0.0010,2025-03-31,
11,0058,007652980,00000000000000000640634367,0988,LP,"993,983.9000","5,062,834.1500","1,026,476.4000",0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,0.0109,0.0096,0.1354,-0.0317,2024-06-30,
9,0058,007652980,00000000000000000697824258,0988,LP,"237,731.0000","5,062,834.1500",0.0000,0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,-0.0202,0.0000,0.0000,0.0000,2025-06-30,new
12,0058,007652980,00000000000000000684634211,0988,LP,"39,326.7500","5,062,834.1500","39,204.0900",0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,-0.0230,-0.0243,0.0535,0.0031,2025-03-31,
24,0058,030695078,00000000000000000697145512,0252,CP,"900,595.0000","4,773,207.1200",0.0000,-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.1104,0.0000,0.0000,0.0000,2025-06-30,new
27,0058,030695078,00000000000000000688132471,0252,CP,"831,531.4000","4,773,207.1200","860,160.5600",-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.0874,-0.0846,-0.0331,-0.0333,2025-04-30,
29,0058,030695078,00000000000000000684715656,0252,CP,"806,315.9000","4,773,207.1200","833,786.4000",-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.0877,-0.0861,-0.0186,-0.0329,2025-04-30,
28,0058,030695078,00000000000000000687500047,0252,CP,"706,623.1000","4,773,207.1200","730,544.7000",-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.0899,-0.0890,-0.0101,-0.0327,2025-04-30,
25,0058,030695078,00000000000000000692115582,0252,CP,"682,096.1000","4,773,207.1200","707,769.4000",-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.0872,-0.0738,-0.1816,-0.0363,2025-05-31,
23,0058,030695078,00000000000000000697144585,0252,CP,"549,381.0000","4,773,207.1200",0.0000,-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.1117,0.0000,0.0000,0.0000,2025-06-30,new
26,0058,030695078,00000000000000000689012391,0252,CP,"296,664.6200","4,773,207.1200","307,034.7500",-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.0894,-0.0847,-0.0555,-0.0338,2025-04-30,
17,0058,010134184,00000000000000000610773752,0083,LP,"2,313,388.5000","4,434,608.2700","2,356,884.2000",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0463,0.0453,0.0221,-0.0185,2023-11-30,
19,0058,010134184,00000000000000000584016126,0010,CP,"1,575,211.9000","4,434,608.2700","1,609,007.6000",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0334,0.0317,0.0536,-0.0210,2024-06-30,
14,0058,010134184,00000000000000000672925182,0083,CP,"226,966.1200","4,434,608.2700","227,149.2800",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0399,0.0404,-0.0124,-0.0008,2025-01-31,
13,0058,010134184,00000000000000000696288294,0083,CP,"113,850.8750","4,434,608.2700",0.0000,0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,-0.0102,0.0000,0.0000,0.0000,2025-06-30,new
16,0058,010134184,00000000000000000691672211,0083,CP,"113,580.3750","4,434,608.2700","113,882.3000",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0121,0.0187,-0.3529,-0.0027,2025-05-31,
18,0058,010134184,00000000000000000687483633,0083,CP,"85,151.2500","4,434,608.2700","85,242.9500",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,-0.0033,-0.0019,-0.7368,-0.0011,2025-04-30,
15,0058,010134184,00000000000000000658384215,0988,LP,"6,459.2500","4,434,608.2700","6,437.4900",0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0486,0.0353,0.3768,0.0034,2024-10-31,
1,0058,000992836,00000000000000000689893684,0083,LP,"2,301,002.2000","2,766,053.3200","2,323,432.2000",0.1042,0.0514,1.0272,0.0831,0.0970,-0.1433,0.0268,0.0228,0.1754,-0.0097,2025-05-31,
0,0058,000992836,00000000000000000698049116,0083,CP,"465,051.1200","2,766,053.3200",0.0000,0.1042,0.0514,1.0272,0.0831,0.0970,-0.1433,0.0010,0.0000,0.0000,0.0000,2025-06-30,new
7,0058,002362927,00000000000000000580134344,0083,LP,"733,844.2500","2,092,553.4950","746,194.7000",0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0277,0.0268,0.0336,-0.0166,2023-04-30,
6,0058,002362927,00000000000000000689037129,0083,CP,"347,108.7500","2,092,553.4950","346,269.7200",0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0535,0.0547,-0.0219,0.0024,2025-04-30,
3,0058,002362927,00000000000000000686241631,0083,CP,"272,532.7500","2,092,553.4950","271,573.6200",0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0466,0.0443,0.0519,0.0035,2025-04-30,
8,0058,002362927,00000000000000000694882902,0083,CP,"265,701.7500","2,092,553.4950",0.0000,0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0396,0.0000,0.0000,0.0000,2025-06-30,new
2,0058,002362927,00000000000000000695099886,0083,CP,"231,204.2500","2,092,553.4950",0.0000,0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0404,0.0000,0.0000,0.0000,2025-06-30,new
4,0058,002362927,00000000000000000645044849,0501,LP,"168,411.1200","2,092,553.4950","170,682.6000",0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,0.0091,0.0315,-0.7111,-0.0133,2024-07-31,
5,0058,002362927,00000000000000000680791027,0083,CP,"73,750.6250","2,092,553.4950","189,399.4800",0.0582,0.0603,-0.0348,0.0741,0.0764,-0.0301,-0.1328,0.0252,-6.2698,-0.6106,2025-03-31,
34,8519,055890379,00000000000000000694261990,0083,CP,"25,642.5000","78,329.5000",0.0000,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0425,0.0000,0.0000,0.0000,2025-06-30,new
33,8519,055890379,00000000000000000689369766,0083,CP,"21,149.1250","78,329.5000","21,133.8850",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0366,-0.0390,0.0615,0.0007,2025-05-31,
35,8519,055890379,00000000000000000689979632,0083,CP,"12,052.2500","78,329.5000","12,045.1680",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0441,-0.0461,0.0434,0.0006,2025-05-31,
36,8519,055890379,00000000000000000692597674,0083,CP,"7,651.8750","78,329.5000","7,680.6475",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0949,-0.0821,-0.1559,-0.0037,2025-05-31,
30,8519,055890379,00000000000000000686895867,0083,CP,"5,657.6250","78,329.5000","5,657.7600",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0165,-0.0164,-0.0061,-0.0000,2025-04-30,
31,8519,055890379,00000000000000000692597223,0083,CP,"4,124.5000","78,329.5000","4,140.4575",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.2213,-0.2076,-0.0660,-0.0039,2025-05-31,
32,8519,055890379,00000000000000000688211601,0083,CP,"2,051.6250","78,329.5000","2,052.6826",0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.1233,-0.1214,-0.0157,-0.0005,2025-04-30,

In [ ]:
len(top5_m_m1_copy_renamed_ord)

37

In [97]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    top5_m_m1_copy_renamed_ord.to_excel(writer, sheet_name="top5_cli_per_banca_todos", index=False)

--------------------------

#### top5_clientes_por_aprs_contratos_ratios -- (necesita ejecucion top5_clientes_por_aprs_contratos (continuación))

In [ ]:
pd.set_option('display.float_format', '{:.6f}'.format)

In [98]:
top5_m_m1_copy_renamed_ord_percentages = top5_m_m1_copy_renamed_ord.loc[:,['banca','ctpa','cliente','plazo','contrato_id','rwas_Tot_m','rwas_Tot_m1','status_contrato']].copy()
top5_m_m1_copy_renamed_ord_percentages

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato
21,0023,0083,012225332,CP,00000000000000000696082853,"968,228.9000",0.0000,new
20,0023,0300,012225332,CP,00000000000000000537869112,"389,789.0000","888,546.0600",
22,0023,0083,012225332,CP,00000000000000000691404343,"108,341.6250","108,408.2100",
10,0058,0988,007652980,LP,00000000000000000679764662,"3,791,792.5000","3,787,897.2000",
11,0058,0988,007652980,LP,00000000000000000640634367,"993,983.9000","1,026,476.4000",
9,0058,0988,007652980,LP,00000000000000000697824258,"237,731.0000",0.0000,new
12,0058,0988,007652980,LP,00000000000000000684634211,"39,326.7500","39,204.0900",
24,0058,0252,030695078,CP,00000000000000000697145512,"900,595.0000",0.0000,new
27,0058,0252,030695078,CP,00000000000000000688132471,"831,531.4000","860,160.5600",
29,0058,0252,030695078,CP,00000000000000000684715656,"806,315.9000","833,786.4000",
28,0058,0252,030695078,CP,00000000000000000687500047,"706,623.1000","730,544.7000",
25,0058,0252,030695078,CP,00000000000000000692115582,"682,096.1000","707,769.4000",
23,0058,0252,030695078,CP,00000000000000000697144585,"549,381.0000",0.0000,new
26,0058,0252,030695078,CP,00000000000000000689012391,"296,664.6200","307,034.7500",
17,0058,0083,010134184,LP,00000000000000000610773752,"2,313,388.5000","2,356,884.2000",
19,0058,0010,010134184,CP,00000000000000000584016126,"1,575,211.9000","1,609,007.6000",
14,0058,0083,010134184,CP,00000000000000000672925182,"226,966.1200","227,149.2800",
13,0058,0083,010134184,CP,00000000000000000696288294,"113,850.8750",0.0000,new
16,0058,0083,010134184,CP,00000000000000000691672211,"113,580.3750","113,882.3000",
18,0058,0083,010134184,CP,00000000000000000687483633,"85,151.2500","85,242.9500",
15,0058,0988,010134184,LP,00000000000000000658384215,"6,459.2500","6,437.4900",
1,0058,0083,000992836,LP,00000000000000000689893684,"2,301,002.2000","2,323,432.2000",
0,0058,0083,000992836,CP,00000000000000000698049116,"465,051.1200",0.0000,new
7,0058,0083,002362927,LP,00000000000000000580134344,"733,844.2500","746,194.7000",
6,0058,0083,002362927,CP,00000000000000000689037129,"347,108.7500","346,269.7200",
3,0058,0083,002362927,CP,00000000000000000686241631,"272,532.7500","271,573.6200",
8,0058,0083,002362927,CP,00000000000000000694882902,"265,701.7500",0.0000,new
2,0058,0083,002362927,CP,00000000000000000695099886,"231,204.2500",0.0000,new
4,0058,0501,002362927,LP,00000000000000000645044849,"168,411.1200","170,682.6000",
5,0058,0083,002362927,CP,00000000000000000680791027,"73,750.6250","189,399.4800",
34,8519,0083,055890379,CP,00000000000000000694261990,"25,642.5000",0.0000,new
33,8519,0083,055890379,CP,00000000000000000689369766,"21,149.1250","21,133.8850",
35,8519,0083,055890379,CP,00000000000000000689979632,"12,052.2500","12,045.1680",
36,8519,0083,055890379,CP,00000000000000000692597674,"7,651.8750","7,680.6475",
30,8519,0083,055890379,CP,00000000000000000686895867,"5,657.6250","5,657.7600",
31,8519,0083,055890379,CP,00000000000000000692597223,"4,124.5000","4,140.4575",
32,8519,0083,055890379,CP,00000000000000000688211601,"2,051.6250","2,052.6826",

In [ ]:
pool_m

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
0,00000000000000000691334334,01821299008300000000019569,0058,0083,CP,BB-,000147893,NaN,BB-,NC,0,BB-,296086.750000,0.087400,0.027800,0.120200,0.036000,0.045300,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.028518,MA,0.100300,0.060000,0.060000,2025-06-30
1,00000000000000000667711952,01822344050500000000190663,0058,0505,LP,B-,034908347,NaN,B-,NC,0,B-,4540.250000,-0.070000,-0.088100,-0.089200,0.017900,0.024600,SI,CI/OI,CN/OP,PARCIAL,6,2025-01-31,2025-01-31,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
2,00000000000000000687067102,01822344008300000000017034,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,40324.250000,-0.070000,-0.088100,-0.089200,-0.107100,-0.142600,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
3,00000000000000000693353710,01822344008300000000017182,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,18069.625000,-0.070000,-0.088100,-0.089200,-0.516300,-0.688400,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
4,00000000000000000693528484,01822342008300000000033909,0058,0083,CP,B,038094323,NaN,B,NC,0,B,19809.625000,0.141400,0.039000,0.196600,0.022300,0.031000,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.038972,MA,0.100300,0.060000,0.060000,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,01822376008300000000058147,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,19997.875000,0.098300,0.071300,0.163600,0.086200,0.179200,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.071333,ME,0.100300,0.060000,0.060000,2025-06-30
446,00000000000000000695925911,01822376008300000000058154,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,11047.000000,0.098300,0.071300,0.163600,0.064500,0.133900,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.071333,ME,0.100300,0.060000,0.060000,2025-06-30
447,00000000000000000519329576,01821299051100000000031608,0058,0511,CP,A-,000992836,NaN,BB,NC,0,BB,260829.000000,0.104200,0.083100,0.173100,0.175100,0.294400,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.083126,NaN,0.100300,0.060000,0.060000,2025-06-30
448,00000000000000000492897544,01822324051600000000060603,0058,0516,CP,B+,034807425,NaN,B+,NC,0,B+,307073.880000,0.068400,0.065400,0.088200,0.110900,0.142900,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.067195,MA,0.100300,0.060000,0.060000,2025-06-30
449,00000000000000000697419588,01825473001000000000151377,0058,0010,CP,B+,009637729,NaN,B+,NC,0,B+,300069.120000,0.004700,0.045300,0.006000,0.063900,0.088500,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.045290,MA,0.100300,0.060000,0.060000,2025-06-30

In [99]:
top5_m_m1_copy_renamed_ord_percentages['rwas_banca_Tot_m'] = pool_m[pool_m.pool_situation_type == 'SI']['rwas_regul_capital_amount'].sum()
top5_m_m1_copy_renamed_ord_percentages['rwas_banca_Tot_m1'] = pool_m1['rwas_regul_capital_amount'].sum()

In [100]:
top5_m_m1_copy_renamed_ord_percentages

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato,rwas_banca_Tot_m,rwas_banca_Tot_m1
21,0023,0083,012225332,CP,00000000000000000696082853,"968,228.9000",0.0000,new,"39,425,220.1900","37,828,075.9335"
20,0023,0300,012225332,CP,00000000000000000537869112,"389,789.0000","888,546.0600",,"39,425,220.1900","37,828,075.9335"
22,0023,0083,012225332,CP,00000000000000000691404343,"108,341.6250","108,408.2100",,"39,425,220.1900","37,828,075.9335"
10,0058,0988,007652980,LP,00000000000000000679764662,"3,791,792.5000","3,787,897.2000",,"39,425,220.1900","37,828,075.9335"
11,0058,0988,007652980,LP,00000000000000000640634367,"993,983.9000","1,026,476.4000",,"39,425,220.1900","37,828,075.9335"
9,0058,0988,007652980,LP,00000000000000000697824258,"237,731.0000",0.0000,new,"39,425,220.1900","37,828,075.9335"
12,0058,0988,007652980,LP,00000000000000000684634211,"39,326.7500","39,204.0900",,"39,425,220.1900","37,828,075.9335"
24,0058,0252,030695078,CP,00000000000000000697145512,"900,595.0000",0.0000,new,"39,425,220.1900","37,828,075.9335"
27,0058,0252,030695078,CP,00000000000000000688132471,"831,531.4000","860,160.5600",,"39,425,220.1900","37,828,075.9335"
29,0058,0252,030695078,CP,00000000000000000684715656,"806,315.9000","833,786.4000",,"39,425,220.1900","37,828,075.9335"
28,0058,0252,030695078,CP,00000000000000000687500047,"706,623.1000","730,544.7000",,"39,425,220.1900","37,828,075.9335"
25,0058,0252,030695078,CP,00000000000000000692115582,"682,096.1000","707,769.4000",,"39,425,220.1900","37,828,075.9335"
23,0058,0252,030695078,CP,00000000000000000697144585,"549,381.0000",0.0000,new,"39,425,220.1900","37,828,075.9335"
26,0058,0252,030695078,CP,00000000000000000689012391,"296,664.6200","307,034.7500",,"39,425,220.1900","37,828,075.9335"
17,0058,0083,010134184,LP,00000000000000000610773752,"2,313,388.5000","2,356,884.2000",,"39,425,220.1900","37,828,075.9335"
19,0058,0010,010134184,CP,00000000000000000584016126,"1,575,211.9000","1,609,007.6000",,"39,425,220.1900","37,828,075.9335"
14,0058,0083,010134184,CP,00000000000000000672925182,"226,966.1200","227,149.2800",,"39,425,220.1900","37,828,075.9335"
13,0058,0083,010134184,CP,00000000000000000696288294,"113,850.8750",0.0000,new,"39,425,220.1900","37,828,075.9335"
16,0058,0083,010134184,CP,00000000000000000691672211,"113,580.3750","113,882.3000",,"39,425,220.1900","37,828,075.9335"
18,0058,0083,010134184,CP,00000000000000000687483633,"85,151.2500","85,242.9500",,"39,425,220.1900","37,828,075.9335"
15,0058,0988,010134184,LP,00000000000000000658384215,"6,459.2500","6,437.4900",,"39,425,220.1900","37,828,075.9335"
1,0058,0083,000992836,LP,00000000000000000689893684,"2,301,002.2000","2,323,432.2000",,"39,425,220.1900","37,828,075.9335"
0,0058,0083,000992836,CP,00000000000000000698049116,"465,051.1200",0.0000,new,"39,425,220.1900","37,828,075.9335"
7,0058,0083,002362927,LP,00000000000000000580134344,"733,844.2500","746,194.7000",,"39,425,220.1900","37,828,075.9335"
6,0058,0083,002362927,CP,00000000000000000689037129,"347,108.7500","346,269.7200",,"39,425,220.1900","37,828,075.9335"
3,0058,0083,002362927,CP,00000000000000000686241631,"272,532.7500","271,573.6200",,"39,425,220.1900","37,828,075.9335"
8,0058,0083,002362927,CP,00000000000000000694882902,"265,701.7500",0.0000,new,"39,425,220.1900","37,828,075.9335"
2,0058,0083,002362927,CP,00000000000000000695099886,"231,204.2500",0.0000,new,"39,425,220.1900","37,828,075.9335"
4,0058,0501,002362927,LP,00000000000000000645044849,"168,411.1200","170,682.6000",,"39,425,220.1900","37,828,075.9335"
5,0058,0083,002362927,CP,00000000000000000680791027,"73,750.6250","189,399.4800",,"39,425,220.1900","37,828,075.9335"
34,8519,0083,055890379,CP,00000000000000000694261990,"25,642.5000",0.0000,new,"39,425,220.1900","37,828,075.9335"
33,8519,0083,055890379,CP,00000000000000000689369766,"21,149.1250","21,133.8850",,"39,425,220.1900","37,828,075.9335"
35,8519,0083,055890379,CP,00000000000000000689979632,"12,052.2500","12,045.1680",,"39,425,220.1900","37,828,075.9335"
36,8519,0083,055890379,CP,00000000000000000692597674,"7,651.8750","7,680.6475",,"39,425,220.1900","37,828,075.9335"
30,8519,0083,055890379,CP,00000000000000000686895867,"5,657.6250","5,657.7600",,"39,425,220.1900","37,828,075.9335"
31,8519,0083,055890379,CP,00000000000000000692597223,"4,124.5000","4,140.4575",,"39,425,220.1900","37,828,075.9335"
32,8519,0083,055890379,CP,00000000000000000688211601,"2,051.6250","2,052.6826",,"39,425,220.1900","37,828,075.9335"

In [101]:
# agrupado por contrapart_id
ctpa_m_totales = (
    pool_m[pool_m.pool_situation_type == 'SI']
    .groupby('counterpart_id', as_index=False)['rwas_regul_capital_amount']
    .sum()
)

ctpa_m1_totales = pool_m1.groupby('counterpart_id', as_index=False)['rwas_regul_capital_amount'].sum()

# agrupado por customer_id
cliente_m_totales = (
    pool_m[pool_m.pool_situation_type == 'SI']
    .groupby('customer_id', as_index=False)['rwas_regul_capital_amount']
    .sum()
)

cliente_m1_totales = pool_m1.groupby('customer_id', as_index=False)['rwas_regul_capital_amount'].sum()

In [105]:
top5_todos = top5_m_m1_copy_renamed_ord_percentages.merge(
    ctpa_m_totales.rename(columns={'counterpart_id': 'ctpa', 'rwas_regul_capital_amount': 'rwas_ctpa_Tot_m'}),
    how='left',
    on='ctpa'
).merge(
    ctpa_m1_totales.rename(columns={'counterpart_id': 'ctpa', 'rwas_regul_capital_amount': 'rwas_ctpa_Tot_m1'}),
    how='left',
    on='ctpa'
).merge(
    cliente_m_totales.rename(columns={'customer_id': 'cliente', 'rwas_regul_capital_amount': 'rwas_cliente_Tot_m'}),
    how='left',
    on='cliente'
).merge(
    cliente_m1_totales.rename(columns={'customer_id': 'cliente', 'rwas_regul_capital_amount': 'rwas_cliente_Tot_m1'}),
    how='left',
    on='cliente'
)

In [106]:
top5_todos

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato,rwas_banca_Tot_m,rwas_banca_Tot_m1,rwas_ctpa_Tot_m,rwas_ctpa_Tot_m1,rwas_cliente_Tot_m,rwas_cliente_Tot_m1
0,0023,0083,012225332,CP,00000000000000000696082853,"968,228.9000",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","1,466,359.5250","1,311,523.9300"
1,0023,0300,012225332,CP,00000000000000000537869112,"389,789.0000","888,546.0600",,"39,425,220.1900","37,828,075.9335","2,694,961.1500","2,566,361.4180","1,466,359.5250","1,311,523.9300"
2,0023,0083,012225332,CP,00000000000000000691404343,"108,341.6250","108,408.2100",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","1,466,359.5250","1,311,523.9300"
3,0058,0988,007652980,LP,00000000000000000679764662,"3,791,792.5000","3,787,897.2000",,"39,425,220.1900","37,828,075.9335","5,110,353.2750","4,899,933.4850","5,062,834.1500","4,910,528.0220"
4,0058,0988,007652980,LP,00000000000000000640634367,"993,983.9000","1,026,476.4000",,"39,425,220.1900","37,828,075.9335","5,110,353.2750","4,899,933.4850","5,062,834.1500","4,910,528.0220"
5,0058,0988,007652980,LP,00000000000000000697824258,"237,731.0000",0.0000,new,"39,425,220.1900","37,828,075.9335","5,110,353.2750","4,899,933.4850","5,062,834.1500","4,910,528.0220"
6,0058,0988,007652980,LP,00000000000000000684634211,"39,326.7500","39,204.0900",,"39,425,220.1900","37,828,075.9335","5,110,353.2750","4,899,933.4850","5,062,834.1500","4,910,528.0220"
7,0058,0252,030695078,CP,00000000000000000697145512,"900,595.0000",0.0000,new,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
8,0058,0252,030695078,CP,00000000000000000688132471,"831,531.4000","860,160.5600",,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
9,0058,0252,030695078,CP,00000000000000000684715656,"806,315.9000","833,786.4000",,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
10,0058,0252,030695078,CP,00000000000000000687500047,"706,623.1000","730,544.7000",,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
11,0058,0252,030695078,CP,00000000000000000692115582,"682,096.1000","707,769.4000",,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
12,0058,0252,030695078,CP,00000000000000000697144585,"549,381.0000",0.0000,new,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
13,0058,0252,030695078,CP,00000000000000000689012391,"296,664.6200","307,034.7500",,"39,425,220.1900","37,828,075.9335","4,773,207.1200","4,451,920.2500","4,773,207.1200","4,451,920.2500"
14,0058,0083,010134184,LP,00000000000000000610773752,"2,313,388.5000","2,356,884.2000",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","4,434,608.2700","4,499,923.2340"
15,0058,0010,010134184,CP,00000000000000000584016126,"1,575,211.9000","1,609,007.6000",,"39,425,220.1900","37,828,075.9335","3,658,172.9250","2,896,673.0500","4,434,608.2700","4,499,923.2340"
16,0058,0083,010134184,CP,00000000000000000672925182,"226,966.1200","227,149.2800",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","4,434,608.2700","4,499,923.2340"
17,0058,0083,010134184,CP,00000000000000000696288294,"113,850.8750",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","4,434,608.2700","4,499,923.2340"
18,0058,0083,010134184,CP,00000000000000000691672211,"113,580.3750","113,882.3000",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","4,434,608.2700","4,499,923.2340"
19,0058,0083,010134184,CP,00000000000000000687483633,"85,151.2500","85,242.9500",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","4,434,608.2700","4,499,923.2340"
20,0058,0988,010134184,LP,00000000000000000658384215,"6,459.2500","6,437.4900",,"39,425,220.1900","37,828,075.9335","5,110,353.2750","4,899,933.4850","4,434,608.2700","4,499,923.2340"
21,0058,0083,000992836,LP,00000000000000000689893684,"2,301,002.2000","2,323,432.2000",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,766,053.3200","2,764,915.4575"
22,0058,0083,000992836,CP,00000000000000000698049116,"465,051.1200",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,766,053.3200","2,764,915.4575"
23,0058,0083,002362927,LP,00000000000000000580134344,"733,844.2500","746,194.7000",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
24,0058,0083,002362927,CP,00000000000000000689037129,"347,108.7500","346,269.7200",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
25,0058,0083,002362927,CP,00000000000000000686241631,"272,532.7500","271,573.6200",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
26,0058,0083,002362927,CP,00000000000000000694882902,"265,701.7500",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
27,0058,0083,002362927,CP,00000000000000000695099886,"231,204.2500",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
28,0058,0501,002362927,LP,00000000000000000645044849,"168,411.1200","170,682.6000",,"39,425,220.1900","37,828,075.9335","243,857.9950","247,560.5550","2,092,553.4950","1,913,556.4600"
29,0058,0083,002362927,CP,00000000000000000680791027,"73,750.6250","189,399.4800",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","2,092,553.4950","1,913,556.4600"
30,8519,0083,055890379,CP,00000000000000000694261990,"25,642.5000",0.0000,new,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
31,8519,0083,055890379,CP,00000000000000000689369766,"21,149.1250","21,133.8850",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
32,8519,0083,055890379,CP,00000000000000000689979632,"12,052.2500","12,045.1680",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
33,8519,0083,055890379,CP,00000000000000000692597674,"7,651.8750","7,680.6475",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
34,8519,0083,055890379,CP,00000000000000000686895867,"5,657.6250","5,657.7600",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
35,8519,0083,055890379,CP,00000000000000000692597223,"4,124.5000","4,140.4575",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"
36,8519,0083,055890379,CP,00000000000000000688211601,"2,051.6250","2,052.6826",,"39,425,220.1900","37,828,075.9335","18,372,347.8050","17,800,711.7243","78,329.5000","57,624.6531"

In [107]:
# % por ctpa dentro del cliente (m y m1)
top5_todos['pct_banca_Tot_m'] = (top5_todos['rwas_Tot_m'] / top5_todos['rwas_banca_Tot_m'])
top5_todos['pct_banca_Tot_m1'] = (top5_todos['rwas_Tot_m1'] / top5_todos['rwas_banca_Tot_m1'])

top5_todos['pct_ctpa_Tot_m'] = (top5_todos['rwas_Tot_m'] / top5_todos['rwas_ctpa_Tot_m'])# * 100
top5_todos['pct_ctpa_Tot_m1'] = (top5_todos['rwas_Tot_m1'] / top5_todos['rwas_ctpa_Tot_m1'])# * 100

top5_todos['pct_cli_Tot_m'] = (top5_todos['rwas_Tot_m'] / top5_todos['rwas_cliente_Tot_m'])# * 100
top5_todos['pct_cli_Tot_m1'] = (top5_todos['rwas_Tot_m1'] / top5_todos['rwas_cliente_Tot_m1'])# * 100

top5_todos['pct_var_banca_Tot_MoM'] = ((top5_todos['pct_banca_Tot_m'] - top5_todos['pct_banca_Tot_m1']) / abs(top5_todos['pct_banca_Tot_m1']))# * 100
top5_todos['pct_var_ctpa_Tot_MoM'] = ((top5_todos['pct_ctpa_Tot_m'] - top5_todos['pct_ctpa_Tot_m1']) / abs(top5_todos['pct_ctpa_Tot_m1']))# * 100
top5_todos['pct_var_cli_Tot_MoM'] = ((top5_todos['pct_cli_Tot_m'] - top5_todos['pct_cli_Tot_m1']) / abs(top5_todos['pct_cli_Tot_m1']))# * 100   

top5_todos.replace([np.inf, -np.inf], 0, inplace=True)


top5_todos_sal = top5_todos.copy().loc[:,[
    'banca','ctpa','cliente','plazo','contrato_id',
    'rwas_Tot_m','rwas_Tot_m1',
    'rwas_banca_Tot_m',
    'pct_banca_Tot_m',
    'rwas_banca_Tot_m1',
    'pct_banca_Tot_m1',
    'pct_var_banca_Tot_MoM',
    'rwas_ctpa_Tot_m',
    'pct_ctpa_Tot_m',
    'rwas_ctpa_Tot_m1',
    'pct_ctpa_Tot_m1',
    'pct_var_ctpa_Tot_MoM',
    'rwas_cliente_Tot_m',
    'pct_cli_Tot_m',
    'rwas_cliente_Tot_m1', 
    'pct_cli_Tot_m1',
    'pct_var_cli_Tot_MoM',
    'status_contrato'
]]
top5_todos_sal

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,rwas_banca_Tot_m,pct_banca_Tot_m,rwas_banca_Tot_m1,pct_banca_Tot_m1,pct_var_banca_Tot_MoM,rwas_ctpa_Tot_m,pct_ctpa_Tot_m,rwas_ctpa_Tot_m1,pct_ctpa_Tot_m1,pct_var_ctpa_Tot_MoM,rwas_cliente_Tot_m,pct_cli_Tot_m,rwas_cliente_Tot_m1,pct_cli_Tot_m1,pct_var_cli_Tot_MoM,status_contrato
0,0023,0083,012225332,CP,00000000000000000696082853,"968,228.9000",0.0000,"39,425,220.1900",0.0246,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0527,"17,800,711.7243",0.0000,0.0000,"1,466,359.5250",0.6603,"1,311,523.9300",0.0000,0.0000,new
1,0023,0300,012225332,CP,00000000000000000537869112,"389,789.0000","888,546.0600","39,425,220.1900",0.0099,"37,828,075.9335",0.0235,-0.5791,"2,694,961.1500",0.1446,"2,566,361.4180",0.3462,-0.5823,"1,466,359.5250",0.2658,"1,311,523.9300",0.6775,-0.6076,
2,0023,0083,012225332,CP,00000000000000000691404343,"108,341.6250","108,408.2100","39,425,220.1900",0.0027,"37,828,075.9335",0.0029,-0.0411,"18,372,347.8050",0.0059,"17,800,711.7243",0.0061,-0.0317,"1,466,359.5250",0.0739,"1,311,523.9300",0.0827,-0.1061,
3,0058,0988,007652980,LP,00000000000000000679764662,"3,791,792.5000","3,787,897.2000","39,425,220.1900",0.0962,"37,828,075.9335",0.1001,-0.0395,"5,110,353.2750",0.7420,"4,899,933.4850",0.7731,-0.0402,"5,062,834.1500",0.7489,"4,910,528.0220",0.7714,-0.0291,
4,0058,0988,007652980,LP,00000000000000000640634367,"993,983.9000","1,026,476.4000","39,425,220.1900",0.0252,"37,828,075.9335",0.0271,-0.0709,"5,110,353.2750",0.1945,"4,899,933.4850",0.2095,-0.0715,"5,062,834.1500",0.1963,"4,910,528.0220",0.2090,-0.0608,
5,0058,0988,007652980,LP,00000000000000000697824258,"237,731.0000",0.0000,"39,425,220.1900",0.0060,"37,828,075.9335",0.0000,0.0000,"5,110,353.2750",0.0465,"4,899,933.4850",0.0000,0.0000,"5,062,834.1500",0.0470,"4,910,528.0220",0.0000,0.0000,new
6,0058,0988,007652980,LP,00000000000000000684634211,"39,326.7500","39,204.0900","39,425,220.1900",0.0010,"37,828,075.9335",0.0010,-0.0375,"5,110,353.2750",0.0077,"4,899,933.4850",0.0080,-0.0382,"5,062,834.1500",0.0078,"4,910,528.0220",0.0080,-0.0270,
7,0058,0252,030695078,CP,00000000000000000697145512,"900,595.0000",0.0000,"39,425,220.1900",0.0228,"37,828,075.9335",0.0000,0.0000,"4,773,207.1200",0.1887,"4,451,920.2500",0.0000,0.0000,"4,773,207.1200",0.1887,"4,451,920.2500",0.0000,0.0000,new
8,0058,0252,030695078,CP,00000000000000000688132471,"831,531.4000","860,160.5600","39,425,220.1900",0.0211,"37,828,075.9335",0.0227,-0.0724,"4,773,207.1200",0.1742,"4,451,920.2500",0.1932,-0.0984,"4,773,207.1200",0.1742,"4,451,920.2500",0.1932,-0.0984,
9,0058,0252,030695078,CP,00000000000000000684715656,"806,315.9000","833,786.4000","39,425,220.1900",0.0205,"37,828,075.9335",0.0220,-0.0721,"4,773,207.1200",0.1689,"4,451,920.2500",0.1873,-0.0980,"4,773,207.1200",0.1689,"4,451,920.2500",0.1873,-0.0980,
10,0058,0252,030695078,CP,00000000000000000687500047,"706,623.1000","730,544.7000","39,425,220.1900",0.0179,"37,828,075.9335",0.0193,-0.0719,"4,773,207.1200",0.1480,"4,451,920.2500",0.1641,-0.0979,"4,773,207.1200",0.1480,"4,451,920.2500",0.1641,-0.0979,
11,0058,0252,030695078,CP,00000000000000000692115582,"682,096.1000","707,769.4000","39,425,220.1900",0.0173,"37,828,075.9335",0.0187,-0.0753,"4,773,207.1200",0.1429,"4,451,920.2500",0.1590,-0.1011,"4,773,207.1200",0.1429,"4,451,920.2500",0.1590,-0.1011,
12,0058,0252,030695078,CP,00000000000000000697144585,"549,381.0000",0.0000,"39,425,220.1900",0.0139,"37,828,075.9335",0.0000,0.0000,"4,773,207.1200",0.1151,"4,451,920.2500",0.0000,0.0000,"4,773,207.1200",0.1151,"4,451,920.2500",0.0000,0.0000,new
13,0058,0252,030695078,CP,00000000000000000689012391,"296,664.6200","307,034.7500","39,425,220.1900",0.0075,"37,828,075.9335",0.0081,-0.0729,"4,773,207.1200",0.0622,"4,451,920.2500",0.0690,-0.0988,"4,773,207.1200",0.0622,"4,451,920.2500",0.0690,-0.0988,
14,0058,0083,010134184,LP,00000000000000000610773752,"2,313,388.5000","2,356,884.2000","39,425,220.1900",0.0587,"37,828,075.9335",0.0623,-0.0582,"18,372,347.8050",0.1259,"17,800,711.7243",0.1324,-0.0490,"4,434,608.2700",0.5217,"4,499,923.2340",0.5238,-0.0040,
15,0058,0010,010134184,CP,00000000000000000584016126,"1,575,211.9000","1,609,007.6000","39,425,220.1900",0.0400,"37,828,075.9335",0.0425,-0.0607,"3,658,172.9250",0.4306,"2,896,673.0500",0.5555,-0.2248,"4,434,608.2700",0.3552,"4,499,923.2340",0.3576,-0.0066,
16,0058,0083,010134184,CP,00000000000000000672925182,"226,966.1200","227,149.2800","39,425,220.1900",0.0058,"37,828,075.9335",0.0060,-0.0413,"18,372,347.8050",0.0124,"17,800,711.7243",0.0128,-0.0319,"4,434,608.2700",0.0512,"4,499,923.2340",0.0505,0.0139,
17,0058,0083,010134184,CP,00000000000000000696288294,"113,850.8750",0.0000,"39,425,220.1900",0.0029,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0062,"17,800,711.7243",0.0000,0.0000,"4,434,608.2700",0.0257,"4,499,923.2340",0.0000,0.0000,new
18,0058,0083,010134184,CP,00000000000000000691672211,"113,580.3750","113,882.3000","39,425,220.1900",0.0029,"37,828,075.9335",0.0030,-0.0431,"18,372,347.8050",0.0062,"17,800,711.7243",0.0064,-0.0337,"4,434,608.2700",0.0256,"4,499,923.2340",0.0253,0.0120,
19,0058,0083,010134184,CP,00000000000000000687483633,"85,151.2500","85,242.9500","39,425,220.1900",0.0022,"37,828,075.9335",0.0023,-0.0415,"18,372,347.8050",0.0046,"17,800,711.7243",0.0048,-0.0322,"4,434,608.2700",0.0192,"4,499,923.2340",0.0189,0.0136,
20,0058,0988,010134184,LP,00000000000000000658384215,"6,459.2500","6,437.4900","39,425,220.1900",0.0002,"37,828,075.9335",0.0002,-0.0373,"5,110,353.2750",0.0013,"4,899,933.4850",0.0013,-0.0379,"4,434,608.2700",0.0015,"4,499,923.2340",0.0014,0.0182,
21,0058,0083,000992836,LP,00000000000000000689893684,"2,301,002.2000","2,323,432.2000","39,425,220.1900",0.0584,"37,828,075.9335",0.0614,-0.0498,"18,372,347.8050",0.1252,"17,800,711.7243",0.1305,-0.0405,"2,766,053.3200",0.8319,"2,764,915.4575",0.8403,-0.0101,
22,0058,0083,000992836,CP,00000000000000000698049116,"465,051.1200",0.0000,"39,425,220.1900",0.0118,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0253,"17,800,711.7243",0.0000,0.0000,"2,766,053.3200",0.1681,"2,764,915.4575",0.0000,0.0000,new
23,0058,0083,002362927,LP,00000000000000000580134344,"733,844.2500","746,194.7000","39,425,220.1900",0.0186,"37,828,075.9335",0.0197,-0.0564,"18,372,347.8050",0.0399,"17,800,711.7243",0.0419,-0.0472,"2,092,553.4950",0.3507,"1,913,556.4600",0.3900,-0.1007,
24,0058,0083,002362927,CP,00000000000000000689037129,"347,108.7500","346,269.7200","39,425,220.1900",0.0088,"37,828,075.9335",0.0092,-0.0382,"18,372,347.8050",0.0189,"17,800,711.7243",0.0195,-0.0288,"2,092,553.4950",0.1659,"1,913,556.4600",0.1810,-0.0833,
25,0058,0083,002362927,CP,00000000000000000686241631,"272,532.7500","271,573.6200","39,425,220.1900",0.0069,"37,828,075.9335",0.0072,-0.0371,"18,372,347.8050",0.0148,"17,800,711.7243",0.0153,-0.0277,"2,092,553.4950",0.1302,"1,913,556.4600",0.1419,-0.0823,
26,0058,0083,002362927,CP,00000000000000000694882902,"265,701.7500",0.0000,"39,425,220.1900",0.0067,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0145,"17,800,711.7243",0.0000,0.0000,"2,092,553.4950",0.1270,"1,913,556.4600",0.0000,0.0000,new
27,0058,0083,002362927,CP,00000000000000000695099886,"231,204.2500",0.0000,"39,425,220.1900",0.0059,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0126,"17,800,711.7243",0.0000,0.0000,"2,092,553.4950",0.1105,"1,913,556.4600",0.0000,0.0000,new
28,0058,0501,002362927,LP,00000000000000000645044849,"168,411.1200","170,682.6000","39,425,220.1900",0.0043,"37,828,075.9335",0.0045,-0.0533,"243,857.9950",0.6906,"247,560.5550",0.6895,0.0017,"2,092,553.4950",0.0805,"1,913,556.4600",0.0892,-0.0977,
29,0058,0083,002362927,CP,00000000000000000680791027,"73,750.6250","189,399.4800","39,425,220.1900",0.0019,"37,828,075.9335",0.0050,-0.6264,"18,372,347.8050",0.0040,"17,800,711.7243",0.0106,-0.6227,"2,092,553.4950",0.0352,"1,913,556.4600",0.0990,-0.6439,
30,8519,0083,055890379,CP,00000000000000000694261990,"25,642.5000",0.0000,"39,425,220.1900",0.0007,"37,828,075.9335",0.0000,0.0000,"18,372,347.8050",0.0014,"17,800,711.7243",0.0000,0.0000,"78,329.5000",0.3274,"57,624.6531",0.0000,0.0000,new
31,8519,0083,055890379,CP,00000000000000000689369766,"21,149.1250","21,133.8850","39,425,220.1900",0.0005,"37,828,075.9335",0.0006,-0.0398,"18,372,347.8050",0.0012,"17,800,711.7243",0.0012,-0.0304,"78,329.5000",0.2700,"57,624.6531",0.3668,-0.2638,
32,8519,0083,055890379,CP,00000000000000000689979632,"12,052.2500","12,045.1680","39,425,220.1900",0.0003,"37,828,075.9335",0.0003,-0.0399,"18,372,347.8050",0.0007,"17,800,711.7243",0.0007,-0.0305,"78,329.5000",0.1539,"57,624.6531",0.2090,-0.2639,
33,8519,0083,055890379,CP,00000000000000000692597674,"7,651.8750","7,680.6475","39,425,220.1900",0.0002,"37,828,075.9335",0.0002,-0.0441,"18,372,347.8050",0.0004,"17,800,711.7243",0.0004,-0.0347,"78,329.5000",0.0977,"57,624.6531",0.1333,-0.2671,
34,8519,0083,055890379,CP,00000000000000000686895867,"5,657.6250","5,657.7600","39,425,220.1900",0.0001,"37,828,075.9335",0.0001,-0.0405,"18,372,347.8050",0.0003,"17,800,711.7243",0.0003,-0.0311,"78,329.5000",0.0722,"57,624.6531",0.0982,-0.2643,
35,8519,0083,055890379,CP,00000000000000000692597223,"4,124.5000","4,140.4575","39,425,220.1900",0.0001,"37,828,075.9335",0.0001,-0.0442,"18,372,347.8050",0.0002,"17,800,711.7243",0.0002,-0.0348,"78,329.5000",0.0527,"57,624.6531",0.0719,-0.2672,
36,8519,0083,055890379,CP,00000000000000000688211601,"2,051.6250","2,052.6826","39,425,220.1900",0.0001,"37,828,075.9335",0.0001,-0.0410,"18,372,347.8050",0.0001,"17,800,711.7243",0.0001,-0.0316,"78,329.5000",0.0262,"57,624.6531",0.0356,-0.2647,

In [109]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    top5_todos_sal.to_excel(writer, sheet_name="top5_cli_per_banca_todos_ratios", index=False)

-----------------

#### top10_per_banca

In [32]:
# TOP 5 customers with highest regulatory capital amount with pool_situation_type = 'SI'
def n_oldest_surv(group, n):
    return group[group.pool_situation_type == 'SI'].nlargest(n, "rwas_regul_capital_amount")

df6_1 = pool_m.groupby(["level60_operarea_id"]).apply(lambda group: n_oldest_surv(group, 10), include_groups=False)

df6_1

                                        contract_id  \
level60_operarea_id
0023                179  00000000000000000696082853
                    31   00000000000000000537869112
                    32   00000000000000000691404343
0058                49   00000000000000000679764662
                    10   00000000000000000610773752
                    151  00000000000000000689893684
                    12   00000000000000000584016126
                    22   00000000000000000643922216
                    27   00000000000000000596662002
                    173  00000000000000000549637223
                    48   00000000000000000640634367
                    230  00000000000000000584319910
                    186  00000000000000000697145512
8519                222  00000000000000000694261990
                    99   00000000000000000689369766
                    98   00000000000000000689979632
                    100  00000000000000000692597674
                    103  00000000000000000686895867
                    102  00000000000000000692597223
                    101  00000000000000000688211601

                                current_contract_id counterpart_id  \
level60_operarea_id
0023                179  01824899008300000000008443           0083
                    31   01824899030000033502000909           0300
                    32   01824899008300000000008368           0083
0058                49   01822336098800144348400069           0988
                    10   01822393008300000000014801           0083
                    151  01821299008300000000019525           0083
                    12   01822393001000000000152914           0010
                    22   01822327050500000000175580           0505
                    27   01822357051600000000078585           0516
                    173  01822357030000397400070109           0300
                    48   01822336098800144348400051           0988
                    230  01821299001000000000152284           0010
                    186  01822345025200000000169119           0252
8519                222  01828510008300000000001657           0083
                    99   01828510008300000000001601           0083
                    98   01828510008300000000001607           0083
                    100  01828510008300000000001636           0083
                    103  01828510008300000000001549           0083
                    102  01828510008300000000001635           0083
                    101  01828510008300000000001580           0083

                        term_contract_type m5_scale_master_limit_id  \
level60_operarea_id
0023                179                 CP                     BBB-
                    31                  CP                     BBB-
                    32                  CP                     BBB-
0058                49                  LP                        B
                    10                  LP                      BB-
                    151                 LP                       BB
                    12                  CP                      BB-
                    22                  LP                      CC+
                    27                  CP                      BB+
                    173                 CP                      BB+
                    48                  LP                        B
                    230                 CP                      BB-
                    186                 CP                       B-
8519                222                 CP                        B
                    99                  CP                        B
                    98                  CP                        B
                    100                 CP                        B
                    103                 CP                        B
                    102                 CP                        B
                    101                 CP                        B

                        customer_id cliente_nuevo_pool rating_mes  \
level60_operarea_id
0023                179   012225332                NaN       BBB-
                    31    012225332                NaN       BBB-
                    32    012225332                NaN       BBB-
0058                49    007652980                NaN         B-
                    10    010134184                NaN        BB-
                    151   000992836                NaN         BB
                    12    010134184                NaN        BB-
                    22    028407710                NaN        CC+
                    27    001005370                NaN        BB+
                    173   001005370                NaN        BB+
                    48    007652980                NaN         B-
                    230   013644107                NaN        BB-
                    186   030695078                NaN         B-
8519                222   055890379                NaN          B
                    99    055890379                NaN          B
                    98    055890379                NaN          B
                    100   055890379                NaN          B
                    103   055890379                NaN          B
                    102   055890379                NaN          B
                    101   055890379                NaN          B

                        rating_status rating_diff rating_var  \
level60_operarea_id
0023                179            NC           0       BBB-
                    31             NC           0       BBB-
                    32             NC           0       BBB-
0058                49             NC           0         B-
                    10             NC           0        BB-
                    151            NC           0         BB
                    12             NC           0        BB-
                    22             NC           0        CC+
                    27             UP           1     BB/BB+
                    173            UP           1     BB/BB+
                    48             NC           0         B-
                    230            NC           0        BB-
                    186            NC           0         B-
8519                222            NC           0          B
                    99             NC           0          B
                    98             NC           0          B
                    100            NC           0          B
                    103            NC           0          B
                    102            NC           0          B
                    101            NC           0          B

                         rwas_regul_capital_amount  rorc_last_m_cust_amount  \
level60_operarea_id
0023                179               968,228.9000                   0.0932
                    31                389,789.0000                   0.0932
                    32                108,341.6250                   0.0932
0058                49              3,791,792.5000                   0.0428
                    10              2,313,388.5000                   0.0641
                    151             2,301,002.2000                   0.1042
                    12              1,575,211.9000                   0.0641
                    22              1,337,020.4000                  -0.1180
                    27              1,050,429.4000                   0.0600
                    173             1,011,901.9000                   0.0600
                    48                993,983.9000                   0.0428
                    230               912,108.4000                   0.1452
                    186               900,595.0000                  -0.0090
8519                222                25,642.5000                   0.0702
                    99                 21,149.1250                   0.0702
                    98                 12,052.2500                   0.0702
                    100                 7,651.8750                   0.0702
                    103                 5,657.6250                   0.0702
                    102                 4,124.5000                   0.0702
                    101                 2,051.6250                   0.0702

                         prof_ratio_rorc_amount  raroec_customer_amount  \
level60_operarea_id
0023                179                  0.0806                  0.1940
                    31                   0.0806                  0.1940
                    32                   0.0806                  0.1940
0058                49                   0.0310                  0.0877
                    10                   0.0619                  0.0814
                    151                  0.0831                  0.1731
                    12                   0.0619                  0.0814
                    22                  -0.1537                 -0.1535
                    27                   0.0687                  0.1149
                    173                  0.0687                  0.1149
                    48                   0.0310                  0.0877
                    230                  0.0533                  0.2407
                    186                 -0.0083                 -0.0136
8519                222                  0.0463                  0.0752
                    99                   0.0463                  0.0752
                    98                   0.0463                  0.0752
                    100                  0.0463                  0.0752
                    103                  0.0463                  0.0752
                    102                  0.0463                  0.0752
                    101                  0.0463                  0.0752

                         rorc_operation_amount  raroec_operation_amount  \
level60_operarea_id
0023                179                 0.0438                   0.0895
                    31                  0.0168                   0.0345
                    32                  0.0540                   0.1101
0058                49                 -0.0393                  -0.0990
                    10                  0.0463                   0.0582
                    151                 0.0268                   0.0439
                    12                  0.0334                   0.0416
                    22                 -0.2164                  -0.2766
                    27                  0.0213                   0.0408
                    173                -0.0030                  -0.0059
                    48                  0.0109                   0.0273
                    230                 0.0017                   0.0030
                    186                -0.1104                  -0.1823
8519                222                -0.0425                  -0.0564
                    99                 -0.0366                  -0.0485
                    98                 -0.0441                  -0.0585
                    100                -0.0949                  -0.1261
                    103                -0.0165                  -0.0219
                    102                -0.2213                  -0.2939
                    101                -0.1233                  -0.1638

                        pool_situation_type motivo_des analisis_neg  \
level60_operarea_id
0023                179                  SI      CI/OI        CP/OP
                    31                   SI      CI/OI        CP/OP
                    32                   SI      CI/OI        CP/OP
0058                49                   SI      CI/OI        CP/ON
                    10                   SI      CI/OI        CP/OP
                    151                  SI      CI/OI        CP/OP
                    12                   SI      CI/OI        CP/OP
                    22                   SI      CI/OI        CN/ON
                    27                   SI      CI/OI        CP/OP
                    173                  SI      CI/OI        CP/ON
                    48                   SI      CI/OI        CP/OP
                    230                  SI      CI/OI        CP/OP
                    186                  SI      CI/OI        CN/ON
8519                222                  SI      CI/OI        CP/ON
                    99                   SI      CI/OI        CP/ON
                    98                   SI      CI/OI        CP/ON
                    100                  SI      CI/OI        CP/ON
                    103                  SI      CI/OI        CP/ON
                    102                  SI      CI/OI        CP/ON
                    101                  SI      CI/OI        CP/ON

                        cancelation_type  rorc_6m_cust_times_number  \
level60_operarea_id
0023                179              NaN                          6
                    31           PARCIAL                          6
                    32               NaN                          6
0058                49               NaN                          6
                    10           PARCIAL                          6
                    151              NaN                          6
                    12           PARCIAL                          6
                    22           PARCIAL                          6
                    27               NaN                          6
                    173              NaN                          6
                    48               NaN                          6
                    230              NaN                          6
                    186              NaN                          6
8519                222              NaN                          6
                    99               NaN                          6
                    98               NaN                          6
                    100              NaN                          6
                    103              NaN                          6
                    102              NaN                          6
                    101              NaN                          6

                        billing_date pool_customer_reg_date pool_exit_date  \
level60_operarea_id
0023                179   2025-06-30             2025-06-30            NaN
                    31    2025-03-31             2025-03-31            NaN
                    32    2025-05-31             2025-05-31            NaN
0058                49    2025-03-31             2025-03-31            NaN
                    10    2023-11-30             2023-11-30            NaN
                    151   2025-05-31             2025-05-31            NaN
                    12    2024-06-30             2024-06-30            NaN
                    22    2024-07-31             2024-07-31            NaN
                    27    2024-09-30             2024-09-30            NaN
                    173   2025-06-30             2025-06-30            NaN
                    48    2024-06-30             2024-06-30            NaN
                    230   2025-06-30             2025-06-30            NaN
                    186   2025-06-30             2025-06-30            NaN
8519                222   2025-06-30             2025-06-30            NaN
                    99    2025-05-31             2025-05-31            NaN
                    98    2025-05-31             2025-05-31            NaN
                    100   2025-05-31             2025-05-31            NaN
                    103   2025-04-30             2025-04-30            NaN
                    102   2025-05-31             2025-05-31            NaN
                    101   2025-04-30             2025-04-30            NaN

                        alerta_com  prof_ratio_rorc_amount_2 valid_model_id  \
level60_operarea_id
0023                179         SC                    0.0832             MA
                    31          SC                    0.0832             MA
                    32          SC                    0.0832             MA
0058                49         NaN                    0.0310             MB
                    10         NaN                    0.0621             MA
                    151         SC                    0.0831             MA
                    12         NaN                    0.0621             MA
                    22         NaN                   -0.1535             MA
                    27         NaN                    0.0687             MA
                    173        NaN                    0.0687             MA
                    48         NaN                    0.0310             MB
                    230        NaN                    0.0537             MA
                    186        NaN                   -0.0083             MA
8519                222        NaN                    0.0240             MA
                    99         NaN                    0.0240             MA
                    98         NaN                    0.0240             MA
                    100        NaN                    0.0240             MA
                    103        NaN                    0.0240             MA
                    102        NaN                    0.0240             MA
                    101        NaN                    0.0240             MA

                         rorc_cliente  rorc_op  new_rorc_op part_closing_date
level60_operarea_id
0023                179        0.1003   0.0600       0.0600        2025-06-30
                    31         0.1003   0.0600       0.0600        2025-06-30
                    32         0.1003   0.0600       0.0600        2025-06-30
0058                49         0.1003   0.0600       0.0600        2025-06-30
                    10         0.1003   0.0600       0.0600        2025-06-30
                    151        0.1003   0.0600       0.0600        2025-06-30
                    12         0.1003   0.0600       0.0600        2025-06-30
                    22         0.1003   0.0600       0.0600        2025-06-30
                    27         0.1003   0.0600       0.0600        2025-06-30
                    173        0.1003   0.0600       0.0600        2025-06-30
                    48         0.1003   0.0600       0.0600        2025-06-30
                    230        0.1003   0.0600       0.0600        2025-06-30
                    186        0.1003   0.0600       0.0600        2025-06-30
8519                222        0.1003   0.0600       0.0600        2025-06-30
                    99         0.1003   0.0600       0.0600        2025-06-30
                    98         0.1003   0.0600       0.0600        2025-06-30
                    100        0.1003   0.0600       0.0600        2025-06-30
                    103        0.1003   0.0600       0.0600        2025-06-30
                    102        0.1003   0.0600       0.0600        2025-06-30
                    101        0.1003   0.0600       0.0600        2025-06-30

In [ ]:
pool_m1_filtered=pool_m1.loc[:,['level60_operarea_id','contract_id','rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount',
    'rorc_operation_amount',
    'rwas_regul_capital_amount',]]

# creamos este dataframe porque abajo cruzamos banca y contrato mes en curso contra mes anterior
# y claro, si el contrato no está en el mes anterior, recogemos a null campos asociados al cliente, lo cual no es correcto
# por que el cliente puede tener otros contratos en el mes anterior y esos campos asociados al cliente no deberían ser null

# por eso creamos este dataframe con los campos asociados al cliente y luego hacemos un merge left sobre la union de banca y contrato
# y cliente, de forma que si el contrato no está en el mes anterior, pero el cliente sí, recogemos los campos asociados al cliente
# del mes anterior
pool_m1_filtered_cli=pool_m1.loc[:,['customer_id','rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount']].rename(mapper={'customer_id':'cliente','rorc_last_m_cust_amount':'rorc_cli_m12',
    'prof_ratio_rorc_amount':'rorc_cli_6m12'},axis='columns')

# eliminamos duplicados, solo necesitamos un registro por cliente
pool_m1_filtered_cli_fixed= pool_m1_filtered_cli.drop_duplicates(subset=['cliente'], keep='first')

In [93]:
pool_m1_filtered_cli_fixed

       cliente  rorc_cli_m12  rorc_cli_6m12
0    012246142        0.0231         0.0018
1    064682707        0.0667         0.0643
2    000059569        0.0800         0.0722
3    000259175       -0.0267         0.0379
4    059835368       -0.0504         0.0325
5    000057385        0.1003         0.0838
7    002362927        0.0603         0.0764
8    029872299        0.0969         0.0964
9    038094323        0.0967         0.0285
13   055890379        0.0660         0.0082
14   000115593        0.0640         0.0604
15   029170892        0.0590         0.0816
16   030695078       -0.0110         0.0086
17   030724363        0.0182         0.0152
18   002715853        0.0622         0.0657
19   005609283       -0.0037         0.0099
20   010228209        0.1262         0.0718
21   034908347       -0.0805        -0.0795
22   011717815        0.0416         0.0558
23   010134184        0.0604         0.0609
24   034807425        0.0589         0.0685
26   014742380        0.0879         0.0696
28   007685983        0.0693         0.0808
29   028915227        0.0720        -0.4649
30   013371101        0.0488        -0.0290
34   035201264        0.1123        -0.0370
35   000992836        0.0514         0.0970
37   007652980        0.0319         0.0317
39   050180900       -0.0707        -0.0994
40   013644107        0.1156         0.0456
41   024442741        0.0234         0.0175
43   000032713        0.1023         0.0963
45   013042517        0.0858         0.0575
46   053704889        0.0773         0.0867
47   035455654        0.1226         0.0735
50   012225332        0.0998         0.0916
51   011097471        0.0607         0.0726
54   001278519        0.0856         0.0822
63   032729761        0.0921         0.0963
66   008271052        0.0237         0.0289
67   001163997        0.0786         0.0813
69   001005370        0.0450         0.0680
70   008072751        0.0854         0.0942
74   021836410        0.1161         0.0993
76   027781126        0.0416        -0.0258
77   005479572        0.0763         0.0577
80   051751124        0.0483         0.0433
82   059949867        0.0675         0.0674
83   017633949        0.0579         0.0569
88   033127399        0.0747         0.0848
89   052979558        0.0256         0.0067
95   003883696        0.1211         0.0300
97   016069816        0.0736         0.0695
98   010426433        0.0648         0.0555
101  000163104        0.0585         0.0672
110  040297019        0.1379         0.0797
112  050339197        0.0467         0.0361
122  009637729        0.0522         0.0546
126  052282112        0.0032        -0.1525
127  000147893        0.0799         0.0262
148  009427237        0.0796         0.0743
178  012054659        0.0855         0.0821
197  028407710       -0.1570        -0.1604

In [94]:
cols_from_base= [
    'contract_id',
    'counterpart_id', 
    'customer_id',  # add index columns
    'term_contract_type',
    'rorc_last_m_cust_amount',
    'prof_ratio_rorc_amount',
    'rorc_operation_amount',
    'rwas_regul_capital_amount',
    'billing_date',
]
df7 = df6.loc[:,cols_from_base]
df7

                                        contract_id counterpart_id  \
level60_operarea_id
0023                179  00000000000000000696082853           0083
                    31   00000000000000000537869112           0300
                    32   00000000000000000691404343           0083
0058                49   00000000000000000679764662           0988
                    10   00000000000000000610773752           0083
                    151  00000000000000000689893684           0083
                    12   00000000000000000584016126           0010
                    22   00000000000000000643922216           0505
                    27   00000000000000000596662002           0516
                    173  00000000000000000549637223           0300
                    48   00000000000000000640634367           0988
                    230  00000000000000000584319910           0010
                    186  00000000000000000697145512           0252
8519                222  00000000000000000694261990           0083
                    99   00000000000000000689369766           0083
                    98   00000000000000000689979632           0083
                    100  00000000000000000692597674           0083
                    103  00000000000000000686895867           0083
                    102  00000000000000000692597223           0083
                    101  00000000000000000688211601           0083

                        customer_id term_contract_type  \
level60_operarea_id
0023                179   012225332                 CP
                    31    012225332                 CP
                    32    012225332                 CP
0058                49    007652980                 LP
                    10    010134184                 LP
                    151   000992836                 LP
                    12    010134184                 CP
                    22    028407710                 LP
                    27    001005370                 CP
                    173   001005370                 CP
                    48    007652980                 LP
                    230   013644107                 CP
                    186   030695078                 CP
8519                222   055890379                 CP
                    99    055890379                 CP
                    98    055890379                 CP
                    100   055890379                 CP
                    103   055890379                 CP
                    102   055890379                 CP
                    101   055890379                 CP

                         rorc_last_m_cust_amount  prof_ratio_rorc_amount  \
level60_operarea_id
0023                179                   0.0932                  0.0806
                    31                    0.0932                  0.0806
                    32                    0.0932                  0.0806
0058                49                    0.0428                  0.0310
                    10                    0.0641                  0.0619
                    151                   0.1042                  0.0831
                    12                    0.0641                  0.0619
                    22                   -0.1180                 -0.1537
                    27                    0.0600                  0.0687
                    173                   0.0600                  0.0687
                    48                    0.0428                  0.0310
                    230                   0.1452                  0.0533
                    186                  -0.0090                 -0.0083
8519                222                   0.0702                  0.0463
                    99                    0.0702                  0.0463
                    98                    0.0702                  0.0463
                    100                   0.0702                  0.0463
                    103                   0.0702                  0.0463
                    102                   0.0702                  0.0463
                    101                   0.0702                  0.0463

                         rorc_operation_amount  rwas_regul_capital_amount  \
level60_operarea_id
0023                179                 0.0438               968,228.9000
                    31                  0.0168               389,789.0000
                    32                  0.0540               108,341.6250
0058                49                 -0.0393             3,791,792.5000
                    10                  0.0463             2,313,388.5000
                    151                 0.0268             2,301,002.2000
                    12                  0.0334             1,575,211.9000
                    22                 -0.2164             1,337,020.4000
                    27                  0.0213             1,050,429.4000
                    173                -0.0030             1,011,901.9000
                    48                  0.0109               993,983.9000
                    230                 0.0017               912,108.4000
                    186                -0.1104               900,595.0000
8519                222                -0.0425                25,642.5000
                    99                 -0.0366                21,149.1250
                    98                 -0.0441                12,052.2500
                    100                -0.0949                 7,651.8750
                    103                -0.0165                 5,657.6250
                    102                -0.2213                 4,124.5000
                    101                -0.1233                 2,051.6250

                        billing_date
level60_operarea_id
0023                179   2025-06-30
                    31    2025-03-31
                    32    2025-05-31
0058                49    2025-03-31
                    10    2023-11-30
                    151   2025-05-31
                    12    2024-06-30
                    22    2024-07-31
                    27    2024-09-30
                    173   2025-06-30
                    48    2024-06-30
                    230   2025-06-30
                    186   2025-06-30
8519                222   2025-06-30
                    99    2025-05-31
                    98    2025-05-31
                    100   2025-05-31
                    103   2025-04-30
                    102   2025-05-31
                    101   2025-04-30

In [95]:
df7_reset = df7.reset_index().drop(columns=['level_1'])

In [96]:
df7_reset

,level60_operarea_id,contract_id,counterpart_id,customer_id,term_contract_type,rorc_last_m_cust_amount,prof_ratio_rorc_amount,rorc_operation_amount,rwas_regul_capital_amount,billing_date
0,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30
1,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31
2,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31
3,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31
4,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30
5,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31
6,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30
7,0058,00000000000000000643922216,0505,028407710,LP,-0.1180,-0.1537,-0.2164,"1,337,020.4000",2024-07-31
8,0058,00000000000000000596662002,0516,001005370,CP,0.0600,0.0687,0.0213,"1,050,429.4000",2024-09-30
9,0058,00000000000000000549637223,0300,001005370,CP,0.0600,0.0687,-0.0030,"1,011,901.9000",2025-06-30
10,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30
11,0058,00000000000000000584319910,0010,013644107,CP,0.1452,0.0533,0.0017,"912,108.4000",2025-06-30
12,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30
13,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30
14,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31
15,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31
16,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31
17,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30
18,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31
19,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30

In [97]:
# Merge the dataframes
df8 = df7_reset.merge(
	pool_m1_filtered,
	how="left",
	on=['level60_operarea_id', 'contract_id'],
	suffixes=("_m", "_m1"),
	indicator=True
)

# -- previous error:  -- TypeError: Cannot setitem on a Categorical with a new category (0), set the categories first 
# -- ** _merge column FUCK US otherwise -- df8 = df7_reset.merge(pool_m1_filtered,how="left",on=['level60_operarea_id', 'contract_id'],suffixes=("_m", "_m1"),indicator=True).fillna(0) -- OK

# Check for Categorical columns and add 0 as a valid category if necessary
for col in df8.select_dtypes(include="category").columns:
	df8[col] = df8[col].cat.add_categories([0])

# Fill NaN values with 0
df8 = df8.fillna(0)

In [98]:
df8

,level60_operarea_id,contract_id,counterpart_id,customer_id,term_contract_type,rorc_last_m_cust_amount_m,prof_ratio_rorc_amount_m,rorc_operation_amount_m,rwas_regul_capital_amount_m,billing_date,rorc_last_m_cust_amount_m1,prof_ratio_rorc_amount_m1,rorc_operation_amount_m1,rwas_regul_capital_amount_m1,_merge
0,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
1,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31,0.0998,0.0916,0.0530,"888,546.0600",both
2,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31,0.0998,0.0916,0.0560,"108,408.2100",both
3,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31,0.0319,0.0317,-0.0427,"3,787,897.2000",both
4,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30,0.0604,0.0609,0.0453,"2,356,884.2000",both
5,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31,0.0514,0.0970,0.0228,"2,323,432.2000",both
6,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30,0.0604,0.0609,0.0317,"1,609,007.6000",both
7,0058,00000000000000000643922216,0505,028407710,LP,-0.1180,-0.1537,-0.2164,"1,337,020.4000",2024-07-31,-0.1570,-0.1604,-0.2186,"1,351,535.6000",both
8,0058,00000000000000000596662002,0516,001005370,CP,0.0600,0.0687,0.0213,"1,050,429.4000",2024-09-30,0.0450,0.0680,0.0088,"1,063,353.1000",both
9,0058,00000000000000000549637223,0300,001005370,CP,0.0600,0.0687,-0.0030,"1,011,901.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
10,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30,0.0319,0.0317,0.0096,"1,026,476.4000",both
11,0058,00000000000000000584319910,0010,013644107,CP,0.1452,0.0533,0.0017,"912,108.4000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
12,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
13,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
14,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31,0.0660,0.0082,-0.0390,"21,133.8850",both
15,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31,0.0660,0.0082,-0.0461,"12,045.1680",both
16,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31,0.0660,0.0082,-0.0821,"7,680.6475",both
17,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30,0.0660,0.0082,-0.0164,"5,657.7600",both
18,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31,0.0660,0.0082,-0.2076,"4,140.4575",both
19,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30,0.0660,0.0082,-0.1214,"2,052.6826",both

In [99]:
import numpy as np
df8_copy = df8.copy()
df8_copy['_merge'] = df8_copy['_merge'].astype('string')


renamed_dict_df8 = {
    'level60_operarea_id':'banca',
    'counterpart_id':'ctpa',
    'customer_id': 'cliente',
    'contract_id': 'contrato_id',
    'term_contract_type':'plazo',
    'rorc_last_m_cust_amount_m':'rorc_cli_m',
    'prof_ratio_rorc_amount_m':'rorc_cli_6m',
    'rorc_operation_amount_m': 'rorc_op_m',
    'rwas_regul_capital_amount_m':'rwas_Tot_m',
    'billing_date':'Fecha_entrada',
    'rorc_last_m_cust_amount_m1':'rorc_cli_m1',
    'prof_ratio_rorc_amount_m1':'rorc_cli_6m1',
    'rorc_operation_amount_m1': 'rorc_op_m1',
    'rwas_regul_capital_amount_m1':'rwas_Tot_m1',
    '_merge':'status_contrato'
}

df8_copy_renamed=df8_copy.rename(mapper=renamed_dict_df8, axis="columns")

df8_copy_renamed

,banca,contrato_id,ctpa,cliente,plazo,rorc_cli_m,rorc_cli_6m,rorc_op_m,rwas_Tot_m,Fecha_entrada,rorc_cli_m1,rorc_cli_6m1,rorc_op_m1,rwas_Tot_m1,status_contrato
0,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
1,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31,0.0998,0.0916,0.0530,"888,546.0600",both
2,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31,0.0998,0.0916,0.0560,"108,408.2100",both
3,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31,0.0319,0.0317,-0.0427,"3,787,897.2000",both
4,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30,0.0604,0.0609,0.0453,"2,356,884.2000",both
5,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31,0.0514,0.0970,0.0228,"2,323,432.2000",both
6,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30,0.0604,0.0609,0.0317,"1,609,007.6000",both
7,0058,00000000000000000643922216,0505,028407710,LP,-0.1180,-0.1537,-0.2164,"1,337,020.4000",2024-07-31,-0.1570,-0.1604,-0.2186,"1,351,535.6000",both
8,0058,00000000000000000596662002,0516,001005370,CP,0.0600,0.0687,0.0213,"1,050,429.4000",2024-09-30,0.0450,0.0680,0.0088,"1,063,353.1000",both
9,0058,00000000000000000549637223,0300,001005370,CP,0.0600,0.0687,-0.0030,"1,011,901.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
10,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30,0.0319,0.0317,0.0096,"1,026,476.4000",both
11,0058,00000000000000000584319910,0010,013644107,CP,0.1452,0.0533,0.0017,"912,108.4000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
12,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
13,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
14,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31,0.0660,0.0082,-0.0390,"21,133.8850",both
15,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31,0.0660,0.0082,-0.0461,"12,045.1680",both
16,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31,0.0660,0.0082,-0.0821,"7,680.6475",both
17,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30,0.0660,0.0082,-0.0164,"5,657.7600",both
18,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31,0.0660,0.0082,-0.2076,"4,140.4575",both
19,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30,0.0660,0.0082,-0.1214,"2,052.6826",both

In [ ]:
pool_m1_filtered_cli_fixed

In [69]:
df8_copy_renamed

,banca,contrato_id,ctpa,cliente,plazo,rorc_cli_m,rorc_cli_6m,rorc_op_m,rwas_Tot_m,Fecha_entrada,rorc_cli_m1,rorc_cli_6m1,rorc_op_m1,rwas_Tot_m1,status_contrato
0,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
1,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31,0.0998,0.0916,0.0530,"888,546.0600",both
2,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31,0.0998,0.0916,0.0560,"108,408.2100",both
3,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31,0.0319,0.0317,-0.0427,"3,787,897.2000",both
4,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30,0.0604,0.0609,0.0453,"2,356,884.2000",both
5,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31,0.0514,0.0970,0.0228,"2,323,432.2000",both
6,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30,0.0604,0.0609,0.0317,"1,609,007.6000",both
7,0058,00000000000000000643922216,0505,028407710,LP,-0.1180,-0.1537,-0.2164,"1,337,020.4000",2024-07-31,-0.1570,-0.1604,-0.2186,"1,351,535.6000",both
8,0058,00000000000000000596662002,0516,001005370,CP,0.0600,0.0687,0.0213,"1,050,429.4000",2024-09-30,0.0450,0.0680,0.0088,"1,063,353.1000",both
9,0058,00000000000000000549637223,0300,001005370,CP,0.0600,0.0687,-0.0030,"1,011,901.9000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
10,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30,0.0319,0.0317,0.0096,"1,026,476.4000",both
11,0058,00000000000000000584319910,0010,013644107,CP,0.1452,0.0533,0.0017,"912,108.4000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
12,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
13,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30,0.0000,0.0000,0.0000,0.0000,left_only
14,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31,0.0660,0.0082,-0.0390,"21,133.8850",both
15,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31,0.0660,0.0082,-0.0461,"12,045.1680",both
16,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31,0.0660,0.0082,-0.0821,"7,680.6475",both
17,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30,0.0660,0.0082,-0.0164,"5,657.7600",both
18,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31,0.0660,0.0082,-0.2076,"4,140.4575",both
19,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30,0.0660,0.0082,-0.1214,"2,052.6826",both

In [100]:
df8_copy_renamed_salida = df8_copy_renamed.merge(
	pool_m1_filtered_cli_fixed,
	how="left",
	on=['cliente'],
	indicator=True
).drop(columns=['rorc_cli_m1','rorc_cli_6m1','_merge']).rename(columns={'rorc_cli_m12':'rorc_cli_m1','rorc_cli_6m12':'rorc_cli_6m1'})

df8_copy_renamed_salida

,banca,contrato_id,ctpa,cliente,plazo,rorc_cli_m,rorc_cli_6m,rorc_op_m,rwas_Tot_m,Fecha_entrada,rorc_op_m1,rwas_Tot_m1,status_contrato,rorc_cli_m1,rorc_cli_6m1
0,0023,00000000000000000696082853,0083,012225332,CP,0.0932,0.0806,0.0438,"968,228.9000",2025-06-30,0.0000,0.0000,left_only,0.0998,0.0916
1,0023,00000000000000000537869112,0300,012225332,CP,0.0932,0.0806,0.0168,"389,789.0000",2025-03-31,0.0530,"888,546.0600",both,0.0998,0.0916
2,0023,00000000000000000691404343,0083,012225332,CP,0.0932,0.0806,0.0540,"108,341.6250",2025-05-31,0.0560,"108,408.2100",both,0.0998,0.0916
3,0058,00000000000000000679764662,0988,007652980,LP,0.0428,0.0310,-0.0393,"3,791,792.5000",2025-03-31,-0.0427,"3,787,897.2000",both,0.0319,0.0317
4,0058,00000000000000000610773752,0083,010134184,LP,0.0641,0.0619,0.0463,"2,313,388.5000",2023-11-30,0.0453,"2,356,884.2000",both,0.0604,0.0609
5,0058,00000000000000000689893684,0083,000992836,LP,0.1042,0.0831,0.0268,"2,301,002.2000",2025-05-31,0.0228,"2,323,432.2000",both,0.0514,0.0970
6,0058,00000000000000000584016126,0010,010134184,CP,0.0641,0.0619,0.0334,"1,575,211.9000",2024-06-30,0.0317,"1,609,007.6000",both,0.0604,0.0609
7,0058,00000000000000000643922216,0505,028407710,LP,-0.1180,-0.1537,-0.2164,"1,337,020.4000",2024-07-31,-0.2186,"1,351,535.6000",both,-0.1570,-0.1604
8,0058,00000000000000000596662002,0516,001005370,CP,0.0600,0.0687,0.0213,"1,050,429.4000",2024-09-30,0.0088,"1,063,353.1000",both,0.0450,0.0680
9,0058,00000000000000000549637223,0300,001005370,CP,0.0600,0.0687,-0.0030,"1,011,901.9000",2025-06-30,0.0000,0.0000,left_only,0.0450,0.0680
10,0058,00000000000000000640634367,0988,007652980,LP,0.0428,0.0310,0.0109,"993,983.9000",2024-06-30,0.0096,"1,026,476.4000",both,0.0319,0.0317
11,0058,00000000000000000584319910,0010,013644107,CP,0.1452,0.0533,0.0017,"912,108.4000",2025-06-30,0.0000,0.0000,left_only,0.1156,0.0456
12,0058,00000000000000000697145512,0252,030695078,CP,-0.0090,-0.0083,-0.1104,"900,595.0000",2025-06-30,0.0000,0.0000,left_only,-0.0110,0.0086
13,8519,00000000000000000694261990,0083,055890379,CP,0.0702,0.0463,-0.0425,"25,642.5000",2025-06-30,0.0000,0.0000,left_only,0.0660,0.0082
14,8519,00000000000000000689369766,0083,055890379,CP,0.0702,0.0463,-0.0366,"21,149.1250",2025-05-31,-0.0390,"21,133.8850",both,0.0660,0.0082
15,8519,00000000000000000689979632,0083,055890379,CP,0.0702,0.0463,-0.0441,"12,052.2500",2025-05-31,-0.0461,"12,045.1680",both,0.0660,0.0082
16,8519,00000000000000000692597674,0083,055890379,CP,0.0702,0.0463,-0.0949,"7,651.8750",2025-05-31,-0.0821,"7,680.6475",both,0.0660,0.0082
17,8519,00000000000000000686895867,0083,055890379,CP,0.0702,0.0463,-0.0165,"5,657.6250",2025-04-30,-0.0164,"5,657.7600",both,0.0660,0.0082
18,8519,00000000000000000692597223,0083,055890379,CP,0.0702,0.0463,-0.2213,"4,124.5000",2025-05-31,-0.2076,"4,140.4575",both,0.0660,0.0082
19,8519,00000000000000000688211601,0083,055890379,CP,0.0702,0.0463,-0.1233,"2,051.6250",2025-04-30,-0.1214,"2,052.6826",both,0.0660,0.0082

In [ ]:
df8_copy_renamed_salida['pct_rorc_cli_var_rel'] = (
    ((df8_copy_renamed_salida['rorc_cli_m'] - df8_copy_renamed_salida['rorc_cli_m1']) / 
     abs(df8_copy_renamed_salida['rorc_cli_m1'])))

df8_copy_renamed_salida['pct_rorc_cli_6m_var_rel'] = (
    ((df8_copy_renamed_salida['rorc_cli_6m'] - df8_copy_renamed_salida['rorc_cli_6m1']) / 
     abs(df8_copy_renamed_salida['rorc_cli_6m1'])))

df8_copy_renamed_salida['pct_rorc_op_var_rel'] = (
    ((df8_copy_renamed_salida['rorc_op_m'] - df8_copy_renamed_salida['rorc_op_m1']) / 
     abs(df8_copy_renamed_salida['rorc_op_m1'])))

df8_copy_renamed_salida['pct_rwas_var'] = (
    ((df8_copy_renamed_salida['rwas_Tot_m'] - df8_copy_renamed_salida['rwas_Tot_m1']) / 
     df8_copy_renamed_salida['rwas_Tot_m1']))

df8_copy_renamed_salida.replace([np.inf, -np.inf], 0, inplace=True)
df8_copy_renamed_salida['status_contrato'] = df8_copy_renamed_salida['status_contrato'].apply(lambda x: 'new' if x == 'left_only' else '')

renamed_dict_df8 = {
    'level60_operarea_id':'banca',
    'counterpart_id':'ctpa',
    'customer_id': 'cliente',
    'contract_id': 'contrato_id',
    'term_contract_type':'plazo',
    'rorc_last_m_cust_amount_m':'rorc_cli_m',
    'prof_ratio_rorc_amount_m':'rorc_cli_6m',
    'rorc_operation_amount_m': 'rorc_op_m',
    'rwas_regul_capital_amount_m':'rwas_Tot_m',
    'billing_date':'Fecha_entrada',
    'rorc_last_m_cust_amount_m1':'rorc_cli_m1',
    'prof_ratio_rorc_amount_m1':'rorc_cli_6m1',
    'rorc_operation_amount_m1': 'rorc_op_m1',
    'rwas_regul_capital_amount_m1':'rwas_Tot_m1',
    '_merge':'status_contrato'
}

df8_copy_renamed_ord = df8_copy_renamed_salida.loc[:,['banca','contrato_id','ctpa','plazo','cliente','rorc_cli_m','rorc_cli_m1','pct_rorc_cli_var_rel',
                                                     'rorc_cli_6m','rorc_cli_6m1','pct_rorc_cli_6m_var_rel',
                                                     'rorc_op_m','rorc_op_m1','pct_rorc_op_var_rel',
                                                     'rwas_Tot_m','rwas_Tot_m1','pct_rwas_var',
                                                     'Fecha_entrada','status_contrato']]

df8_copy_renamed_ord

,banca,ctpa,cliente,plazo,contrato_id,rorc_cli_m,rorc_cli_m1,pct_rorc_cli_var_rel,rorc_cli_6m,rorc_cli_6m1,pct_rorc_cli_6m_var_rel,rorc_op_m,rorc_op_m1,pct_rorc_op_var_rel,rwas_Tot_m,rwas_Tot_m1,pct_rwas_var,Fecha_entrada,status_contrato
0,0023,0083,012225332,CP,00000000000000000696082853,0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0438,0.0000,0.0000,"968,228.9000",0.0000,0.0000,2025-06-30,new
1,0023,0300,012225332,CP,00000000000000000537869112,0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0168,0.0530,-0.6830,"389,789.0000","888,546.0600",-0.5613,2025-03-31,
2,0023,0083,012225332,CP,00000000000000000691404343,0.0932,0.0998,-0.0661,0.0806,0.0916,-0.1201,0.0540,0.0560,-0.0357,"108,341.6250","108,408.2100",-0.0006,2025-05-31,
3,0058,0988,007652980,LP,00000000000000000679764662,0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,-0.0393,-0.0427,0.0796,"3,791,792.5000","3,787,897.2000",0.0010,2025-03-31,
4,0058,0083,010134184,LP,00000000000000000610773752,0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0463,0.0453,0.0221,"2,313,388.5000","2,356,884.2000",-0.0185,2023-11-30,
5,0058,0083,000992836,LP,00000000000000000689893684,0.1042,0.0514,1.0272,0.0831,0.0970,-0.1433,0.0268,0.0228,0.1754,"2,301,002.2000","2,323,432.2000",-0.0097,2025-05-31,
6,0058,0010,010134184,CP,00000000000000000584016126,0.0641,0.0604,0.0613,0.0619,0.0609,0.0164,0.0334,0.0317,0.0536,"1,575,211.9000","1,609,007.6000",-0.0210,2024-06-30,
7,0058,0505,028407710,LP,00000000000000000643922216,-0.1180,-0.1570,0.2484,-0.1537,-0.1604,0.0418,-0.2164,-0.2186,0.0101,"1,337,020.4000","1,351,535.6000",-0.0107,2024-07-31,
8,0058,0516,001005370,CP,00000000000000000596662002,0.0600,0.0450,0.3333,0.0687,0.0680,0.0103,0.0213,0.0088,1.4205,"1,050,429.4000","1,063,353.1000",-0.0122,2024-09-30,
9,0058,0300,001005370,CP,00000000000000000549637223,0.0600,0.0450,0.3333,0.0687,0.0680,0.0103,-0.0030,0.0000,0.0000,"1,011,901.9000",0.0000,0.0000,2025-06-30,new
10,0058,0988,007652980,LP,00000000000000000640634367,0.0428,0.0319,0.3417,0.0310,0.0317,-0.0221,0.0109,0.0096,0.1354,"993,983.9000","1,026,476.4000",-0.0317,2024-06-30,
11,0058,0010,013644107,CP,00000000000000000584319910,0.1452,0.1156,0.2561,0.0533,0.0456,0.1689,0.0017,0.0000,0.0000,"912,108.4000",0.0000,0.0000,2025-06-30,new
12,0058,0252,030695078,CP,00000000000000000697145512,-0.0090,-0.0110,0.1818,-0.0083,0.0086,-1.9651,-0.1104,0.0000,0.0000,"900,595.0000",0.0000,0.0000,2025-06-30,new
13,8519,0083,055890379,CP,00000000000000000694261990,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0425,0.0000,0.0000,"25,642.5000",0.0000,0.0000,2025-06-30,new
14,8519,0083,055890379,CP,00000000000000000689369766,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0366,-0.0390,0.0615,"21,149.1250","21,133.8850",0.0007,2025-05-31,
15,8519,0083,055890379,CP,00000000000000000689979632,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0441,-0.0461,0.0434,"12,052.2500","12,045.1680",0.0006,2025-05-31,
16,8519,0083,055890379,CP,00000000000000000692597674,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0949,-0.0821,-0.1559,"7,651.8750","7,680.6475",-0.0037,2025-05-31,
17,8519,0083,055890379,CP,00000000000000000686895867,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.0165,-0.0164,-0.0061,"5,657.6250","5,657.7600",-0.0000,2025-04-30,
18,8519,0083,055890379,CP,00000000000000000692597223,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.2213,-0.2076,-0.0660,"4,124.5000","4,140.4575",-0.0039,2025-05-31,
19,8519,0083,055890379,CP,00000000000000000688211601,0.0702,0.0660,0.0636,0.0463,0.0082,4.6463,-0.1233,-0.1214,-0.0157,"2,051.6250","2,052.6826",-0.0005,2025-04-30,

In [103]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    df8_copy_renamed_ord.to_excel(writer, sheet_name="top10_per_banca", index=False)

--------------------

#### top10_per_banca_ratios -- (necesita ejecucion top10_per_banca (continuación))

In [187]:
pd.set_option('display.float_format', '{:.6f}'.format)

In [188]:
df8_copy_renamed_ord_percentages = df8_copy_renamed_ord.loc[:,['banca','ctpa','cliente','plazo','contrato_id','rwas_Tot_m','rwas_Tot_m1','status_contrato']].copy()
df8_copy_renamed_ord_percentages

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato
0,0023,0083,012225332,CP,00000000000000000696082853,968228.900000,0.000000,new
1,0023,0300,012225332,CP,00000000000000000537869112,389789.000000,888546.060000,
2,0023,0083,012225332,CP,00000000000000000691404343,108341.625000,108408.210000,
3,0058,0988,007652980,LP,00000000000000000679764662,3791792.500000,3787897.200000,
4,0058,0083,010134184,LP,00000000000000000610773752,2313388.500000,2356884.200000,
5,0058,0083,000992836,LP,00000000000000000689893684,2301002.200000,2323432.200000,
6,0058,0010,010134184,CP,00000000000000000584016126,1575211.900000,1609007.600000,
7,0058,0505,028407710,LP,00000000000000000643922216,1337020.400000,1351535.600000,
8,0058,0516,001005370,CP,00000000000000000596662002,1050429.400000,1063353.100000,
9,0058,0300,001005370,CP,00000000000000000549637223,1011901.900000,0.000000,new
10,0058,0988,007652980,LP,00000000000000000640634367,993983.900000,1026476.400000,
11,0058,0010,013644107,CP,00000000000000000584319910,912108.400000,0.000000,new
12,0058,0252,030695078,CP,00000000000000000697145512,900595.000000,0.000000,new
13,8519,0083,055890379,CP,00000000000000000694261990,25642.500000,0.000000,new
14,8519,0083,055890379,CP,00000000000000000689369766,21149.125000,21133.885000,
15,8519,0083,055890379,CP,00000000000000000689979632,12052.250000,12045.168000,
16,8519,0083,055890379,CP,00000000000000000692597674,7651.875000,7680.647500,
17,8519,0083,055890379,CP,00000000000000000686895867,5657.625000,5657.760000,
18,8519,0083,055890379,CP,00000000000000000692597223,4124.500000,4140.457500,
19,8519,0083,055890379,CP,00000000000000000688211601,2051.625000,2052.682600,

In [189]:
pool_m

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
0,00000000000000000691334334,01821299008300000000019569,0058,0083,CP,BB-,000147893,NaN,BB-,NC,0,BB-,296086.750000,0.087400,0.027800,0.120200,0.036000,0.045300,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.028518,MA,0.100300,0.060000,0.060000,2025-06-30
1,00000000000000000667711952,01822344050500000000190663,0058,0505,LP,B-,034908347,NaN,B-,NC,0,B-,4540.250000,-0.070000,-0.088100,-0.089200,0.017900,0.024600,SI,CI/OI,CN/OP,PARCIAL,6,2025-01-31,2025-01-31,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
2,00000000000000000687067102,01822344008300000000017034,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,40324.250000,-0.070000,-0.088100,-0.089200,-0.107100,-0.142600,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
3,00000000000000000693353710,01822344008300000000017182,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,18069.625000,-0.070000,-0.088100,-0.089200,-0.516300,-0.688400,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.088133,MA,0.100300,0.060000,0.060000,2025-06-30
4,00000000000000000693528484,01822342008300000000033909,0058,0083,CP,B,038094323,NaN,B,NC,0,B,19809.625000,0.141400,0.039000,0.196600,0.022300,0.031000,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.038972,MA,0.100300,0.060000,0.060000,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,01822376008300000000058147,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,19997.875000,0.098300,0.071300,0.163600,0.086200,0.179200,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.071333,ME,0.100300,0.060000,0.060000,2025-06-30
446,00000000000000000695925911,01822376008300000000058154,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,11047.000000,0.098300,0.071300,0.163600,0.064500,0.133900,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.071333,ME,0.100300,0.060000,0.060000,2025-06-30
447,00000000000000000519329576,01821299051100000000031608,0058,0511,CP,A-,000992836,NaN,BB,NC,0,BB,260829.000000,0.104200,0.083100,0.173100,0.175100,0.294400,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.083126,NaN,0.100300,0.060000,0.060000,2025-06-30
448,00000000000000000492897544,01822324051600000000060603,0058,0516,CP,B+,034807425,NaN,B+,NC,0,B+,307073.880000,0.068400,0.065400,0.088200,0.110900,0.142900,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.067195,MA,0.100300,0.060000,0.060000,2025-06-30
449,00000000000000000697419588,01825473001000000000151377,0058,0010,CP,B+,009637729,NaN,B+,NC,0,B+,300069.120000,0.004700,0.045300,0.006000,0.063900,0.088500,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.045290,MA,0.100300,0.060000,0.060000,2025-06-30

In [190]:
df8_copy_renamed_ord_percentages['rwas_banca_Tot_m'] = pool_m[pool_m.pool_situation_type == 'SI']['rwas_regul_capital_amount'].sum()
df8_copy_renamed_ord_percentages['rwas_banca_Tot_m1'] = pool_m1['rwas_regul_capital_amount'].sum()

In [191]:
df8_copy_renamed_ord_percentages

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato,rwas_banca_Tot_m,rwas_banca_Tot_m1
0,0023,0083,012225332,CP,00000000000000000696082853,968228.900000,0.000000,new,39425220.190000,37828075.933500
1,0023,0300,012225332,CP,00000000000000000537869112,389789.000000,888546.060000,,39425220.190000,37828075.933500
2,0023,0083,012225332,CP,00000000000000000691404343,108341.625000,108408.210000,,39425220.190000,37828075.933500
3,0058,0988,007652980,LP,00000000000000000679764662,3791792.500000,3787897.200000,,39425220.190000,37828075.933500
4,0058,0083,010134184,LP,00000000000000000610773752,2313388.500000,2356884.200000,,39425220.190000,37828075.933500
5,0058,0083,000992836,LP,00000000000000000689893684,2301002.200000,2323432.200000,,39425220.190000,37828075.933500
6,0058,0010,010134184,CP,00000000000000000584016126,1575211.900000,1609007.600000,,39425220.190000,37828075.933500
7,0058,0505,028407710,LP,00000000000000000643922216,1337020.400000,1351535.600000,,39425220.190000,37828075.933500
8,0058,0516,001005370,CP,00000000000000000596662002,1050429.400000,1063353.100000,,39425220.190000,37828075.933500
9,0058,0300,001005370,CP,00000000000000000549637223,1011901.900000,0.000000,new,39425220.190000,37828075.933500
10,0058,0988,007652980,LP,00000000000000000640634367,993983.900000,1026476.400000,,39425220.190000,37828075.933500
11,0058,0010,013644107,CP,00000000000000000584319910,912108.400000,0.000000,new,39425220.190000,37828075.933500
12,0058,0252,030695078,CP,00000000000000000697145512,900595.000000,0.000000,new,39425220.190000,37828075.933500
13,8519,0083,055890379,CP,00000000000000000694261990,25642.500000,0.000000,new,39425220.190000,37828075.933500
14,8519,0083,055890379,CP,00000000000000000689369766,21149.125000,21133.885000,,39425220.190000,37828075.933500
15,8519,0083,055890379,CP,00000000000000000689979632,12052.250000,12045.168000,,39425220.190000,37828075.933500
16,8519,0083,055890379,CP,00000000000000000692597674,7651.875000,7680.647500,,39425220.190000,37828075.933500
17,8519,0083,055890379,CP,00000000000000000686895867,5657.625000,5657.760000,,39425220.190000,37828075.933500
18,8519,0083,055890379,CP,00000000000000000692597223,4124.500000,4140.457500,,39425220.190000,37828075.933500
19,8519,0083,055890379,CP,00000000000000000688211601,2051.625000,2052.682600,,39425220.190000,37828075.933500

In [192]:
# agrupado por contrapart_id
ctpa_m_totales = (
    pool_m[pool_m.pool_situation_type == 'SI']
    .groupby('counterpart_id', as_index=False)['rwas_regul_capital_amount']
    .sum()
)

ctpa_m1_totales = pool_m1.groupby('counterpart_id', as_index=False)['rwas_regul_capital_amount'].sum()

# agrupado por customer_id
cliente_m_totales = (
    pool_m[pool_m.pool_situation_type == 'SI']
    .groupby('customer_id', as_index=False)['rwas_regul_capital_amount']
    .sum()
)

cliente_m1_totales = pool_m1.groupby('customer_id', as_index=False)['rwas_regul_capital_amount'].sum()

In [193]:
df9 = df8_copy_renamed_ord_percentages.merge(
    ctpa_m_totales.rename(columns={'counterpart_id': 'ctpa', 'rwas_regul_capital_amount': 'rwas_ctpa_Tot_m'}),
    how='left',
    on='ctpa'
).merge(
    ctpa_m1_totales.rename(columns={'counterpart_id': 'ctpa', 'rwas_regul_capital_amount': 'rwas_ctpa_Tot_m1'}),
    how='left',
    on='ctpa'
).merge(
    cliente_m_totales.rename(columns={'customer_id': 'cliente', 'rwas_regul_capital_amount': 'rwas_cliente_Tot_m'}),
    how='left',
    on='cliente'
).merge(
    cliente_m1_totales.rename(columns={'customer_id': 'cliente', 'rwas_regul_capital_amount': 'rwas_cliente_Tot_m1'}),
    how='left',
    on='cliente'
)

In [194]:
df9

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,status_contrato,rwas_banca_Tot_m,rwas_banca_Tot_m1,rwas_ctpa_Tot_m,rwas_ctpa_Tot_m1,rwas_cliente_Tot_m,rwas_cliente_Tot_m1
0,0023,0083,012225332,CP,00000000000000000696082853,968228.900000,0.000000,new,39425220.190000,37828075.933500,18372347.805000,17800711.724300,1466359.525000,1311523.930000
1,0023,0300,012225332,CP,00000000000000000537869112,389789.000000,888546.060000,,39425220.190000,37828075.933500,2694961.150000,2566361.418000,1466359.525000,1311523.930000
2,0023,0083,012225332,CP,00000000000000000691404343,108341.625000,108408.210000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,1466359.525000,1311523.930000
3,0058,0988,007652980,LP,00000000000000000679764662,3791792.500000,3787897.200000,,39425220.190000,37828075.933500,5110353.275000,4899933.485000,5062834.150000,4910528.022000
4,0058,0083,010134184,LP,00000000000000000610773752,2313388.500000,2356884.200000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,4434608.270000,4499923.234000
5,0058,0083,000992836,LP,00000000000000000689893684,2301002.200000,2323432.200000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,2766053.320000,2764915.457500
6,0058,0010,010134184,CP,00000000000000000584016126,1575211.900000,1609007.600000,,39425220.190000,37828075.933500,3658172.925000,2896673.050000,4434608.270000,4499923.234000
7,0058,0505,028407710,LP,00000000000000000643922216,1337020.400000,1351535.600000,,39425220.190000,37828075.933500,1341560.650000,1356140.467700,1452246.775000,1977691.560000
8,0058,0516,001005370,CP,00000000000000000596662002,1050429.400000,1063353.100000,,39425220.190000,37828075.933500,2994923.770000,3381870.221500,2062331.300000,1063353.100000
9,0058,0300,001005370,CP,00000000000000000549637223,1011901.900000,0.000000,new,39425220.190000,37828075.933500,2694961.150000,2566361.418000,2062331.300000,1063353.100000
10,0058,0988,007652980,LP,00000000000000000640634367,993983.900000,1026476.400000,,39425220.190000,37828075.933500,5110353.275000,4899933.485000,5062834.150000,4910528.022000
11,0058,0010,013644107,CP,00000000000000000584319910,912108.400000,0.000000,new,39425220.190000,37828075.933500,3658172.925000,2896673.050000,917550.525000,15519.693000
12,0058,0252,030695078,CP,00000000000000000697145512,900595.000000,0.000000,new,39425220.190000,37828075.933500,4773207.120000,4451920.250000,4773207.120000,4451920.250000
13,8519,0083,055890379,CP,00000000000000000694261990,25642.500000,0.000000,new,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
14,8519,0083,055890379,CP,00000000000000000689369766,21149.125000,21133.885000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
15,8519,0083,055890379,CP,00000000000000000689979632,12052.250000,12045.168000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
16,8519,0083,055890379,CP,00000000000000000692597674,7651.875000,7680.647500,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
17,8519,0083,055890379,CP,00000000000000000686895867,5657.625000,5657.760000,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
18,8519,0083,055890379,CP,00000000000000000692597223,4124.500000,4140.457500,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100
19,8519,0083,055890379,CP,00000000000000000688211601,2051.625000,2052.682600,,39425220.190000,37828075.933500,18372347.805000,17800711.724300,78329.500000,57624.653100

In [195]:
# % por ctpa dentro del cliente (m y m1)
df9['pct_banca_Tot_m'] = (df9['rwas_Tot_m'] / df9['rwas_banca_Tot_m'])
df9['pct_banca_Tot_m1'] = (df9['rwas_Tot_m1'] / df9['rwas_banca_Tot_m1'])

df9['pct_ctpa_Tot_m'] = (df9['rwas_Tot_m'] / df9['rwas_ctpa_Tot_m'])# * 100
df9['pct_ctpa_Tot_m1'] = (df9['rwas_Tot_m1'] / df9['rwas_ctpa_Tot_m1'])# * 100

df9['pct_cli_Tot_m'] = (df9['rwas_Tot_m'] / df9['rwas_cliente_Tot_m'])# * 100
df9['pct_cli_Tot_m1'] = (df9['rwas_Tot_m1'] / df9['rwas_cliente_Tot_m1'])# * 100

df9['pct_var_banca_Tot_MoM'] = ((df9['pct_banca_Tot_m'] - df9['pct_banca_Tot_m1']) / abs(df9['pct_banca_Tot_m1']))# * 100
df9['pct_var_ctpa_Tot_MoM'] = ((df9['pct_ctpa_Tot_m'] - df9['pct_ctpa_Tot_m1']) / abs(df9['pct_ctpa_Tot_m1']))# * 100
df9['pct_var_cli_Tot_MoM'] = ((df9['pct_cli_Tot_m'] - df9['pct_cli_Tot_m1']) / abs(df9['pct_cli_Tot_m1']))# * 100   

df9.replace([np.inf, -np.inf], 0, inplace=True)


df10 = df9.copy().loc[:,[
    'banca','ctpa','cliente','plazo','contrato_id',
    'rwas_Tot_m','rwas_Tot_m1',
    'rwas_banca_Tot_m',
    'pct_banca_Tot_m',
    'rwas_banca_Tot_m1',
    'pct_banca_Tot_m1',
    'pct_var_banca_Tot_MoM',
    'rwas_ctpa_Tot_m',
    'pct_ctpa_Tot_m',
    'rwas_ctpa_Tot_m1',
    'pct_ctpa_Tot_m1',
    'pct_var_ctpa_Tot_MoM',
    'rwas_cliente_Tot_m',
    'pct_cli_Tot_m',
    'rwas_cliente_Tot_m1', 
    'pct_cli_Tot_m1',
    'pct_var_cli_Tot_MoM',
    'status_contrato'
]]
df10

,banca,ctpa,cliente,plazo,contrato_id,rwas_Tot_m,rwas_Tot_m1,rwas_banca_Tot_m,pct_banca_Tot_m,rwas_banca_Tot_m1,pct_banca_Tot_m1,pct_var_banca_Tot_MoM,rwas_ctpa_Tot_m,pct_ctpa_Tot_m,rwas_ctpa_Tot_m1,pct_ctpa_Tot_m1,pct_var_ctpa_Tot_MoM,rwas_cliente_Tot_m,pct_cli_Tot_m,rwas_cliente_Tot_m1,pct_cli_Tot_m1,pct_var_cli_Tot_MoM,status_contrato
0,0023,0083,012225332,CP,00000000000000000696082853,968228.900000,0.000000,39425220.190000,0.024559,37828075.933500,0.000000,0.000000,18372347.805000,0.052700,17800711.724300,0.000000,0.000000,1466359.525000,0.660294,1311523.930000,0.000000,0.000000,new
1,0023,0300,012225332,CP,00000000000000000537869112,389789.000000,888546.060000,39425220.190000,0.009887,37828075.933500,0.023489,-0.579090,2694961.150000,0.144636,2566361.418000,0.346228,-0.582251,1466359.525000,0.265821,1311523.930000,0.677491,-0.607639,
2,0023,0083,012225332,CP,00000000000000000691404343,108341.625000,108408.210000,39425220.190000,0.002748,37828075.933500,0.002866,-0.041100,18372347.805000,0.005897,17800711.724300,0.006090,-0.031709,1466359.525000,0.073885,1311523.930000,0.082658,-0.106141,
3,0058,0988,007652980,LP,00000000000000000679764662,3791792.500000,3787897.200000,39425220.190000,0.096177,37828075.933500,0.100135,-0.039524,5110353.275000,0.741982,4899933.485000,0.773051,-0.040189,5062834.150000,0.748947,4910528.022000,0.771383,-0.029086,
4,0058,0083,010134184,LP,00000000000000000610773752,2313388.500000,2356884.200000,39425220.190000,0.058678,37828075.933500,0.062305,-0.058218,18372347.805000,0.125917,17800711.724300,0.132404,-0.048994,4434608.270000,0.521667,4499923.234000,0.523761,-0.003998,
5,0058,0083,000992836,LP,00000000000000000689893684,2301002.200000,2323432.200000,39425220.190000,0.058364,37828075.933500,0.061421,-0.049773,18372347.805000,0.125243,17800711.724300,0.130525,-0.040467,2766053.320000,0.831872,2764915.457500,0.840327,-0.010061,
6,0058,0010,010134184,CP,00000000000000000584016126,1575211.900000,1609007.600000,39425220.190000,0.039954,37828075.933500,0.042535,-0.060664,3658172.925000,0.430601,2896673.050000,0.555467,-0.224796,4434608.270000,0.355209,4499923.234000,0.357563,-0.006585,
7,0058,0505,028407710,LP,00000000000000000643922216,1337020.400000,1351535.600000,39425220.190000,0.033913,37828075.933500,0.035728,-0.050815,1341560.650000,0.996616,1356140.467700,0.996604,0.000011,1452246.775000,0.920656,1977691.560000,0.683390,0.347189,
8,0058,0516,001005370,CP,00000000000000000596662002,1050429.400000,1063353.100000,39425220.190000,0.026644,37828075.933500,0.028110,-0.052172,2994923.770000,0.350737,3381870.221500,0.314428,0.115477,2062331.300000,0.509341,1063353.100000,1.000000,-0.490659,
9,0058,0300,001005370,CP,00000000000000000549637223,1011901.900000,0.000000,39425220.190000,0.025666,37828075.933500,0.000000,0.000000,2694961.150000,0.375479,2566361.418000,0.000000,0.000000,2062331.300000,0.490659,1063353.100000,0.000000,0.000000,new
10,0058,0988,007652980,LP,00000000000000000640634367,993983.900000,1026476.400000,39425220.190000,0.025212,37828075.933500,0.027135,-0.070883,5110353.275000,0.194504,4899933.485000,0.209488,-0.071526,5062834.150000,0.196330,4910528.022000,0.209036,-0.060785,
11,0058,0010,013644107,CP,00000000000000000584319910,912108.400000,0.000000,39425220.190000,0.023135,37828075.933500,0.000000,0.000000,3658172.925000,0.249334,2896673.050000,0.000000,0.000000,917550.525000,0.994069,15519.693000,0.000000,0.000000,new
12,0058,0252,030695078,CP,00000000000000000697145512,900595.000000,0.000000,39425220.190000,0.022843,37828075.933500,0.000000,0.000000,4773207.120000,0.188677,4451920.250000,0.000000,0.000000,4773207.120000,0.188677,4451920.250000,0.000000,0.000000,new
13,8519,0083,055890379,CP,00000000000000000694261990,25642.500000,0.000000,39425220.190000,0.000650,37828075.933500,0.000000,0.000000,18372347.805000,0.001396,17800711.724300,0.000000,0.000000,78329.500000,0.327367,57624.653100,0.000000,0.000000,new
14,8519,0083,055890379,CP,00000000000000000689369766,21149.125000,21133.885000,39425220.190000,0.000536,37828075.933500,0.000559,-0.039819,18372347.805000,0.001151,17800711.724300,0.001187,-0.030415,78329.500000,0.270002,57624.653100,0.366751,-0.263800,
15,8519,0083,055890379,CP,00000000000000000689979632,12052.250000,12045.168000,39425220.190000,0.000306,37828075.933500,0.000318,-0.039947,18372347.805000,0.000656,17800711.724300,0.000677,-0.030544,78329.500000,0.153866,57624.653100,0.209028,-0.263898,
16,8519,0083,055890379,CP,00000000000000000692597674,7651.875000,7680.647500,39425220.190000,0.000194,37828075.933500,0.000203,-0.044105,18372347.805000,0.000416,17800711.724300,0.000431,-0.034743,78329.500000,0.097688,57624.653100,0.133288,-0.267086,
17,8519,0083,055890379,CP,00000000000000000686895867,5657.625000,5657.760000,39425220.190000,0.000144,37828075.933500,0.000150,-0.040534,18372347.805000,0.000308,17800711.724300,0.000318,-0.031137,78329.500000,0.072229,57624.653100,0.098183,-0.264348,
18,8519,0083,055890379,CP,00000000000000000692597223,4124.500000,4140.457500,39425220.190000,0.000105,37828075.933500,0.000109,-0.044209,18372347.805000,0.000224,17800711.724300,0.000233,-0.034848,78329.500000,0.052656,57624.653100,0.071852,-0.267165,
19,8519,0083,055890379,CP,00000000000000000688211601,2051.625000,2052.682600,39425220.190000,0.000052,37828075.933500,0.000054,-0.041005,18372347.805000,0.000112,17800711.724300,0.000115,-0.031613,78329.500000,0.026192,57624.653100,0.035622,-0.264709,

In [197]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    df10.to_excel(writer, sheet_name="top10_per_banca_ratios", index=False)

--------------------

In [ ]:
pool_m.groupby(["level60_operarea_id","counterpart_id"]).rwas_regul_capital_amount.mean()

level60_operarea_id  counterpart_id
0023                 0083             463,184.2150
                     0300             389,789.0000
                     0516               4,099.2500
0058                 0010             328,143.5221
                     0083              74,748.1175
                     0210             320,736.2500
                     0252             723,228.9450
                     0300             127,585.7163
                     0501             155,428.3438
                     0505             448,869.9667
                     0511             217,424.4954
                     0516             251,747.9389
                     0988             344,833.4433
8519                 0083               9,249.2836
                     0516              60,502.5000
Name: rwas_regul_capital_amount, dtype: float64

In [ ]:
pool_m.loc[pool_m.counterpart_id != '0083'].groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000057385   84   00000000000000000610018115  01825423001000000000155772
000059569   116  00000000000000000586449710  01825423001000000000155724
            115  00000000000000000546767126  01825423030000155489060109
000115593   54   00000000000000000454313350  01822393030000087896000109
000163104   133  00000000000000000433676095  01825426051600000000049953
            239  00000000000000000483489070  01825426051600000000058643
000259175   77   00000000000000000558268132  01822372051100000000033092
            78   00000000000000000546935949  01822372030000021112000109
            79   00000000000000000680320886  01822372098800060920200080
            205  00000000000000000694803863  01822372098800060920200082
001005370   27   00000000000000000596662002  01822357051600000000078585
            173  00000000000000000549637223  01822357030000397400070109
001278519   33   00000000000000000553752851  01822343030000220118000109
002362927   109  00000000000000000645044849  01822376050100000001781524
002715853   71   00000000000000000555442827  01822345030000850894002109
003883696   85   00000000000000000586528390  01822419030000802149000109
007652980   49   00000000000000000679764662  01822336098800144348400069
            48   00000000000000000640634367  01822336098800144348400051
            191  00000000000000000697824258  01822336098800144348400072
            47   00000000000000000684634211  01822336098800144348400070
007685983   247  00000000000000000697005638  01822344098800166415000047
            246  00000000000000000697005143  01822344098800166415000046
008072751   6    00000000000000000589022395  01822376051600000000077748
008271052   111  00000000000000000637895063  01821299030000153295000909
010134184   12   00000000000000000584016126  01822393001000000000152914
            8    00000000000000000658384215  01822393098800165880900011
010228209   244  00000000000000000402222091  01822332051600000000043863
            137  00000000000000000667032500  01822332050100000001791154
010426433   30   00000000000000000582799852  01822359051600000000076640
011097471   124  00000000000000000546826609  01822346030000368150000909
            123  00000000000000000685671782  01822346050100000001798732
012054659   13   00000000000000000578854416  01822351001000000000150786
012225332   31   00000000000000000537869112  01824899030000033502000909
013644107   230  00000000000000000584319910  01821299001000000000152284
014742380   75   00000000000000000553440366  01825475098800170649200001
028407710   22   00000000000000000643922216  01822327050500000000175580
030695078   186  00000000000000000697145512  01822345025200000000169119
            39   00000000000000000688132471  01822345025200000000168705
            42   00000000000000000684715656  01822345025200000000168577
            40   00000000000000000687500047  01822345025200000000168681
            41   00000000000000000692115582  01822345025200000000168879
034908347   158  00000000000000000587708630  01822344001000000000156286
            1    00000000000000000667711952  01822344050500000000190663
050339197   188  00000000000000000694696573  01822743001000000000151850
051751124   249  00000000000000000555431464  01825651051100000000032996
059835368   68   00000000000000000642362660  01825714051600000000083986
            69   00000000000000000614224075  01825714051600000000080581
059949867   44   00000000000000000575172005  01822338030000673422000109

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000057385   84                 0058           0010                 CP
000059569   116                0058           0010                 CP
            115                0058           0300                 CP
000115593   54                 0058           0300                 CP
000163104   133                0058           0516                 CP
            239                0058           0516                 CP
000259175   77                 0058           0511                 CP
            78                 0058           0300                 CP
            79                 0058           0988                 LP
            205                0058           0988                 LP
001005370   27                 0058           0516                 CP
            173                0058           0300                 CP
001278519   33                 0058           0300                 CP
002362927   109                0058           0501                 LP
002715853   71                 0058           0300                 CP
003883696   85                 0058           0300                 CP
007652980   49                 0058           0988                 LP
            48                 0058           0988                 LP
            191                0058           0988                 LP
            47                 0058           0988                 LP
007685983   247                0058           0988                 CP
            246                0058           0988                 CP
008072751   6                  0058           0516                 CP
008271052   111                0058           0300                 CP
010134184   12                 0058           0010                 CP
            8                  0058           0988                 LP
010228209   244                0058           0516                 CP
            137                0058           0501                 LP
010426433   30                 0058           0516                 CP
011097471   124                0058           0300                 CP
            123                0058           0501                 LP
012054659   13                 0058           0010                 CP
012225332   31                 0023           0300                 CP
013644107   230                0058           0010                 CP
014742380   75                 0058           0988                 LP
028407710   22                 0058           0505                 LP
030695078   186                0058           0252                 CP
            39                 0058           0252                 CP
            42                 0058           0252                 CP
            40                 0058           0252                 CP
            41                 0058           0252                 CP
034908347   158                0058           0010                 CP
            1                  0058           0505                 LP
050339197   188                0058           0010                 CP
051751124   249                0058           0511                 CP
059835368   68                 0058           0516                 CP
            69                 0058           0516                 CP
059949867   44                 0058           0300                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000057385   84                        BB                NaN         BB
000059569   116                      BB-                NaN        BB-
            115                      BB-                NaN        BB-
000115593   54                        B-                NaN         B-
000163104   133                      BB+                NaN         B-
            239                       BB                NaN         B-
000259175   77                       NaN                NaN         BB
            78                        BB                NaN         BB
            79                        BB                NaN         BB
            205                       BB                NaN         BB
001005370   27                       BB+                NaN        BB+
            173                      BB+                NaN        BB+
001278519   33                        BB                NaN         BB
002362927   109                       B+                NaN         B+
002715853   71                       BB+                NaN        BB-
003883696   85                       BB-                NaN        BB-
007652980   49                         B                NaN         B-
            48                         B                NaN         B-
            191                        B                NaN         B-
            47                         B                NaN         B-
007685983   247                       BB                NaN         BB
            246                       BB                NaN         BB
008072751   6                        BB-                NaN        BB-
008271052   111                       B+                NaN         B+
010134184   12                       BB-                NaN        BB-
            8                        BB-                NaN        BB-
010228209   244                      BB+                NaN        BB+
            137                      BB+                NaN        BB+
010426433   30                       BBB                NaN          B
011097471   124                      BB+                NaN        BB+
            123                      BB+                NaN        BB+
012054659   13                        B+                NaN          B
012225332   31                      BBB-                NaN       BBB-
013644107   230                      BB-                NaN        BB-
014742380   75                        B-                NaN         B-
028407710   22                       CC+                NaN        CC+
030695078   186                       B-                NaN         B-
            39                        B-                NaN         B-
            42                        B-                NaN         B-
            40                        B-                NaN         B-
            41                        B-                NaN         B-
034908347   158                       B-                NaN         B-
            1                         B-                NaN         B-
050339197   188                       B+                NaN          B
051751124   249                       BB                NaN         BB
059835368   68                         B                NaN          B
            69                         B                NaN          B
059949867   44                       BB+                NaN        BB+

                rating_status rating_diff rating_var  \
customer_id
000057385   84             NC           0         BB
000059569   116            NC           0        BB-
            115            NC           0        BB-
000115593   54             NC           0         B-
000163104   133            NC           0         B-
            239            NC           0         B-
000259175   77             NC           0         BB
            78             NC           0         BB
            79             NC           0         BB
            205            NC           0         BB
001005370   27             UP           1     BB/BB+
            173            UP           1     BB/BB+
001278519   33             NC           0         BB
002362927   109            NC           0         B+
002715853   71             NC           0        BB-
003883696   85             NC           0        BB-
007652980   49             NC           0         B-
            48             NC           0         B-
            191            NC           0         B-
            47             NC           0         B-
007685983   247            NC           0         BB
            246            NC           0         BB
008072751   6              NC           0        BB-
008271052   111            NC           0         B+
010134184   12             NC           0        BB-
            8              NC           0        BB-
010228209   244            NC           0        BB+
            137            NC           0        BB+
010426433   30             NC           0          B
011097471   124            NC           0        BB+
            123            NC           0        BB+
012054659   13             NC           0          B
012225332   31             NC           0       BBB-
013644107   230            NC           0        BB-
014742380   75             NC           0         B-
028407710   22             NC           0        CC+
030695078   186            NC           0         B-
            39             NC           0         B-
            42             NC           0         B-
            40             NC           0         B-
            41             NC           0         B-
034908347   158            NC           0         B-
            1              NC           0         B-
050339197   188            NC           0          B
051751124   249            UP           1     BB-/BB
059835368   68             NC           0          B
            69             NC           0          B
059949867   44             NC           0        BB+

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000057385   84                618,554.2500                   0.1232
000059569   116               271,377.5000                   0.0741
            115                35,368.7500                   0.0741
000115593   54                331,653.3800                   0.0795
000163104   133               550,715.0000                   0.0611
            239               249,220.1200                   0.0611
000259175   77                169,715.7500                   0.0487
            78                 69,034.1250                   0.0487
            79                  4,217.3750                   0.0487
            205                 2,363.1250                   0.0487
001005370   27              1,050,429.4000                   0.0600
            173             1,011,901.9000                   0.0600
001278519   33                  3,341.8750                   0.0744
002362927   109               168,411.1200                   0.0582
002715853   71                 26,271.6250                   0.0721
003883696   85                126,154.6250                   0.1062
007652980   49              3,791,792.5000                   0.0428
            48                993,983.9000                   0.0428
            191               237,731.0000                   0.0428
            47                 39,326.7500                   0.0428
007685983   247                   621.0000                   0.0397
            246                   439.0000                   0.0397
008072751   6                  97,725.0000                   0.0950
008271052   111               102,653.2500                   0.0618
010134184   12              1,575,211.9000                   0.0641
            8                   6,459.2500                   0.0641
010228209   244               871,212.7500                   0.0744
            137                58,289.0000                   0.0744
010426433   30                155,690.7500                   0.0323
011097471   124               458,579.0000                   0.0642
            123                17,157.8750                   0.0642
012054659   13                 60,760.0000                   0.0731
012225332   31                389,789.0000                   0.0932
013644107   230               912,108.4000                   0.1452
014742380   75                 33,419.3750                   0.0978
028407710   22              1,337,020.4000                  -0.1180
030695078   186               900,595.0000                  -0.0090
            39                831,531.4000                  -0.0090
            42                806,315.9000                  -0.0090
            40                706,623.1000                  -0.0090
            41                682,096.1000                  -0.0090
034908347   158               102,932.1250                  -0.0700
            1                   4,540.2500                  -0.0700
050339197   188               117,228.7500                   0.0382
051751124   249                66,119.7500                   0.0643
059835368   68                 17,505.3750                   0.2207
            69                  2,425.3750                   0.2207
059949867   44                140,213.6200                   0.1049

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000057385   84                   0.0864                  0.1582
000059569   116                  0.0734                  0.1021
            115                  0.0734                  0.1021
000115593   54                   0.0650                  0.1027
000163104   133                  0.0644                  0.2309
            239                  0.0644                  0.2309
000259175   77                   0.0263                  0.0726
            78                   0.0263                  0.0726
            79                   0.0263                  0.0726
            205                  0.0263                  0.0726
001005370   27                   0.0687                  0.1149
            173                  0.0687                  0.1149
001278519   33                   0.0834                  0.0840
002362927   109                  0.0741                  0.0743
002715853   71                   0.0662                  0.1228
003883696   85                   0.0355                  0.1784
007652980   49                   0.0310                  0.0877
            48                   0.0310                  0.0877
            191                  0.0310                  0.0877
            47                   0.0310                  0.0877
007685983   247                  0.0735                  0.0461
            246                  0.0735                  0.0461
008072751   6                    0.0930                  0.1102
008271052   111                  0.0349                  0.0747
010134184   12                   0.0619                  0.0814
            8                    0.0619                  0.0814
010228209   244                  0.0724                  0.1094
            137                  0.0724                  0.1094
010426433   30                   0.0488                  0.1196
011097471   124                  0.0652                  0.0887
            123                  0.0652                  0.0887
012054659   13                   0.0898                  0.0852
012225332   31                   0.0806                  0.1940
013644107   230                  0.0533                  0.2407
014742380   75                   0.0727                  0.1256
028407710   22                  -0.1537                 -0.1535
030695078   186                 -0.0083                 -0.0136
            39                  -0.0083                 -0.0136
            42                  -0.0083                 -0.0136
            40                  -0.0083                 -0.0136
            41                  -0.0083                 -0.0136
034908347   158                 -0.0881                 -0.0892
            1                   -0.0881                 -0.0892
050339197   188                  0.0414                  0.0563
051751124   249                  0.0464                  0.0947
059835368   68                   0.0806                  0.2896
            69                   0.0806                  0.2896
059949867   44                   0.0804                  0.1527

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000057385   84                  0.0478                   0.0606
000059569   116                 0.0532                   0.0730
            115                -0.0183                  -0.0256
000115593   54                  0.0298                   0.0390
000163104   133                 0.0542                   0.2084

------------------

#### cross tab - pruebas -- nada

In [ ]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize=).fillna(0)

In [ ]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum", margins=True, margins_name="Total").fillna(0)

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
000032713,0.0000,"266,977.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"266,977.7500"
000057385,"618,554.2500","115,831.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"734,386.1250"
000059569,"271,377.5000","325,520.2500",0.0000,"35,368.7500",0.0000,0.0000,0.0000,0.0000,0.0000,"632,266.5000"
000115593,0.0000,"318,513.5000",0.0000,"331,653.3800",0.0000,0.0000,0.0000,0.0000,0.0000,"650,166.8800"
000147893,0.0000,"663,894.8700",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"663,894.8700"
000163104,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"799,935.1200",0.0000,"799,935.1200"
000259175,0.0000,"230,066.8750",0.0000,"69,034.1250",0.0000,0.0000,"169,715.7500",0.0000,"6,580.5000","475,397.2500"
000992836,0.0000,"2,766,053.3200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"2,766,053.3200"
001005370,0.0000,0.0000,0.0000,"1,011,901.9000",0.0000,0.0000,0.0000,"1,050,429.4000",0.0000,"2,062,331.3000"
001163997,0.0000,"163,282.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"163,282.2500"
001278519,0.0000,"15,021.6250",0.0000,"3,341.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"18,363.5000"
002362927,0.0000,"1,924,142.3750",0.0000,0.0000,"168,411.1200",0.0000,0.0000,0.0000,0.0000,"2,092,553.4950"
002715853,0.0000,"141,585.3750",0.0000,"26,271.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"167,857.0000"
003883696,0.0000,"37,121.2500",0.0000,"126,154.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"163,275.8750"
005479572,0.0000,"49,819.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,819.6250"
005609283,0.0000,"117,063.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"117,063.0000"
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"5,062,834.1500","5,062,834.1500"
007685983,0.0000,"571,436.1300",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,060.0000","572,496.1300"
008072751,0.0000,"31,818.5000",0.0000,0.0000,0.0000,0.0000,0.0000,"97,725.0000",0.0000,"129,543.5000"
008271052,0.0000,"62,533.7500",0.0000,"102,653.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"165,187.0000"
009427237,0.0000,"190,098.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"190,098.7500"
009637729,0.0000,"234,792.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"234,792.3750"
010134184,"1,575,211.9000","2,852,937.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"6,459.2500","4,434,608.2700"
010228209,0.0000,0.0000,0.0000,0.0000,"58,289.0000",0.0000,0.0000,"871,212.7500",0.0000,"929,501.7500"
010426433,0.0000,"121,388.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"155,690.7500",0.0000,"277,079.6250"
011097471,0.0000,"163,626.6250",0.0000,"458,579.0000","17,157.8750",0.0000,0.0000,0.0000,0.0000,"639,363.5000"
011717815,0.0000,"209,135.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"209,135.3750"
012054659,"60,760.0000","104,795.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"165,555.6250"
012225332,0.0000,"1,076,570.5250",0.0000,"389,789.0000",0.0000,0.0000,0.0000,0.0000,0.0000,"1,466,359.5250"
012246142,0.0000,"195,098.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"195,098.1200"
013042517,0.0000,"154,671.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"154,671.0000"
013371101,0.0000,"9,787.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"9,787.7500"
013644107,"912,108.4000","5,442.1250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"917,550.5250"
014742380,0.0000,"124,007.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"33,419.3750","157,426.6250"
016069816,0.0000,"533,289.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"533,289.0000"
017633949,0.0000,"59,886.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"59,886.2500"
021836410,0.0000,"56,599.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"56,599.2500"
024442741,0.0000,"181,997.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"181,997.3750"
027781126,0.0000,"115,397.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"115,397.2500"
028407710,0.0000,"115,226.3750",0.0000,0.0000,0.0000,"1,337,020.4000",0.0000,0.0000,0.0000,"1,452,246.7750"
028915227,0.0000,"130,412.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"130,412.0000"
029170892,0.0000,"1,214,645.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,214,645.1000"
029872299,0.0000,"155,075.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"155,075.3750"
030695078,0.0000,0.0000,"4,773,207.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"4,773,207.1200"
030724363,0.0000,"110,213.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"110,213.3750"
032729761,0.0000,"132,286.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"132,286.2500"
033127399,0.0000,"263,737.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"263,737.6250"
034807425,0.0000,"36,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,753.0000"
034908347,"102,932.1250","82,025.1250",0.0000,0.0000,0.0000,"4,540.2500",0.0000,0.0000,0.0000,"189,497.5000"
035201264,0.0000,"36,757.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,757.5000"
035455654,0.0000,"123,931.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"123,931.5000"
038094323,0.0000,"80,992.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"80,992.8750"
040297019,0.0000,"391,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"391,753.0000"
050180900,0.0000,"49,761.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,761.6250"
050339197,"117,228.7500","182,644.6200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"299,873.3700"
051751124,0.0000,"556,540.7500",0.0000,0.0000,0.0000,0.0000,"66,119.7500",0.0000,0.0000,"622,660.5000"
052282112,0.0000,"22,654.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"22,654.7500"
052979558,0.0000,"73,005.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"73,005.7500"
053704889,0.0000,"243,143.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"243,143.0000"
055890379,0.0000,"78,329.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"78,329.5000"
059835368,0.0000,"27,664.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"19,930.7500",0.0000,"47,595.0000"
059949867,0.0000,"66,480.0000",0.0000,"140,213.6200",0.0000,0.0000,0.0000,0.0000,0.0000,"206,693.6200"
064682707,0.0000,"8,111.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"8,111.5000"
Total,"3,658,172.9250","18,372,347.8050","4,773,207.1200","2,694,961.1500","243,857.9950","1,341,560.6500","235,835.5000","2,994,923.7700","5,110,353.2750","39,425,220.1900"

In [ ]:
3$CUR!2ra

In [ ]:
margins=True, margins_name="Total"normalize=True .nlargest(10, "Total")

In [ ]:
618554.2500 / 39425220.1900

In [ ]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize='columns').fillna(0).style.background_gradient(cmap='viridis', axis=None)

In [ ]:
filtered_data

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
Total,9.2788,46.6005,12.1070,6.8356,0.6185,3.4028,0.5982,7.5965,12.9621,100.0000
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.8416,12.8416
030695078,0.0000,0.0000,12.1070,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.1070
010134184,3.9954,7.2363,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0164,11.2482
000992836,0.0000,7.0159,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,7.0159
002362927,0.0000,4.8805,0.0000,0.0000,0.4272,0.0000,0.0000,0.0000,0.0000,5.3077
001005370,0.0000,0.0000,0.0000,2.5666,0.0000,0.0000,0.0000,2.6644,0.0000,5.2310
012225332,0.0000,2.7307,0.0000,0.9887,0.0000,0.0000,0.0000,0.0000,0.0000,3.7193
028407710,0.0000,0.2923,0.0000,0.0000,0.0000,3.3913,0.0000,0.0000,0.0000,3.6835
029170892,0.0000,3.0809,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.0809

-------------------------

#### quick check of data pivot tables (pool_m, pool_m1)

##### area, ctpa, count contracts, sum rwas_regul_capital_amount

In [3]:
# area, ctpa, count contracts, sum rwas_regul_capital_amount

# filtramos por pool_situation_type = 'SI' porque en pool_m1 solo tenemos SI

m = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2             1,076,570.5250
                    0300                      1               389,789.0000
0058                0010                      7             3,658,172.9250
                    0083                    197            17,217,447.7800
                    0252                      7             4,773,207.1200
                    0300                     10             2,305,172.1500
                    0501                      3               243,857.9950
                    0505                      2             1,341,560.6500
                    0511                      2               235,835.5000
                    0516                      8             2,994,923.7700
                    0988                     10             5,110,353.2750
8519                0083                      7                78,329.5000
Total                                       256            39,425,220.1900

In [4]:
m_1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m_1

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2               422,977.8700
                    0300                      1               888,546.0600
0058                0010                      5             2,896,673.0500
                    0083                    200            17,320,109.2012
                    0252                      6             4,451,920.2500
                    0300                     13             1,677,815.3580
                    0501                      3               247,560.5550
                    0505                      2             1,356,140.4677
                    0511                      3               226,904.7620
                    0516                     11             3,381,870.2215
                    0988                      7             4,899,933.4850
8519                0083                      8                57,624.6531
Total                                       261            37,828,075.9335

##### area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

In [5]:
# area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

# quick check of data - term_contract_type (BASE for next steps)
# --------------------------------
m_cplp = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m1_cplp = pool_m1.pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

In [6]:
m_cplp

                                   count                       sum  \
term_contract_type                    CP  LP Total              CP
level60_operarea_id counterpart_id
0023                0083               2   0     2  1,076,570.5250
                    0300               1   0     1    389,789.0000
0058                0010               7   0     7  3,658,172.9250
                    0083             189   8   197  9,895,869.6100
                    0252               7   0     7  4,773,207.1200
                    0300              10   0    10  2,305,172.1500
                    0501               0   3     3          0.0000
                    0505               0   2     2          0.0000
                    0511               2   0     2    235,835.5000
                    0516               8   0     8  2,994,923.7700
                    0988               2   8    10      1,060.0000
8519                0083               7   0     7     78,329.5000
Total                                235  21   256 25,408,930.1000


term_contract_type                              LP           Total
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250
                    0300                    0.0000    389,789.0000
0058                0010                    0.0000  3,658,172.9250
                    0083            7,321,578.1700 17,217,447.7800
                    0252                    0.0000  4,773,207.1200
                    0300                    0.0000  2,305,172.1500
                    0501              243,857.9950    243,857.9950
                    0505            1,341,560.6500  1,341,560.6500
                    0511                    0.0000    235,835.5000
                    0516                    0.0000  2,994,923.7700
                    0988            5,109,293.2750  5,110,353.2750
8519                0083                    0.0000     78,329.5000
Total                              14,016,290.0900 39,425,220.1900

In [4]:
m_cplp_SA

                                   count                     sum              \
term_contract_type                    CP LP Total             CP          LP
level60_operarea_id counterpart_id
0023                0083               1  0     1   312,982.1200      0.0000
0058                0010               1  0     1     8,912.5000      0.0000
                    0083              87  2    89 4,596,569.0924 52,773.0250
                    0252               1  0     1 1,012,624.4400      0.0000
                    0300               4  0     4   111,305.3200      0.0000
                    0511               2  0     2   151,676.1400      0.0000
                    0516               5  0     5 1,166,349.5315      0.0000
                    0988               0  1     1         0.0000  2,042.6250
8519                0083               2  0     2     4,914.0525      0.0000
Total                                103  3   106 7,365,333.1964 54,815.6500


term_contract_type                          Total
level60_operarea_id counterpart_id
0023                0083             312,982.1200
0058                0010               8,912.5000
                    0083           4,649,342.1174
                    0252           1,012,624.4400
                    0300             111,305.3200
                    0511             151,676.1400
                    0516           1,166,349.5315
                    0988               2,042.6250
8519                0083               4,914.0525
Total                              7,420,148.8464

In [7]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    ('count', 'CP'),
    ('count', 'LP'),
    ('count', 'Total'),
    ('sum', 'CP'),
    ('sum', 'LP'),
    ('sum', 'Total')
]

# Calculate the difference for the selected columns
diff_m_m1 = m_cplp[cols_to_compare].sub(m1_cplp[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparison = pd.concat(
    [
        m_cplp[cols_to_compare].add_suffix('_m'),
        m1_cplp[cols_to_compare].add_suffix('_m1'),
        diff_m_m1.add_suffix('_diff'),
        m_cplp_SA[cols_to_compare].add_suffix('_SA'),
        m_cplp_SI_mes[cols_to_compare].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0)

comparison

                                   count_m                        sum_m  \
term_contract_type                    CP_m LP_m Total_m            CP_m
level60_operarea_id counterpart_id
0023                0083                 2    0       2  1,076,570.5250
                    0300                 1    0       1    389,789.0000
0058                0010                 7    0       7  3,658,172.9250
                    0083               189    8     197  9,895,869.6100
                    0252                 7    0       7  4,773,207.1200
                    0300                10    0      10  2,305,172.1500
                    0501                 0    3       3          0.0000
                    0505                 0    2       2          0.0000
                    0511                 2    0       2    235,835.5000
                    0516                 8    0       8  2,994,923.7700
                    0988                 2    8      10      1,060.0000
8519                0083                 7    0       7     78,329.5000
Total                                  235   21     256 25,408,930.1000

                                                                   count_m1  \
term_contract_type                            LP_m         Total_m    CP_m1
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250        2
                    0300                    0.0000    389,789.0000        1
0058                0010                    0.0000  3,658,172.9250        5
                    0083            7,321,578.1700 17,217,447.7800      191
                    0252                    0.0000  4,773,207.1200        6
                    0300                    0.0000  2,305,172.1500       13
                    0501              243,857.9950    243,857.9950        0
                    0505            1,341,560.6500  1,341,560.6500        0
                    0511                    0.0000    235,835.5000        3
                    0516                    0.0000  2,994,923.7700       11
                    0988            5,109,293.2750  5,110,353.2750        0
8519                0083                    0.0000     78,329.5000        8
Total                              14,016,290.0900 39,425,220.1900      240

                                                           sum_m1  \
term_contract_type                 LP_m1 Total_m1           CP_m1
level60_operarea_id counterpart_id
0023                0083               0        2    422,977.8700
                    0300               0        1    888,546.0600
0058                0010               0        5  2,896,673.0500
                    0083               9      200 10,108,617.8602
                    0252               0        6  4,451,920.2500
                    0300               0       13  1,677,815.3580
                    0501               3        3          0.0000
                    0505               2        2          0.0000
                    0511               0        3    226,904.7620
                    0516               0       11  3,381,870.2215
                    0988               7        7          0.0000
8519                0083               0        8     57,624.6531
Total                                 21      261 24,112,950.0848

                                                                   count_diff  \
term_contract_type                           LP_m1        Total_m1    CP_diff
level60_operarea_id counterpart_id
0023                0083                    0.0000    422,977.8700          0
                    0300                    0.0000    888,546.0600          0
0058                0010                    0.0000  2,896,673.0500          2
                    0083            7,211,491.3410 17,320,109.2012         -2
                    0252                    0.0000  4,451,920.2500          1
                    0300                    0.0000  1,677,815.3580         -3
                    0501              247,560.5550    247,560.5550          0
                    0505            1,356,140.4677  1,356,140.4677          0
                    0511                    0.0000    226,904.7620         -1
                    0516                    0.0000  3,381,870.2215         -3
                    0988            4,899,933.4850  4,899,933.4850          2
8519                0083                    0.0000     57,624.6531         -1
Total                              13,715,125.8487 37,828,075.9335         -5

                                                            sum_diff  \
term_contract_type                 LP_diff Total_diff        CP_diff
level60_operarea_id counterpart_id
0023                0083                 0          0   653,592.6550
                    0300                 0          0  -498,757.0600
0058                0010                 0          2   761,499.8750
                    0083                -1         -3  -212,748.2502
                    0252                 0          1   321,286.8700
                    0300                 0         -3   627,356.7920
                    0501                 0          0         0.0000
                    0505                 0          0         0.0000
                    0511                 0         -1     8,930.7380
                    0516                 0         -3  -386,946.4515
                    0988                 1          3     1,060.0000
8519                0083                 0         -1    20,704.8469
Total                                    0         -5 1,295,980.0152

                                                               count_SA  \
term_contract_type                      LP_diff     Total_diff    CP_SA
level60_operarea_id counterpart_id
0023                0083                 0.0000   653,592.6550   1.0000
                    0300                 0.0000  -498,757.0600   0.0000
0058                0010                 0.0000   761,499.8750   1.0000
                    0083           110,086.8290  -102,661.4212  87.0000
                    0252                 0.0000   321,286.8700   1.0000
                    0300                 0.0000   627,356.7920   4.0000
                    0501            -3,702.5600    -3,702.5600   0.0000
                    0505           -14,579.8177   -14,579.8177   0.0000
                    0511                 0.0000     8,930.7380   2.0000
                    0516                 0.0000  -386,946.4515   5.0000
                    0988           209,359.7900   210,419.7900   0.0000
8519                0083                 0.0000    20,704.8469   2.0000
Total                              301,164.2413 1,597,144.2565 103.0000

                                                           sum_SA              \
term_contract_type                  LP_SA Total_SA          CP_SA       LP_SA
level60_operarea_id counterpart_id
0023                0083           0.0000   1.0000   312,982.1200      0.0000
                    0300           0.0000   0.0000         0.0000      0.0000
0058                0010           0.0000   1.0000     8,912.5000      0.0000
                    0083           2.0000  89.0000 4,596,569.0924 52,773.0250
                    0252           0.0000   1.0000 1,012,624.4400      0.0000
                    0300           0.0000   4.0000   111,305.3200      0.0000
                    0501           0.0000   0.0000         0.0000      0.0000
                    0505           0.0000   0.0000         0.0000      0.0000
                    0511           0.0000   2.0000   151,676.1400      0.0000
                    0516           0.0000   5.0000 1,166,349.5315      0.0000
                    0988           1.0000   1.0000         0.0000  2,042.6250
8519                0083           0.0000   2.0000     4,914.0525      0.0000
Total                              3.0000 106.0000 7,365,333.1964 54,815.6500

                                                  count_SI_mes            \
term_contract_type                       Total_SA    CP_SI_mes LP_SI_mes
level60_operarea_id counterpart_id
0023                0083             312,982.1200       1.0000    0.0000
                    0300                   0.0000       0.0000    0.0000
0058                0010               8,912.5000       3.0000    0.0000
                    0083           4,649,342.1174      85.0000    1.0000
                    0252           1,012,624.4400       2.0000    0.0000
                    0300             111,305.3200       1.0000    0.0000
                    0501                   0.0000       0.0000    0.0000
                    0505                   0.0000       0.0000    0.0000
                    0511             151,676.1400       1.0000    0.0000
                    0516           1,166,349.5315       2.0000    0.0000
                    0988               2,042.6250       2.0000    2.0000
8519                0083               4,914.0525       1.0000    0.0000
Total                              7,420,148.8464      98.0000    3.0000

                                                     sum_SI_mes               \
term_contract_type                 Total_SI_mes       CP_SI_mes    LP_SI_mes
level60_operarea_id counterpart_id
0023                0083                 1.0000    968,228.9000       0.0000
                    0300                 0.0000          0.0000       0.0000
0058                0010                 3.0000  1,132,269.2750       0.0000
                    0083                86.0000  4,504,783.9850 408,940.7500
                    0252                 2.0000  1,449,976.0000       0.0000
                    0300                 1.0000  1,011,901.9000       0.0000
                    0501                 0.0000          0.0000       0.0000
                    0505                 0.0000          0.0000       0.0000
                    0511                 1.0000     66,119.7500       0.0000
                    0516                 2.0000  1,120,432.8700       0.0000
                    0988                 4.0000      1,060.0000 240,094.1250
8519                0083                 1.0000     25,642.5000       0.0000
Total                                  101.0000 10,280,415.1800 649,034.8750


term_contract_type                    Total_SI_mes
level60_operarea_id counterpart_id
0023                0083              968,228.9000
                    0300                    0.0000
0058                0010            1,132,269.2750
                    0083            4,913,724.7350
                    0252            1,449,976.0000
                    0300            1,011,901.9000
                    0501                    0.0000
                    0505                    0.0000
                    0511               66,119.7500
                    0516            1,120,432.8700
                    0988              241,154.1250
8519                0083               25,642.5000
Total                              10,929,450.0550

# GUARDO LA MATRIZ DE DIFERENCIAS
# --------------------------------------
comparison.to_excel("comparison_m_m1.xlsx")

# option 2
def format_col(col):
    if isinstance(col, tuple):
        return f"{col[1]}_{col[0]}"  # e.g., A_2020
    return col

df_flat.columns = [format_col(c) for c in df_flat.columns]

# 3. Rename index columns
renamed_dict = {
    'banca_': 'banca',
    'ctpa_': 'ctpa',
    'count_level_op': 'contract_count',
    'sum_level_op': 'contract_sum',
    'count_rwas': 'rwas_count',
    'sum_rwas': 'rwas_sum'
}

df_flat=df_flat.rename(mapper=renamed_dict, axis="columns")

In [8]:
comparison = comparison.reset_index()

comparison.columns = [
    '_'.join(map(str, col)).strip() if isinstance(col, tuple) else col
    for col in comparison.columns
]

In [9]:
comparison

,level60_operarea_id_,counterpart_id_,count_m_CP_m,count_m_LP_m,count_m_Total_m,sum_m_CP_m,sum_m_LP_m,sum_m_Total_m,count_m1_CP_m1,count_m1_LP_m1,count_m1_Total_m1,sum_m1_CP_m1,sum_m1_LP_m1,sum_m1_Total_m1,count_diff_CP_diff,count_diff_LP_diff,count_diff_Total_diff,sum_diff_CP_diff,sum_diff_LP_diff,sum_diff_Total_diff,count_SA_CP_SA,count_SA_LP_SA,count_SA_Total_SA,sum_SA_CP_SA,sum_SA_LP_SA,sum_SA_Total_SA,count_SI_mes_CP_SI_mes,count_SI_mes_LP_SI_mes,count_SI_mes_Total_SI_mes,sum_SI_mes_CP_SI_mes,sum_SI_mes_LP_SI_mes,sum_SI_mes_Total_SI_mes
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

import pandas as pd

# Step 1: Load the data
# df = pd.read_csv("your_data.csv")

# Step 2: Remove the 'Total' row if it exists
comparison33 = comparison[comparison['level60_operarea_id_'] != 'Total']


# Step 3: Convert number-like strings with commas to floats (for all except ID columns)
id_cols = ['level60_operarea_id_', 'counterpart_id_']
numeric_cols = [col for col in comparison33.columns if col not in id_cols]

for col in numeric_cols:
    comparison33[col] = comparison33[col].astype(str).str.replace(',', '')
    comparison33[col] = pd.to_numeric(comparison33[col], errors='coerce')

# Step 4: Create a copy for the percentage output
df_percent = comparison33.copy()

# Step 5: Calculate percentages only on numeric columns
df_percent[numeric_cols] = comparison33[numeric_cols].div(comparison33[numeric_cols].sum()) * 100

# Step 6: Optional - Round percentages
df_percent[numeric_cols] = df_percent[numeric_cols].round(2)

# Now df_percent has percentage values, and ID columns are untouched

In [26]:
renamed_dict = {
    'level60_operarea_id_': 'banca',
    'counterpart_id_': 'ctpa',
    'count_m_CP_m': 'n_cont_CP_m',
    'count_m_LP_m': 'n_cont_LP_m',
    'count_m_Total_m': 'n_cont_Tot_m',
    'sum_m_CP_m': 'rwas_CP_m',
    'sum_m_LP_m': 'rwas_LP_m',
    'sum_m_Total_m': 'rwas_Tot_m',
    'count_m1_CP_m1': 'n_cont_CP_m1',
    'count_m1_LP_m1': 'n_cont_LP_m1',
    'count_m1_Total_m1': 'n_cont_Tot_m1',
    'sum_m1_CP_m1': 'rwas_CP_m1',
    'sum_m1_LP_m1': 'rwas_LP_m1',
    'sum_m1_Total_m1': 'rwas_Tot_m1',
    'count_diff_CP_diff': 'n_cont_CP_diff',
    'count_diff_LP_diff': 'n_cont_LP_diff',
    'count_diff_Total_diff': 'n_cont_Tot_diff',
    'sum_diff_CP_diff': 'rwas_CP_diff',
    'sum_diff_LP_diff': 'rwas_LP_diff',
    'sum_diff_Total_diff': 'rwas_Tot_diff',
    'count_SA_CP_SA': 'n_cont_CP_SA',
    'count_SA_LP_SA': 'n_cont_LP_SA',
    'count_SA_Total_SA': 'n_cont_Tot_SA',
    'sum_SA_CP_SA': 'rwas_CP_SA',
    'sum_SA_LP_SA': 'rwas_LP_SA',
    'sum_SA_Total_SA': 'rwas_Tot_SA',
    'count_SI_mes_CP_SI_mes': 'n_cont_CP_SI_m',
    'count_SI_mes_LP_SI_mes': 'n_cont_LP_SI_m',
    'count_SI_mes_Total_SI_mes': 'n_cont_Tot_SI_m',
    'sum_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'sum_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'sum_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_renamed=comparison.rename(mapper=renamed_dict, axis="columns")

In [ ]:
# analisis contrapartidas por bancas - m vs m1 vs SA vs SI_mes ()

In [27]:
comparison_renamed

,banca,ctpa,n_cont_CP_m,n_cont_LP_m,n_cont_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_cont_CP_m1,n_cont_LP_m1,n_cont_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_cont_CP_diff,n_cont_LP_diff,n_cont_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_cont_CP_SA,n_cont_LP_SA,n_cont_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_cont_CP_SI_m,n_cont_LP_SI_m,n_cont_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [28]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed.to_excel(writer, sheet_name="banca_ctpa_cont_SA_SI", index=False)

In [ ]:
Column Name	Description								
banca	Identificador del tipo de banca								
ctpa	Identificador de la contrapartida asociada a la banca (area_id)								
n_cont_CP_m	numero contratos corto plazo de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_m	numero contratos largo plazo de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_m	numero total de contratos cp + lp de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_m	suma de aprs de los contratos de corto plazo de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_m	suma de aprs de los contratos de largo plazo de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_m	suma del total de aprs cp + lp de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_CP_m1	numero contratos corto plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_LP_m1	numero contratos largo plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_Tot_m1	numero total de contratos cp + lp de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_CP_m1	suma de aprs de los contratos de corto plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_LP_m1	suma de aprs de los contratos de largo plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_Tot_m1	suma del total de aprs cp + lp de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_CP_diff	diferencia mes actual (m) contra mes anterior (m1) en el numero de contratos de corto plazo de la contrapartida perteneciente a esa banca 								
n_cont_LP_diff	diferencia mes actual (m) contra mes anterior (m1) en el numero de contratos de largo plazo de la contrapartida perteneciente a esa banca 								
num_cont_Tot_diff	diferencia total de contratos cp + lp del mes actual (m) contra el mes anterior (m1) para esa contrapartida perteneciente a esa banca								
rwas_CP_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos de corto plazo de la contrapartida perteneciente a esa banca								
rwas_LP_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos de largo plazo de la contrapartida perteneciente a esa banca								
rwas_Tot_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos cp + lp de la contrapartida perteneciente a esa banca								
n_cont_CP_SA	numero contratos de corto plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_SA	numero contratos de largo plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_SA	numero contratos totales cp + lp que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_SA	suma de aprs de los contratos de corto plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_SA	suma de aprs de los contratos de largo plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_SA	suma del total de aprs cp + lp de los contratos que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_CP_SI_m	numero contratos de corto plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_SI_m	numero contratos de largo plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_SI_m	numero total de contratos cp + lp que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_SI_m	suma de los aprs de los contratos de corto plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_SI_m	suma de los aprs de los contratos de largo plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_SI_m	suma total de los aprs cp + lp de los contratos que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)

In [29]:
comparison_renamed.columns

Index(['banca', 'ctpa', 'n_cont_CP_m', 'n_cont_LP_m', 'n_cont_Tot_m',
       'rwas_CP_m', 'rwas_LP_m', 'rwas_Tot_m', 'n_cont_CP_m1', 'n_cont_LP_m1',
       'n_cont_Tot_m1', 'rwas_CP_m1', 'rwas_LP_m1', 'rwas_Tot_m1',
       'n_cont_CP_diff', 'n_cont_LP_diff', 'n_cont_Tot_diff', 'rwas_CP_diff',
       'rwas_LP_diff', 'rwas_Tot_diff', 'n_cont_CP_SA', 'n_cont_LP_SA',
       'n_cont_Tot_SA', 'rwas_CP_SA', 'rwas_LP_SA', 'rwas_Tot_SA',
       'n_cont_CP_SI_m', 'n_cont_LP_SI_m', 'n_cont_Tot_SI_m', 'rwas_CP_SI_m',
       'rwas_LP_SI_m', 'rwas_Tot_SI_m'],
      dtype='object')

#### Porcentages para contrapartida y banca y variaciones entre m y m1

In [16]:
# paso 1 - BASE de calculos: filtramos las columnas que nos interesan de la comparativa de conteo de contratos y sumatorio de rwas
# --------------------------------

comparison_renamed_filtered = comparison_renamed.loc[:,['banca', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_renamed_filtered

    banca  ctpa      rwas_Tot_m     rwas_Tot_m1  rwas_Tot_diff
0    0023  0083  1,076,570.5250    422,977.8700   653,592.6550
1    0023  0300    389,789.0000    888,546.0600  -498,757.0600
2    0058  0010  3,658,172.9250  2,896,673.0500   761,499.8750
3    0058  0083 17,217,447.7800 17,320,109.2012  -102,661.4212
4    0058  0252  4,773,207.1200  4,451,920.2500   321,286.8700
5    0058  0300  2,305,172.1500  1,677,815.3580   627,356.7920
6    0058  0501    243,857.9950    247,560.5550    -3,702.5600
7    0058  0505  1,341,560.6500  1,356,140.4677   -14,579.8177
8    0058  0511    235,835.5000    226,904.7620     8,930.7380
9    0058  0516  2,994,923.7700  3,381,870.2215  -386,946.4515
10   0058  0988  5,110,353.2750  4,899,933.4850   210,419.7900
11   8519  0083     78,329.5000     57,624.6531    20,704.8469
12  Total       39,425,220.1900 37,828,075.9335 1,597,144.2565

In [17]:
# === 2. Porcentajes por banca y ctpa ===

comparison_renamed_filtered['pct_var_rwas_MoM'] = (
    ((comparison_renamed_filtered['rwas_Tot_m'] - comparison_renamed_filtered['rwas_Tot_m1']) / 
     comparison_renamed_filtered['rwas_Tot_m1'].replace(0, pd.NA))
)

grand_total_m = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m'].values[0]
grand_total_m1 = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

comparison_renamed_filtered['Grand_Tot_m'] = grand_total_m
comparison_renamed_filtered['Grand_Tot_m1'] = grand_total_m1

# Compute the new column
comparison_renamed_filtered['pct_Grand_Tot_m'] = comparison_renamed_filtered['rwas_Tot_m'] / grand_total_m
comparison_renamed_filtered['pct_Grand_Tot_m1'] = comparison_renamed_filtered['rwas_Tot_m1'] / grand_total_m1

comparison_renamed_filtered['pct_var_GT_MoM'] = (
    ((comparison_renamed_filtered['pct_Grand_Tot_m'] - comparison_renamed_filtered['pct_Grand_Tot_m1']) / 
     comparison_renamed_filtered['pct_Grand_Tot_m1'].replace(0, pd.NA))
)

# Totales por banca y ctpa
comparison_renamed_filtered['ctpa_Tot_m'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m'].transform('sum')
comparison_renamed_filtered['ctpa_Tot_m1'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m1'].transform('sum')

comparison_renamed_filtered['ctpa_Tot_diff'] = comparison_renamed_filtered['ctpa_Tot_m'] - comparison_renamed_filtered['ctpa_Tot_m1']

# % por ctpa dentro de banca (m y m1)
comparison_renamed_filtered['pct_ctpa_Tot_m'] = (comparison_renamed_filtered['rwas_Tot_m'] / comparison_renamed_filtered['ctpa_Tot_m'])
comparison_renamed_filtered['pct_ctpa_Tot_m1'] = (comparison_renamed_filtered['rwas_Tot_m1'] / comparison_renamed_filtered['ctpa_Tot_m1'])

comparison_renamed_filtered['pct_var_ctpa_Tot_MoM'] = (
    ((comparison_renamed_filtered['pct_ctpa_Tot_m'] - comparison_renamed_filtered['pct_ctpa_Tot_m1']) / 
     comparison_renamed_filtered['pct_ctpa_Tot_m1'].replace(0, pd.NA))
)

ordered_list = [
    'banca',
    'ctpa',
    'rwas_Tot_m',
    'Grand_Tot_m',
    'pct_Grand_Tot_m',
    'rwas_Tot_m1',
    'Grand_Tot_m1',
    'pct_Grand_Tot_m1',
    'rwas_Tot_diff',
    'pct_var_rwas_MoM',
    'pct_var_GT_MoM',
    'ctpa_Tot_m',
    'pct_ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
]

comparison_renamed_filtered_final = comparison_renamed_filtered.loc[:,ordered_list]

cols_to_blank_zero = [
    'ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
    
]

# Set values in last row (index 12) to blank (None or NaN)
#df.loc[12, cols_to_blank] = None
#comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['area_id'] == 'Total', cols_to_blank_zero] = None

# Set those columns to 0.00 for the 'Total' row (row 12 or where area_id == 'Total')
comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['banca'] == 'Total', cols_to_blank_zero] = 0.0000


#comparison_renamed_filtered_final.loc['12',['ctpa_total_m','ctpa_total_m1', 'pct_ctpa_totales_m', 'pct_ctpa_totales_m1','pct_ctpa_mom_totales_rel']] = 0.0000

In [102]:
653592.6550/422977.87

1.5452171410291513

In [18]:
comparison_renamed_filtered_final

,banca,ctpa,rwas_Tot_m,Grand_Tot_m,pct_Grand_Tot_m,rwas_Tot_m1,Grand_Tot_m1,pct_Grand_Tot_m1,rwas_Tot_diff,pct_var_rwas_MoM,pct_var_GT_MoM,ctpa_Tot_m,pct_ctpa_Tot_m,ctpa_Tot_m1,pct_ctpa_Tot_m1,ctpa_Tot_diff,pct_var_ctpa_Tot_MoM
0,0023,0083,"1,076,570.5250","39,425,220.1900",0.0273,"422,977.8700","37,828,075.9335",0.0112,"653,592.6550",1.5452,1.4421,"18,372,347.8050",0.0586,"17,800,711.7243",0.0238,"571,636.0807",1.4660
1,0023,0300,"389,789.0000","39,425,220.1900",0.0099,"888,546.0600","37,828,075.9335",0.0235,"-498,757.0600",-0.5613,-0.5791,"2,694,961.1500",0.1446,"2,566,361.4180",0.3462,"128,599.7320",-0.5823
2,0058,0010,"3,658,172.9250","39,425,220.1900",0.0928,"2,896,673.0500","37,828,075.9335",0.0766,"761,499.8750",0.2629,0.2117,"3,658,172.9250",1.0000,"2,896,673.0500",1.0000,"761,499.8750",0.0000
3,0058,0083,"17,217,447.7800","39,425,220.1900",0.4367,"17,320,109.2012","37,828,075.9335",0.4579,"-102,661.4212",-0.0059,-0.0462,"18,372,347.8050",0.9371,"17,800,711.7243",0.9730,"571,636.0807",-0.0369
4,0058,0252,"4,773,207.1200","39,425,220.1900",0.1211,"4,451,920.2500","37,828,075.9335",0.1177,"321,286.8700",0.0722,0.0287,"4,773,207.1200",1.0000,"4,451,920.2500",1.0000,"321,286.8700",0.0000
5,0058,0300,"2,305,172.1500","39,425,220.1900",0.0585,"1,677,815.3580","37,828,075.9335",0.0444,"627,356.7920",0.3739,0.3183,"2,694,961.1500",0.8554,"2,566,361.4180",0.6538,"128,599.7320",0.3084
6,0058,0501,"243,857.9950","39,425,220.1900",0.0062,"247,560.5550","37,828,075.9335",0.0065,"-3,702.5600",-0.0150,-0.0549,"243,857.9950",1.0000,"247,560.5550",1.0000,"-3,702.5600",0.0000
7,0058,0505,"1,341,560.6500","39,425,220.1900",0.0340,"1,356,140.4677","37,828,075.9335",0.0359,"-14,579.8177",-0.0108,-0.0508,"1,341,560.6500",1.0000,"1,356,140.4677",1.0000,"-14,579.8177",0.0000
8,0058,0511,"235,835.5000","39,425,220.1900",0.0060,"226,904.7620","37,828,075.9335",0.0060,"8,930.7380",0.0394,-0.0027,"235,835.5000",1.0000,"226,904.7620",1.0000,"8,930.7380",0.0000
9,0058,0516,"2,994,923.7700","39,425,220.1900",0.0760,"3,381,870.2215","37,828,075.9335",0.0894,"-386,946.4515",-0.1144,-0.1503,"2,994,923.7700",1.0000,"3,381,870.2215",1.0000,"-386,946.4515",0.0000
10,0058,0988,"5,110,353.2750","39,425,220.1900",0.1296,"4,899,933.4850","37,828,075.9335",0.1295,"210,419.7900",0.0429,0.0007,"5,110,353.2750",1.0000,"4,899,933.4850",1.0000,"210,419.7900",0.0000
11,8519,0083,"78,329.5000","39,425,220.1900",0.0020,"57,624.6531","37,828,075.9335",0.0015,"20,704.8469",0.3593,0.3042,"18,372,347.8050",0.0043,"17,800,711.7243",0.0032,"571,636.0807",0.3170
12,Total,,"39,425,220.1900","39,425,220.1900",1.0000,"37,828,075.9335","37,828,075.9335",1.0000,"1,597,144.2565",0.0422,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [27]:
stacked = comparison_renamed_filtered_final.iloc[:,[0,1,4]]
stacked = stacked.iloc[:-1]
stacked

   banca  ctpa  pct_Grand_Tot_m
0   0023  0083           0.0273
1   0023  0300           0.0099
2   0058  0010           0.0928
3   0058  0083           0.4367
4   0058  0252           0.1211
5   0058  0300           0.0585
6   0058  0501           0.0062
7   0058  0505           0.0340
8   0058  0511           0.0060
9   0058  0516           0.0760
10  0058  0988           0.1296
11  8519  0083           0.0020

In [19]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed_filtered_final.to_excel(writer, sheet_name="banca_ctpa_ratios", index=False)

In [ ]:
Column Name	Description
banca	Identificador del tipo de banca
ctpa	Identificador de la contrapartida asociada a la banca (area_id)
rwas_Tot_m	Total de APRs de la contrapartida en la banca asociada en el mes actual (m). Es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada.
Grand_Tot_m	Total de APRs mes actual
pct_Grand_Tot_m	Porcentage de APRs que representa la contrapartida asociada a la banca respecto al total de APRs del mes actual (rwas_Total_m/grand_total_m)
rwas_Tot_m1	Total de APRs de la contrapartida en la banca asociada en el mes anterior (m1). Es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada.
Grand_Tot_m1	Total de APRs mes anterior
pct_Grand_Tot_m1	Porcentage de APRs que representaba la contrapartida asociada a la banca respecto al total de APRs el mes anterior (rwas_Total_m1/grand_total_m1)
rwas_Tot_diff	Variación neta del total de APRs de la contrapartida en la banca asociada entre el mes actual (m) y el mes anterior (m1). Calculado como: rwas_Total_m - rwas_Total_m1.
	
pct_var_rwas_MoM	Variación relativa del total de APRs de la contrapartida en la banca asociada entre el mes actual (m) y el mes anterior (m1). Calculado como: (pct_Grand_Tot_m - pct_Grand_Tot_m1)/pct_Grand_Tot_m1
	cuanto han variado los aprs de la 0083 pertenecientes a la banca 0023 de un mes a otro en terminos porcentuales
	
pct_var_GT_MoM	Variación relativa del total de APRs de la contrapartida entre el mes actual (m) y el mes anterior (m1). Calculado como: rwas_Total_diff / rwas_Total_m1.
	cuanto ha variado el peso que tenian los APRs de la contrapartida 0083 para la banca 0023 sobre el total de APRs global de un mes a otro
	variacion relativa entre pct_of_grand_total_m y pct_of_grand_total_m1
	la contrapartida 0083 de la banca 0023 ha incrementado su peso en un 154.52% de un mes a otro pasando de representar un 1.12% del total de APRs en m1 a un 2.73% en m
	
ctpa_Tot_m	Total neto de APRs que representa esa contrapartida para todas las bancas en mes actual (m)  (sumatorio de la misma contrapartida para todas las bancas)
	
pct_ctpa_Tot_m	Peso en porcentaje que representa esa contrapartida en esa banca respecto al total de su contrapartida en el mes actual. Calculado como: rwas_Total_m / ctpa_Tot_m.
	
ctpa_Tot_m1	Total neto de APRs que representa esa contrapartida para todas las bancas en mes anterior(m1)  (sumatorio de la misma contrapartida para todas las bancas)
	
pct_ctpa_Tot_m1	Peso en porcentaje que representa esa contrapartida en esa banca respecto al total de su contrapartida en el mes anterior. Calculado como: rwas_Total_m1 / ctpa_Tot_m1.
	
ctpa_Tot_diff	Variación neta del total de APRs del total de contrapartida en el mes(m) respecto al total en mes anterior (m1).
pct_var_ctpa_Tot_MoM	Variación relativa del peso porcentual que representa esa contrapartida entre el mes actual y el anterior.

# === 3. 

comparison_renamed_filtered['pct_ctpa_vs_banca_rel'] = (
    ((comparison_renamed_filtered['pct_ctpa_vs_banca_m'] - comparison_renamed_filtered['pct_ctpa_vs_banca_m1']) / 
     comparison_renamed_filtered['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
)

# === Redondear ===
cols_to_round = [
    'pct_ctpa_vs_banca_m', 'pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
]

comparison_renamed_filtered_perct = comparison_renamed_filtered.loc[:,['area_id', 'ctpa_id','rwas_Total_m','rwas_Total_m1','rwas_Total_diff'] + cols_to_round].round(2)

In [20]:
comparison_renamed_filtered_final.columns

Index(['banca', 'ctpa', 'rwas_Tot_m', 'Grand_Tot_m', 'pct_Grand_Tot_m',
       'rwas_Tot_m1', 'Grand_Tot_m1', 'pct_Grand_Tot_m1', 'rwas_Tot_diff',
       'pct_var_rwas_MoM', 'pct_var_GT_MoM', 'ctpa_Tot_m', 'pct_ctpa_Tot_m',
       'ctpa_Tot_m1', 'pct_ctpa_Tot_m1', 'ctpa_Tot_diff',
       'pct_var_ctpa_Tot_MoM'],
      dtype='object')

-------------

In [ ]:
# --------------------------------
m_cplp = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m1_cplp = pool_m1.pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

In [213]:
clim_new = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	columns="term_contract_type",
	values=['contract_id', "prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(
	by=["level60_operarea_id"], ascending=True
)
clim_new

                                contract_id                  \
term_contract_type                       CP        LP Total
level60_operarea_id customer_id
0023                012225332      3.000000  0.000000     3
0058                016069816      5.000000  0.000000     5
                    017633949      2.000000  0.000000     2
                    021836410      7.000000  0.000000     7
                    024442741      5.000000  0.000000     5
                    027781126      4.000000  0.000000     4
                    028407710      2.000000  1.000000     3
                    028915227      8.000000  0.000000     8
                    029170892      2.000000  2.000000     4
                    029872299      5.000000  0.000000     5
                    030695078      7.000000  0.000000     7
                    030724363      5.000000  0.000000     5
                    032729761      2.000000  0.000000     2
                    033127399      4.000000  0.000000     4
                    014742380      2.000000  1.000000     3
                    034807425      4.000000  0.000000     4
                    035201264      3.000000  0.000000     3
                    035455654      3.000000  0.000000     3
                    038094323      5.000000  0.000000     5
                    040297019      6.000000  0.000000     6
                    050180900      2.000000  0.000000     2
                    050339197      1.000000  1.000000     2
                    051751124      1.000000  1.000000     2
                    052282112      4.000000  0.000000     4
                    052979558      3.000000  0.000000     3
                    053704889      2.000000  0.000000     2
                    059835368      5.000000  0.000000     5
                    059949867      3.000000  0.000000     3
                    064682707      2.000000  0.000000     2
                    034908347      4.000000  1.000000     5
                    013644107      4.000000  0.000000     4
                    013371101      3.000000  0.000000     3
                    013042517      6.000000  0.000000     6
                    000032713      6.000000  0.000000     6
                    000057385      6.000000  0.000000     6
                    000059569      6.000000  0.000000     6
                    000115593      3.000000  0.000000     3
                    000147893      3.000000  0.000000     3
                    000163104      2.000000  0.000000     2
                    000259175      4.000000  2.000000     6
                    000992836      1.000000  1.000000     2
                    001005370      2.000000  0.000000     2
                    001163997      6.000000  0.000000     6
                    001278519      2.000000  0.000000     2
                    002362927      5.000000  2.000000     7
                    002715853      6.000000  0.000000     6
                    003883696      3.000000  0.000000     3
                    005479572      3.000000  0.000000     3
                    005609283      5.000000  0.000000     5
                    007652980      0.000000  4.000000     4
                    007685983      7.000000  0.000000     7
                    008072751      2.000000  0.000000     2
                    008271052      3.000000  0.000000     3
                    009427237      4.000000  0.000000     4
                    009637729      3.000000  0.000000     3
                    010134184      5.000000  2.000000     7
                    010228209      1.000000  1.000000     2
                    010426433      2.000000  0.000000     2
                    011097471      6.000000  1.000000     7
                    011717815      1.000000  1.000000     2
                    012054659      4.000000  0.000000     4
                    012246142      3.000000  0.000000     3
8519                055890379      7.000000  0.000000     7
Total                            235.000000 21.000000   256

                                prof_ratio_rorc_amount                      \
term_contract_type                                  CP        LP     Total
level60_operarea_id customer_id
0023                012225332                 0.080600  0.000000  0.080600
0058                016069816                 0.076000  0.000000  0.076000
                    017633949                 0.054100  0.000000  0.054100
                    021836410                 0.100600  0.000000  0.100600
                    024442741                 0.033300  0.000000  0.033300
                    027781126                -0.009300  0.000000 -0.009300
                    028407710                -0.153700 -0.153700 -0.153700
                    028915227                -0.510800  0.000000 -0.510800
                    029170892                 0.076500  0.076500  0.076500
                    029872299                 0.096000  0.000000  0.096000
                    030695078                -0.008300  0.000000 -0.008300
                    030724363                 0.011300  0.000000  0.011300
                    032729761                 0.094100  0.000000  0.094100
                    033127399                 0.077600  0.000000  0.077600
                    014742380                 0.072700  0.072700  0.072700
                    034807425                 0.065400  0.000000  0.065400
                    035201264                -0.022700  0.000000 -0.022700
                    035455654                 0.072800  0.000000  0.072800
                    038094323                 0.039000  0.000000  0.039000
                    040297019                 0.081400  0.000000  0.081400
                    050180900                -0.049100  0.000000 -0.049100
                    050339197                 0.041400  0.041400  0.041400
                    051751124                 0.046400  0.046400  0.046400
                    052282112                -0.100100  0.000000 -0.100100
                    052979558                 0.014500  0.000000  0.014500
                    053704889                 0.086400  0.000000  0.086400
                    059835368                 0.080600  0.000000  0.080600
                    059949867                 0.080400  0.000000  0.080400
                    064682707                 0.071300  0.000000  0.071300
                    034908347                -0.088100 -0.088100 -0.088100
                    013644107                 0.053300  0.000000  0.053300
                    013371101                -0.016600  0.000000 -0.016600
                    013042517                 0.063400  0.000000  0.063400
                    000032713                 0.100800  0.000000  0.100800
                    000057385                 0.086400  0.000000  0.086400
                    000059569                 0.073400  0.000000  0.073400
                    000115593                 0.065000  0.000000  0.065000
                    000147893                 0.027800  0.000000  0.027800
                    000163104                 0.064400  0.000000  0.064400
                    000259175                 0.026300  0.026300  0.026300
                    000992836                 0.083100  0.083100  0.083100
                    001005370                 0.068700  0.000000  0.068700
                    001163997                 0.083200  0.000000  0.083200
                    001278519                 0.083400  0.000000  0.083400
                    002362927                 0.074100  0.074100  0.074100
                    002715853                 0.066200  0.000000  0.066200
                    003883696                 0.035500  0.000000  0.035500
                    005479572                 0.064800  0.000000  0.064800
                    005609283                 0.017800  0.000000  0.017800
                    007652980                 0.000000  0.031000  0.031000
                    007685983                 0.073500  0.000000  0.073500
                    008072751                 0.093000  0.000000  0.093000
                    008271052                 0.034900  0.000000  0.034900
                    009427237                 0.076100  0.000000  0.076100
                    009637729                 0.045300  0.000000  0.045300
                    010134184                 0.061900  0.061900  0.061900
                    010228209                 0.072400  0.072400  0.072400
                    010426433                 0.048800  0.000000  0.048800
                    011097471                 0.065200  0.065200  0.065200
                    011717815                 0.056700  0.056700  0.056700
                    012054659                 0.089800  0.000000  0.089800
                    012246142                 0.009200  0.000000  0.009200
8519                055890379                 0.046300  0.000000  0.046300
Total                                         0.100800  0.083100  0.100800

                                rwas_regul_capital_amount                  \
term_contract_type                                     CP              LP
level60_operarea_id customer_id
0023                012225332              1466359.525000        0.000000
0058                016069816               533289.000000        0.000000
                    017633949                59886.250000        0.000000
                    021836410                56599.250000        0.000000
                    024442741               181997.375000        0.000000
                    027781126               115397.250000        0.000000
                    028407710               115226.375000  1337020.400000
                    028915227               130412.000000        0.000000
                    029170892               162025.750000  1052619.350000
                    029872299               155075.375000        0.000000
                    030695078              4773207.120000        0.000000
                    030724363               110213.375000        0.000000
                    032729761               132286.250000        0.000000
                    033127399               263737.625000        0.000000
                    014742380               124007.250000    33419.375000
                    034807425                36753.000000        0.000000
                    035201264                36757.500000        0.000000
                    035455654               123931.500000        0.000000
                    038094323                80992.875000        0.000000
                    040297019               391753.000000        0.000000
                    050180900                49761.625000        0.000000
                    050339197               117228.750000   182644.620000
                    051751124                66119.750000   556540.750000
                    052282112                22654.750000        0.000000
                    052979558                73005.750000        0.000000
                    053704889               243143.000000        0.000000
                    059835368                47595.000000        0.000000
                    059949867               206693.620000        0.000000
                    064682707                 8111.500000        0.000000
                    034908347               184957.250000     4540.250000
                    013644107               917550.525000        0.000000
                    013371101                 9787.750000        0.000000
                    013042517               154671.000000        0.000000
                    000032713               266977.750000        0.000000
                    000057385               734386.125000        0.000000
                    000059569               632266.500000        0.000000
                    000115593               650166.880000        0.000000
                    000147893               663894.870000        0.000000
                    000163104               799935.120000        0.000000
                    000259175               468816.750000     6580.500000
                    000992836               465051.120000  2301002.200000
                    001005370              2062331.300000        0.000000
                    001163997               163282.250000        0.000000
                    001278519                18363.500000        0.000000
                    002362927              1190298.125000   902255.370000
                    002715853               167857.000000        0.000000
                    003883696               163275.875000        0.000000
                    005479572                49819.625000        0.000000
                    005609283               117063.000000        0.000000
                    007652980                    0.000000  5062834.150000
                    007685983               572496.130000        0.000000
                    008072751               129543.500000        0.000000
                    008271052               165187.000000        0.000000
                    009427237               190098.750000        0.000000
                    009637729               234792.375000        0.000000
                    010134184              2114760.520000  2319847.750000
                    010228209               871212.750000    58289.000000
                    010426433               277079.625000        0.000000
                    011097471               622205.625000    17157.875000
                    011717815                27596.875000   181538.500000
                    012054659               165555.625000        0.000000
                    012246142               195098.120000        0.000000
8519                055890379                78329.500000        0.000000
Total                                     25408930.100000 14016290.090000


term_contract_type                        Total
level60_operarea_id customer_id
0023                012225332    1466359.525000
0058                016069816     533289.000000
                    017633949      59886.250000
                    021836410      56599.250000
                    024442741     181997.375000
                    027781126     115397.250000
                    028407710    1452246.775000
                    028915227     130412.000000
                    029170892    1214645.100000
                    029872299     155075.375000
                    030695078    4773207.120000
                    030724363     110213.375000
                    032729761     132286.250000
                    033127399     263737.625000
                    014742380     157426.625000
                    034807425      36753.000000
                    035201264      36757.500000
                    035455654     123931.500000
                    038094323      80992.875000
                    040297019     391753.000000
                    050180900      49761.625000
                    050339197     299873.370000
                    051751124     622660.500000
                    052282112      22654.750000
                    052979558      73005.750000
                    053704889     243143.000000
                    059835368      47595.000000
                    059949867     206693.620000
                    064682707       8111.500000
                    034908347     189497.500000
                    013644107     917550.525000
                    013371101       9787.750000
                    013042517     154671.000000
                    000032713     266977.750000
                    000057385     734386.125000
                    000059569     632266.500000
                    000115593     650166.880000
                    000147893     663894.870000
                    000163104     799935.120000
                    000259175     475397.250000
                    000992836    2766053.320000
                    001005370    2062331.300000
                    001163997     163282.250000
                    001278519      18363.500000
                    002362927    2092553.495000
                    002715853     167857.000000
                    003883696     163275.875000
                    005479572      49819.625000
                    005609283     117063.000000
                    007652980    5062834.150000
                    007685983     572496.130000
                    008072751     129543.500000
                    008271052     165187.000000
                    009427237     190098.750000
                    009637729     234792.375000
                    010134184    4434608.270000
                    010228209     929501.750000
                    010426433     277079.625000
                    011097471     639363.500000
                    011717815     209135.375000
                    012054659     165555.625000
                    012246142     195098.120000
8519                055890379      78329.500000
Total                           39425220.190000

In [207]:
clim

                                contract_id                  \
term_contract_type                       CP        LP Total
level60_operarea_id customer_id
0023                012225332      3.000000  0.000000     3
0058                016069816      5.000000  0.000000     5
                    017633949      2.000000  0.000000     2
                    021836410      7.000000  0.000000     7
                    024442741      5.000000  0.000000     5
                    027781126      4.000000  0.000000     4
                    028407710      2.000000  1.000000     3
                    028915227      8.000000  0.000000     8
                    029170892      2.000000  2.000000     4
                    029872299      5.000000  0.000000     5
                    030695078      7.000000  0.000000     7
                    030724363      5.000000  0.000000     5
                    032729761      2.000000  0.000000     2
                    033127399      4.000000  0.000000     4
                    014742380      2.000000  1.000000     3
                    034807425      4.000000  0.000000     4
                    035201264      3.000000  0.000000     3
                    035455654      3.000000  0.000000     3
                    038094323      5.000000  0.000000     5
                    040297019      6.000000  0.000000     6
                    050180900      2.000000  0.000000     2
                    050339197      1.000000  1.000000     2
                    051751124      1.000000  1.000000     2
                    052282112      4.000000  0.000000     4
                    052979558      3.000000  0.000000     3
                    053704889      2.000000  0.000000     2
                    059835368      5.000000  0.000000     5
                    059949867      3.000000  0.000000     3
                    064682707      2.000000  0.000000     2
                    034908347      4.000000  1.000000     5
                    013644107      4.000000  0.000000     4
                    013371101      3.000000  0.000000     3
                    013042517      6.000000  0.000000     6
                    000032713      6.000000  0.000000     6
                    000057385      6.000000  0.000000     6
                    000059569      6.000000  0.000000     6
                    000115593      3.000000  0.000000     3
                    000147893      3.000000  0.000000     3
                    000163104      2.000000  0.000000     2
                    000259175      4.000000  2.000000     6
                    000992836      1.000000  1.000000     2
                    001005370      2.000000  0.000000     2
                    001163997      6.000000  0.000000     6
                    001278519      2.000000  0.000000     2
                    002362927      5.000000  2.000000     7
                    002715853      6.000000  0.000000     6
                    003883696      3.000000  0.000000     3
                    005479572      3.000000  0.000000     3
                    005609283      5.000000  0.000000     5
                    007652980      0.000000  4.000000     4
                    007685983      7.000000  0.000000     7
                    008072751      2.000000  0.000000     2
                    008271052      3.000000  0.000000     3
                    009427237      4.000000  0.000000     4
                    009637729      3.000000  0.000000     3
                    010134184      5.000000  2.000000     7
                    010228209      1.000000  1.000000     2
                    010426433      2.000000  0.000000     2
                    011097471      6.000000  1.000000     7
                    011717815      1.000000  1.000000     2
                    012054659      4.000000  0.000000     4
                    012246142      3.000000  0.000000     3
8519                055890379      7.000000  0.000000     7
Total                            235.000000 21.000000   256

                                prof_ratio_rorc_amount                      \
term_contract_type                                  CP        LP     Total
level60_operarea_id customer_id
0023                012225332                 0.080600  0.000000  0.080600
0058                016069816                 0.076000  0.000000  0.076000
                    017633949                 0.054100  0.000000  0.054100
                    021836410                 0.100600  0.000000  0.100600
                    024442741                 0.033300  0.000000  0.033300
                    027781126                -0.009300  0.000000 -0.009300
                    028407710                -0.153700 -0.153700 -0.153700
                    028915227                -0.510800  0.000000 -0.510800
                    029170892                 0.076500  0.076500  0.076500
                    029872299                 0.096000  0.000000  0.096000
                    030695078                -0.008300  0.000000 -0.008300
                    030724363                 0.011300  0.000000  0.011300
                    032729761                 0.094100  0.000000  0.094100
                    033127399                 0.077600  0.000000  0.077600
                    014742380                 0.072700  0.072700  0.072700
                    034807425                 0.065400  0.000000  0.065400
                    035201264                -0.022700  0.000000 -0.022700
                    035455654                 0.072800  0.000000  0.072800
                    038094323                 0.039000  0.000000  0.039000
                    040297019                 0.081400  0.000000  0.081400
                    050180900                -0.049100  0.000000 -0.049100
                    050339197                 0.041400  0.041400  0.041400
                    051751124                 0.046400  0.046400  0.046400
                    052282112                -0.100100  0.000000 -0.100100
                    052979558                 0.014500  0.000000  0.014500
                    053704889                 0.086400  0.000000  0.086400
                    059835368                 0.080600  0.000000  0.080600
                    059949867                 0.080400  0.000000  0.080400
                    064682707                 0.071300  0.000000  0.071300
                    034908347                -0.088100 -0.088100 -0.088100
                    013644107                 0.053300  0.000000  0.053300
                    013371101                -0.016600  0.000000 -0.016600
                    013042517                 0.063400  0.000000  0.063400
                    000032713                 0.100800  0.000000  0.100800
                    000057385                 0.086400  0.000000  0.086400
                    000059569                 0.073400  0.000000  0.073400
                    000115593                 0.065000  0.000000  0.065000
                    000147893                 0.027800  0.000000  0.027800
                    000163104                 0.064400  0.000000  0.064400
                    000259175                 0.026300  0.026300  0.026300
                    000992836                 0.083100  0.083100  0.083100
                    001005370                 0.068700  0.000000  0.068700
                    001163997                 0.083200  0.000000  0.083200
                    001278519                 0.083400  0.000000  0.083400
                    002362927                 0.074100  0.074100  0.074100
                    002715853                 0.066200  0.000000  0.066200
                    003883696                 0.035500  0.000000  0.035500
                    005479572                 0.064800  0.000000  0.064800
                    005609283                 0.017800  0.000000  0.017800
                    007652980                 0.000000  0.031000  0.031000
                    007685983                 0.073500  0.000000  0.073500
                    008072751                 0.093000  0.000000  0.093000
                    008271052                 0.034900  0.000000  0.034900
                    009427237                 0.076100  0.000000  0.076100
                    009637729                 0.045300  0.000000  0.045300
                    010134184                 0.061900  0.061900  0.061900
                    010228209                 0.072400  0.072400  0.072400
                    010426433                 0.048800  0.000000  0.048800
                    011097471                 0.065200  0.065200  0.065200
                    011717815                 0.056700  0.056700  0.056700
                    012054659                 0.089800  0.000000  0.089800
                    012246142                 0.009200  0.000000  0.009200
8519                055890379                 0.046300  0.000000  0.046300
Total                                         0.100800  0.083100  0.100800

                                rwas_regul_capital_amount                  \
term_contract_type                                     CP              LP
level60_operarea_id customer_id
0023                012225332              1466359.525000        0.000000
0058                016069816               533289.000000        0.000000
                    017633949                59886.250000        0.000000
                    021836410                56599.250000        0.000000
                    024442741               181997.375000        0.000000
                    027781126               115397.250000        0.000000
                    028407710               115226.375000  1337020.400000
                    028915227               130412.000000        0.000000
                    029170892               162025.750000  1052619.350000
                    029872299               155075.375000        0.000000
                    030695078              4773207.120000        0.000000
                    030724363               110213.375000        0.000000
                    032729761               132286.250000        0.000000
                    033127399               263737.625000        0.000000
                    014742380               124007.250000    33419.375000
                    034807425                36753.000000        0.000000
                    035201264                36757.500000        0.000000
                    035455654               123931.500000        0.000000
                    038094323                80992.875000        0.000000
                    040297019               391753.000000        0.000000
                    050180900                49761.625000        0.000000
                    050339197               117228.750000   182644.620000
                    051751124                66119.750000   556540.750000
                    052282112                22654.750000        0.000000
                    052979558                73005.750000        0.000000
                    053704889               243143.000000        0.000000
                    059835368                47595.000000        0.000000
                    059949867               206693.620000        0.000000
                    064682707                 8111.500000        0.000000
                    034908347               184957.250000     4540.250000
                    013644107               917550.525000        0.000000
                    013371101                 9787.750000        0.000000
                    013042517               154671.000000        0.000000
                    000032713               266977.750000        0.000000
                    000057385               734386.125000        0.000000
                    000059569               632266.500000        0.000000
                    000115593               650166.880000        0.000000
                    000147893               663894.870000        0.000000
                    000163104               799935.120000        0.000000
                    000259175               468816.750000     6580.500000
                    000992836               465051.120000  2301002.200000
                    001005370              2062331.300000        0.000000
                    001163997               163282.250000        0.000000
                    001278519                18363.500000        0.000000
                    002362927              1190298.125000   902255.370000
                    002715853               167857.000000        0.000000
                    003883696               163275.875000        0.000000
                    005479572                49819.625000        0.000000
                    005609283               117063.000000        0.000000
                    007652980                    0.000000  5062834.150000
                    007685983               572496.130000        0.000000
                    008072751               129543.500000        0.000000
                    008271052               165187.000000        0.000000
                    009427237               190098.750000        0.000000
                    009637729               234792.375000        0.000000
                    010134184              2114760.520000  2319847.750000
                    010228209               871212.750000    58289.000000
                    010426433               277079.625000        0.000000
                    011097471               622205.625000    17157.875000
                    011717815                27596.875000   181538.500000
                    012054659               165555.625000        0.000000
                    012246142               195098.120000        0.000000
8519                055890379                78329.500000        0.000000
Total                                     25408930.100000 14016290.090000


term_contract_type                        Total
level60_operarea_id customer_id
0023                012225332    1466359.525000
0058                016069816     533289.000000
                    017633949      59886.250000
                    021836410      56599.250000
                    024442741     181997.375000
                    027781126     115397.250000
                    028407710    1452246.775000
                    028915227     130412.000000
                    029170892    1214645.100000
                    029872299     155075.375000
                    030695078    4773207.120000
                    030724363     110213.375000
                    032729761     132286.250000
                    033127399     263737.625000
                    014742380     157426.625000
                    034807425      36753.000000
                    035201264      36757.500000
                    035455654     123931.500000
                    038094323      80992.875000
                    040297019     391753.000000
                    050180900      49761.625000
                    050339197     299873.370000
                    051751124     622660.500000
                    052282112      22654.750000
                    052979558      73005.750000
                    053704889     243143.000000
                    059835368      47595.000000
                    059949867     206693.620000
                    064682707       8111.500000
                    034908347     189497.500000
                    013644107     917550.525000
                    013371101       9787.750000
                    013042517     154671.000000
                    000032713     266977.750000
                    000057385     734386.125000
                    000059569     632266.500000
                    000115593     650166.880000
                    000147893     663894.870000
                    000163104     799935.120000
                    000259175     475397.250000
                    000992836    2766053.320000
                    001005370    2062331.300000
                    001163997     163282.250000
                    001278519      18363.500000
                    002362927    2092553.495000
                    002715853     167857.000000
                    003883696     163275.875000
                    005479572      49819.625000
                    005609283     117063.000000
                    007652980    5062834.150000
                    007685983     572496.130000
                    008072751     129543.500000
                    008271052     165187.000000
                    009427237     190098.750000
                    009637729     234792.375000
                    010134184    4434608.270000
                    010228209     929501.750000
                    010426433     277079.625000
                    011097471     639363.500000
                    011717815     209135.375000
                    012054659     165555.625000
                    012246142     195098.120000
8519                055890379      78329.500000
Total                           39425220.190000

##### INICIO cliente --- para luego cp/lp

In [46]:
# analisis clientes
pd.options.display.max_rows = 70
clim = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

In [214]:
# DESGLOSE NUMERO DE CONTRATOS

clim_new = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	columns="term_contract_type",
	values=['contract_id', "prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(
	by=["level60_operarea_id"], ascending=True
)
clim_SA_new = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
 	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(
	by=["level60_operarea_id"], ascending=True
)

clim_SI_mes_new = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id"],
 	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(
	by=["level60_operarea_id"], ascending=True
)

clim1_new = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id"],
 	columns="term_contract_type",
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(
	by=["level60_operarea_id"], ascending=True
)

In [47]:
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    'contract_id',
    'prof_ratio_rorc_amount',
    'rwas_regul_capital_amount'
]

# Calculate the difference for the selected columns
cli_m_m1 = clim[cols_to_compare].sub(clim1[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparisoncli = pd.concat(
    [
        clim[cols_to_compare].add_suffix('_m2'),
        clim1[cols_to_compare].add_suffix('_m_12'),
        cli_m_m1.add_suffix('_diff'),
        clim_SA.add_suffix('_SA'),
        clim_SI_mes.add_suffix('_SI_mes')
    ],
    axis=1
)

comparisoncli

                                 contract_id_m2  prof_ratio_rorc_amount_m2  \
level60_operarea_id customer_id
0023                012225332                 3                     0.0806
0058                007652980                 4                     0.0310
                    030695078                 7                    -0.0083
                    010134184                 7                     0.0619
                    000992836                 2                     0.0831
                    002362927                 7                     0.0741
                    001005370                 2                     0.0687
                    028407710                 3                    -0.1537
                    029170892                 4                     0.0765
                    010228209                 2                     0.0724
                    013644107                 4                     0.0533
                    000163104                 2                     0.0644
                    000057385                 6                     0.0864
                    000147893                 3                     0.0278
                    000115593                 3                     0.0650
                    011097471                 7                     0.0652
                    000059569                 6                     0.0734
                    051751124                 2                     0.0464
                    007685983                 7                     0.0735
                    016069816                 5                     0.0760
                    000259175                 6                     0.0263
                    040297019                 6                     0.0814
                    050339197                 2                     0.0414
                    010426433                 2                     0.0488
                    000032713                 6                     0.1008
                    033127399                 4                     0.0776
                    053704889                 2                     0.0864
                    009637729                 3                     0.0453
                    011717815                 2                     0.0567
                    059949867                 3                     0.0804
                    012246142                 3                     0.0092
                    009427237                 4                     0.0761
                    034908347                 5                    -0.0881
                    024442741                 5                     0.0333
                    002715853                 6                     0.0662
                    012054659                 4                     0.0898
                    008271052                 3                     0.0349
                    001163997                 6                     0.0832
                    003883696                 3                     0.0355
                    014742380                 3                     0.0727
                    029872299                 5                     0.0960
                    013042517                 6                     0.0634
                    032729761                 2                     0.0941
                    028915227                 8                    -0.5108
                    008072751                 2                     0.0930
                    035455654                 3                     0.0728
                    005609283                 5                     0.0178
                    027781126                 4                    -0.0093
                    030724363                 5                     0.0113
                    038094323                 5                     0.0390
                    052979558                 3                     0.0145
                    017633949                 2                     0.0541
                    021836410                 7                     0.1006
                    005479572                 3                     0.0648
                    050180900                 2                    -0.0491
                    059835368                 5                     0.0806
                    035201264                 3                    -0.0227
                    034807425                 4                     0.0654
                    052282112                 4                    -0.1001
                    001278519                 2                     0.0834
                    013371101                 3                    -0.0166
                    064682707                 2                     0.0713
8519                055890379                 7                     0.0463
Total                                       256                     0.1008

                                 rwas_regul_capital_amount_m2  \
level60_operarea_id customer_id
0023                012225332                  1,466,359.5250
0058                007652980                  5,062,834.1500
                    030695078                  4,773,207.1200
                    010134184                  4,434,608.2700
                    000992836                  2,766,053.3200
                    002362927                  2,092,553.4950
                    001005370                  2,062,331.3000
                    028407710                  1,452,246.7750
                    029170892                  1,214,645.1000
                    010228209                    929,501.7500
                    013644107                    917,550.5250
                    000163104                    799,935.1200
                    000057385                    734,386.1250
                    000147893                    663,894.8700
                    000115593                    650,166.8800
                    011097471                    639,363.5000
                    000059569                    632,266.5000
                    051751124                    622,660.5000
                    007685983                    572,496.1300
                    016069816                    533,289.0000
                    000259175                    475,397.2500
                    040297019                    391,753.0000
                    050339197                    299,873.3700
                    010426433                    277,079.6250
                    000032713                    266,977.7500
                    033127399                    263,737.6250
                    053704889                    243,143.0000
                    009637729                    234,792.3750
                    011717815                    209,135.3750
                    059949867                    206,693.6200
                    012246142                    195,098.1200
                    009427237                    190,098.7500
                    034908347                    189,497.5000
                    024442741                    181,997.3750
                    002715853                    167,857.0000
                    012054659                    165,555.6250
                    008271052                    165,187.0000
                    001163997                    163,282.2500
                    003883696                    163,275.8750
                    014742380                    157,426.6250
                    029872299                    155,075.3750
                    013042517                    154,671.0000
                    032729761                    132,286.2500
                    028915227                    130,412.0000
                    008072751                    129,543.5000
                    035455654                    123,931.5000
                    005609283                    117,063.0000
                    027781126                    115,397.2500
                    030724363                    110,213.3750
                    038094323                     80,992.8750
                    052979558                     73,005.7500
                    017633949                     59,886.2500
                    021836410                     56,599.2500
                    005479572                     49,819.6250
                    050180900                     49,761.6250
                    059835368                     47,595.0000
                    035201264                     36,757.5000
                    034807425                     36,753.0000
                    052282112                     22,654.7500
                    001278519                     18,363.5000
                    013371101                      9,787.7500
                    064682707                      8,111.5000
8519                055890379                     78,329.5000
Total                                         39,425,220.1900

                                 contract_id_m_12  \
level60_operarea_id customer_id
0023                012225332                   3
0058                007652980                   4
                    030695078                   6
                    010134184                   7
                    000992836                   3
                    002362927                   6
                    001005370                   2
                    028407710                   3
                    029170892                   3
                    010228209                   3
                    013644107                   3
                    000163104                   2
                    000057385                   6
                    000147893                   5
                    000115593                   3
                    011097471                   8
                    000059569                   6
                    051751124                   2
                    007685983                   6
                    016069816                   5
                    000259175                   4
                    040297019                   4
                    050339197                   2
                    010426433                   2
                    000032713                   4
                    033127399                   3
                    053704889                   2
                    009637729                   4
                    011717815                   3
                    059949867                   3
                    012246142                   4
                    009427237                   2
                    034908347                   5
                    024442741                   5
                    002715853                   6
                    012054659                   2
                    008271052                   5
                    001163997                   6
                    003883696                   4
                    014742380                   4
                    029872299                   5
                    013042517                   5
                    032729761                   3
                    028915227                   7
                    008072751                   2
                    035455654                   3
                    005609283                   6
                    027781126                   5
                    030724363                   8
                    038094323                   4
                    052979558                   3
                    017633949                   3
                    021836410                   7
                    005479572                   3
                    050180900                   4
                    059835368                   6
                    035201264                   3
                    034807425                   3
                    052282112                   4
                    001278519                   2
                    013371101                   4
                    064682707                   3
8519                055890379                   8
Total                                         261

                                 prof_ratio_rorc_amount_m_12  \
level60_operarea_id customer_id
0023                012225332                         0.0916
0058                007652980                         0.0317
                    030695078                         0.0086
                    010134184                         0.0609
                    000992836                         0.0970
                    002362927                         0.0764
                    001005370                         0.0680
                    028407710                        -0.1604
                    029170892                         0.0816
                    010228209                         0.0718
                    013644107                         0.0456
                    000163104                         0.0672
                    000057385                         0.0838
                    000147893                         0.0262
                    000115593                         0.0604
                    011097471                         0.0726
                    000059569                         0.0722
                    051751124                         0.0433
                    007685983                         0.0808
                    016069816                         0.0695
                    000259175                         0.0379
                    040297019                         0.0797
                    050339197                         0.0361
                    010426433                         0.0555
                    000032713                         0.0963
                    033127399                         0.0848
                    053704889                         0.0867
                    009637729                         0.0546
                    011717815                         0.0558
                    059949867                         0.0674
                    012246142                         0.0018
                    009427237                         0.0743
                    034908347                        -0.0795
                    024442741                         0.0175
                    002715853                         0.0657
                    012054659                         0.0821
                    008271052                         0.0289
                    001163997                         0.0813
                    003883696                         0.0300
                    014742380                         0.0696
                    029872299                         0.0964
                    013042517                         0.0575
                    032729761                         0.0963
                    028915227                        -0.4649
                    008072751                         0.0942
                    035455654                         0.0735
                    005609283                         0.0099
                    027781126                        -0.0258
                    030724363                         0.0152
                    038094323                         0.0285
                    052979558                         0.0067
                    017633949                         0.0569
                    021836410                         0.0993
                    005479572                         0.0577
                    050180900                        -0.0994
                    059835368                         0.0325
                    035201264                        -0.0370
                    034807425                         0.0685
                    052282112                        -0.1525
                    001278519                         0.0822
                    013371101                        -0.0290
                    064682707                         0.0643
8519                055890379                         0.0082
Total                                                 0.0993

                                 rwas_regul_capital_amount_m_12  \
level60_operarea_id customer_id
0023                012225332                    1,311,523.9300
0058                007652980                    4,910,528.0220
                    030695078                    4,451,920.2500
                    010134184                    4,499,923.2340
                    000992836                    2,764,915.4575
                    002362927                    1,913,556.4600
                    001005370                    1,063,353.1000
                    028407710                    1,977,691.5600
                    029170892                      943,866.4630
                    010228209                      218,103.3430
                    013644107                       15,519.6930
                    000163104                      753,295.9800
                    000057385                      774,301.2100
                    000147893                      352,314.9640
                    000115593                      725,554.8300
                    011097471                      572,456.4560
                    000059569                      629,906.1800
                    051751124                    1,854,251.5400
                    007685983                      676,187.6450
                    016069816                      531,964.1160
                    000259175                      271,166.0500
                    040297019                      329,104.1060
                    050339197                      229,127.0900
                    010426433                      269,517.0000
                    000032713                      252,787.2030
                    033127399                      179,325.3700
                    053704889                      244,309.5600
                    009637729                      479,209.8930
                    011717815                      254,089.0255
                    059949867                      257,654.1180
                    012246142                      266,063.1110
                    009427237                      132,605.3700
                    034908347                      108,320.5977
                    024442741                      229,730.2817
                    002715853                      124,346.6055
                    012054659                      142,208.2300
                    008271052                      305,054.9360
                    001163997                      195,325.4230
                    003883696                      315,372.4160
                    014742380                      200,823.9700
                    029872299                       95,397.4800
                    013042517                      154,728.5603
                    032729761                      147,177.9130
                    028915227                      108,443.7424
                    008072751                      167,285.3210
                    035455654                      103,044.5560
                    005609283                      155,221.7630
                    027781126                      147,292.8774
                    030724363                      153,286.9900
                    038094323                      116,588.9420
                    052979558                       75,263.0920
                    017633949                       61,696.8340
                    021836410                       58,227.6453
                    005479572                       72,511.4750
                    050180900                      129,682.5580
                    059835368                       57,098.3189

In [223]:
pd.options.display.max_columns = None

In [ ]:
# DESGLOSE NUMERO DE CONTRATOS
# --------------------------------

# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare_new = [
    ('contract_id', 'CP'),
    ('contract_id', 'LP'),
    ('contract_id', 'Total'),
    ('rwas_regul_capital_amount', 'CP'),
    ('rwas_regul_capital_amount', 'LP'),
    ('rwas_regul_capital_amount', 'Total')
]

# Calculate the difference for the selected columns
diff_new = clim_new[cols_to_compare_new].sub(clim1_new[cols_to_compare_new], fill_value=0)

# Concatenate for side-by-side comparison
comparison_new = pd.concat(
    [
        clim_new[cols_to_compare_new].add_suffix('_m'),
        clim1_new[cols_to_compare_new].add_suffix('_m1'),
        diff_new.add_suffix('_diff'),
        clim_SA_new[cols_to_compare_new].add_suffix('_SA'),
        clim_SI_mes_new[cols_to_compare_new].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0)

comparison_new = comparison_new.reset_index()

comparison_new.columns = [
    '_'.join(map(str, col)).strip() if isinstance(col, tuple) else col
    for col in comparison_new.columns
]
comparison_new

,level60_operarea_id_,customer_id_,contract_id_m_CP_m,contract_id_m_LP_m,contract_id_m_Total_m,rwas_regul_capital_amount_m_CP_m,rwas_regul_capital_amount_m_LP_m,rwas_regul_capital_amount_m_Total_m,contract_id_m1_CP_m1,contract_id_m1_LP_m1,contract_id_m1_Total_m1,rwas_regul_capital_amount_m1_CP_m1,rwas_regul_capital_amount_m1_LP_m1,rwas_regul_capital_amount_m1_Total_m1,contract_id_diff_CP_diff,contract_id_diff_LP_diff,contract_id_diff_Total_diff,rwas_regul_capital_amount_diff_CP_diff,rwas_regul_capital_amount_diff_LP_diff,rwas_regul_capital_amount_diff_Total_diff,contract_id_SA_CP_SA,contract_id_SA_LP_SA,contract_id_SA_Total_SA,rwas_regul_capital_amount_SA_CP_SA,rwas_regul_capital_amount_SA_LP_SA,rwas_regul_capital_amount_SA_Total_SA,contract_id_SI_mes_CP_SI_mes,contract_id_SI_mes_LP_SI_mes,contract_id_SI_mes_Total_SI_mes,rwas_regul_capital_amount_SI_mes_CP_SI_mes,rwas_regul_capital_amount_SI_mes_LP_SI_mes,rwas_regul_capital_amount_SI_mes_Total_SI_mes
0,0023,012225332,3.000000,0.000000,3,1466359.525000,0.000000,1466359.525000,3.000000,0.000000,3,1311523.930000,0.000000,1311523.930000,0.000000,0.000000,0,154835.595000,0.000000,154835.595000,1.000000,0.000000,1,312982.120000,0.000000,312982.120000,1.000000,0.000000,1,968228.900000,0.000000,968228.900000
1,0058,016069816,5.000000,0.000000,5,533289.000000,0.000000,533289.000000,5.000000,0.000000,5,531964.116000,0.000000,531964.116000,0.000000,0.000000,0,1324.884000,0.000000,1324.884000,1.000000,0.000000,1,43718.740000,0.000000,43718.740000,1.000000,0.000000,1,45085.875000,0.000000,45085.875000
2,0058,017633949,2.000000,0.000000,2,59886.250000,0.000000,59886.250000,3.000000,0.000000,3,61696.834000,0.000000,61696.834000,-1.000000,0.000000,-1,-1810.584000,0.000000,-1810.584000,2.000000,0.000000,2,41018.902000,0.000000,41018.902000,1.000000,0.000000,1,35284.125000,0.000000,35284.125000
3,0058,021836410,7.000000,0.000000,7,56599.250000,0.000000,56599.250000,7.000000,0.000000,7,58227.645300,0.000000,58227.645300,0.000000,0.000000,0,-1628.395300,0.000000,-1628.395300,1.000000,0.000000,1,3079.960000,0.000000,3079.960000,1.000000,0.000000,1,1607.500000,0.000000,1607.500000
4,0058,024442741,5.000000,0.000000,5,181997.375000,0.000000,181997.375000,5.000000,0.000000,5,229730.281700,0.000000,229730.281700,0.000000,0.000000,0,-47732.906700,0.000000,-47732.906700,3.000000,0.000000,3,151284.826700,0.000000,151284.826700,3.000000,0.000000,3,103592.750000,0.000000,103592.750000
5,0058,027781126,4.000000,0.000000,4,115397.250000,0.000000,115397.250000,5.000000,0.000000,5,147292.877400,0.000000,147292.877400,-1.000000,0.000000,-1,-31895.627400,0.000000,-31895.627400,3.000000,0.000000,3,104799.057400,0.000000,104799.057400,2.000000,0.000000,2,72812.875000,0.000000,72812.875000
6,0058,028407710,2.000000,1.000000,3,115226.375000,1337020.400000,1452246.775000,2.000000,1.000000,3,626155.960000,1351535.600000,1977691.560000,0.000000,0.000000,0,-510929.585000,-14515.200000,-525444.785000,2.000000,0.000000,2,626155.960000,0.000000,626155.960000,2.000000,0.000000,2,115226.375000,0.000000,115226.375000
7,0058,028915227,8.000000,0.000000,8,130412.000000,0.000000,130412.000000,7.000000,0.000000,7,108443.742400,0.000000,108443.742400,1.000000,0.000000,1,21968.257600,0.000000,21968.257600,1.000000,0.000000,1,11278.405000,0.000000,11278.405000,2.000000,0.000000,2,33280.375000,0.000000,33280.375000
8,0058,029170892,2.000000,2.000000,4,162025.750000,1052619.350000,1214645.100000,2.000000,1.000000,3,279252.363000,664614.100000,943866.463000,0.000000,1.000000,1,-117226.613000,388005.250000,270778.637000,2.000000,0.000000,2,279038.223000,0.000000,279038.223000,2.000000,1.000000,3,162025.750000,408940.750000,570966.500000
9,0058,029872299,5.000000,0.000000,5,155075.375000,0.000000,155075.375000,5.000000,0.000000,5,95397.480000,0.000000,95397.480000,0.000000,0.000000,0,59677.895000,0.000000,59677.895000,1.000000,0.000000,1,24016.713000,0.000000,24016.713000,1.000000,0.000000,1,84508.000000,0.000000,84508.000000
10,0058,030695078,7.000000,0.000000,7,4773207.120000,0.000000,4773207.120000,6.000000,0.000000,6,4451920.250000,0.000000,4451920.250000,1.000000,0.000000,1,321286.870000,0.000000,321286.870000,1.000000,0.000000,1,1012624.440000,0.000000,1012624.440000,2.000000,0.000000,2,1449976.000000,0.000000,1449976.000000
11,0058,030724363,5.000000,0.000000,5,110213.375000,0.000000,110213.375000,8.000000,0.000000,8,153286.990000,0.000000,153286.990000,-3.000000,0.000000,-3,-43073.615000,0.000000,-43073.615000,4.000000,0.000000,4,64390.085000,0.000000,64390.085000,1.000000,0.000000,1,21638.125000,0.000000,21638.125000
12,0058,032729761,2.000000,0.000000,2,132286.250000,0.000000,132286.250000,3.000000,0.000000,3,147177.913000,0.000000,147177.913000,-1.000000,0.000000,-1,-14891.663000,0.000000,-14891.663000,2.000000,0.000000,2,117540.447000,0.000000,117540.447000,1.000000,0.000000,1,103688.500000,0.000000,103688.500000
13,0058,033127399,4.000000,0.000000,4,263737.625000,0.000000,263737.625000,3.000000,0.000000,3,179325.370000,0.000000,179325.370000,1.000000,0.000000,1,84412.255000,0.000000,84412.255000,1.000000,0.000000,1,71277.740000,0.000000,71277.740000,2.000000,0.000000,2,155847.000000,0.000000,155847.000000
14,0058,014742380,2.000000,1.000000,3,124007.250000,33419.375000,157426.625000,3.000000,1.000000,4,176487.663000,24336.307000,200823.970000,-1.000000,0.000000,-1,-52480.413000,9083.068000,-43397.345000,3.000000,0.000000,3,176499.588000,0.000000,176499.588000,2.000000,0.000000,2,124007.250000,0.000000,124007.250000
15,0058,034807425,4.000000,0.000000,4,36753.000000,0.000000,36753.000000,3.000000,0.000000,3,101342.687000,0.000000,101342.687000,1.000000,0.000000,1,-64589.687000,0.000000,-64589.687000,2.000000,0.000000,2,58176.077000,0.000000,58176.077000,3.000000,0.000000,3,29242.250000,0.000000,29242.250000
16,0058,035201264,3.000000,0.000000,3,36757.500000,0.000000,36757.500000,3.000000,0.000000,3,42085.749300,0.000000,42085.749300,0.000000,0.000000,0,-5328.249300,0.000000,-5328.249300,1.000000,0.000000,1,25158.000000,0.000000,25158.000000,1.000000,0.000000,1,20591.625000,0.000000,20591.625000
17,0058,035455654,3.000000,0.000000,3,123931.500000,0.000000,123931.500000,3.000000,0.000000,3,103044.556000,0.000000,103044.556000,0.000000,0.000000,0,20886.944000,0.000000,20886.944000,1.000000,0.000000,1,25767.470000,0.000000,25767.470000,1.000000,0.000000,1,31113.750000,0.000000,31113.750000
18,0058,038094323,5.000000,0.000000,5,80992.875000,0.000000,80992.875000,4.000000,0.000000,4,116588.942000,0.000000,116588.942000,1.000000,0.000000,1,-35596.067000,0.000000,-35596.067000,2.000000,0.000000,2,83404.752000,0.000000,83404.752000,3.000000,0.000000,3,48147.750000,0.000000,48147.750000
19,0058,040297019,6.000000,0.000000,6,391753.000000,0.000000,391753.000000,4.000000,0.000000,4,329104.106000,0.000000,329104.106000,2.000000,0.000000,2,62648.894000,0.000000,62648.894000,2.000000,0.000000,2,134145.616000,0.000000,134145.616000,4.000000,0.000000,4,197144.750000,0.000000,197144.750000
20,0058,050180900,2.000000,0.000000,2,49761.625000,0.000000,49761.625000,3.000000,1.000000,4,85267.472000,44415.086000,129682.558000,-1.000000,-1.000000,-2,-35505.847000,-44415.086000,-79920.933000,2.000000,1.000000,3,41438.308000,39253.750000,80692.058000,1.000000,0.000000,1,8950.250000,0.000000,8950.250000
21,0058,050339197,1.000000,1.000000,2,117228.750000,182644.620000,299873.370000,1.000000,1.000000,2,45356.060000,183771.030000,229127.090000,0.000000,0.000000,0,71872.690000,-1126.410000,70746.280000,1.000000,0.000000,1,45384.625000,0.000000,45384.625000,1.000000,0.000000,1,117228.750000,0.000000,117228.750000
22,0058,051751124,1.000000,1.000000,2,66119.750000,556540.750000,622660.500000,1.000000,1.000000,2,1165348.100000,688903.440000,1854251.540000,0.000000,0.000000,0,-1099228.350000,-132362.690000,-1231591.040000,1.000000,0.000000,1,810413.400000,0.000000,810413.400000,1.000000,0.000000,1,66119.750000,0.000000,66119.750000
23,0058,052282112,4.000000,0.000000,4,22654.750000,0.000000,22654.750000,4.000000,0.000000,4,13708.427300,0.000000,13708.427300,0.000000,0.000000,0,8946.322700,0.000000,8946.322700,2.000000,0.000000,2,6530.689900,0.000000,6530.689900,2.000000,0.000000,2,15477.750000,0.000000,15477.750000
24,0058,052979558,3.000000,0.000000,3,73005.750000,0.000000,73005.750000,3.000000,0.000000,3,75263.092000,0.000000,75263.092000,0.000000,0.000000,0,-2257.342000,0.000000,-2257.342000,2.000000,0.000000,2,33830.002000,0.000000,33830.002000,2.000000,0.000000,2,32033.250000,0.000000,32033.250000
25,0058,053704889,2.000000,0.000000,2,243143.000000,0.000000,243143.000000,2.000000,0.000000,2,244309.560000,0.000000,244309.560000,0.000000,0.000000,0,-1166.560000,0.000000,-1166.560000,1.000000,0.000000,1,122166.330000,0.000000,122166.330000,1.000000,0.000000,1,121493.500000,0.000000,121493.500000
26,0058,059835368,5.000000,0.000000,5,47595.000000,0.000000,47595.000000,6.000000,0.000000,6,57098.318900,0.000000,57098.318900,-1.000000,0.000000,-1,-9503.318900,0.000000,-9503.318900,2.000000,0.000000,2,14082.379900,0.000000,14082.379900,1.000000,0.000000,1,8936.750000,0.000000,8936.750000
27,0058,059949867,3.000000,0.000000,3,206693.620000,0.000000,206693.620000,3.000000,0.000000,3,257654.118000,0.000000,257654.118000,0.000000,0.000000,0,-50960.498000,0.000000,-50960.498000,1.000000,0.000000,1,18727.855000,0.000000,18727.855000,1.000000,0.000000,1,18671.375000,0.000000,18671.375000
28,0058,064682707,2.000000,0.000000,2,8111.500000,0.000000,8111.500000,3.000000,0.000000,3,24189.667000,0.000000,24189.667000,-1.000000,0.000000,-1,-16078.167000,0.000000,-16078.167000,2.000000,0.000000,2,17646.375000,0.000000,17646.375000,1.000000,0.000000,1,1657.000000,0.000000,1657.000000
29,0058,034908347,4.000000,1.000000,5,184957.250000,4540.250000,189497.500000,4.000000,1.000000,5,103715.730000,4604.867700,108320.597700,0.000000,0.000000,0,81241.520000,-64.617700,81176.902300,2.000000,0.000000,2,44894.302000,0.000000,44894.302000,2.000000,0.000000,2,126563.375000,0.000000,126563.375000
30,0058,013644107,4.000000,0.000000,4,917550.525000,0.000000,917550.525000,2.000000,1.000000,3,4182.965000,11336.728000,15519.693000,2.000000,-1.000000,1,913367.560000,-11336.728000,902030.832000,0.000000,1.000000,1,0.000000,2042.625000,2042.625000,2.000000,0.000000,2,913450.525000,0.000000,913450.525000
31,0058,013371101,3.000000,0.000000,3,9787.750000,0.000000,9787.750000,4.000000,0.000000,4,35291.004600,0.000000,35291.004600,-1.000000,0.000000,-1,-25503.254600,0.000000,-25503.254600,3.000000,0.000000,3,29965.777000,0.000000,29965.777000,2.000000,0.000000,2,5651.625000,0.000000,5651.625000
32,0058,013042517,6.000000,0.000000,6,154671.000000,0.000000,154671.000000,5.000000,0.000000,5,154728.560300,0.000000,154728.560300,1.000000,0.000000,1,-57.560300,0.000000,-57.560300,1.000000,0.000000,1,42034.340000,0.000000,42034.340000,2.000000,0.000000,2,42228.250000,0.000000,42228.250000
33,0058,000032713,6.000000,0.000000,6,266977.750000,0.000000,266977.750000,4.000000,0.000000,4,252787.203000,0.000000,252787.203000,2.000000,0.000000,2,14190.547000,0.000000,14190.547000,1.000000,0.000000,1,69898.414000,0.000000,69898.414000,3.000000,0.000000,3,84801.750000,0.000000,84801.750000
34,0058,000057385,6.000000,0.000000,6,734386.125000,0.000000,734386.125000,6.000000,0.000000,6,774301.210000,0.000000,774301.210000,0.000000,0.000000,0,-39915.085000,0.000000,-39915.085000,3.000000,0.000000,3,69280.215000,0.000000,69280.215000,3.000000,0.000000,3,64184.875000,0.000000,64184.875000
35,0058,000059569,6.000000,0.000000,6,632266.500000,0.000000,632266.500000,6.000000,0.000000,6,629906.180000,0.000000,629906.180000,0.000000,0.000000,0,2360.320000,0.000000,2360.320000,1.000000,0.000000,1,51758.740000,0.000000,51758.740000,1.000000,0.000000,1,53849.375000,0.000000,53849.375000
36,0058,000115593,3.000000,0.000000,3,650166.880000,0.000000,650166.880000,3.000000,0.000000,3,725554.830000,0.000000,725554.830000,0.000000,0.000000,0,-75387.950000,0.000000,-75387.950000,1.000000,0.000000,1,143217.280000,0.000000,143217.280000,1.000000,0.000000,1,142243.120000,0.000000,142243.120000
37,0058,000147893,3.000000,0.000000,3,663894.870000,0.000000,663894.870000,5.000000,0.000000,5,352314.964000,0.000000,352314.964000,-2.000000,0.000000,-2,311579.906000,0.000000,311579.906000,4.000000,0.000000,4,56098.904000,0.000000,56098.904000,2.000000,0.000000,2,367808.120000,0.000000,367808.120000
38,0058,000163104,2.000000,0.000000,2,799935.120000,0.000000,799935.120000,2.000000,0.000000,2,753295.980000,0.000000,753295.980000,0.000000,0.000000,0,46639.140000,0.000000,46639.140000,1.000000,0.000000,1,82835.780000,0.000000,82835.780000,1.000000,0.000000,1,249220.120000,0.000000,249220.120000
39,0058,000259175,4.000000,2.000000,6,468816.750000,6580.500000,475397.250000,3.000000,1.000000,4,266920.780000,4245.270000,271166.050000,1.000000,1.000000,2,201895.970000,2335.230000,204231.200000,1.000000,0.000000,1,115909.670000,0.000000,115909.670000,2.000000,1.000000,3,230066.875000,2363.125000,232430.000000
40,0058,000992836,1.000000,1.000000,2,465051.120000,2301002.200000,2766053.320000,2.000000,1.000000,3,441483.257500,2323432.200000,2764915.457500,-1.000000,0.000000,-1,23567.862500,-22430.000000,1137.862500,2.000000,0.000000,2,441483.257500,0.000000,441483.257500,1.000000,0.000000,1,465051.120000,0.000000,465051.120000
41,0058,001005370,2.000000,0.000000,2,2062331.300000,0.000000,2062331.300000,2.000000,0.000000,2,1063353.100000,0.000000,1063353.100000,0.000000,0.000000,0,998978.200000,0.000000,998978.200000,1.000000,0.000000,1,0.000000,0.000000,0.000000,1.000000,0.000000,1,1011901.900000,0.000000,1011901.900000
42,0058,001163997,6.000000,0.000000,6,163282.250000,0.000000,163282.250000,6.000000,0.000000,6,195325.423000,0.000000,195325.423000,0.000000,0.000000,0,-32043.173000,0.000000,-32043.173000,2.000000,0.000000,2,88240.969000,0.000000,88240.969000,2.000000,0.000000,2,56372.000000,0.000000,56372.000000
43,0058,001278519,2.000000,0.000000,2,18363.500000,0.000000,18363.500000,2.000000,0.000000,2,23610.887000,0.000000,23610.887000,0.000000,0.000000,0,-5247.387000,0.000000,-5247.387000,1.000000,0.000000,1,17215.207000,0.000000,17215.207000,1.000000,0.000000,1,15021.625000,0.000000,15021.625000
44,0058,002362927,5.000000,2.000000,7,1190298.125000,902255.370000,2092553.495000,4.000000,2.000000,6,996679.160000,916877.300000,1913556.460000,1.000000,0.000000,1,193618.965000,-14621.930000,178997.035000,1.000000,0.000000,1,189436.340000,0.000000,189436.340000,2.000000,0.000000,2,496906.000000,0.000000,496906.000000
45,0058,002715853,6.000000,0.000000,6,167857.000000,0.000000,167857.000000,6.000000,0.000000,6,124346.605500,0.000000,124346.605500,0.000000,0.000000,0,43510.394500,0.000000,43510.394500,2.000000,0.000000,2,58569.000000,0.000000,58569.000000,2.000000,0.000000,2,104994.625000,0.000000,104994.625000
46,0058,003883696,3.000000,0.000000,3,163275.875000,0.000000,163275.875000,4.000000,0.000000,4,315372.416000,0.000000,315372.416000,-1.000000,0.000000,-1,-152096.541000,0.000000,-152096.541000,2.000000,0.000000,2,44491.250000,0.000000,44491.250000,1.000000,0.000000,1,24081.000000,0.000000,24081.000000
47,0058,005479572,3.000000,0.000000,3,49819.625000,0.000000,49819.625000,3.000000,0.000000,3,72511.475000,0.000000,72511.475000,0.000000,0.000000,0,-22691.850000,0.000000,-22691.850000,1.000000,0.000000,1,30482.328000,0.000000,30482.328000,1.000000,0.000000,1,8430.250000,0.000000,8430.250000
48,0058,005609283,5.000000,0.000000,5,117063.000000,0.000000,117063.000000,5.000000,1.000000,6,141702.488000,13519.275000,155221.763000,0.000000,-1.000000,-1,-24639.488000,-13519.275000,-38158.763000,1.000000,1.000000,2,47180.150000,13519.275000,60699.425000,1.000000,0.000000,1,22675.125000,0.000000,22675.125000
49,0058,007652980,0.000000,4.000000,4,0.000000,5062834.150000,5062834.150000,1.000000,3.000000,4,56950.332000,4853577.690000,4910528.022000,-1.000000,1.000000,0,-56950.332000,209256.460000,152306.128000,1.000000,0.000000,1,44651.750000,0.000000,44651.750000,0.000000,1.000000,1,0.000000,237731.000000,237731.000000
50,0058,007685983,7.000000,0.000000,7,572496.130000,0.000000,572496.130000,6.000000,0.000000,6,676187.645000,0.000000,676187.645000,1.000000,0.000000,1,-103691.515000,0.000000,-103691.515000,1.000000,0.000000,1,95039.125000,0.000000,95039.125000,2.000000,0.000000,2,1060.000000,0.000000,1060.000000
51,0058,008072751,2.000000,0.000000,2,129543.500000,0.000000,129543.500000,2.000000,0.000000,2,167285.321000,0.000000,167285.321000,0.000000,0.000000,0,-37741.821000,0.000000,-37741.821000,1.000000,0.000000,1,220305.000000,0.000000,220305.000000,1.000000,0.000000,1,31818.500000,0.000000,31818.500000
52,0058,008271052,3.000000,0.000000,3,165187.000000,0.000000,165187.000000,5.000000,0.000000,5,305054.936000,0.000000,305054.936000,-2.000000,0.000000,-2,-139867.936000,0.000000,-139867.936000,3.000000,0.000000,3,151483.442000,0.000000,151483.442000,1.000000,0.000000,1,11158.125000,0.000000,11158.125000
53,0058,009427237,4.000000,0.000000,4,190098.750000,0.000000,190098.750000,2.000000,0.000000,2,132605.370000,0.000000,132605.370000,2.000000,0.000000,2,57493.380000,0.000000,57493.380000,1.000000,0.000000,1,59721.420000,0.000000,59721.420000,3.000000,0.000000,3,117183.750000,0.000000,117183.750000
54,0058,009637729,3.000000,0.000000,3,234792.375000,0.000000,234792.375000,4.000000,0.000000,4,479209.893000,0.000000,479209.893000,-1.000000,0.000000,-1,-244417.518000,0.000000,-244417.518000,2.000000,0.000000,2,48508.477000,0.000000,48508.477000,1.000000,0.000000,1,104853.125000,0.000000,104853.125000
55,0058,010134184,5.000000,2.000000,7,2114760.520000,2319847.750000,4434608.270000,5.000000,2.000000,7,2136601.544000,2363321.690000,4499923.234000,0.000000,0.000000,0,-21841.024000,-43473.940000,-65314.964000,1.000000,0.000000,1,101319.414000,0.000000,101319.414000,1.000000,0.000000,1,113850.875000,0.000000,113850.875000
56,0058,010228209,1.000000,1.000000,2,871212.750000,58289.000000,929501.750000,2.000000,1.000000,3,158784.913000,59318.430000,218103.343000,-1.000000,0.000000,-1,712427.837000,-1029.430000,711398.407000,2.000000,0.000000,2,108163.765000,0.000000,108163.765000,1.000000,0.000000,1,871212.750000,0.000000,871212.750000
57,0058,010426433,2.000000,0.000000,2,277079.625000,0.000000,277079.625000,2.000000,0.000000,2,269517.000000,0.000000,269517.000000,0.000000,0.000000,0,7562.625000,0.000000,7562.625000,1.000000,0.000000,1,114016.030000,0.000000,114016.030000,1.000000,0.000000,1,121388.875000,0.000000,121388.875000
58,0058,011097471,6.000000,1.000000,7,622205.625000,17157.875000,639363.500000,7.000000,1.000000,8,554896.931000,17559.525000,572456.456000,-1.000000,0.000000,-1,67308.694000,-401.650000,66907.044000,2.000000,0.000000,2,60871.024000,0.000000,60871.024000,1.000000,0.000000,1,34184.125000,0.000000,34184.125000
59,0058,011717815,1.000000,1.000000,2,27596.875000,181538.500000,209135.375000,2.000000,1.000000,3,64331.715500,189757.310000,254089.025500,-1.000000,0.000000,-1,-36734.840500,-8218.810000,-44953.650500,2.000000,0.000000,2,64331.715500,0.000000,64331.715500,1.000000,0.000000,1,27596.875000,0.000000,27596.875000
60,0058,012054659,4.000000,0.000000,4,165555.625000,0.000000,165555.625000,2.000000,0.000000,2,142208.230000,0.000000,142208.230000,2.000000,0.000000,2,23347.395000,0.000000,23347.395000,1.000000,0.000000,1,85103.100000,0.000000,85103.100000,3.000000,0.000000,3,104795.625000,0.000000,104795.625000
61,0058,012246142,3.000000,0.000000,3,195098.120000,0.000000,195098.120000,4.000000,0.000000,4,266063.111000,0.000000,266063.111000,-1.000000,0.000000,-1,-70964.991000,0.000000,-70964.991000,2.000000,0.000000,2,107335.871000,0.000000,107335.871000,1.000000,0.000000,1,36550.500000,0.000000,36550.500000

In [225]:
comparison_new.columns

Index(['level60_operarea_id_', 'customer_id_', 'contract_id_m_CP_m',
       'contract_id_m_LP_m', 'contract_id_m_Total_m',
       'rwas_regul_capital_amount_m_CP_m', 'rwas_regul_capital_amount_m_LP_m',
       'rwas_regul_capital_amount_m_Total_m', 'contract_id_m1_CP_m1',
       'contract_id_m1_LP_m1', 'contract_id_m1_Total_m1',
       'rwas_regul_capital_amount_m1_CP_m1',
       'rwas_regul_capital_amount_m1_LP_m1',
       'rwas_regul_capital_amount_m1_Total_m1', 'contract_id_diff_CP_diff',
       'contract_id_diff_LP_diff', 'contract_id_diff_Total_diff',
       'rwas_regul_capital_amount_diff_CP_diff',
       'rwas_regul_capital_amount_diff_LP_diff',
       'rwas_regul_capital_amount_diff_Total_diff', 'contract_id_SA_CP_SA',
       'contract_id_SA_LP_SA', 'contract_id_SA_Total_SA',
       'rwas_regul_capital_amount_SA_CP_SA',
       'rwas_regul_capital_amount_SA_LP_SA',
       'rwas_regul_capital_amount_SA_Total_SA', 'contract_id_SI_mes_CP_SI_mes',
       'contract_id_SI_mes_LP_SI_mes', 'contract_id_SI_mes_Total_SI_mes',
       'rwas_regul_capital_amount_SI_mes_CP_SI_mes',
       'rwas_regul_capital_amount_SI_mes_LP_SI_mes',
       'rwas_regul_capital_amount_SI_mes_Total_SI_mes'],
      dtype='object')

In [226]:
renamed_dict_new = {
    'level60_operarea_id_': 'banca',
    'customer_id_': 'cliente',
    'contract_id_m_CP_m': 'n_cont_CP_m',
    'contract_id_m_LP_m': 'n_cont_LP_m',
    'contract_id_m_Total_m': 'n_cont_Tot_m',
    'rwas_regul_capital_amount_m_CP_m': 'rwas_CP_m',
    'rwas_regul_capital_amount_m_LP_m': 'rwas_LP_m',
    'rwas_regul_capital_amount_m_Total_m': 'rwas_Tot_m',
    'contract_id_m1_CP_m1': 'n_cont_CP_m1',
    'contract_id_m1_LP_m1': 'n_cont_LP_m1',
    'contract_id_m1_Total_m1': 'n_cont_Tot_m1',
    'rwas_regul_capital_amount_m1_CP_m1': 'rwas_CP_m1',
    'rwas_regul_capital_amount_m1_LP_m1': 'rwas_LP_m1',
    'rwas_regul_capital_amount_m1_Total_m1': 'rwas_Tot_m1',
    'contract_id_diff_CP_diff': 'n_cont_CP_diff',
    'contract_id_diff_LP_diff': 'n_cont_LP_diff',
    'contract_id_diff_Total_diff': 'n_cont_Tot_diff',
    'rwas_regul_capital_amount_diff_CP_diff': 'rwas_CP_diff',
    'rwas_regul_capital_amount_diff_LP_diff': 'rwas_LP_diff',
    'rwas_regul_capital_amount_diff_Total_diff': 'rwas_Tot_diff',
    'contract_id_SA_CP_SA': 'n_cont_CP_SA',
    'contract_id_SA_LP_SA': 'n_cont_LP_SA',
    'contract_id_SA_Total_SA': 'n_cont_Tot_SA',
    'rwas_regul_capital_amount_SA_CP_SA': 'rwas_CP_SA',
    'rwas_regul_capital_amount_SA_LP_SA': 'rwas_LP_SA',
    'rwas_regul_capital_amount_SA_Total_SA': 'rwas_Tot_SA',
    'contract_id_SI_mes_CP_SI_mes': 'n_cont_CP_SI_m',
    'contract_id_SI_mes_LP_SI_mes': 'n_cont_LP_SI_m',
    'contract_id_SI_mes_Total_SI_mes': 'n_cont_Tot_SI_m',
    'rwas_regul_capital_amount_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'rwas_regul_capital_amount_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'rwas_regul_capital_amount_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_new_renamed=comparison_new.rename(mapper=renamed_dict_new, axis="columns")

In [227]:
comparison_new_renamed

,banca,cliente,n_cont_CP_m,n_cont_LP_m,n_cont_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_cont_CP_m1,n_cont_LP_m1,n_cont_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_cont_CP_diff,n_cont_LP_diff,n_cont_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_cont_CP_SA,n_cont_LP_SA,n_cont_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_cont_CP_SI_m,n_cont_LP_SI_m,n_cont_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,012225332,3.000000,0.000000,3,1466359.525000,0.000000,1466359.525000,3.000000,0.000000,3,1311523.930000,0.000000,1311523.930000,0.000000,0.000000,0,154835.595000,0.000000,154835.595000,1.000000,0.000000,1,312982.120000,0.000000,312982.120000,1.000000,0.000000,1,968228.900000,0.000000,968228.900000
1,0058,016069816,5.000000,0.000000,5,533289.000000,0.000000,533289.000000,5.000000,0.000000,5,531964.116000,0.000000,531964.116000,0.000000,0.000000,0,1324.884000,0.000000,1324.884000,1.000000,0.000000,1,43718.740000,0.000000,43718.740000,1.000000,0.000000,1,45085.875000,0.000000,45085.875000
2,0058,017633949,2.000000,0.000000,2,59886.250000,0.000000,59886.250000,3.000000,0.000000,3,61696.834000,0.000000,61696.834000,-1.000000,0.000000,-1,-1810.584000,0.000000,-1810.584000,2.000000,0.000000,2,41018.902000,0.000000,41018.902000,1.000000,0.000000,1,35284.125000,0.000000,35284.125000
3,0058,021836410,7.000000,0.000000,7,56599.250000,0.000000,56599.250000,7.000000,0.000000,7,58227.645300,0.000000,58227.645300,0.000000,0.000000,0,-1628.395300,0.000000,-1628.395300,1.000000,0.000000,1,3079.960000,0.000000,3079.960000,1.000000,0.000000,1,1607.500000,0.000000,1607.500000
4,0058,024442741,5.000000,0.000000,5,181997.375000,0.000000,181997.375000,5.000000,0.000000,5,229730.281700,0.000000,229730.281700,0.000000,0.000000,0,-47732.906700,0.000000,-47732.906700,3.000000,0.000000,3,151284.826700,0.000000,151284.826700,3.000000,0.000000,3,103592.750000,0.000000,103592.750000
5,0058,027781126,4.000000,0.000000,4,115397.250000,0.000000,115397.250000,5.000000,0.000000,5,147292.877400,0.000000,147292.877400,-1.000000,0.000000,-1,-31895.627400,0.000000,-31895.627400,3.000000,0.000000,3,104799.057400,0.000000,104799.057400,2.000000,0.000000,2,72812.875000,0.000000,72812.875000
6,0058,028407710,2.000000,1.000000,3,115226.375000,1337020.400000,1452246.775000,2.000000,1.000000,3,626155.960000,1351535.600000,1977691.560000,0.000000,0.000000,0,-510929.585000,-14515.200000,-525444.785000,2.000000,0.000000,2,626155.960000,0.000000,626155.960000,2.000000,0.000000,2,115226.375000,0.000000,115226.375000
7,0058,028915227,8.000000,0.000000,8,130412.000000,0.000000,130412.000000,7.000000,0.000000,7,108443.742400,0.000000,108443.742400,1.000000,0.000000,1,21968.257600,0.000000,21968.257600,1.000000,0.000000,1,11278.405000,0.000000,11278.405000,2.000000,0.000000,2,33280.375000,0.000000,33280.375000
8,0058,029170892,2.000000,2.000000,4,162025.750000,1052619.350000,1214645.100000,2.000000,1.000000,3,279252.363000,664614.100000,943866.463000,0.000000,1.000000,1,-117226.613000,388005.250000,270778.637000,2.000000,0.000000,2,279038.223000,0.000000,279038.223000,2.000000,1.000000,3,162025.750000,408940.750000,570966.500000
9,0058,029872299,5.000000,0.000000,5,155075.375000,0.000000,155075.375000,5.000000,0.000000,5,95397.480000,0.000000,95397.480000,0.000000,0.000000,0,59677.895000,0.000000,59677.895000,1.000000,0.000000,1,24016.713000,0.000000,24016.713000,1.000000,0.000000,1,84508.000000,0.000000,84508.000000
10,0058,030695078,7.000000,0.000000,7,4773207.120000,0.000000,4773207.120000,6.000000,0.000000,6,4451920.250000,0.000000,4451920.250000,1.000000,0.000000,1,321286.870000,0.000000,321286.870000,1.000000,0.000000,1,1012624.440000,0.000000,1012624.440000,2.000000,0.000000,2,1449976.000000,0.000000,1449976.000000
11,0058,030724363,5.000000,0.000000,5,110213.375000,0.000000,110213.375000,8.000000,0.000000,8,153286.990000,0.000000,153286.990000,-3.000000,0.000000,-3,-43073.615000,0.000000,-43073.615000,4.000000,0.000000,4,64390.085000,0.000000,64390.085000,1.000000,0.000000,1,21638.125000,0.000000,21638.125000
12,0058,032729761,2.000000,0.000000,2,132286.250000,0.000000,132286.250000,3.000000,0.000000,3,147177.913000,0.000000,147177.913000,-1.000000,0.000000,-1,-14891.663000,0.000000,-14891.663000,2.000000,0.000000,2,117540.447000,0.000000,117540.447000,1.000000,0.000000,1,103688.500000,0.000000,103688.500000
13,0058,033127399,4.000000,0.000000,4,263737.625000,0.000000,263737.625000,3.000000,0.000000,3,179325.370000,0.000000,179325.370000,1.000000,0.000000,1,84412.255000,0.000000,84412.255000,1.000000,0.000000,1,71277.740000,0.000000,71277.740000,2.000000,0.000000,2,155847.000000,0.000000,155847.000000
14,0058,014742380,2.000000,1.000000,3,124007.250000,33419.375000,157426.625000,3.000000,1.000000,4,176487.663000,24336.307000,200823.970000,-1.000000,0.000000,-1,-52480.413000,9083.068000,-43397.345000,3.000000,0.000000,3,176499.588000,0.000000,176499.588000,2.000000,0.000000,2,124007.250000,0.000000,124007.250000
15,0058,034807425,4.000000,0.000000,4,36753.000000,0.000000,36753.000000,3.000000,0.000000,3,101342.687000,0.000000,101342.687000,1.000000,0.000000,1,-64589.687000,0.000000,-64589.687000,2.000000,0.000000,2,58176.077000,0.000000,58176.077000,3.000000,0.000000,3,29242.250000,0.000000,29242.250000
16,0058,035201264,3.000000,0.000000,3,36757.500000,0.000000,36757.500000,3.000000,0.000000,3,42085.749300,0.000000,42085.749300,0.000000,0.000000,0,-5328.249300,0.000000,-5328.249300,1.000000,0.000000,1,25158.000000,0.000000,25158.000000,1.000000,0.000000,1,20591.625000,0.000000,20591.625000
17,0058,035455654,3.000000,0.000000,3,123931.500000,0.000000,123931.500000,3.000000,0.000000,3,103044.556000,0.000000,103044.556000,0.000000,0.000000,0,20886.944000,0.000000,20886.944000,1.000000,0.000000,1,25767.470000,0.000000,25767.470000,1.000000,0.000000,1,31113.750000,0.000000,31113.750000
18,0058,038094323,5.000000,0.000000,5,80992.875000,0.000000,80992.875000,4.000000,0.000000,4,116588.942000,0.000000,116588.942000,1.000000,0.000000,1,-35596.067000,0.000000,-35596.067000,2.000000,0.000000,2,83404.752000,0.000000,83404.752000,3.000000,0.000000,3,48147.750000,0.000000,48147.750000
19,0058,040297019,6.000000,0.000000,6,391753.000000,0.000000,391753.000000,4.000000,0.000000,4,329104.106000,0.000000,329104.106000,2.000000,0.000000,2,62648.894000,0.000000,62648.894000,2.000000,0.000000,2,134145.616000,0.000000,134145.616000,4.000000,0.000000,4,197144.750000,0.000000,197144.750000
20,0058,050180900,2.000000,0.000000,2,49761.625000,0.000000,49761.625000,3.000000,1.000000,4,85267.472000,44415.086000,129682.558000,-1.000000,-1.000000,-2,-35505.847000,-44415.086000,-79920.933000,2.000000,1.000000,3,41438.308000,39253.750000,80692.058000,1.000000,0.000000,1,8950.250000,0.000000,8950.250000
21,0058,050339197,1.000000,1.000000,2,117228.750000,182644.620000,299873.370000,1.000000,1.000000,2,45356.060000,183771.030000,229127.090000,0.000000,0.000000,0,71872.690000,-1126.410000,70746.280000,1.000000,0.000000,1,45384.625000,0.000000,45384.625000,1.000000,0.000000,1,117228.750000,0.000000,117228.750000
22,0058,051751124,1.000000,1.000000,2,66119.750000,556540.750000,622660.500000,1.000000,1.000000,2,1165348.100000,688903.440000,1854251.540000,0.000000,0.000000,0,-1099228.350000,-132362.690000,-1231591.040000,1.000000,0.000000,1,810413.400000,0.000000,810413.400000,1.000000,0.000000,1,66119.750000,0.000000,66119.750000
23,0058,052282112,4.000000,0.000000,4,22654.750000,0.000000,22654.750000,4.000000,0.000000,4,13708.427300,0.000000,13708.427300,0.000000,0.000000,0,8946.322700,0.000000,8946.322700,2.000000,0.000000,2,6530.689900,0.000000,6530.689900,2.000000,0.000000,2,15477.750000,0.000000,15477.750000
24,0058,052979558,3.000000,0.000000,3,73005.750000,0.000000,73005.750000,3.000000,0.000000,3,75263.092000,0.000000,75263.092000,0.000000,0.000000,0,-2257.342000,0.000000,-2257.342000,2.000000,0.000000,2,33830.002000,0.000000,33830.002000,2.000000,0.000000,2,32033.250000,0.000000,32033.250000
25,0058,053704889,2.000000,0.000000,2,243143.000000,0.000000,243143.000000,2.000000,0.000000,2,244309.560000,0.000000,244309.560000,0.000000,0.000000,0,-1166.560000,0.000000,-1166.560000,1.000000,0.000000,1,122166.330000,0.000000,122166.330000,1.000000,0.000000,1,121493.500000,0.000000,121493.500000
26,0058,059835368,5.000000,0.000000,5,47595.000000,0.000000,47595.000000,6.000000,0.000000,6,57098.318900,0.000000,57098.318900,-1.000000,0.000000,-1,-9503.318900,0.000000,-9503.318900,2.000000,0.000000,2,14082.379900,0.000000,14082.379900,1.000000,0.000000,1,8936.750000,0.000000,8936.750000
27,0058,059949867,3.000000,0.000000,3,206693.620000,0.000000,206693.620000,3.000000,0.000000,3,257654.118000,0.000000,257654.118000,0.000000,0.000000,0,-50960.498000,0.000000,-50960.498000,1.000000,0.000000,1,18727.855000,0.000000,18727.855000,1.000000,0.000000,1,18671.375000,0.000000,18671.375000
28,0058,064682707,2.000000,0.000000,2,8111.500000,0.000000,8111.500000,3.000000,0.000000,3,24189.667000,0.000000,24189.667000,-1.000000,0.000000,-1,-16078.167000,0.000000,-16078.167000,2.000000,0.000000,2,17646.375000,0.000000,17646.375000,1.000000,0.000000,1,1657.000000,0.000000,1657.000000
29,0058,034908347,4.000000,1.000000,5,184957.250000,4540.250000,189497.500000,4.000000,1.000000,5,103715.730000,4604.867700,108320.597700,0.000000,0.000000,0,81241.520000,-64.617700,81176.902300,2.000000,0.000000,2,44894.302000,0.000000,44894.302000,2.000000,0.000000,2,126563.375000,0.000000,126563.375000
30,0058,013644107,4.000000,0.000000,4,917550.525000,0.000000,917550.525000,2.000000,1.000000,3,4182.965000,11336.728000,15519.693000,2.000000,-1.000000,1,913367.560000,-11336.728000,902030.832000,0.000000,1.000000,1,0.000000,2042.625000,2042.625000,2.000000,0.000000,2,913450.525000,0.000000,913450.525000
31,0058,013371101,3.000000,0.000000,3,9787.750000,0.000000,9787.750000,4.000000,0.000000,4,35291.004600,0.000000,35291.004600,-1.000000,0.000000,-1,-25503.254600,0.000000,-25503.254600,3.000000,0.000000,3,29965.777000,0.000000,29965.777000,2.000000,0.000000,2,5651.625000,0.000000,5651.625000
32,0058,013042517,6.000000,0.000000,6,154671.000000,0.000000,154671.000000,5.000000,0.000000,5,154728.560300,0.000000,154728.560300,1.000000,0.000000,1,-57.560300,0.000000,-57.560300,1.000000,0.000000,1,42034.340000,0.000000,42034.340000,2.000000,0.000000,2,42228.250000,0.000000,42228.250000
33,0058,000032713,6.000000,0.000000,6,266977.750000,0.000000,266977.750000,4.000000,0.000000,4,252787.203000,0.000000,252787.203000,2.000000,0.000000,2,14190.547000,0.000000,14190.547000,1.000000,0.000000,1,69898.414000,0.000000,69898.414000,3.000000,0.000000,3,84801.750000,0.000000,84801.750000
34,0058,000057385,6.000000,0.000000,6,734386.125000,0.000000,734386.125000,6.000000,0.000000,6,774301.210000,0.000000,774301.210000,0.000000,0.000000,0,-39915.085000,0.000000,-39915.085000,3.000000,0.000000,3,69280.215000,0.000000,69280.215000,3.000000,0.000000,3,64184.875000,0.000000,64184.875000
35,0058,000059569,6.000000,0.000000,6,632266.500000,0.000000,632266.500000,6.000000,0.000000,6,629906.180000,0.000000,629906.180000,0.000000,0.000000,0,2360.320000,0.000000,2360.320000,1.000000,0.000000,1,51758.740000,0.000000,51758.740000,1.000000,0.000000,1,53849.375000,0.000000,53849.375000
36,0058,000115593,3.000000,0.000000,3,650166.880000,0.000000,650166.880000,3.000000,0.000000,3,725554.830000,0.000000,725554.830000,0.000000,0.000000,0,-75387.950000,0.000000,-75387.950000,1.000000,0.000000,1,143217.280000,0.000000,143217.280000,1.000000,0.000000,1,142243.120000,0.000000,142243.120000
37,0058,000147893,3.000000,0.000000,3,663894.870000,0.000000,663894.870000,5.000000,0.000000,5,352314.964000,0.000000,352314.964000,-2.000000,0.000000,-2,311579.906000,0.000000,311579.906000,4.000000,0.000000,4,56098.904000,0.000000,56098.904000,2.000000,0.000000,2,367808.120000,0.000000,367808.120000
38,0058,000163104,2.000000,0.000000,2,799935.120000,0.000000,799935.120000,2.000000,0.000000,2,753295.980000,0.000000,753295.980000,0.000000,0.000000,0,46639.140000,0.000000,46639.140000,1.000000,0.000000,1,82835.780000,0.000000,82835.780000,1.000000,0.000000,1,249220.120000,0.000000,249220.120000
39,0058,000259175,4.000000,2.000000,6,468816.750000,6580.500000,475397.250000,3.000000,1.000000,4,266920.780000,4245.270000,271166.050000,1.000000,1.000000,2,201895.970000,2335.230000,204231.200000,1.000000,0.000000,1,115909.670000,0.000000,115909.670000,2.000000,1.000000,3,230066.875000,2363.125000,232430.000000
40,0058,000992836,1.000000,1.000000,2,465051.120000,2301002.200000,2766053.320000,2.000000,1.000000,3,441483.257500,2323432.200000,2764915.457500,-1.000000,0.000000,-1,23567.862500,-22430.000000,1137.862500,2.000000,0.000000,2,441483.257500,0.000000,441483.257500,1.000000,0.000000,1,465051.120000,0.000000,465051.120000
41,0058,001005370,2.000000,0.000000,2,2062331.300000,0.000000,2062331.300000,2.000000,0.000000,2,1063353.100000,0.000000,1063353.100000,0.000000,0.000000,0,998978.200000,0.000000,998978.200000,1.000000,0.000000,1,0.000000,0.000000,0.000000,1.000000,0.000000,1,1011901.900000,0.000000,1011901.900000
42,0058,001163997,6.000000,0.000000,6,163282.250000,0.000000,163282.250000,6.000000,0.000000,6,195325.423000,0.000000,195325.423000,0.000000,0.000000,0,-32043.173000,0.000000,-32043.173000,2.000000,0.000000,2,88240.969000,0.000000,88240.969000,2.000000,0.000000,2,56372.000000,0.000000,56372.000000
43,0058,001278519,2.000000,0.000000,2,18363.500000,0.000000,18363.500000,2.000000,0.000000,2,23610.887000,0.000000,23610.887000,0.000000,0.000000,0,-5247.387000,0.000000,-5247.387000,1.000000,0.000000,1,17215.207000,0.000000,17215.207000,1.000000,0.000000,1,15021.625000,0.000000,15021.625000
44,0058,002362927,5.000000,2.000000,7,1190298.125000,902255.370000,2092553.495000,4.000000,2.000000,6,996679.160000,916877.300000,1913556.460000,1.000000,0.000000,1,193618.965000,-14621.930000,178997.035000,1.000000,0.000000,1,189436.340000,0.000000,189436.340000,2.000000,0.000000,2,496906.000000,0.000000,496906.000000
45,0058,002715853,6.000000,0.000000,6,167857.000000,0.000000,167857.000000,6.000000,0.000000,6,124346.605500,0.000000,124346.605500,0.000000,0.000000,0,43510.394500,0.000000,43510.394500,2.000000,0.000000,2,58569.000000,0.000000,58569.000000,2.000000,0.000000,2,104994.625000,0.000000,104994.625000
46,0058,003883696,3.000000,0.000000,3,163275.875000,0.000000,163275.875000,4.000000,0.000000,4,315372.416000,0.000000,315372.416000,-1.000000,0.000000,-1,-152096.541000,0.000000,-152096.541000,2.000000,0.000000,2,44491.250000,0.000000,44491.250000,1.000000,0.000000,1,24081.000000,0.000000,24081.000000
47,0058,005479572,3.000000,0.000000,3,49819.625000,0.000000,49819.625000,3.000000,0.000000,3,72511.475000,0.000000,72511.475000,0.000000,0.000000,0,-22691.850000,0.000000,-22691.850000,1.000000,0.000000,1,30482.328000,0.000000,30482.328000,1.000000,0.000000,1,8430.250000,0.000000,8430.250000
48,0058,005609283,5.000000,0.000000,5,117063.000000,0.000000,117063.000000,5.000000,1.000000,6,141702.488000,13519.275000,155221.763000,0.000000,-1.000000,-1,-24639.488000,-13519.275000,-38158.763000,1.000000,1.000000,2,47180.150000,13519.275000,60699.425000,1.000000,0.000000,1,22675.125000,0.000000,22675.125000
49,0058,007652980,0.000000,4.000000,4,0.000000,5062834.150000,5062834.150000,1.000000,3.000000,4,56950.332000,4853577.690000,4910528.022000,-1.000000,1.000000,0,-56950.332000,209256.460000,152306.128000,1.000000,0.000000,1,44651.750000,0.000000,44651.750000,0.000000,1.000000,1,0.000000,237731.000000,237731.000000
50,0058,007685983,7.000000,0.000000,7,572496.130000,0.000000,572496.130000,6.000000,0.000000,6,676187.645000,0.000000,676187.645000,1.000000,0.000000,1,-103691.515000,0.000000,-103691.515000,1.000000,0.000000,1,95039.125000,0.000000,95039.125000,2.000000,0.000000,2,1060.000000,0.000000,1060.000000
51,0058,008072751,2.000000,0.000000,2,129543.500000,0.000000,129543.500000,2.000000,0.000000,2,167285.321000,0.000000,167285.321000,0.000000,0.000000,0,-37741.821000,0.000000,-37741.821000,1.000000,0.000000,1,220305.000000,0.000000,220305.000000,1.000000,0.000000,1,31818.500000,0.000000,31818.500000
52,0058,008271052,3.000000,0.000000,3,165187.000000,0.000000,165187.000000,5.000000,0.000000,5,305054.936000,0.000000,305054.936000,-2.000000,0.000000,-2,-139867.936000,0.000000,-139867.936000,3.000000,0.000000,3,151483.442000,0.000000,151483.442000,1.000000,0.000000,1,11158.125000,0.000000,11158.125000
53,0058,009427237,4.000000,0.000000,4,190098.750000,0.000000,190098.750000,2.000000,0.000000,2,132605.370000,0.000000,132605.370000,2.000000,0.000000,2,57493.380000,0.000000,57493.380000,1.000000,0.000000,1,59721.420000,0.000000,59721.420000,3.000000,0.000000,3,117183.750000,0.000000,117183.750000
54,0058,009637729,3.000000,0.000000,3,234792.375000,0.000000,234792.375000,4.000000,0.000000,4,479209.893000,0.000000,479209.893000,-1.000000,0.000000,-1,-244417.518000,0.000000,-244417.518000,2.000000,0.000000,2,48508.477000,0.000000,48508.477000,1.000000,0.000000,1,104853.125000,0.000000,104853.125000
55,0058,010134184,5.000000,2.000000,7,2114760.520000,2319847.750000,4434608.270000,5.000000,2.000000,7,2136601.544000,2363321.690000,4499923.234000,0.000000,0.000000,0,-21841.024000,-43473.940000,-65314.964000,1.000000,0.000000,1,101319.414000,0.000000,101319.414000,1.000000,0.000000,1,113850.875000,0.000000,113850.875000
56,0058,010228209,1.000000,1.000000,2,871212.750000,58289.000000,929501.750000,2.000000,1.000000,3,158784.913000,59318.430000,218103.343000,-1.000000,0.000000,-1,712427.837000,-1029.430000,711398.407000,2.000000,0.000000,2,108163.765000,0.000000,108163.765000,1.000000,0.000000,1,871212.750000,0.000000,871212.750000
57,0058,010426433,2.000000,0.000000,2,277079.625000,0.000000,277079.625000,2.000000,0.000000,2,269517.000000,0.000000,269517.000000,0.000000,0.000000,0,7562.625000,0.000000,7562.625000,1.000000,0.000000,1,114016.030000,0.000000,114016.030000,1.000000,0.000000,1,121388.875000,0.000000,121388.875000
58,0058,011097471,6.000000,1.000000,7,622205.625000,17157.875000,639363.500000,7.000000,1.000000,8,554896.931000,17559.525000,572456.456000,-1.000000,0.000000,-1,67308.694000,-401.650000,66907.044000,2.000000,0.000000,2,60871.024000,0.000000,60871.024000,1.000000,0.000000,1,34184.125000,0.000000,34184.125000
59,0058,011717815,1.000000,1.000000,2,27596.875000,181538.500000,209135.375000,2.000000,1.000000,3,64331.715500,189757.310000,254089.025500,-1.000000,0.000000,-1,-36734.840500,-8218.810000,-44953.650500,2.000000,0.000000,2,64331.715500,0.000000,64331.715500,1.000000,0.000000,1,27596.875000,0.000000,27596.875000
60,0058,012054659,4.000000,0.000000,4,165555.625000,0.000000,165555.625000,2.000000,0.000000,2,142208.230000,0.000000,142208.230000,2.000000,0.000000,2,23347.395000,0.000000,23347.395000,1.000000,0.000000,1,85103.100000,0.000000,85103.100000,3.000000,0.000000,3,104795.625000,0.000000,104795.625000
61,0058,012246142,3.000000,0.000000,3,195098.120000,0.000000,195098.120000,4.000000,0.000000,4,266063.111000,0.000000,266063.111000,-1.000000,0.000000,-1,-70964.991000,0.000000,-70964.991000,2.000000,0.000000,2,107335.871000,0.000000,107335.871000,1.000000,0.000000,1,36550.500000,0.000000,36550.500000
62,8519,055890379,7.000000,0.000000,7,78329.500000,0.000000,78329.500000,8.000000,0.000000,8,57624.653100,0.000000,57624.653100,-1.000000,0.000000,-1,20704.846900,0.000000,20704.846900,2.000000,0.000000,2,4914.052500,0.000000,4914.052500,1.000000,0.000000,1,25642.500000,0.000000,25642.500000
63,Total,,235.000000,21.000000,256,25408930.100000,14016290.090000,39425220.190000,240.000000,21.000000,261,24112950.084800,13715125.848700,37828075.933500,-5.000000,0.000000,-5,1295980.015200,301164.241300,1597144.256500,103.000000,3.000000,106,7365333.196400,54815.650000,7420148.846400,98.000000,3.000000,101,10280415.180000,649034.875000,10929450.055000

In [ ]:
cliente_m_totales_new = pool_m.groupby('customer_id', as_index=False)[['rorc_last_m_cust_amount','prof_ratio_rorc_amount']].max().drop_duplicates().rename(columns={'customer_id':'cliente','rorc_last_m_cust_amount':'rorc_last_m_cust_amount_m','prof_ratio_rorc_amount':'prof_ratio_rorc_amount_m'})
cliente_m1_totales_new = pool_m1.groupby('customer_id', as_index=False)[['rorc_last_m_cust_amount','prof_ratio_rorc_amount']].max().drop_duplicates().rename(columns={'customer_id':'cliente','rorc_last_m_cust_amount':'rorc_last_m_cust_amount_m1','prof_ratio_rorc_amount':'prof_ratio_rorc_amount_m1'})

In [242]:
comparison_new_renamed_salidas = comparison_new_renamed.merge(cliente_m_totales_new, how='left', on='cliente').merge(cliente_m1_totales_new, how='left', on='cliente')\
    .rename(columns={'rorc_last_m_cust_amount_m':'rorc_cli_m','rorc_last_m_cust_amount_m1':'rorc_cli_m1',
                     'prof_ratio_rorc_amount_m':'rorc_cli_6m', 'prof_ratio_rorc_amount_m1':'rorc_cli_6m1'})
comparison_new_renamed_salidas = comparison_new_renamed_salidas.loc[:,['banca','cliente','rorc_cli_m','rorc_cli_6m',
                                                                       'n_cont_CP_m','n_cont_LP_m','n_cont_Tot_m','rwas_CP_m','rwas_LP_m','rwas_Tot_m',
                                                                       'rorc_cli_m1','rorc_cli_6m1',
                                                                       'n_cont_CP_m1','n_cont_LP_m1','n_cont_Tot_m1','rwas_CP_m1','rwas_LP_m1','rwas_Tot_m1',
                                                                       'n_cont_CP_diff','n_cont_LP_diff','n_cont_Tot_diff','rwas_CP_diff','rwas_LP_diff','rwas_Tot_diff',
                                                                       'n_cont_CP_SA','n_cont_LP_SA','n_cont_Tot_SA','rwas_CP_SA','rwas_LP_SA','rwas_Tot_SA',
                                                                       'n_cont_CP_SI_m','n_cont_LP_SI_m','n_cont_Tot_SI_m','rwas_CP_SI_m','rwas_LP_SI_m','rwas_Tot_SI_m']]

In [243]:
comparison_new_renamed_salidas

,banca,cliente,rorc_cli_m,rorc_cli_6m,n_cont_CP_m,n_cont_LP_m,n_cont_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,rorc_cli_m1,rorc_cli_6m1,n_cont_CP_m1,n_cont_LP_m1,n_cont_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_cont_CP_diff,n_cont_LP_diff,n_cont_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_cont_CP_SA,n_cont_LP_SA,n_cont_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_cont_CP_SI_m,n_cont_LP_SI_m,n_cont_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,012225332,0.093200,0.080600,3.000000,0.000000,3,1466359.525000,0.000000,1466359.525000,0.099800,0.091600,3.000000,0.000000,3,1311523.930000,0.000000,1311523.930000,0.000000,0.000000,0,154835.595000,0.000000,154835.595000,1.000000,0.000000,1,312982.120000,0.000000,312982.120000,1.000000,0.000000,1,968228.900000,0.000000,968228.900000
1,0058,016069816,0.077800,0.076000,5.000000,0.000000,5,533289.000000,0.000000,533289.000000,0.073600,0.069500,5.000000,0.000000,5,531964.116000,0.000000,531964.116000,0.000000,0.000000,0,1324.884000,0.000000,1324.884000,1.000000,0.000000,1,43718.740000,0.000000,43718.740000,1.000000,0.000000,1,45085.875000,0.000000,45085.875000
2,0058,017633949,0.052400,0.054100,2.000000,0.000000,2,59886.250000,0.000000,59886.250000,0.057900,0.056900,3.000000,0.000000,3,61696.834000,0.000000,61696.834000,-1.000000,0.000000,-1,-1810.584000,0.000000,-1810.584000,2.000000,0.000000,2,41018.902000,0.000000,41018.902000,1.000000,0.000000,1,35284.125000,0.000000,35284.125000
3,0058,021836410,0.095700,0.100600,7.000000,0.000000,7,56599.250000,0.000000,56599.250000,0.116100,0.099300,7.000000,0.000000,7,58227.645300,0.000000,58227.645300,0.000000,0.000000,0,-1628.395300,0.000000,-1628.395300,1.000000,0.000000,1,3079.960000,0.000000,3079.960000,1.000000,0.000000,1,1607.500000,0.000000,1607.500000
4,0058,024442741,0.022700,0.033300,5.000000,0.000000,5,181997.375000,0.000000,181997.375000,0.023400,0.017500,5.000000,0.000000,5,229730.281700,0.000000,229730.281700,0.000000,0.000000,0,-47732.906700,0.000000,-47732.906700,3.000000,0.000000,3,151284.826700,0.000000,151284.826700,3.000000,0.000000,3,103592.750000,0.000000,103592.750000
5,0058,027781126,0.036000,-0.009300,4.000000,0.000000,4,115397.250000,0.000000,115397.250000,0.041600,-0.025800,5.000000,0.000000,5,147292.877400,0.000000,147292.877400,-1.000000,0.000000,-1,-31895.627400,0.000000,-31895.627400,3.000000,0.000000,3,104799.057400,0.000000,104799.057400,2.000000,0.000000,2,72812.875000,0.000000,72812.875000
6,0058,028407710,-0.118000,-0.153700,2.000000,1.000000,3,115226.375000,1337020.400000,1452246.775000,-0.157000,-0.160400,2.000000,1.000000,3,626155.960000,1351535.600000,1977691.560000,0.000000,0.000000,0,-510929.585000,-14515.200000,-525444.785000,2.000000,0.000000,2,626155.960000,0.000000,626155.960000,2.000000,0.000000,2,115226.375000,0.000000,115226.375000
7,0058,028915227,0.067000,-0.510800,8.000000,0.000000,8,130412.000000,0.000000,130412.000000,0.072000,-0.464900,7.000000,0.000000,7,108443.742400,0.000000,108443.742400,1.000000,0.000000,1,21968.257600,0.000000,21968.257600,1.000000,0.000000,1,11278.405000,0.000000,11278.405000,2.000000,0.000000,2,33280.375000,0.000000,33280.375000
8,0058,029170892,0.056400,0.076500,2.000000,2.000000,4,162025.750000,1052619.350000,1214645.100000,0.059000,0.081600,2.000000,1.000000,3,279252.363000,664614.100000,943866.463000,0.000000,1.000000,1,-117226.613000,388005.250000,270778.637000,2.000000,0.000000,2,279038.223000,0.000000,279038.223000,2.000000,1.000000,3,162025.750000,408940.750000,570966.500000
9,0058,029872299,0.091700,0.096000,5.000000,0.000000,5,155075.375000,0.000000,155075.375000,0.096900,0.096400,5.000000,0.000000,5,95397.480000,0.000000,95397.480000,0.000000,0.000000,0,59677.895000,0.000000,59677.895000,1.000000,0.000000,1,24016.713000,0.000000,24016.713000,1.000000,0.000000,1,84508.000000,0.000000,84508.000000
10,0058,030695078,-0.009000,-0.008300,7.000000,0.000000,7,4773207.120000,0.000000,4773207.120000,-0.011000,0.008600,6.000000,0.000000,6,4451920.250000,0.000000,4451920.250000,1.000000,0.000000,1,321286.870000,0.000000,321286.870000,1.000000,0.000000,1,1012624.440000,0.000000,1012624.440000,2.000000,0.000000,2,1449976.000000,0.000000,1449976.000000
11,0058,030724363,0.004100,0.011300,5.000000,0.000000,5,110213.375000,0.000000,110213.375000,0.018200,0.015200,8.000000,0.000000,8,153286.990000,0.000000,153286.990000,-3.000000,0.000000,-3,-43073.615000,0.000000,-43073.615000,4.000000,0.000000,4,64390.085000,0.000000,64390.085000,1.000000,0.000000,1,21638.125000,0.000000,21638.125000
12,0058,032729761,0.096100,0.094100,2.000000,0.000000,2,132286.250000,0.000000,132286.250000,0.092100,0.096300,3.000000,0.000000,3,147177.913000,0.000000,147177.913000,-1.000000,0.000000,-1,-14891.663000,0.000000,-14891.663000,2.000000,0.000000,2,117540.447000,0.000000,117540.447000,1.000000,0.000000,1,103688.500000,0.000000,103688.500000
13,0058,033127399,0.055400,0.077600,4.000000,0.000000,4,263737.625000,0.000000,263737.625000,0.074700,0.084800,3.000000,0.000000,3,179325.370000,0.000000,179325.370000,1.000000,0.000000,1,84412.255000,0.000000,84412.255000,1.000000,0.000000,1,71277.740000,0.000000,71277.740000,2.000000,0.000000,2,155847.000000,0.000000,155847.000000
14,0058,014742380,0.097800,0.072700,2.000000,1.000000,3,124007.250000,33419.375000,157426.625000,0.087900,0.069600,3.000000,1.000000,4,176487.663000,24336.307000,200823.970000,-1.000000,0.000000,-1,-52480.413000,9083.068000,-43397.345000,3.000000,0.000000,3,176499.588000,0.000000,176499.588000,2.000000,0.000000,2,124007.250000,0.000000,124007.250000
15,0058,034807425,0.068400,0.065400,4.000000,0.000000,4,36753.000000,0.000000,36753.000000,0.058900,0.068500,3.000000,0.000000,3,101342.687000,0.000000,101342.687000,1.000000,0.000000,1,-64589.687000,0.000000,-64589.687000,2.000000,0.000000,2,58176.077000,0.000000,58176.077000,3.000000,0.000000,3,29242.250000,0.000000,29242.250000
16,0058,035201264,0.090800,-0.022700,3.000000,0.000000,3,36757.500000,0.000000,36757.500000,0.112300,-0.037000,3.000000,0.000000,3,42085.749300,0.000000,42085.749300,0.000000,0.000000,0,-5328.249300,0.000000,-5328.249300,1.000000,0.000000,1,25158.000000,0.000000,25158.000000,1.000000,0.000000,1,20591.625000,0.000000,20591.625000
17,0058,035455654,0.070600,0.072800,3.000000,0.000000,3,123931.500000,0.000000,123931.500000,0.122600,0.073500,3.000000,0.000000,3,103044.556000,0.000000,103044.556000,0.000000,0.000000,0,20886.944000,0.000000,20886.944000,1.000000,0.000000,1,25767.470000,0.000000,25767.470000,1.000000,0.000000,1,31113.750000,0.000000,31113.750000
18,0058,038094323,0.141400,0.039000,5.000000,0.000000,5,80992.875000,0.000000,80992.875000,0.096700,0.028500,4.000000,0.000000,4,116588.942000,0.000000,116588.942000,1.000000,0.000000,1,-35596.067000,0.000000,-35596.067000,2.000000,0.000000,2,83404.752000,0.000000,83404.752000,3.000000,0.000000,3,48147.750000,0.000000,48147.750000
19,0058,040297019,0.107900,0.081400,6.000000,0.000000,6,391753.000000,0.000000,391753.000000,0.137900,0.079700,4.000000,0.000000,4,329104.106000,0.000000,329104.106000,2.000000,0.000000,2,62648.894000,0.000000,62648.894000,2.000000,0.000000,2,134145.616000,0.000000,134145.616000,4.000000,0.000000,4,197144.750000,0.000000,197144.750000
20,0058,050180900,0.140900,-0.049100,2.000000,0.000000,2,49761.625000,0.000000,49761.625000,-0.070700,-0.099400,3.000000,1.000000,4,85267.472000,44415.086000,129682.558000,-1.000000,-1.000000,-2,-35505.847000,-44415.086000,-79920.933000,2.000000,1.000000,3,41438.308000,39253.750000,80692.058000,1.000000,0.000000,1,8950.250000,0.000000,8950.250000
21,0058,050339197,0.038200,0.041400,1.000000,1.000000,2,117228.750000,182644.620000,299873.370000,0.046700,0.036100,1.000000,1.000000,2,45356.060000,183771.030000,229127.090000,0.000000,0.000000,0,71872.690000,-1126.410000,70746.280000,1.000000,0.000000,1,45384.625000,0.000000,45384.625000,1.000000,0.000000,1,117228.750000,0.000000,117228.750000
22,0058,051751124,0.064300,0.046400,1.000000,1.000000,2,66119.750000,556540.750000,622660.500000,0.048300,0.043300,1.000000,1.000000,2,1165348.100000,688903.440000,1854251.540000,0.000000,0.000000,0,-1099228.350000,-132362.690000,-1231591.040000,1.000000,0.000000,1,810413.400000,0.000000,810413.400000,1.000000,0.000000,1,66119.750000,0.000000,66119.750000
23,0058,052282112,0.039400,-0.100100,4.000000,0.000000,4,22654.750000,0.000000,22654.750000,0.003200,-0.152500,4.000000,0.000000,4,13708.427300,0.000000,13708.427300,0.000000,0.000000,0,8946.322700,0.000000,8946.322700,2.000000,0.000000,2,6530.689900,0.000000,6530.689900,2.000000,0.000000,2,15477.750000,0.000000,15477.750000
24,0058,052979558,0.008400,0.014500,3.000000,0.000000,3,73005.750000,0.000000,73005.750000,0.025600,0.006700,3.000000,0.000000,3,75263.092000,0.000000,75263.092000,0.000000,0.000000,0,-2257.342000,0.000000,-2257.342000,2.000000,0.000000,2,33830.002000,0.000000,33830.002000,2.000000,0.000000,2,32033.250000,0.000000,32033.250000
25,0058,053704889,0.088200,0.086400,2.000000,0.000000,2,243143.000000,0.000000,243143.000000,0.077300,0.086700,2.000000,0.000000,2,244309.560000,0.000000,244309.560000,0.000000,0.000000,0,-1166.560000,0.000000,-1166.560000,1.000000,0.000000,1,122166.330000,0.000000,122166.330000,1.000000,0.000000,1,121493.500000,0.000000,121493.500000
26,0058,059835368,0.220700,0.080600,5.000000,0.000000,5,47595.000000,0.000000,47595.000000,-0.050400,0.032500,6.000000,0.000000,6,57098.318900,0.000000,57098.318900,-1.000000,0.000000,-1,-9503.318900,0.000000,-9503.318900,2.000000,0.000000,2,14082.379900,0.000000,14082.379900,1.000000,0.000000,1,8936.750000,0.000000,8936.750000
27,0058,059949867,0.104900,0.080400,3.000000,0.000000,3,206693.620000,0.000000,206693.620000,0.067500,0.067400,3.000000,0.000000,3,257654.118000,0.000000,257654.118000,0.000000,0.000000,0,-50960.498000,0.000000,-50960.498000,1.000000,0.000000,1,18727.855000,0.000000,18727.855000,1.000000,0.000000,1,18671.375000,0.000000,18671.375000
28,0058,064682707,0.098300,0.071300,2.000000,0.000000,2,8111.500000,0.000000,8111.500000,0.066700,0.064300,3.000000,0.000000,3,24189.667000,0.000000,24189.667000,-1.000000,0.000000,-1,-16078.167000,0.000000,-16078.167000,2.000000,0.000000,2,17646.375000,0.000000,17646.375000,1.000000,0.000000,1,1657.000000,0.000000,1657.000000
29,0058,034908347,-0.070000,-0.088100,4.000000,1.000000,5,184957.250000,4540.250000,189497.500000,-0.080500,-0.079500,4.000000,1.000000,5,103715.730000,4604.867700,108320.597700,0.000000,0.000000,0,81241.520000,-64.617700,81176.902300,2.000000,0.000000,2,44894.302000,0.000000,44894.302000,2.000000,0.000000,2,126563.375000,0.000000,126563.375000
30,0058,013644107,0.145200,0.053300,4.000000,0.000000,4,917550.525000,0.000000,917550.525000,0.115600,0.045600,2.000000,1.000000,3,4182.965000,11336.728000,15519.693000,2.000000,-1.000000,1,913367.560000,-11336.728000,902030.832000,0.000000,1.000000,1,0.000000,2042.625000,2042.625000,2.000000,0.000000,2,913450.525000,0.000000,913450.525000
31,0058,013371101,0.115000,-0.016600,3.000000,0.000000,3,9787.750000,0.000000,9787.750000,0.048800,-0.029000,4.000000,0.000000,4,35291.004600,0.000000,35291.004600,-1.000000,0.000000,-1,-25503.254600,0.000000,-25503.254600,3.000000,0.000000,3,29965.777000,0.000000,29965.777000,2.000000,0.000000,2,5651.625000,0.000000,5651.625000
32,0058,013042517,0.081200,0.063400,6.000000,0.000000,6,154671.000000,0.000000,154671.000000,0.085800,0.057500,5.000000,0.000000,5,154728.560300,0.000000,154728.560300,1.000000,0.000000,1,-57.560300,0.000000,-57.560300,1.000000,0.000000,1,42034.340000,0.000000,42034.340000,2.000000,0.000000,2,42228.250000,0.000000,42228.250000
33,0058,000032713,0.104400,0.100800,6.000000,0.000000,6,266977.750000,0.000000,266977.750000,0.102300,0.096300,4.000000,0.000000,4,252787.203000,0.000000,252787.203000,2.000000,0.000000,2,14190.547000,0.000000,14190.547000,1.000000,0.000000,1,69898.414000,0.000000,69898.414000,3.000000,0.000000,3,84801.750000,0.000000,84801.750000
34,0058,000057385,0.123200,0.086400,6.000000,0.000000,6,734386.125000,0.000000,734386.125000,0.100300,0.083800,6.000000,0.000000,6,774301.210000,0.000000,774301.210000,0.000000,0.000000,0,-39915.085000,0.000000,-39915.085000,3.000000,0.000000,3,69280.215000,0.000000,69280.215000,3.000000,0.000000,3,64184.875000,0.000000,64184.875000
35,0058,000059569,0.074100,0.073400,6.000000,0.000000,6,632266.500000,0.000000,632266.500000,0.080000,0.072200,6.000000,0.000000,6,629906.180000,0.000000,629906.180000,0.000000,0.000000,0,2360.320000,0.000000,2360.320000,1.000000,0.000000,1,51758.740000,0.000000,51758.740000,1.000000,0.000000,1,53849.375000,0.000000,53849.375000
36,0058,000115593,0.079500,0.065000,3.000000,0.000000,3,650166.880000,0.000000,650166.880000,0.064000,0.060400,3.000000,0.000000,3,725554.830000,0.000000,725554.830000,0.000000,0.000000,0,-75387.950000,0.000000,-75387.950000,1.000000,0.000000,1,143217.280000,0.000000,143217.280000,1.000000,0.000000,1,142243.120000,0.000000,142243.120000
37,0058,000147893,0.087400,0.027800,3.000000,0.000000,3,663894.870000,0.000000,663894.870000,0.079900,0.026200,5.000000,0.000000,5,352314.964000,0.000000,352314.964000,-2.000000,0.000000,-2,311579.906000,0.000000,311579.906000,4.000000,0.000000,4,56098.904000,0.000000,56098.904000,2.000000,0.000000,2,367808.120000,0.000000,367808.120000
38,0058,000163104,0.061100,0.064400,2.000000,0.000000,2,799935.120000,0.000000,799935.120000,0.058500,0.067200,2.000000,0.000000,2,753295.980000,0.000000,753295.980000,0.000000,0.000000,0,46639.140000,0.000000,46639.140000,1.000000,0.000000,1,82835.780000,0.000000,82835.780000,1.000000,0.000000,1,249220.120000,0.000000,249220.120000
39,0058,000259175,0.048700,0.026300,4.000000,2.000000,6,468816.750000,6580.500000,475397.250000,-0.026700,0.037900,3.000000,1.000000,4,266920.780000,4245.270000,271166.050000,1.000000,1.000000,2,201895.970000,2335.230000,204231.200000,1.000000,0.000000,1,115909.670000,0.000000,115909.670000,2.000000,1.000000,3,230066.875000,2363.125000,232430.000000
40,0058,000992836,0.104200,0.083100,1.000000,1.000000,2,465051.120000,2301002.200000,2766053.320000,0.051400,0.097000,2.000000,1.000000,3,441483.257500,2323432.200000,2764915.457500,-1.000000,0.000000,-1,23567.862500,-22430.000000,1137.862500,2.000000,0.000000,2,441483.257500,0.000000,441483.257500,1.000000,0.000000,1,465051.120000,0.000000,465051.120000
41,0058,001005370,0.060000,0.068700,2.000000,0.000000,2,2062331.300000,0.000000,2062331.300000,0.045000,0.068000,2.000000,0.000000,2,1063353.100000,0.000000,1063353.100000,0.000000,0.000000,0,998978.200000,0.000000,998978.200000,1.000000,0.000000,1,0.000000,0.000000,0.000000,1.000000,0.000000,1,1011901.900000,0.000000,1011901.900000
42,0058,001163997,0.089300,0.083200,6.000000,0.000000,6,163282.250000,0.000000,163282.250000,0.078600,0.081300,6.000000,0.000000,6,195325.423000,0.000000,195325.423000,0.000000,0.000000,0,-32043.173000,0.000000,-32043.173000,2.000000,0.000000,2,88240.969000,0.000000,88240.969000,2.000000,0.000000,2,56372.000000,0.000000,56372.000000
43,0058,001278519,0.074400,0.083400,2.000000,0.000000,2,18363.500000,0.000000,18363.500000,0.085600,0.082200,2.000000,0.000000,2,23610.887000,0.000000,23610.887000,0.000000,0.000000,0,-5247.387000,0.000000,-5247.387000,1.000000,0.000000,1,17215.207000,0.000000,17215.207000,1.000000,0.000000,1,15021.625000,0.000000,15021.625000
44,0058,002362927,0.058200,0.074100,5.000000,2.000000,7,1190298.125000,902255.370000,2092553.495000,0.060300,0.076400,4.000000,2.000000,6,996679.160000,916877.300000,1913556.460000,1.000000,0.000000,1,193618.965000,-14621.930000,178997.035000,1.000000,0.000000,1,189436.340000,0.000000,189436.340000,2.000000,0.000000,2,496906.000000,0.000000,496906.000000
45,0058,002715853,0.072100,0.066200,6.000000,0.000000,6,167857.000000,0.000000,167857.000000,0.062200,0.065700,6.000000,0.000000,6,124346.605500,0.000000,124346.605500,0.000000,0.000000,0,43510.394500,0.000000,43510.394500,2.000000,0.000000,2,58569.000000,0.000000,58569.000000,2.000000,0.000000,2,104994.625000,0.000000,104994.625000
46,0058,003883696,0.106200,0.035500,3.000000,0.000000,3,163275.875000,0.000000,163275.875000,0.121100,0.030000,4.000000,0.000000,4,315372.416000,0.000000,315372.416000,-1.000000,0.000000,-1,-152096.541000,0.000000,-152096.541000,2.000000,0.000000,2,44491.250000,0.000000,44491.250000,1.000000,0.000000,1,24081.000000,0.000000,24081.000000
47,0058,005479572,0.069000,0.064800,3.000000,0.000000,3,49819.625000,0.000000,49819.625000,0.076300,0.057700,3.000000,0.000000,3,72511.475000,0.000000,72511.475000,0.000000,0.000000,0,-22691.850000,0.000000,-22691.850000,1.000000,0.000000,1,30482.328000,0.000000,30482.328000,1.000000,0.000000,1,8430.250000,0.000000,8430.250000
48,0058,005609283,0.042200,0.017800,5.000000,0.000000,5,117063.000000,0.000000,117063.000000,-0.003700,0.009900,5.000000,1.000000,6,141702.488000,13519.275000,155221.763000,0.000000,-1.000000,-1,-24639.488000,-13519.275000,-38158.763000,1.000000,1.000000,2,47180.150000,13519.275000,60699.425000,1.000000,0.000000,1,22675.125000,0.000000,22675.125000
49,0058,007652980,0.042800,0.031000,0.000000,4.000000,4,0.000000,5062834.150000,5062834.150000,0.031900,0.031700,1.000000,3.000000,4,56950.332000,4853577.690000,4910528.022000,-1.000000,1.000000,0,-56950.332000,209256.460000,152306.128000,1.000000,0.000000,1,44651.750000,0.000000,44651.750000,0.000000,1.000000,1,0.000000,237731.000000,237731.000000
50,0058,007685983,0.039700,0.073500,7.000000,0.000000,7,572496.130000,0.000000,572496.130000,0.069300,0.080800,6.000000,0.000000,6,676187.645000,0.000000,676187.645000,1.000000,0.000000,1,-103691.515000,0.000000,-103691.515000,1.000000,0.000000,1,95039.125000,0.000000,95039.125000,2.000000,0.000000,2,1060.000000,0.000000,1060.000000
51,0058,008072751,0.095000,0.093000,2.000000,0.000000,2,129543.500000,0.000000,129543.500000,0.085400,0.094200,2.000000,0.000000,2,167285.321000,0.000000,167285.321000,0.000000,0.000000,0,-37741.821000,0.000000,-37741.821000,1.000000,0.000000,1,220305.000000,0.000000,220305.000000,1.000000,0.000000,1,31818.500000,0.000000,31818.500000
52,0058,008271052,0.061800,0.034900,3.000000,0.000000,3,165187.000000,0.000000,165187.000000,0.023700,0.028900,5.000000,0.000000,5,305054.936000,0.000000,305054.936000,-2.000000,0.000000,-2,-139867.936000,0.000000,-139867.936000,3.000000,0.000000,3,151483.442000,0.000000,151483.442000,1.000000,0.000000,1,11158.125000,0.000000,11158.125000
53,0058,009427237,0.076400,0.076100,4.000000,0.000000,4,190098.750000,0.000000,190098.750000,0.079600,0.074300,2.000000,0.000000,2,132605.370000,0.000000,132605.370000,2.000000,0.000000,2,57493.380000,0.000000,57493.380000,1.000000,0.000000,1,59721.420000,0.000000,59721.420000,3.000000,0.000000,3,117183.750000,0.000000,117183.750000
54,0058,009637729,0.004700,0.045300,3.000000,0.000000,3,234792.375000,0.000000,234792.375000,0.052200,0.054600,4.000000,0.000000,4,479209.893000,0.000000,479209.893000,-1.000000,0.000000,-1,-244417.518000,0.000000,-244417.518000,2.000000,0.000000,2,48508.477000,0.000000,48508.477000,1.000000,0.000000,1,104853.125000,0.000000,104853.125000
55,0058,010134184,0.064100,0.061900,5.000000,2.000000,7,2114760.520000,2319847.750000,4434608.270000,0.060400,0.060900,5.000000,2.000000,7,2136601.544000,2363321.690000,4499923.234000,0.000000,0.000000,0,-21841.024000,-43473.940000,-65314.964000,1.000000,0.000000,1,101319.414000,0.000000,101319.414000,1.000000,0.000000,1,113850.875000,0.000000,113850.875000
56,0058,010228209,0.074400,0.072400,1.000000,1.000000,2,871212.750000,58289.000000,929501.750000,0.126200,0.071800,2.000000,1.000000,3,158784.913000,59318.430000,218103.343000,-1.000000,0.000000,-1,712427.837000,-1029.430000,711398.407000,2.000000,0.000000,2,108163.765000,0.000000,108163.765000,1.000000,0.000000,1,871212.750000,0.000000,871212.750000

In [244]:
# guardado cliente contrato CP Y LP
# --------------------------------
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_new_renamed_salidas.to_excel(writer, sheet_name="banca_cli_cont_SA_SI_2", index=False)

In [48]:
cols_to_save = [
    'level60_operarea_id', 
    'customer_id',  # add index columns
    'contract_id_m2', 
    'prof_ratio_rorc_amount_m2',
    'rwas_regul_capital_amount_m2', 
    'contract_id_m_12',
    'prof_ratio_rorc_amount_m_12',
    'rwas_regul_capital_amount_m_12',
    'contract_id_diff', 
    'rwas_regul_capital_amount_diff', 
    'contract_id_SA',
    'rwas_regul_capital_amount_SA',
    'contract_id_SI_mes', 
    'rwas_regul_capital_amount_SI_mes'
]
# 'prof_ratio_rorc_amount_diff',
# 'prof_ratio_rorc_amount_SA',
#  'prof_ratio_rorc_amount_SI_mes',

# Reset index to include index columns as regular columns
comparisoncli_reset = comparisoncli.reset_index()


comparisoncli_reset=comparisoncli_reset.loc[:,cols_to_save]

In [25]:
comparisoncli_reset

,level60_operarea_id,customer_id,contract_id_m2,prof_ratio_rorc_amount_m2,rwas_regul_capital_amount_m2,contract_id_m_12,prof_ratio_rorc_amount_m_12,rwas_regul_capital_amount_m_12,contract_id_diff,rwas_regul_capital_amount_diff,contract_id_SA,rwas_regul_capital_amount_SA,contract_id_SI_mes,rwas_regul_capital_amount_SI_mes
0,0023,012225332,3,0.0806,"1,466,359.5250",3,0.0916,"1,311,523.9300",0,"154,835.5950",1,"312,982.1200",1,"968,228.9000"
1,0058,007652980,4,0.0310,"5,062,834.1500",4,0.0317,"4,910,528.0220",0,"152,306.1280",1,"44,651.7500",1,"237,731.0000"
2,0058,030695078,7,-0.0083,"4,773,207.1200",6,0.0086,"4,451,920.2500",1,"321,286.8700",1,"1,012,624.4400",2,"1,449,976.0000"
3,0058,010134184,7,0.0619,"4,434,608.2700",7,0.0609,"4,499,923.2340",0,"-65,314.9640",1,"101,319.4140",1,"113,850.8750"
4,0058,000992836,2,0.0831,"2,766,053.3200",3,0.0970,"2,764,915.4575",-1,"1,137.8625",2,"441,483.2575",1,"465,051.1200"
5,0058,002362927,7,0.0741,"2,092,553.4950",6,0.0764,"1,913,556.4600",1,"178,997.0350",1,"189,436.3400",2,"496,906.0000"
6,0058,001005370,2,0.0687,"2,062,331.3000",2,0.0680,"1,063,353.1000",0,"998,978.2000",1,0.0000,1,"1,011,901.9000"
7,0058,028407710,3,-0.1537,"1,452,246.7750",3,-0.1604,"1,977,691.5600",0,"-525,444.7850",2,"626,155.9600",2,"115,226.3750"
8,0058,029170892,4,0.0765,"1,214,645.1000",3,0.0816,"943,866.4630",1,"270,778.6370",2,"279,038.2230",3,"570,966.5000"
9,0058,010228209,2,0.0724,"929,501.7500",3,0.0718,"218,103.3430",-1,"711,398.4070",2,"108,163.7650",1,"871,212.7500"
10,0058,013644107,4,0.0533,"917,550.5250",3,0.0456,"15,519.6930",1,"902,030.8320",1,"2,042.6250",2,"913,450.5250"
11,0058,000163104,2,0.0644,"799,935.1200",2,0.0672,"753,295.9800",0,"46,639.1400",1,"82,835.7800",1,"249,220.1200"
12,0058,000057385,6,0.0864,"734,386.1250",6,0.0838,"774,301.2100",0,"-39,915.0850",3,"69,280.2150",3,"64,184.8750"
13,0058,000147893,3,0.0278,"663,894.8700",5,0.0262,"352,314.9640",-2,"311,579.9060",4,"56,098.9040",2,"367,808.1200"
14,0058,000115593,3,0.0650,"650,166.8800",3,0.0604,"725,554.8300",0,"-75,387.9500",1,"143,217.2800",1,"142,243.1200"
15,0058,011097471,7,0.0652,"639,363.5000",8,0.0726,"572,456.4560",-1,"66,907.0440",2,"60,871.0240",1,"34,184.1250"
16,0058,000059569,6,0.0734,"632,266.5000",6,0.0722,"629,906.1800",0,"2,360.3200",1,"51,758.7400",1,"53,849.3750"
17,0058,051751124,2,0.0464,"622,660.5000",2,0.0433,"1,854,251.5400",0,"-1,231,591.0400",1,"810,413.4000",1,"66,119.7500"
18,0058,007685983,7,0.0735,"572,496.1300",6,0.0808,"676,187.6450",1,"-103,691.5150",1,"95,039.1250",2,"1,060.0000"
19,0058,016069816,5,0.0760,"533,289.0000",5,0.0695,"531,964.1160",0,"1,324.8840",1,"43,718.7400",1,"45,085.8750"
20,0058,000259175,6,0.0263,"475,397.2500",4,0.0379,"271,166.0500",2,"204,231.2000",1,"115,909.6700",3,"232,430.0000"
21,0058,040297019,6,0.0814,"391,753.0000",4,0.0797,"329,104.1060",2,"62,648.8940",2,"134,145.6160",4,"197,144.7500"
22,0058,050339197,2,0.0414,"299,873.3700",2,0.0361,"229,127.0900",0,"70,746.2800",1,"45,384.6250",1,"117,228.7500"
23,0058,010426433,2,0.0488,"277,079.6250",2,0.0555,"269,517.0000",0,"7,562.6250",1,"114,016.0300",1,"121,388.8750"
24,0058,000032713,6,0.1008,"266,977.7500",4,0.0963,"252,787.2030",2,"14,190.5470",1,"69,898.4140",3,"84,801.7500"
25,0058,033127399,4,0.0776,"263,737.6250",3,0.0848,"179,325.3700",1,"84,412.2550",1,"71,277.7400",2,"155,847.0000"
26,0058,053704889,2,0.0864,"243,143.0000",2,0.0867,"244,309.5600",0,"-1,166.5600",1,"122,166.3300",1,"121,493.5000"
27,0058,009637729,3,0.0453,"234,792.3750",4,0.0546,"479,209.8930",-1,"-244,417.5180",2,"48,508.4770",1,"104,853.1250"
28,0058,011717815,2,0.0567,"209,135.3750",3,0.0558,"254,089.0255",-1,"-44,953.6505",2,"64,331.7155",1,"27,596.8750"
29,0058,059949867,3,0.0804,"206,693.6200",3,0.0674,"257,654.1180",0,"-50,960.4980",1,"18,727.8550",1,"18,671.3750"
30,0058,012246142,3,0.0092,"195,098.1200",4,0.0018,"266,063.1110",-1,"-70,964.9910",2,"107,335.8710",1,"36,550.5000"
31,0058,009427237,4,0.0761,"190,098.7500",2,0.0743,"132,605.3700",2,"57,493.3800",1,"59,721.4200",3,"117,183.7500"
32,0058,034908347,5,-0.0881,"189,497.5000",5,-0.0795,"108,320.5977",0,"81,176.9023",2,"44,894.3020",2,"126,563.3750"
33,0058,024442741,5,0.0333,"181,997.3750",5,0.0175,"229,730.2817",0,"-47,732.9067",3,"151,284.8267",3,"103,592.7500"
34,0058,002715853,6,0.0662,"167,857.0000",6,0.0657,"124,346.6055",0,"43,510.3945",2,"58,569.0000",2,"104,994.6250"
35,0058,012054659,4,0.0898,"165,555.6250",2,0.0821,"142,208.2300",2,"23,347.3950",1,"85,103.1000",3,"104,795.6250"
36,0058,008271052,3,0.0349,"165,187.0000",5,0.0289,"305,054.9360",-2,"-139,867.9360",3,"151,483.4420",1,"11,158.1250"
37,0058,001163997,6,0.0832,"163,282.2500",6,0.0813,"195,325.4230",0,"-32,043.1730",2,"88,240.9690",2,"56,372.0000"
38,0058,003883696,3,0.0355,"163,275.8750",4,0.0300,"315,372.4160",-1,"-152,096.5410",2,"44,491.2500",1,"24,081.0000"
39,0058,014742380,3,0.0727,"157,426.6250",4,0.0696,"200,823.9700",-1,"-43,397.3450",3,"176,499.5880",2,"124,007.2500"
40,0058,029872299,5,0.0960,"155,075.3750",5,0.0964,"95,397.4800",0,"59,677.8950",1,"24,016.7130",1,"84,508.0000"
41,0058,013042517,6,0.0634,"154,671.0000",5,0.0575,"154,728.5603",1,-57.5603,1,"42,034.3400",2,"42,228.2500"
42,0058,032729761,2,0.0941,"132,286.2500",3,0.0963,"147,177.9130",-1,"-14,891.6630",2,"117,540.4470",1,"103,688.5000"
43,0058,028915227,8,-0.5108,"130,412.0000",7,-0.4649,"108,443.7424",1,"21,968.2576",1,"11,278.4050",2,"33,280.3750"
44,0058,008072751,2,0.0930,"129,543.5000",2,0.0942,"167,285.3210",0,"-37,741.8210",1,"220,305.0000",1,"31,818.5000"
45,0058,035455654,3,0.0728,"123,931.5000",3,0.0735,"103,044.5560",0,"20,886.9440",1,"25,767.4700",1,"31,113.7500"
46,0058,005609283,5,0.0178,"117,063.0000",6,0.0099,"155,221.7630",-1,"-38,158.7630",2,"60,699.4250",1,"22,675.1250"
47,0058,027781126,4,-0.0093,"115,397.2500",5,-0.0258,"147,292.8774",-1,"-31,895.6274",3,"104,799.0574",2,"72,812.8750"
48,0058,030724363,5,0.0113,"110,213.3750",8,0.0152,"153,286.9900",-3,"-43,073.6150",4,"64,390.0850",1,"21,638.1250"
49,0058,038094323,5,0.0390,"80,992.8750",4,0.0285,"116,588.9420",1,"-35,596.0670",2,"83,404.7520",3,"48,147.7500"
50,0058,052979558,3,0.0145,"73,005.7500",3,0.0067,"75,263.0920",0,"-2,257.3420",2,"33,830.0020",2,"32,033.2500"
51,0058,017633949,2,0.0541,"59,886.2500",3,0.0569,"61,696.8340",-1,"-1,810.5840",2,"41,018.9020",1,"35,284.1250"
52,0058,021836410,7,0.1006,"56,599.2500",7,0.0993,"58,227.6453",0,"-1,628.3953",1,"3,079.9600",1,"1,607.5000"
53,0058,005479572,3,0.0648,"49,819.6250",3,0.0577,"72,511.4750",0,"-22,691.8500",1,"30,482.3280",1,"8,430.2500"
54,0058,050180900,2,-0.0491,"49,761.6250",4,-0.0994,"129,682.5580",-2,"-79,920.9330",3,"80,692.0580",1,"8,950.2500"
55,0058,059835368,5,0.0806,"47,595.0000",6,0.0325,"57,098.3189",-1,"-9,503.3189",2,"14,082.3799",1,"8,936.7500"
56,0058,035201264,3,-0.0227,"36,757.5000",3,-0.0370,"42,085.7493",0,"-5,328.2493",1,"25,158.0000",1,"20,591.6250"
57,0058,034807425,4,0.0654,"36,753.0000",3,0.0685,"101,342.6870",1,"-64,589.6870",2,"58,176.0770",3,"29,242.2500"
58,0058,052282112,4,-0.1001,"22,654.7500",4,-0.1525,"13,708.4273",0,"8,946.3227",2,"6,530.6899",2,"15,477.7500"
59,0058,001278519,2,0.0834,"18,363.5000",2,0.0822,"23,610.8870",0,"-5,247.3870",1,"17,215.2070",1,"15,021.6250"
60,0058,013371101,3,-0.0166,"9,787.7500",4,-0.0290,"35,291.0046",-1,"-25,503.2546",3,"29,965.7770",2,"5,651.6250"
61,0058,064682707,2,0.0713,"8,111.5000",3,0.0643,"24,189.6670",-1,"-16,078.1670",2,"17,646.3750",1,"1,657.0000"
62,8519,055890379,7,0.0463,"78,329.5000",8,0.0082,"57,624.6531",-1,"20,704.8469",2,"4,914.0525",1,"25,642.5000"
63,Total,,256,0.1008,"39,425,220.1900",261,0.0993,"37,828,075.9335",-5,"1,597,144.2565",106,"7,420,148.8464",101,"10,929,450.0550"

In [49]:
renamed_dict_cli = {
    'level60_operarea_id':'banca',
    'customer_id': 'cliente',
    'contract_id_m2': 'n_cont_m',
    'prof_ratio_rorc_amount_m2': 'rorc_cli_m',
    'rwas_regul_capital_amount_m2':'rwas_Tot_m',
    'contract_id_m_12':'n_cont_m1',
    'prof_ratio_rorc_amount_m_12': 'rorc_cli_m1',
    'rwas_regul_capital_amount_m_12':'rwas_Tot_m1',
    'contract_id_diff':'n_cont_Tot_diff',
    'rwas_regul_capital_amount_diff':'rwas_Tot_diff', 
    'contract_id_SA': 'n_cont_Tot_SA',
    'rwas_regul_capital_amount_SA':'rwas_Tot_SA',
    'contract_id_SI_mes': 'n_cont_Tot_SI_m',
    'rwas_regul_capital_amount_SI_mes':'rwas_Tot_SI_m'
}

comparisoncli_reset2=comparisoncli_reset.rename(mapper=renamed_dict_cli, axis="columns")

In [40]:
comparisoncli_reset2

,banca,cliente,n_cont_m,rorc_cli_m,rwas_Tot_m,n_cont_m1,rorc_cli_m1,rwas_Tot_m1,n_cont_Tot_diff,rwas_Tot_diff,n_cont_Tot_SA,rwas_Tot_SA,n_cont_Tot_SI_m,rwas_Tot_SI_m
0,0023,012225332,3,0.0806,"1,466,359.5250",3,0.0916,"1,311,523.9300",0,"154,835.5950",1,"312,982.1200",1,"968,228.9000"
1,0058,007652980,4,0.0310,"5,062,834.1500",4,0.0317,"4,910,528.0220",0,"152,306.1280",1,"44,651.7500",1,"237,731.0000"
2,0058,030695078,7,-0.0083,"4,773,207.1200",6,0.0086,"4,451,920.2500",1,"321,286.8700",1,"1,012,624.4400",2,"1,449,976.0000"
3,0058,010134184,7,0.0619,"4,434,608.2700",7,0.0609,"4,499,923.2340",0,"-65,314.9640",1,"101,319.4140",1,"113,850.8750"
4,0058,000992836,2,0.0831,"2,766,053.3200",3,0.0970,"2,764,915.4575",-1,"1,137.8625",2,"441,483.2575",1,"465,051.1200"
5,0058,002362927,7,0.0741,"2,092,553.4950",6,0.0764,"1,913,556.4600",1,"178,997.0350",1,"189,436.3400",2,"496,906.0000"
6,0058,001005370,2,0.0687,"2,062,331.3000",2,0.0680,"1,063,353.1000",0,"998,978.2000",1,0.0000,1,"1,011,901.9000"
7,0058,028407710,3,-0.1537,"1,452,246.7750",3,-0.1604,"1,977,691.5600",0,"-525,444.7850",2,"626,155.9600",2,"115,226.3750"
8,0058,029170892,4,0.0765,"1,214,645.1000",3,0.0816,"943,866.4630",1,"270,778.6370",2,"279,038.2230",3,"570,966.5000"
9,0058,010228209,2,0.0724,"929,501.7500",3,0.0718,"218,103.3430",-1,"711,398.4070",2,"108,163.7650",1,"871,212.7500"
10,0058,013644107,4,0.0533,"917,550.5250",3,0.0456,"15,519.6930",1,"902,030.8320",1,"2,042.6250",2,"913,450.5250"
11,0058,000163104,2,0.0644,"799,935.1200",2,0.0672,"753,295.9800",0,"46,639.1400",1,"82,835.7800",1,"249,220.1200"
12,0058,000057385,6,0.0864,"734,386.1250",6,0.0838,"774,301.2100",0,"-39,915.0850",3,"69,280.2150",3,"64,184.8750"
13,0058,000147893,3,0.0278,"663,894.8700",5,0.0262,"352,314.9640",-2,"311,579.9060",4,"56,098.9040",2,"367,808.1200"
14,0058,000115593,3,0.0650,"650,166.8800",3,0.0604,"725,554.8300",0,"-75,387.9500",1,"143,217.2800",1,"142,243.1200"
15,0058,011097471,7,0.0652,"639,363.5000",8,0.0726,"572,456.4560",-1,"66,907.0440",2,"60,871.0240",1,"34,184.1250"
16,0058,000059569,6,0.0734,"632,266.5000",6,0.0722,"629,906.1800",0,"2,360.3200",1,"51,758.7400",1,"53,849.3750"
17,0058,051751124,2,0.0464,"622,660.5000",2,0.0433,"1,854,251.5400",0,"-1,231,591.0400",1,"810,413.4000",1,"66,119.7500"
18,0058,007685983,7,0.0735,"572,496.1300",6,0.0808,"676,187.6450",1,"-103,691.5150",1,"95,039.1250",2,"1,060.0000"
19,0058,016069816,5,0.0760,"533,289.0000",5,0.0695,"531,964.1160",0,"1,324.8840",1,"43,718.7400",1,"45,085.8750"
20,0058,000259175,6,0.0263,"475,397.2500",4,0.0379,"271,166.0500",2,"204,231.2000",1,"115,909.6700",3,"232,430.0000"
21,0058,040297019,6,0.0814,"391,753.0000",4,0.0797,"329,104.1060",2,"62,648.8940",2,"134,145.6160",4,"197,144.7500"
22,0058,050339197,2,0.0414,"299,873.3700",2,0.0361,"229,127.0900",0,"70,746.2800",1,"45,384.6250",1,"117,228.7500"
23,0058,010426433,2,0.0488,"277,079.6250",2,0.0555,"269,517.0000",0,"7,562.6250",1,"114,016.0300",1,"121,388.8750"
24,0058,000032713,6,0.1008,"266,977.7500",4,0.0963,"252,787.2030",2,"14,190.5470",1,"69,898.4140",3,"84,801.7500"
25,0058,033127399,4,0.0776,"263,737.6250",3,0.0848,"179,325.3700",1,"84,412.2550",1,"71,277.7400",2,"155,847.0000"
26,0058,053704889,2,0.0864,"243,143.0000",2,0.0867,"244,309.5600",0,"-1,166.5600",1,"122,166.3300",1,"121,493.5000"
27,0058,009637729,3,0.0453,"234,792.3750",4,0.0546,"479,209.8930",-1,"-244,417.5180",2,"48,508.4770",1,"104,853.1250"
28,0058,011717815,2,0.0567,"209,135.3750",3,0.0558,"254,089.0255",-1,"-44,953.6505",2,"64,331.7155",1,"27,596.8750"
29,0058,059949867,3,0.0804,"206,693.6200",3,0.0674,"257,654.1180",0,"-50,960.4980",1,"18,727.8550",1,"18,671.3750"
30,0058,012246142,3,0.0092,"195,098.1200",4,0.0018,"266,063.1110",-1,"-70,964.9910",2,"107,335.8710",1,"36,550.5000"
31,0058,009427237,4,0.0761,"190,098.7500",2,0.0743,"132,605.3700",2,"57,493.3800",1,"59,721.4200",3,"117,183.7500"
32,0058,034908347,5,-0.0881,"189,497.5000",5,-0.0795,"108,320.5977",0,"81,176.9023",2,"44,894.3020",2,"126,563.3750"
33,0058,024442741,5,0.0333,"181,997.3750",5,0.0175,"229,730.2817",0,"-47,732.9067",3,"151,284.8267",3,"103,592.7500"
34,0058,002715853,6,0.0662,"167,857.0000",6,0.0657,"124,346.6055",0,"43,510.3945",2,"58,569.0000",2,"104,994.6250"
35,0058,012054659,4,0.0898,"165,555.6250",2,0.0821,"142,208.2300",2,"23,347.3950",1,"85,103.1000",3,"104,795.6250"
36,0058,008271052,3,0.0349,"165,187.0000",5,0.0289,"305,054.9360",-2,"-139,867.9360",3,"151,483.4420",1,"11,158.1250"
37,0058,001163997,6,0.0832,"163,282.2500",6,0.0813,"195,325.4230",0,"-32,043.1730",2,"88,240.9690",2,"56,372.0000"
38,0058,003883696,3,0.0355,"163,275.8750",4,0.0300,"315,372.4160",-1,"-152,096.5410",2,"44,491.2500",1,"24,081.0000"
39,0058,014742380,3,0.0727,"157,426.6250",4,0.0696,"200,823.9700",-1,"-43,397.3450",3,"176,499.5880",2,"124,007.2500"
40,0058,029872299,5,0.0960,"155,075.3750",5,0.0964,"95,397.4800",0,"59,677.8950",1,"24,016.7130",1,"84,508.0000"
41,0058,013042517,6,0.0634,"154,671.0000",5,0.0575,"154,728.5603",1,-57.5603,1,"42,034.3400",2,"42,228.2500"
42,0058,032729761,2,0.0941,"132,286.2500",3,0.0963,"147,177.9130",-1,"-14,891.6630",2,"117,540.4470",1,"103,688.5000"
43,0058,028915227,8,-0.5108,"130,412.0000",7,-0.4649,"108,443.7424",1,"21,968.2576",1,"11,278.4050",2,"33,280.3750"
44,0058,008072751,2,0.0930,"129,543.5000",2,0.0942,"167,285.3210",0,"-37,741.8210",1,"220,305.0000",1,"31,818.5000"
45,0058,035455654,3,0.0728,"123,931.5000",3,0.0735,"103,044.5560",0,"20,886.9440",1,"25,767.4700",1,"31,113.7500"
46,0058,005609283,5,0.0178,"117,063.0000",6,0.0099,"155,221.7630",-1,"-38,158.7630",2,"60,699.4250",1,"22,675.1250"
47,0058,027781126,4,-0.0093,"115,397.2500",5,-0.0258,"147,292.8774",-1,"-31,895.6274",3,"104,799.0574",2,"72,812.8750"
48,0058,030724363,5,0.0113,"110,213.3750",8,0.0152,"153,286.9900",-3,"-43,073.6150",4,"64,390.0850",1,"21,638.1250"
49,0058,038094323,5,0.0390,"80,992.8750",4,0.0285,"116,588.9420",1,"-35,596.0670",2,"83,404.7520",3,"48,147.7500"
50,0058,052979558,3,0.0145,"73,005.7500",3,0.0067,"75,263.0920",0,"-2,257.3420",2,"33,830.0020",2,"32,033.2500"
51,0058,017633949,2,0.0541,"59,886.2500",3,0.0569,"61,696.8340",-1,"-1,810.5840",2,"41,018.9020",1,"35,284.1250"
52,0058,021836410,7,0.1006,"56,599.2500",7,0.0993,"58,227.6453",0,"-1,628.3953",1,"3,079.9600",1,"1,607.5000"
53,0058,005479572,3,0.0648,"49,819.6250",3,0.0577,"72,511.4750",0,"-22,691.8500",1,"30,482.3280",1,"8,430.2500"
54,0058,050180900,2,-0.0491,"49,761.6250",4,-0.0994,"129,682.5580",-2,"-79,920.9330",3,"80,692.0580",1,"8,950.2500"
55,0058,059835368,5,0.0806,"47,595.0000",6,0.0325,"57,098.3189",-1,"-9,503.3189",2,"14,082.3799",1,"8,936.7500"
56,0058,035201264,3,-0.0227,"36,757.5000",3,-0.0370,"42,085.7493",0,"-5,328.2493",1,"25,158.0000",1,"20,591.6250"
57,0058,034807425,4,0.0654,"36,753.0000",3,0.0685,"101,342.6870",1,"-64,589.6870",2,"58,176.0770",3,"29,242.2500"
58,0058,052282112,4,-0.1001,"22,654.7500",4,-0.1525,"13,708.4273",0,"8,946.3227",2,"6,530.6899",2,"15,477.7500"
59,0058,001278519,2,0.0834,"18,363.5000",2,0.0822,"23,610.8870",0,"-5,247.3870",1,"17,215.2070",1,"15,021.6250"
60,0058,013371101,3,-0.0166,"9,787.7500",4,-0.0290,"35,291.0046",-1,"-25,503.2546",3,"29,965.7770",2,"5,651.6250"
61,0058,064682707,2,0.0713,"8,111.5000",3,0.0643,"24,189.6670",-1,"-16,078.1670",2,"17,646.3750",1,"1,657.0000"
62,8519,055890379,7,0.0463,"78,329.5000",8,0.0082,"57,624.6531",-1,"20,704.8469",2,"4,914.0525",1,"25,642.5000"
63,Total,,256,0.1008,"39,425,220.1900",261,0.0993,"37,828,075.9335",-5,"1,597,144.2565",106,"7,420,148.8464",101,"10,929,450.0550"

In [ ]:
# guardado cliente contrato sin desagregar en corto plazo y largo plazo
# --------------------------------
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparisoncli_reset2.to_excel(writer, sheet_name="banca_cli_cont_SA_SI", index=False)

In [ ]:
# DESGLOSE NUMERO DE CONTRATOS

In [50]:
# cliente contrato sin desagregar en corto plazo y largo plazo
comparisoncli_reset2.columns

Index(['banca', 'cliente', 'n_cont_m', 'rorc_cli_m', 'rwas_Tot_m', 'n_cont_m1',
       'rorc_cli_m1', 'rwas_Tot_m1', 'n_cont_Tot_diff', 'rwas_Tot_diff',
       'n_cont_Tot_SA', 'rwas_Tot_SA', 'n_cont_Tot_SI_m', 'rwas_Tot_SI_m'],
      dtype='object')

#### nace del cliente contrato sin desagregar en corto plazo y largo plazo

In [57]:
comparisoncli_renamed_filtered = comparisoncli_reset2.loc[:,['banca', 'cliente','rorc_cli_m','rorc_cli_m1','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparisoncli_renamed_filtered

,banca,cliente,rorc_cli_m,rorc_cli_m1,rwas_Tot_m,rwas_Tot_m1,rwas_Tot_diff
0,0023,012225332,0.0806,0.0916,"1,466,359.5250","1,311,523.9300","154,835.5950"
1,0058,007652980,0.0310,0.0317,"5,062,834.1500","4,910,528.0220","152,306.1280"
2,0058,030695078,-0.0083,0.0086,"4,773,207.1200","4,451,920.2500","321,286.8700"
3,0058,010134184,0.0619,0.0609,"4,434,608.2700","4,499,923.2340","-65,314.9640"
4,0058,000992836,0.0831,0.0970,"2,766,053.3200","2,764,915.4575","1,137.8625"
5,0058,002362927,0.0741,0.0764,"2,092,553.4950","1,913,556.4600","178,997.0350"
6,0058,001005370,0.0687,0.0680,"2,062,331.3000","1,063,353.1000","998,978.2000"
7,0058,028407710,-0.1537,-0.1604,"1,452,246.7750","1,977,691.5600","-525,444.7850"
8,0058,029170892,0.0765,0.0816,"1,214,645.1000","943,866.4630","270,778.6370"
9,0058,010228209,0.0724,0.0718,"929,501.7500","218,103.3430","711,398.4070"
10,0058,013644107,0.0533,0.0456,"917,550.5250","15,519.6930","902,030.8320"
11,0058,000163104,0.0644,0.0672,"799,935.1200","753,295.9800","46,639.1400"
12,0058,000057385,0.0864,0.0838,"734,386.1250","774,301.2100","-39,915.0850"
13,0058,000147893,0.0278,0.0262,"663,894.8700","352,314.9640","311,579.9060"
14,0058,000115593,0.0650,0.0604,"650,166.8800","725,554.8300","-75,387.9500"
15,0058,011097471,0.0652,0.0726,"639,363.5000","572,456.4560","66,907.0440"
16,0058,000059569,0.0734,0.0722,"632,266.5000","629,906.1800","2,360.3200"
17,0058,051751124,0.0464,0.0433,"622,660.5000","1,854,251.5400","-1,231,591.0400"
18,0058,007685983,0.0735,0.0808,"572,496.1300","676,187.6450","-103,691.5150"
19,0058,016069816,0.0760,0.0695,"533,289.0000","531,964.1160","1,324.8840"
20,0058,000259175,0.0263,0.0379,"475,397.2500","271,166.0500","204,231.2000"
21,0058,040297019,0.0814,0.0797,"391,753.0000","329,104.1060","62,648.8940"
22,0058,050339197,0.0414,0.0361,"299,873.3700","229,127.0900","70,746.2800"
23,0058,010426433,0.0488,0.0555,"277,079.6250","269,517.0000","7,562.6250"
24,0058,000032713,0.1008,0.0963,"266,977.7500","252,787.2030","14,190.5470"
25,0058,033127399,0.0776,0.0848,"263,737.6250","179,325.3700","84,412.2550"
26,0058,053704889,0.0864,0.0867,"243,143.0000","244,309.5600","-1,166.5600"
27,0058,009637729,0.0453,0.0546,"234,792.3750","479,209.8930","-244,417.5180"
28,0058,011717815,0.0567,0.0558,"209,135.3750","254,089.0255","-44,953.6505"
29,0058,059949867,0.0804,0.0674,"206,693.6200","257,654.1180","-50,960.4980"
30,0058,012246142,0.0092,0.0018,"195,098.1200","266,063.1110","-70,964.9910"
31,0058,009427237,0.0761,0.0743,"190,098.7500","132,605.3700","57,493.3800"
32,0058,034908347,-0.0881,-0.0795,"189,497.5000","108,320.5977","81,176.9023"
33,0058,024442741,0.0333,0.0175,"181,997.3750","229,730.2817","-47,732.9067"
34,0058,002715853,0.0662,0.0657,"167,857.0000","124,346.6055","43,510.3945"
35,0058,012054659,0.0898,0.0821,"165,555.6250","142,208.2300","23,347.3950"
36,0058,008271052,0.0349,0.0289,"165,187.0000","305,054.9360","-139,867.9360"
37,0058,001163997,0.0832,0.0813,"163,282.2500","195,325.4230","-32,043.1730"
38,0058,003883696,0.0355,0.0300,"163,275.8750","315,372.4160","-152,096.5410"
39,0058,014742380,0.0727,0.0696,"157,426.6250","200,823.9700","-43,397.3450"
40,0058,029872299,0.0960,0.0964,"155,075.3750","95,397.4800","59,677.8950"
41,0058,013042517,0.0634,0.0575,"154,671.0000","154,728.5603",-57.5603
42,0058,032729761,0.0941,0.0963,"132,286.2500","147,177.9130","-14,891.6630"
43,0058,028915227,-0.5108,-0.4649,"130,412.0000","108,443.7424","21,968.2576"
44,0058,008072751,0.0930,0.0942,"129,543.5000","167,285.3210","-37,741.8210"
45,0058,035455654,0.0728,0.0735,"123,931.5000","103,044.5560","20,886.9440"
46,0058,005609283,0.0178,0.0099,"117,063.0000","155,221.7630","-38,158.7630"
47,0058,027781126,-0.0093,-0.0258,"115,397.2500","147,292.8774","-31,895.6274"
48,0058,030724363,0.0113,0.0152,"110,213.3750","153,286.9900","-43,073.6150"
49,0058,038094323,0.0390,0.0285,"80,992.8750","116,588.9420","-35,596.0670"
50,0058,052979558,0.0145,0.0067,"73,005.7500","75,263.0920","-2,257.3420"
51,0058,017633949,0.0541,0.0569,"59,886.2500","61,696.8340","-1,810.5840"
52,0058,021836410,0.1006,0.0993,"56,599.2500","58,227.6453","-1,628.3953"
53,0058,005479572,0.0648,0.0577,"49,819.6250","72,511.4750","-22,691.8500"
54,0058,050180900,-0.0491,-0.0994,"49,761.6250","129,682.5580","-79,920.9330"
55,0058,059835368,0.0806,0.0325,"47,595.0000","57,098.3189","-9,503.3189"
56,0058,035201264,-0.0227,-0.0370,"36,757.5000","42,085.7493","-5,328.2493"
57,0058,034807425,0.0654,0.0685,"36,753.0000","101,342.6870","-64,589.6870"
58,0058,052282112,-0.1001,-0.1525,"22,654.7500","13,708.4273","8,946.3227"
59,0058,001278519,0.0834,0.0822,"18,363.5000","23,610.8870","-5,247.3870"
60,0058,013371101,-0.0166,-0.0290,"9,787.7500","35,291.0046","-25,503.2546"
61,0058,064682707,0.0713,0.0643,"8,111.5000","24,189.6670","-16,078.1670"
62,8519,055890379,0.0463,0.0082,"78,329.5000","57,624.6531","20,704.8469"
63,Total,,0.1008,0.0993,"39,425,220.1900","37,828,075.9335","1,597,144.2565"

In [34]:
comparisoncli_renamed_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   banca          64 non-null     object
 1   cliente        64 non-null     object
 2   rorc_cli_m     64 non-null     float64
 3   rorc_cli_m1    64 non-null     float64
 4   rwas_Tot_m     64 non-null     float64
 5   rwas_Tot_m1    64 non-null     float64
 6   rwas_Tot_diff  64 non-null     float64
dtypes: float64(5), object(2)
memory usage: 3.6+ KB

In [ ]:
['banca', 'ctpa', 'rwas_Tot_m', 'Grand_Tot_m', 'pct_Grand_Tot_m',
       'rwas_Tot_m1', 'Grand_Tot_m1', 'pct_Grand_Tot_m1', 'rwas_Tot_diff',
       'pct_var_rwas_MoM', 'pct_var_GT_MoM', 'ctpa_Tot_m', 'pct_ctpa_Tot_m',
       'ctpa_Tot_m1', 'pct_ctpa_Tot_m1', 'ctpa_Tot_diff',
       'pct_var_ctpa_Tot_MoM'],

In [35]:
comparisoncli_renamed_filtered.columns

Index(['banca', 'cliente', 'rorc_cli_m', 'rorc_cli_m1', 'rwas_Tot_m',
       'rwas_Tot_m1', 'rwas_Tot_diff'],
      dtype='object')

In [62]:
# Ensure that comparison_clim_ctpa is defined

comparison_cliente_final = comparisoncli_renamed_filtered.copy()

comparison_cliente_final['rorc_cli_var_rel'] = (
    ((comparison_cliente_final['rorc_cli_m'] - comparison_cliente_final['rorc_cli_m1']) / 
     abs(comparison_cliente_final['rorc_cli_m1']))
    )

comparison_cliente_final['pct_rwas_cli_MoM_rel'] = (
    ((comparison_cliente_final['rwas_Tot_m'] - comparison_cliente_final['rwas_Tot_m1']) / 
     comparison_cliente_final['rwas_Tot_m1']))


# Totales por banca y ctpa  banca_Grand_Tot_m
comparison_cliente_final['banca_Grand_Tot_m'] = comparison_cliente_final.groupby(['banca'])['rwas_Tot_m'].transform('sum')
comparison_cliente_final['banca_Grand_Tot_m1'] = comparison_cliente_final.groupby(['banca'])['rwas_Tot_m1'].transform('sum')

# % por ctpa dentro de banca (m y m1)
comparison_cliente_final['pct_cli_banca_m'] = (comparison_cliente_final['rwas_Tot_m'] / comparison_cliente_final['banca_Grand_Tot_m'])
comparison_cliente_final['pct_cli_banca_m1'] = (comparison_cliente_final['rwas_Tot_m1'] / comparison_cliente_final['banca_Grand_Tot_m1'])

comparison_cliente_final['pct_cli_banca_var_rel'] = (
    ((comparison_cliente_final['pct_cli_banca_m'] - comparison_cliente_final['pct_cli_banca_m1']) / 
     abs(comparison_cliente_final['pct_cli_banca_m1']))
    )

# ---------------------------------

grand_total_m = comparison_cliente_final.loc[comparison_cliente_final['banca'] == 'Total', 'rwas_Tot_m'].values[0]
grand_total_m1 = comparison_cliente_final.loc[comparison_cliente_final['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

comparison_cliente_final['banca_Tot_m'] = grand_total_m
comparison_cliente_final['banca_Tot_m1'] = grand_total_m1


# % por ctpa dentro de banca (m y m1)
comparison_cliente_final['pct_cli_banca_Tot_m'] = (comparison_cliente_final['rwas_Tot_m'] / comparison_cliente_final['banca_Tot_m'])
comparison_cliente_final['pct_cli_banca_Tot_m1'] = (comparison_cliente_final['rwas_Tot_m1'] / comparison_cliente_final['banca_Tot_m1'])

comparison_cliente_final['pct_cli_banca_Tot_var_rel'] = (
    ((comparison_cliente_final['pct_cli_banca_Tot_m'] - comparison_cliente_final['pct_cli_banca_Tot_m1']) / 
     abs(comparison_cliente_final['pct_cli_banca_Tot_m1']))
    )

comparison_cliente_final_guardado = comparison_cliente_final.loc[:,['banca','cliente','rorc_cli_m','rorc_cli_m1','rorc_cli_var_rel','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff',
                                                                    'pct_rwas_cli_MoM_rel','banca_Grand_Tot_m','pct_cli_banca_m','banca_Grand_Tot_m1','pct_cli_banca_m1','pct_cli_banca_var_rel',
                                                                    'banca_Tot_m','pct_cli_banca_Tot_m','banca_Tot_m1','pct_cli_banca_Tot_m1','pct_cli_banca_Tot_var_rel']]

In [63]:
comparison_cliente_final_guardado

,banca,cliente,rorc_cli_m,rorc_cli_m1,rorc_cli_var_rel,rwas_Tot_m,rwas_Tot_m1,rwas_Tot_diff,pct_rwas_cli_MoM_rel,banca_Grand_Tot_m,pct_cli_banca_m,banca_Grand_Tot_m1,pct_cli_banca_m1,pct_cli_banca_var_rel,banca_Tot_m,pct_cli_banca_Tot_m,banca_Tot_m1,pct_cli_banca_Tot_m1,pct_cli_banca_Tot_var_rel
0,0023,012225332,0.0806,0.0916,-0.1201,"1,466,359.5250","1,311,523.9300","154,835.5950",0.1181,"1,466,359.5250",1.0000,"1,311,523.9300",1.0000,0.0000,"39,425,220.1900",0.0372,"37,828,075.9335",0.0347,0.0728
1,0058,007652980,0.0310,0.0317,-0.0221,"5,062,834.1500","4,910,528.0220","152,306.1280",0.0310,"37,880,531.1650",0.1337,"36,458,927.3504",0.1347,-0.0077,"39,425,220.1900",0.1284,"37,828,075.9335",0.1298,-0.0108
2,0058,030695078,-0.0083,0.0086,-1.9651,"4,773,207.1200","4,451,920.2500","321,286.8700",0.0722,"37,880,531.1650",0.1260,"36,458,927.3504",0.1221,0.0319,"39,425,220.1900",0.1211,"37,828,075.9335",0.1177,0.0287
3,0058,010134184,0.0619,0.0609,0.0164,"4,434,608.2700","4,499,923.2340","-65,314.9640",-0.0145,"37,880,531.1650",0.1171,"36,458,927.3504",0.1234,-0.0515,"39,425,220.1900",0.1125,"37,828,075.9335",0.1190,-0.0544
4,0058,000992836,0.0831,0.0970,-0.1433,"2,766,053.3200","2,764,915.4575","1,137.8625",0.0004,"37,880,531.1650",0.0730,"36,458,927.3504",0.0758,-0.0371,"39,425,220.1900",0.0702,"37,828,075.9335",0.0731,-0.0401
5,0058,002362927,0.0741,0.0764,-0.0301,"2,092,553.4950","1,913,556.4600","178,997.0350",0.0935,"37,880,531.1650",0.0552,"36,458,927.3504",0.0525,0.0525,"39,425,220.1900",0.0531,"37,828,075.9335",0.0506,0.0492
6,0058,001005370,0.0687,0.0680,0.0103,"2,062,331.3000","1,063,353.1000","998,978.2000",0.9395,"37,880,531.1650",0.0544,"36,458,927.3504",0.0292,0.8667,"39,425,220.1900",0.0523,"37,828,075.9335",0.0281,0.8609
7,0058,028407710,-0.1537,-0.1604,0.0418,"1,452,246.7750","1,977,691.5600","-525,444.7850",-0.2657,"37,880,531.1650",0.0383,"36,458,927.3504",0.0542,-0.2932,"39,425,220.1900",0.0368,"37,828,075.9335",0.0523,-0.2954
8,0058,029170892,0.0765,0.0816,-0.0625,"1,214,645.1000","943,866.4630","270,778.6370",0.2869,"37,880,531.1650",0.0321,"36,458,927.3504",0.0259,0.2386,"39,425,220.1900",0.0308,"37,828,075.9335",0.0250,0.2347
9,0058,010228209,0.0724,0.0718,0.0084,"929,501.7500","218,103.3430","711,398.4070",3.2617,"37,880,531.1650",0.0245,"36,458,927.3504",0.0060,3.1018,"39,425,220.1900",0.0236,"37,828,075.9335",0.0058,3.0891
10,0058,013644107,0.0533,0.0456,0.1689,"917,550.5250","15,519.6930","902,030.8320",58.1217,"37,880,531.1650",0.0242,"36,458,927.3504",0.0004,55.9029,"39,425,220.1900",0.0233,"37,828,075.9335",0.0004,55.7266
11,0058,000163104,0.0644,0.0672,-0.0417,"799,935.1200","753,295.9800","46,639.1400",0.0619,"37,880,531.1650",0.0211,"36,458,927.3504",0.0207,0.0221,"39,425,220.1900",0.0203,"37,828,075.9335",0.0199,0.0189
12,0058,000057385,0.0864,0.0838,0.0310,"734,386.1250","774,301.2100","-39,915.0850",-0.0515,"37,880,531.1650",0.0194,"36,458,927.3504",0.0212,-0.0871,"39,425,220.1900",0.0186,"37,828,075.9335",0.0205,-0.0900
13,0058,000147893,0.0278,0.0262,0.0611,"663,894.8700","352,314.9640","311,579.9060",0.8844,"37,880,531.1650",0.0175,"36,458,927.3504",0.0097,0.8137,"39,425,220.1900",0.0168,"37,828,075.9335",0.0093,0.8080
14,0058,000115593,0.0650,0.0604,0.0762,"650,166.8800","725,554.8300","-75,387.9500",-0.1039,"37,880,531.1650",0.0172,"36,458,927.3504",0.0199,-0.1375,"39,425,220.1900",0.0165,"37,828,075.9335",0.0192,-0.1402
15,0058,011097471,0.0652,0.0726,-0.1019,"639,363.5000","572,456.4560","66,907.0440",0.1169,"37,880,531.1650",0.0169,"36,458,927.3504",0.0157,0.0750,"39,425,220.1900",0.0162,"37,828,075.9335",0.0151,0.0716
16,0058,000059569,0.0734,0.0722,0.0166,"632,266.5000","629,906.1800","2,360.3200",0.0037,"37,880,531.1650",0.0167,"36,458,927.3504",0.0173,-0.0339,"39,425,220.1900",0.0160,"37,828,075.9335",0.0167,-0.0369
17,0058,051751124,0.0464,0.0433,0.0716,"622,660.5000","1,854,251.5400","-1,231,591.0400",-0.6642,"37,880,531.1650",0.0164,"36,458,927.3504",0.0509,-0.6768,"39,425,220.1900",0.0158,"37,828,075.9335",0.0490,-0.6778
18,0058,007685983,0.0735,0.0808,-0.0903,"572,496.1300","676,187.6450","-103,691.5150",-0.1533,"37,880,531.1650",0.0151,"36,458,927.3504",0.0185,-0.1851,"39,425,220.1900",0.0145,"37,828,075.9335",0.0179,-0.1876
19,0058,016069816,0.0760,0.0695,0.0935,"533,289.0000","531,964.1160","1,324.8840",0.0025,"37,880,531.1650",0.0141,"36,458,927.3504",0.0146,-0.0351,"39,425,220.1900",0.0135,"37,828,075.9335",0.0141,-0.0381
20,0058,000259175,0.0263,0.0379,-0.3061,"475,397.2500","271,166.0500","204,231.2000",0.7532,"37,880,531.1650",0.0125,"36,458,927.3504",0.0074,0.6874,"39,425,220.1900",0.0121,"37,828,075.9335",0.0072,0.6821
21,0058,040297019,0.0814,0.0797,0.0213,"391,753.0000","329,104.1060","62,648.8940",0.1904,"37,880,531.1650",0.0103,"36,458,927.3504",0.0090,0.1457,"39,425,220.1900",0.0099,"37,828,075.9335",0.0087,0.1421
22,0058,050339197,0.0414,0.0361,0.1468,"299,873.3700","229,127.0900","70,746.2800",0.3088,"37,880,531.1650",0.0079,"36,458,927.3504",0.0063,0.2596,"39,425,220.1900",0.0076,"37,828,075.9335",0.0061,0.2557
23,0058,010426433,0.0488,0.0555,-0.1207,"277,079.6250","269,517.0000","7,562.6250",0.0281,"37,880,531.1650",0.0073,"36,458,927.3504",0.0074,-0.0105,"39,425,220.1900",0.0070,"37,828,075.9335",0.0071,-0.0136
24,0058,000032713,0.1008,0.0963,0.0467,"266,977.7500","252,787.2030","14,190.5470",0.0561,"37,880,531.1650",0.0070,"36,458,927.3504",0.0069,0.0165,"39,425,220.1900",0.0068,"37,828,075.9335",0.0067,0.0134
25,0058,033127399,0.0776,0.0848,-0.0849,"263,737.6250","179,325.3700","84,412.2550",0.4707,"37,880,531.1650",0.0070,"36,458,927.3504",0.0049,0.4155,"39,425,220.1900",0.0067,"37,828,075.9335",0.0047,0.4111
26,0058,053704889,0.0864,0.0867,-0.0035,"243,143.0000","244,309.5600","-1,166.5600",-0.0048,"37,880,531.1650",0.0064,"36,458,927.3504",0.0067,-0.0421,"39,425,220.1900",0.0062,"37,828,075.9335",0.0065,-0.0451
27,0058,009637729,0.0453,0.0546,-0.1703,"234,792.3750","479,209.8930","-244,417.5180",-0.5100,"37,880,531.1650",0.0062,"36,458,927.3504",0.0131,-0.5284,"39,425,220.1900",0.0060,"37,828,075.9335",0.0127,-0.5299
28,0058,011717815,0.0567,0.0558,0.0161,"209,135.3750","254,089.0255","-44,953.6505",-0.1769,"37,880,531.1650",0.0055,"36,458,927.3504",0.0070,-0.2078,"39,425,220.1900",0.0053,"37,828,075.9335",0.0067,-0.2103
29,0058,059949867,0.0804,0.0674,0.1929,"206,693.6200","257,654.1180","-50,960.4980",-0.1978,"37,880,531.1650",0.0055,"36,458,927.3504",0.0071,-0.2279,"39,425,220.1900",0.0052,"37,828,075.9335",0.0068,-0.2303
30,0058,012246142,0.0092,0.0018,4.1111,"195,098.1200","266,063.1110","-70,964.9910",-0.2667,"37,880,531.1650",0.0052,"36,458,927.3504",0.0073,-0.2942,"39,425,220.1900",0.0049,"37,828,075.9335",0.0070,-0.2964
31,0058,009427237,0.0761,0.0743,0.0242,"190,098.7500","132,605.3700","57,493.3800",0.4336,"37,880,531.1650",0.0050,"36,458,927.3504",0.0036,0.3798,"39,425,220.1900",0.0048,"37,828,075.9335",0.0035,0.3755
32,0058,034908347,-0.0881,-0.0795,-0.1082,"189,497.5000","108,320.5977","81,176.9023",0.7494,"37,880,531.1650",0.0050,"36,458,927.3504",0.0030,0.6838,"39,425,220.1900",0.0048,"37,828,075.9335",0.0029,0.6785
33,0058,024442741,0.0333,0.0175,0.9029,"181,997.3750","229,730.2817","-47,732.9067",-0.2078,"37,880,531.1650",0.0048,"36,458,927.3504",0.0063,-0.2375,"39,425,220.1900",0.0046,"37,828,075.9335",0.0061,-0.2399
34,0058,002715853,0.0662,0.0657,0.0076,"167,857.0000","124,346.6055","43,510.3945",0.3499,"37,880,531.1650",0.0044,"36,458,927.3504",0.0034,0.2993,"39,425,220.1900",0.0043,"37,828,075.9335",0.0033,0.2952
35,0058,012054659,0.0898,0.0821,0.0938,"165,555.6250","142,208.2300","23,347.3950",0.1642,"37,880,531.1650",0.0044,"36,458,927.3504",0.0039,0.1205,"39,425,220.1900",0.0042,"37,828,075.9335",0.0038,0.1170
36,0058,008271052,0.0349,0.0289,0.2076,"165,187.0000","305,054.9360","-139,867.9360",-0.4585,"37,880,531.1650",0.0044,"36,458,927.3504",0.0084,-0.4788,"39,425,220.1900",0.0042,"37,828,075.9335",0.0081,-0.4804
37,0058,001163997,0.0832,0.0813,0.0234,"163,282.2500","195,325.4230","-32,043.1730",-0.1641,"37,880,531.1650",0.0043,"36,458,927.3504",0.0054,-0.1954,"39,425,220.1900",0.0041,"37,828,075.9335",0.0052,-0.1979
38,0058,003883696,0.0355,0.0300,0.1833,"163,275.8750","315,372.4160","-152,096.5410",-0.4823,"37,880,531.1650",0.0043,"36,458,927.3504",0.0087,-0.5017,"39,425,220.1900",0.0041,"37,828,075.9335",0.0083,-0.5032
39,0058,014742380,0.0727,0.0696,0.0445,"157,426.6250","200,823.9700","-43,397.3450",-0.2161,"37,880,531.1650",0.0042,"36,458,927.3504",0.0055,-0.2455,"39,425,220.1900",0.0040,"37,828,075.9335",0.0053,-0.2479
40,0058,029872299,0.0960,0.0964,-0.0041,"155,075.3750","95,397.4800","59,677.8950",0.6256,"37,880,531.1650",0.0041,"36,458,927.3504",0.0026,0.5646,"39,425,220.1900",0.0039,"37,828,075.9335",0.0025,0.5597
41,0058,013042517,0.0634,0.0575,0.1026,"154,671.0000","154,728.5603",-57.5603,-0.0004,"37,880,531.1650",0.0041,"36,458,927.3504",0.0042,-0.0379,"39,425,220.1900",0.0039,"37,828,075.9335",0.0041,-0.0409
42,0058,032729761,0.0941,0.0963,-0.0228,"132,286.2500","147,177.9130","-14,891.6630",-0.1012,"37,880,531.1650",0.0035,"36,458,927.3504",0.0040,-0.1349,"39,425,220.1900",0.0034,"37,828,075.9335",0.0039,-0.1376
43,0058,028915227,-0.5108,-0.4649,-0.0987,"130,412.0000","108,443.7424","21,968.2576",0.2026,"37,880,531.1650",0.0034,"36,458,927.3504",0.0030,0.1574,"39,425,220.1900",0.0033,"37,828,075.9335",0.0029,0.1539
44,0058,008072751,0.0930,0.0942,-0.0127,"129,543.5000","167,285.3210","-37,741.8210",-0.2256,"37,880,531.1650",0.0034,"36,458,927.3504",0.0046,-0.2547,"39,425,220.1900",0.0033,"37,828,075.9335",0.0044,-0.2570
45,0058,035455654,0.0728,0.0735,-0.0095,"123,931.5000","103,044.5560","20,886.9440",0.2027,"37,880,531.1650",0.0033,"36,458,927.3504",0.0028,0.1576,"39,425,220.1900",0.0031,"37,828,075.9335",0.0027,0.1540
46,0058,005609283,0.0178,0.0099,0.7980,"117,063.0000","155,221.7630","-38,158.7630",-0.2458,"37,880,531.1650",0.0031,"36,458,927.3504",0.0043,-0.2741,"39,425,220.1900",0.0030,"37,828,075.9335",0.0041,-0.2764
47,0058,027781126,-0.0093,-0.0258,0.6395,"115,397.2500","147,292.8774","-31,895.6274",-0.2165,"37,880,531.1650",0.0030,"36,458,927.3504",0.0040,-0.2459,"39,425,220.1900",0.0029,"37,828,075.9335",0.0039,-0.2483
48,0058,030724363,0.0113,0.0152,-0.2566,"110,213.3750","153,286.9900","-43,073.6150",-0.2810,"37,880,531.1650",0.0029,"36,458,927.3504",0.0042,-0.3080,"39,425,220.1900",0.0028,"37,828,075.9335",0.0041,-0.3101
49,0058,038094323,0.0390,0.0285,0.3684,"80,992.8750","116,588.9420","-35,596.0670",-0.3053,"37,880,531.1650",0.0021,"36,458,927.3504",0.0032,-0.3314,"39,425,220.1900",0.0021,"37,828,075.9335",0.0031,-0.3335
50,0058,052979558,0.0145,0.0067,1.1642,"73,005.7500","75,263.0920","-2,257.3420",-0.0300,"37,880,531.1650",0.0019,"36,458,927.3504",0.0021,-0.0664,"39,425,220.1900",0.0019,"37,828,075.9335",0.0020,-0.0693
51,0058,017633949,0.0541,0.0569,-0.0492,"59,886.2500","61,696.8340","-1,810.5840",-0.0293,"37,880,531.1650",0.0016,"36,458,927.3504",0.0017,-0.0658,"39,425,220.1900",0.0015,"37,828,075.9335",0.0016,-0.0687
52,0058,021836410,0.1006,0.0993,0.0131,"56,599.2500","58,227.6453","-1,628.3953",-0.0280,"37,880,531.1650",0.0015,"36,458,927.3504",0.0016,-0.0644,"39,425,220.1900",0.0014,"37,828,075.9335",0.0015,-0.0673
53,0058,005479572,0.0648,0.0577,0.1231,"49,819.6250","72,511.4750","-22,691.8500",-0.3129,"37,880,531.1650",0.0013,"36,458,927.3504",0.0020,-0.3387,"39,425,220.1900",0.0013,"37,828,075.9335",0.0019,-0.3408
54,0058,050180900,-0.0491,-0.0994,0.5060,"49,761.6250","129,682.5580","-79,920.9330",-0.6163,"37,880,531.1650",0.0013,"36,458,927.3504",0.0036,-0.6307,"39,425,220.1900",0.0013,"37,828,075.9335",0.0034,-0.6318
55,0058,059835368,0.0806,0.0325,1.4800,"47,595.0000","57,098.3189","-9,503.3189",-0.1664,"37,880,531.1650",0.0013,"36,458,927.3504",0.0016,-0.1977,"39,425,220.1900",0.0012,"37,828,075.9335",0.0015,-0.2002
56,0058,035201264,-0.0227,-0.0370,0.3865,"36,757.5000","42,085.7493","-5,328.2493",-0.1266,"37,880,531.1650",0.0010,"36,458,927.3504",0.0012,-0.1594,"39,425,220.1900",0.0009,"37,828,075.9335",0.0011,-0.1620
57,0058,034807425,0.0654,0.0685,-0.0453,"36,753.0000","101,342.6870","-64,589.6870",-0.6373,"37,880,531.1650",0.0010,"36,458,927.3504",0.0028,-0.6509,"39,425,220.1900",0.0009,"37,828,075.9335",0.0027,-0.6520
58,0058,052282112,-0.1001,-0.1525,0.3436,"22,654.7500","13,708.4273","8,946.3227",0.6526,"37,880,531.1650",0.0006,"36,458,927.3504",0.0004,0.5906,"39,425,220.1900",0.0006,"37,828,075.9335",0.0004,0.5857
59,0058,001278519,0.0834,0.0822,0.0146,"18,363.5000","23,610.8870","-5,247.3870",-0.2222,"37,880,531.1650",0.0005,"36,458,927.3504",0.0006,-0.2514,"39,425,220.1900",0.0005,"37,828,075.9335",0.0006,-0.2538
60,0058,013371101,-0.0166,-0.0290,0.4276,"9,787.7500","35,291.0046","-25,503.2546",-0.7227,"37,880,531.1650",0.0003,"36,458,927.3504",0.0010,-0.7331,"39,425,220.1900",0.0002,"37,828,075.9335",0.0009,-0.7339
61,0058,064682707,0.0713,0.0643,0.1089,"8,111.5000","24,189.6670","-16,078.1670",-0.6647,"37,880,531.1650",0.0002,"36,458,927.3504",0.0007,-0.6773,"39,425,220.1900",0.0002,"37,828,075.9335",0.0006,-0.6783
62,8519,055890379,0.0463,0.0082,4.6463,"78,329.5000","57,624.6531","20,704.8469",0.3593,"78,329.5000",1.0000,"57,624.6531",1.0000,0.0000,"39,425,220.1900",0.0020,"37,828,075.9335",0.0015,0.3042
63,Total,,0.1008,0.0993,0.0151,"39,425,220.1900","37,828,075.9335","1,597,144.2565",0.0422,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000

In [ ]:
# cliente contra su propia banca - contra el total de APRs global (de todas las bancas)
# --------------------------------
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_cliente_final_guardado.to_excel(writer, sheet_name="banca_cli_ratios", index=False)

In [ ]:
# rorc_cli_m - El RORC (Return on Risk-Weighted Capital) del cliente en esa banca en el mes actual (m).
# rorc_cli_m1 - El RORC (Return on Risk-Weighted Capital) del cliente en esa banca en el mes anterior (m1).
# rorc_cli_var_rel - Variacion relativa del RORC del cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rorc_cli_m - rorc_cli_m1 / rorc_cli_m1`. Expresses growth or decline as a proportion.
# rwas_Tot_m - APRs de ese cliente en esa banca en el mes actual (m)
# rwas_Tot_m1 - APRs de ese cliente en esa banca en el mes anterior (m1)
# rwas_Total_diff - Variacion neta de APRs de ese cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rwas_Tot_m - rwas_Tot_m1`
# pct_rwas_cli_MoM_rel - Variacion relativa de APRs de ese cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rwas_Total_diff / rwas_Tot_m1`. Expresses growth or decline as a proportion.
# banca_Grand_Tot_m - Total neto de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs de la misma banca.
# banca_Grand_Tot_m1 - Total neto de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs de la misma banca.
# pct_cli_banca_m - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs de la misma banca.(`rwas_Tot_m / banca_Grand_Tot_m`.)
# pct_cli_banca_m1 - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs de la misma banca. (`rwas_Tot_m / banca_Grand_Tot_m1`.)
# pct_cli_banca_var_rel - Variacion relativa del peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al peso en porcentaje de APRs de la misma banca en el mes anterior. (`pct_cli_banca_m / pct_cli_banca_m1 - 1`, showing how the proportion of contribution changed. )
# banca_Tot_m - Total neto de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs global (todas las bancas).
# banca_Tot_m1 - Total neto de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs global (todas las bancas).
# pct_cli_banca_Tot_m - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs global (todas las bancas). (`rwas_Tot_m / banca_Tot_m`.)
# pct_cli_banca_Tot_m1 - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs global (todas las bancas). (`rwas_Tot_m1 / banca_Tot_m1`.)
# pct_cli_banca_Tot_var_rel - Variacion relativa del peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al peso en porcentaje de APRs de la misma banca en el mes anterior. (`pct_cli_banca_Tot_m / pct_cli_banca_Tot_m1 - 1`, showing how the proportion of contribution changed. )

#### banca - cliente - ctpa

In [66]:
# ANALISIS CLIENTES - CTPA
# --------------------------------
# pd.reset_option('display.max_rows')
# pd.options.display.max_rows = 70

clim_ctpa = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa = clim_ctpa.sort_index()

clim_ctpa_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_SA = clim_ctpa_SA.sort_index()

clim_ctpa_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_SI_mes = clim_ctpa_SI_mes.sort_index()

clim_ctpa_m1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_m1 = clim_ctpa_m1.sort_index()

clim_ctpa, clim_ctpa_SA, clim_ctpa_SI_mes, clim_ctpa_m1

In [45]:
clim_ctpa

                                               contract_id                \
term_contract_type                                      CP      LP Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                2.0000  0.0000     2
                                0300                1.0000  0.0000     1
0058                000032713   0083                6.0000  0.0000     6
                    000057385   0010                1.0000  0.0000     1
                                0083                5.0000  0.0000     5
...                                                    ...     ...   ...
                    059949867   0083                2.0000  0.0000     2
                                0300                1.0000  0.0000     1
                    064682707   0083                2.0000  0.0000     2
8519                055890379   0083                7.0000  0.0000     7
Total                                             235.0000 21.0000   256

                                               rwas_regul_capital_amount  \
term_contract_type                                                    CP
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                      1,076,570.5250
                                0300                        389,789.0000
0058                000032713   0083                        266,977.7500
                    000057385   0010                        618,554.2500
                                0083                        115,831.8750
...                                                                  ...
                    059949867   0083                         66,480.0000
                                0300                        140,213.6200
                    064682707   0083                          8,111.5000
8519                055890379   0083                         78,329.5000
Total                                                    25,408,930.1000


term_contract_type                                          LP           Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000  1,076,570.5250
                                0300                    0.0000    389,789.0000
0058                000032713   0083                    0.0000    266,977.7500
                    000057385   0010                    0.0000    618,554.2500
                                0083                    0.0000    115,831.8750
...                                                        ...             ...
                    059949867   0083                    0.0000     66,480.0000
                                0300                    0.0000    140,213.6200
                    064682707   0083                    0.0000      8,111.5000
8519                055890379   0083                    0.0000     78,329.5000
Total                                          14,016,290.0900 39,425,220.1900

[96 rows x 6 columns]

In [67]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    ('contract_id', 'CP'),
    ('contract_id', 'LP'),
    ('contract_id', 'Total'),
    ('rwas_regul_capital_amount', 'CP'),
    ('rwas_regul_capital_amount', 'LP'),
    ('rwas_regul_capital_amount', 'Total')
]

# Calculate the difference for the selected columns
diff_clim_ctpa_m1 = clim_ctpa[cols_to_compare].sub(clim_ctpa_m1[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparison_clim_ctpa = pd.concat(
    [
        clim_ctpa[cols_to_compare].add_suffix('_m'),
        clim_ctpa_m1[cols_to_compare].add_suffix('_m1'),
        diff_clim_ctpa_m1.add_suffix('_diff'),
        clim_ctpa_SA[cols_to_compare].add_suffix('_SA'),
        clim_ctpa_SI_mes[cols_to_compare].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0).sort_index()

comparison_clim_ctpa

                                               contract_id_m                   \
term_contract_type                                      CP_m    LP_m  Total_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                  2.0000  0.0000   2.0000
                                0300                  1.0000  0.0000   1.0000
0058                000032713   0083                  6.0000  0.0000   6.0000
                    000057385   0010                  1.0000  0.0000   1.0000
                                0083                  5.0000  0.0000   5.0000
...                                                      ...     ...      ...
                    059949867   0083                  2.0000  0.0000   2.0000
                                0300                  1.0000  0.0000   1.0000
                    064682707   0083                  2.0000  0.0000   2.0000
8519                055890379   0083                  7.0000  0.0000   7.0000
Total                                               235.0000 21.0000 256.0000

                                               rwas_regul_capital_amount_m  \
term_contract_type                                                    CP_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                        1,076,570.5250
                                0300                          389,789.0000
0058                000032713   0083                          266,977.7500
                    000057385   0010                          618,554.2500
                                0083                          115,831.8750
...                                                                    ...
                    059949867   0083                           66,480.0000
                                0300                          140,213.6200
                    064682707   0083                            8,111.5000
8519                055890379   0083                           78,329.5000
Total                                                      25,408,930.1000

                                                                \
term_contract_type                                        LP_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000
                                0300                    0.0000
0058                000032713   0083                    0.0000
                    000057385   0010                    0.0000
                                0083                    0.0000
...                                                        ...
                    059949867   0083                    0.0000
                                0300                    0.0000
                    064682707   0083                    0.0000
8519                055890379   0083                    0.0000
Total                                          14,016,290.0900

                                                               contract_id_m1  \
term_contract_type                                     Total_m          CP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083            1,076,570.5250         2.0000
                                0300              389,789.0000         1.0000
0058                000032713   0083              266,977.7500         4.0000
                    000057385   0010              618,554.2500         1.0000
                                0083              115,831.8750         5.0000
...                                                        ...            ...
                    059949867   0083               66,480.0000         2.0000
                                0300              140,213.6200         1.0000
                    064682707   0083                8,111.5000         3.0000
8519                055890379   0083               78,329.5000         8.0000
Total                                          39,425,220.1900       240.0000

                                                                 \
term_contract_type                               LP_m1 Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083            0.0000   2.0000
                                0300            0.0000   1.0000
0058                000032713   0083            0.0000   4.0000
                    000057385   0010            0.0000   1.0000
                                0083            0.0000   5.0000
...                                                ...      ...
                    059949867   0083            0.0000   2.0000
                                0300            0.0000   1.0000
                    064682707   0083            0.0000   3.0000
8519                055890379   0083            0.0000   8.0000
Total                                          21.0000 261.0000

                                               rwas_regul_capital_amount_m1  \
term_contract_type                                                    CP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                           422,977.8700
                                0300                           888,546.0600
0058                000032713   0083                           252,787.2030
                    000057385   0010                           653,202.4400
                                0083                           121,098.7700
...                                                                     ...
                    059949867   0083                            66,531.3980
                                0300                           191,122.7200
                    064682707   0083                            24,189.6670
8519                055890379   0083                            57,624.6531
Total                                                       24,112,950.0848

                                                                \
term_contract_type                                       LP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000
                                0300                    0.0000
0058                000032713   0083                    0.0000
                    000057385   0010                    0.0000
                                0083                    0.0000
...                                                        ...
                    059949867   0083                    0.0000
                                0300                    0.0000
                    064682707   0083                    0.0000
8519                055890379   0083                    0.0000
Total                                          13,715,125.8487

                                                                \
term_contract_type                                    Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083              422,977.8700
                                0300              888,546.0600
0058                000032713   0083              252,787.2030
                    000057385   0010              653,202.4400
                                0083              121,098.7700
...                                                        ...
                    059949867   0083               66,531.3980
                                0300              191,122.7200
                    064682707   0083               24,189.6670
8519                055890379   0083               57,624.6531
Total                                          37,828,075.9335

                                               contract_id_diff          \
term_contract_type                                      CP_diff LP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                     0.0000  0.0000
                                0300                     0.0000  0.0000
0058                000032713   0083                     2.0000  0.0000
                    000057385   0010                     0.0000  0.0000
                                0083                     0.0000  0.0000
...                                                         ...     ...
                    059949867   0083                     0.0000  0.0000
                                0300                     0.0000  0.0000
                    064682707   0083                    -1.0000  0.0000
8519                055890379   0083                    -1.0000  0.0000
Total                                                   -5.0000  0.0000

                                                           \
term_contract_type                             Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083               0.0000
                                0300               0.0000
0058                000032713   0083               2.0000
                    000057385   0010               0.0000
                                0083               0.0000
...                                                   ...
                    059949867   0083               0.0000
                                0300               0.0000
                    064682707   0083              -1.0000
8519                055890379   0083              -1.0000
Total                                             -5.0000

                                               rwas_regul_capital_amount_diff  \
term_contract_type                                                    CP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                             653,592.6550
                                0300                            -498,757.0600
0058                000032713   0083                              14,190.5470
                    000057385   0010                             -34,648.1900
                                0083                              -5,266.8950
...                                                                       ...
                    059949867   0083                                 -51.3980
                                0300                             -50,909.1000
                    064682707   0083                             -16,078.1670
8519                055890379   0083                              20,704.8469
Total                                                          1,295,980.0152

                                                                            \
term_contract_type                                  LP_diff     Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000   653,592.6550
                                0300                 0.0000  -498,757.0600
0058                000032713   0083                 0.0000    14,190.5470
                    000057385   0010                 0.0000   -34,648.1900
                                0083                 0.0000    -5,266.8950
...                                                     ...            ...
                    059949867   0083                 0.0000       -51.3980
                                0300                 0.0000   -50,909.1000
                    064682707   0083                 0.0000   -16,078.1670
8519                055890379   0083                 0.0000    20,704.8469
Total                                          301,164.2413 1,597,144.2565

                                               contract_id_SA                  \
term_contract_type                                      CP_SA  LP_SA Total_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                   1.0000 0.0000   1.0000
                                0300                   0.0000 0.0000   0.0000
0058                000032713   0083                   1.0000 0.0000   1.0000
                    000057385   0010                   0.0000 0.0000   0.0000
                                0083                   3.0000 0.0000   3.0000
...                                                       ...    ...      ...
                    059949867   0083                   1.0000 0.0000   1.0000
                                0300                   0.0000 0.0000   0.0000
                    064682707   0083                   2.0000 0.0000   2.0000
8519                055890379   0083                   2.0000 0.0000   2.0000
Total                                                103.0000 3.0000 106.0000

                                               rwas_regul_capital_amount_SA  \
term_contract_type                                                    CP_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                           312,982.1200
                                0300                                 0.0000
0058                000032713   0083                            69,898.4140
                    000057385   0010                                 0.0000
                                0083                            69,280.2150
...                                                                     ...
                    059949867   0083                            18,727.8550
                                0300                                 0.0000
                    064682707   0083                            17,646.3750
8519                055890379   0083                             4,914.0525
Total                                                        7,365,333.1964

                                                                           \
term_contract_type                                   LP_SA       Total_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                0.0000   312,982.1200
                                0300                0.0000         0.0000
0058                000032713   0083                0.0000    69,898.4140
                    000057385   0010                0.0000         0.0000
                                0083                0.0000    69,280.2150
...                                                    ...            ...
                    059949867   0083                0.0000    18,727.8550
                                0300                0.0000         0.0000
                    064682707   0083                0.0000    17,646.3750
8519                055890379   0083                0.0000     4,914.0525
Total                                          54,815.6500 7,420,148.8464

                                               contract_id_SI_mes            \
term_contract_type                                      CP_SI_mes LP_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                       1.0000    0.0000
                                0300                       0.0000    0.0000
0058                000032713   0083                       3.0000    0.0000
                    000057385   0010                       0.0000    0.0000
                                0083                       3.0000    0.0000
...                                                           ...       ...
                    059949867   0083                       1.0000    0.0000
                                0300                       0.0000    0.0000
                    064682707   0083                       1.0000    0.0000
8519                055890379   0083                       1.0000    0.0000
Total                                                     98.0000    3.0000

                                                             \
term_contract_type                             Total_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 1.0000
                                0300                 0.0000
0058                000032713   0083                 3.0000
                    000057385   0010                 0.0000
                                0083                 3.0000
...                                                     ...
                    059949867   0083                 1.0000
                                0300                 0.0000
                    064682707   0083                 1.0000
8519                055890379   0083                 1.0000
Total                                              101.0000

                                               rwas_regul_capital_amount_SI_mes  \
term_contract_type                                                    CP_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                               968,228.9000
                                0300                                     0.0000
0058                000032713   0083                                84,801.7500
                    000057385   0010                                     0.0000
                                0083                                64,184.8750
...                                                                         ...
                    059949867   0083                                18,671.3750
                                0300                                     0.0000
                    064682707   0083                                 1,657.0000
8519                055890379   0083                                25,642.5000
Total                                                           10,280,415.1800


term_contract_type                                LP_SI_mes    Total_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000    968,228.9000
                                0300                 0.0000          0.0000
0058                000032713   0083                 0.0000     84,801.7500
                    000057385   0010                 0.0000          0.0000
                                0083                 0.0000     64,184.8750
...                                                     ...             ...
                    059949867   0083                 0.0000     18,671.3750
                                0300                 0.0000          0.0000
                    064682707   0083                 0.0000      1,657.0000
8519                055890379   0083                 0.0000     25,642.5000
Total                                          649,034.8750 10,929,450.0550

[106 rows x 30 columns]

In [68]:
# one header per column
comparison_clim_ctpa.columns = ['_'.join(col).strip() for col in comparison_clim_ctpa.columns]
comparison_clim_ctpa = comparison_clim_ctpa.reset_index()

In [65]:
comparison_clim_ctpa

,level60_operarea_id,customer_id,counterpart_id,contract_id_m_CP_m,contract_id_m_LP_m,contract_id_m_Total_m,rwas_regul_capital_amount_m_CP_m,rwas_regul_capital_amount_m_LP_m,rwas_regul_capital_amount_m_Total_m,contract_id_m1_CP_m1,contract_id_m1_LP_m1,contract_id_m1_Total_m1,rwas_regul_capital_amount_m1_CP_m1,rwas_regul_capital_amount_m1_LP_m1,rwas_regul_capital_amount_m1_Total_m1,contract_id_diff_CP_diff,contract_id_diff_LP_diff,contract_id_diff_Total_diff,rwas_regul_capital_amount_diff_CP_diff,rwas_regul_capital_amount_diff_LP_diff,rwas_regul_capital_amount_diff_Total_diff,contract_id_SA_CP_SA,contract_id_SA_LP_SA,contract_id_SA_Total_SA,rwas_regul_capital_amount_SA_CP_SA,rwas_regul_capital_amount_SA_LP_SA,rwas_regul_capital_amount_SA_Total_SA,contract_id_SI_mes_CP_SI_mes,contract_id_SI_mes_LP_SI_mes,contract_id_SI_mes_Total_SI_mes,rwas_regul_capital_amount_SI_mes_CP_SI_mes,rwas_regul_capital_amount_SI_mes_LP_SI_mes,rwas_regul_capital_amount_SI_mes_Total_SI_mes
0,0023,012225332,0083,2.0000,0.0000,2.0000,"1,076,570.5250",0.0000,"1,076,570.5250",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",0.0000,0.0000,0.0000,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,012225332,0300,1.0000,0.0000,1.0000,"389,789.0000",0.0000,"389,789.0000",1.0000,0.0000,1.0000,"888,546.0600",0.0000,"888,546.0600",0.0000,0.0000,0.0000,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,000032713,0083,6.0000,0.0000,6.0000,"266,977.7500",0.0000,"266,977.7500",4.0000,0.0000,4.0000,"252,787.2030",0.0000,"252,787.2030",2.0000,0.0000,2.0000,"14,190.5470",0.0000,"14,190.5470",1.0000,0.0000,1.0000,"69,898.4140",0.0000,"69,898.4140",3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500"
3,0058,000057385,0010,1.0000,0.0000,1.0000,"618,554.2500",0.0000,"618,554.2500",1.0000,0.0000,1.0000,"653,202.4400",0.0000,"653,202.4400",0.0000,0.0000,0.0000,"-34,648.1900",0.0000,"-34,648.1900",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0058,000057385,0083,5.0000,0.0000,5.0000,"115,831.8750",0.0000,"115,831.8750",5.0000,0.0000,5.0000,"121,098.7700",0.0000,"121,098.7700",0.0000,0.0000,0.0000,"-5,266.8950",0.0000,"-5,266.8950",3.0000,0.0000,3.0000,"69,280.2150",0.0000,"69,280.2150",3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,2.0000,0.0000,2.0000,"66,480.0000",0.0000,"66,480.0000",2.0000,0.0000,2.0000,"66,531.3980",0.0000,"66,531.3980",0.0000,0.0000,0.0000,-51.3980,0.0000,-51.3980,1.0000,0.0000,1.0000,"18,727.8550",0.0000,"18,727.8550",1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750"
102,0058,059949867,0300,1.0000,0.0000,1.0000,"140,213.6200",0.0000,"140,213.6200",1.0000,0.0000,1.0000,"191,122.7200",0.0000,"191,122.7200",0.0000,0.0000,0.0000,"-50,909.1000",0.0000,"-50,909.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
103,0058,064682707,0083,2.0000,0.0000,2.0000,"8,111.5000",0.0000,"8,111.5000",3.0000,0.0000,3.0000,"24,189.6670",0.0000,"24,189.6670",-1.0000,0.0000,-1.0000,"-16,078.1670",0.0000,"-16,078.1670",2.0000,0.0000,2.0000,"17,646.3750",0.0000,"17,646.3750",1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000"
104,8519,055890379,0083,7.0000,0.0000,7.0000,"78,329.5000",0.0000,"78,329.5000",8.0000,0.0000,8.0000,"57,624.6531",0.0000,"57,624.6531",-1.0000,0.0000,-1.0000,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
105,Total,,,235.0000,21.0000,256.0000,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240.0000,21.0000,261.0000,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5.0000,0.0000,-5.0000,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [69]:
renamed_dict = {
    'level60_operarea_id': 'banca',
    'customer_id': 'cliente',
    'counterpart_id': 'ctpa',
    
    'contract_id_m_CP_m': 'n_con_CP_m',
    'contract_id_m_LP_m': 'n_con_LP_m',
    'contract_id_m_Total_m': 'n_con_Tot_m',
    
    'rwas_regul_capital_amount_m_CP_m': 'rwas_CP_m',
    'rwas_regul_capital_amount_m_LP_m': 'rwas_LP_m',
    'rwas_regul_capital_amount_m_Total_m': 'rwas_Tot_m',
    
    'contract_id_m1_CP_m1': 'n_con_CP_m1',
    'contract_id_m1_LP_m1': 'n_con_LP_m1',
    'contract_id_m1_Total_m1': 'n_con_Tot_m1',
    
    'rwas_regul_capital_amount_m1_CP_m1': 'rwas_CP_m1',
    'rwas_regul_capital_amount_m1_LP_m1': 'rwas_LP_m1',
    'rwas_regul_capital_amount_m1_Total_m1': 'rwas_Tot_m1',
    
    'contract_id_diff_CP_diff': 'n_con_CP_diff',
    'contract_id_diff_LP_diff': 'n_con_LP_diff',
    'contract_id_diff_Total_diff': 'n_con_Tot_diff',
    
    'rwas_regul_capital_amount_diff_CP_diff': 'rwas_CP_diff',
    'rwas_regul_capital_amount_diff_LP_diff': 'rwas_LP_diff',
    'rwas_regul_capital_amount_diff_Total_diff': 'rwas_Tot_diff',
    
    'contract_id_SA_CP_SA': 'n_con_CP_SA',
    'contract_id_SA_LP_SA': 'n_con_LP_SA',
    'contract_id_SA_Total_SA': 'n_con_Tot_SA',
    
    'rwas_regul_capital_amount_SA_CP_SA': 'rwas_CP_SA',
    'rwas_regul_capital_amount_SA_LP_SA': 'rwas_LP_SA',
    'rwas_regul_capital_amount_SA_Total_SA': 'rwas_Tot_SA',
    
    'contract_id_SI_mes_CP_SI_mes': 'n_con_CP_SI_m',
    'contract_id_SI_mes_LP_SI_mes': 'n_con_LP_SI_m',
    'contract_id_SI_mes_Total_SI_mes': 'n_con_Tot_SI_m',
    'rwas_regul_capital_amount_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'rwas_regul_capital_amount_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'rwas_regul_capital_amount_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_clim_ctpa=comparison_clim_ctpa.rename(mapper=renamed_dict, axis="columns")

In [67]:
comparison_clim_ctpa

,banca,cliente,ctpa,n_con_CP_m,n_con_LP_m,n_con_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_con_CP_m1,n_con_LP_m1,n_con_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_con_CP_diff,n_con_LP_diff,n_con_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_con_CP_SA,n_con_LP_SA,n_con_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_con_CP_SI_m,n_con_LP_SI_m,n_con_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,012225332,0083,2.0000,0.0000,2.0000,"1,076,570.5250",0.0000,"1,076,570.5250",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",0.0000,0.0000,0.0000,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,012225332,0300,1.0000,0.0000,1.0000,"389,789.0000",0.0000,"389,789.0000",1.0000,0.0000,1.0000,"888,546.0600",0.0000,"888,546.0600",0.0000,0.0000,0.0000,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,000032713,0083,6.0000,0.0000,6.0000,"266,977.7500",0.0000,"266,977.7500",4.0000,0.0000,4.0000,"252,787.2030",0.0000,"252,787.2030",2.0000,0.0000,2.0000,"14,190.5470",0.0000,"14,190.5470",1.0000,0.0000,1.0000,"69,898.4140",0.0000,"69,898.4140",3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500"
3,0058,000057385,0010,1.0000,0.0000,1.0000,"618,554.2500",0.0000,"618,554.2500",1.0000,0.0000,1.0000,"653,202.4400",0.0000,"653,202.4400",0.0000,0.0000,0.0000,"-34,648.1900",0.0000,"-34,648.1900",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0058,000057385,0083,5.0000,0.0000,5.0000,"115,831.8750",0.0000,"115,831.8750",5.0000,0.0000,5.0000,"121,098.7700",0.0000,"121,098.7700",0.0000,0.0000,0.0000,"-5,266.8950",0.0000,"-5,266.8950",3.0000,0.0000,3.0000,"69,280.2150",0.0000,"69,280.2150",3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,2.0000,0.0000,2.0000,"66,480.0000",0.0000,"66,480.0000",2.0000,0.0000,2.0000,"66,531.3980",0.0000,"66,531.3980",0.0000,0.0000,0.0000,-51.3980,0.0000,-51.3980,1.0000,0.0000,1.0000,"18,727.8550",0.0000,"18,727.8550",1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750"
102,0058,059949867,0300,1.0000,0.0000,1.0000,"140,213.6200",0.0000,"140,213.6200",1.0000,0.0000,1.0000,"191,122.7200",0.0000,"191,122.7200",0.0000,0.0000,0.0000,"-50,909.1000",0.0000,"-50,909.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
103,0058,064682707,0083,2.0000,0.0000,2.0000,"8,111.5000",0.0000,"8,111.5000",3.0000,0.0000,3.0000,"24,189.6670",0.0000,"24,189.6670",-1.0000,0.0000,-1.0000,"-16,078.1670",0.0000,"-16,078.1670",2.0000,0.0000,2.0000,"17,646.3750",0.0000,"17,646.3750",1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000"
104,8519,055890379,0083,7.0000,0.0000,7.0000,"78,329.5000",0.0000,"78,329.5000",8.0000,0.0000,8.0000,"57,624.6531",0.0000,"57,624.6531",-1.0000,0.0000,-1.0000,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
105,Total,,,235.0000,21.0000,256.0000,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240.0000,21.0000,261.0000,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5.0000,0.0000,-5.0000,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [68]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_clim_ctpa.to_excel(writer, sheet_name="banca_cli_ctpa_cont_SA_SI", index=False)

In [70]:
comparison_clim_ctpa2 = comparison_clim_ctpa.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_clim_ctpa2

     banca    cliente  ctpa      rwas_Tot_m     rwas_Tot_m1  rwas_Tot_diff
0     0023  012225332  0083  1,076,570.5250    422,977.8700   653,592.6550
1     0023  012225332  0300    389,789.0000    888,546.0600  -498,757.0600
2     0058  000032713  0083    266,977.7500    252,787.2030    14,190.5470
3     0058  000057385  0010    618,554.2500    653,202.4400   -34,648.1900
4     0058  000057385  0083    115,831.8750    121,098.7700    -5,266.8950
..     ...        ...   ...             ...             ...            ...
101   0058  059949867  0083     66,480.0000     66,531.3980       -51.3980
102   0058  059949867  0300    140,213.6200    191,122.7200   -50,909.1000
103   0058  064682707  0083      8,111.5000     24,189.6670   -16,078.1670
104   8519  055890379  0083     78,329.5000     57,624.6531    20,704.8469
105  Total                  39,425,220.1900 37,828,075.9335 1,597,144.2565

[106 rows x 6 columns]

In [74]:
# Ensure that comparison_clim_ctpa is defined
comparison_clim_ctpa = comparison_clim_ctpa2.copy()

# Asegurar que las columnas sean numéricas
comparison_clim_ctpa['rwas_Tot_m'] = comparison_clim_ctpa['rwas_Tot_m'].astype(float)
comparison_clim_ctpa['rwas_Tot_m1'] = comparison_clim_ctpa['rwas_Tot_m1'].astype(float)

# === 1. Porcentajes por cliente ===

# Totales por cliente
comparison_clim_ctpa['rwas_cliente_Tot_m'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_cliente_Tot_m1'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m1'].transform('sum')

# % por ctpa dentro del cliente (m y m1)
comparison_clim_ctpa['pct_ctpa_cli_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_cliente_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_cli_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_cliente_Tot_m1'])# * 100


# Totales por ctpa 
comparison_clim_ctpa['rwas_ctpa_Tot_m'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_ctpa_Tot_m1'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m1'].transform('sum')


comparison_clim_ctpa['pct_ctpa_Tot_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_ctpa_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_Tot_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_ctpa_Tot_m1'])# * 100


# === 2. Porcentajes por banca y ctpa ===

# Totales por banca y ctpa
#comparison_clim_ctpa['banca_ctpa_total_m'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m'].transform('sum')
#comparison_clim_ctpa['banca_ctpa_total_m1'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m1'].transform('sum')

# % por ctpa dentro de banca (m y m1)
#comparison_clim_ctpa['pct_ctpa_vs_banca_m'] = (comparison_clim_ctpa['rwas_Total_m'] / comparison_clim_ctpa['banca_ctpa_total_m']) * 100
#comparison_clim_ctpa['pct_ctpa_vs_banca_m1'] = (comparison_clim_ctpa['rwas_Total_m1'] / comparison_clim_ctpa['banca_ctpa_total_m1']) * 100

# === 3. Variación entre % del cliente (en puntos) ===

comparison_clim_ctpa['pct_ctpa_vs_cliente_diff'] = comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']

# (Opcional) Variación relativa en porcentaje
comparison_clim_ctpa['pct_ctpa_cli_var_rel'] = (
    ((comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']) / 
     comparison_clim_ctpa['pct_ctpa_cli_m1']))#.replace(0, pd.NA)) * 100


#comparison_clim_ctpa['pct_ctpa_vs_banca_rel'] = (
#    ((comparison_clim_ctpa['pct_ctpa_vs_banca_m'] - comparison_clim_ctpa['pct_ctpa_vs_banca_m1']) / 
#     comparison_clim_ctpa['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
#)
comparison_clim_ctpa['pct_ctpa_MOM_rel'] = (comparison_clim_ctpa['pct_ctpa_Tot_m'] - comparison_clim_ctpa['pct_ctpa_Tot_m1']) / comparison_clim_ctpa['pct_ctpa_Tot_m1']#.replace(0, pd.NA)
comparison_clim_ctpa['pct_rwas_ctpa_MOM_rel'] = (comparison_clim_ctpa['rwas_Tot_m'] - comparison_clim_ctpa['rwas_Tot_m1']) / comparison_clim_ctpa['rwas_Tot_m1']#.replace(0, pd.NA)


# ---------------------------------

grand_total_m = comparison_clim_ctpa.loc[comparison_clim_ctpa['banca'] == 'Total', 'rwas_Tot_m'].values[0]
grand_total_m1 = comparison_clim_ctpa.loc[comparison_clim_ctpa['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

comparison_clim_ctpa['banca_Tot_m'] = grand_total_m
comparison_clim_ctpa['banca_Tot_m1'] = grand_total_m1


# % por ctpa dentro de banca (m y m1)
comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['banca_Tot_m'])
comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['banca_Tot_m1'])

comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_var_rel'] = (
    ((comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m'] - comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m1']) / 
     abs(comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m1']))
    )


# === Redondear ===
cols_to_round = [
    'rwas_cliente_Tot_m','pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1',
    'pct_ctpa_cli_var_rel','rwas_ctpa_Tot_m','rwas_ctpa_Tot_m1','pct_ctpa_Tot_m','pct_ctpa_Tot_m1','pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel',
    'banca_Tot_m', 'banca_Tot_m1', 'pct_ctpa_cli_banca_Tot_m','pct_ctpa_cli_banca_Tot_m1','pct_ctpa_cli_banca_Tot_var_rel',
]
# 'banca_ctpa_total_m','pct_ctpa_vs_banca_m', 'banca_ctpa_total_m1','pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
# 'pct_ctpa_vs_cliente_diff',

comparison_clim_ctpa3 = comparison_clim_ctpa.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff'] + cols_to_round].round(6)

comparison_clim_ctpa4 = comparison_clim_ctpa3.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_ctpa_Tot_m', 'pct_ctpa_Tot_m','rwas_Tot_m1','rwas_ctpa_Tot_m1', 'pct_ctpa_Tot_m1','rwas_Tot_diff',
                                                     'pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel',
                                                     'rwas_cliente_Tot_m', 'pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1','pct_ctpa_cli_var_rel',
                                                     'banca_Tot_m','pct_ctpa_cli_banca_Tot_m', 'banca_Tot_m1','pct_ctpa_cli_banca_Tot_m1','pct_ctpa_cli_banca_Tot_var_rel']]

In [32]:
(389789.0000 - 888546.0600)/888546.0600

-0.5613181831001536

In [45]:
(0.2700-0.6800)/0.6800

-0.6029411764705882

In [75]:
comparison_clim_ctpa4

,banca,cliente,ctpa,rwas_Tot_m,rwas_ctpa_Tot_m,pct_ctpa_Tot_m,rwas_Tot_m1,rwas_ctpa_Tot_m1,pct_ctpa_Tot_m1,rwas_Tot_diff,pct_ctpa_MOM_rel,pct_rwas_ctpa_MOM_rel,rwas_cliente_Tot_m,pct_ctpa_cli_m,rwas_cliente_Tot_m1,pct_ctpa_cli_m1,pct_ctpa_cli_var_rel,banca_Tot_m,pct_ctpa_cli_banca_Tot_m,banca_Tot_m1,pct_ctpa_cli_banca_Tot_m1,pct_ctpa_cli_banca_Tot_var_rel
0,0023,012225332,0083,"1,076,570.5250","18,372,347.8050",0.0586,"422,977.8700","17,800,711.7243",0.0238,"653,592.6550",1.4660,1.5452,"1,466,359.5250",0.7342,"1,311,523.9300",0.3225,1.2765,"39,425,220.1900",0.0273,"37,828,075.9335",0.0112,1.4421
1,0023,012225332,0300,"389,789.0000","2,694,961.1500",0.1446,"888,546.0600","2,566,361.4180",0.3462,"-498,757.0600",-0.5823,-0.5613,"1,466,359.5250",0.2658,"1,311,523.9300",0.6775,-0.6076,"39,425,220.1900",0.0099,"37,828,075.9335",0.0235,-0.5791
2,0058,000032713,0083,"266,977.7500","18,372,347.8050",0.0145,"252,787.2030","17,800,711.7243",0.0142,"14,190.5470",0.0233,0.0561,"266,977.7500",1.0000,"252,787.2030",1.0000,0.0000,"39,425,220.1900",0.0068,"37,828,075.9335",0.0067,0.0134
3,0058,000057385,0010,"618,554.2500","3,658,172.9250",0.1691,"653,202.4400","2,896,673.0500",0.2255,"-34,648.1900",-0.2502,-0.0530,"734,386.1250",0.8423,"774,301.2100",0.8436,-0.0016,"39,425,220.1900",0.0157,"37,828,075.9335",0.0173,-0.0914
4,0058,000057385,0083,"115,831.8750","18,372,347.8050",0.0063,"121,098.7700","17,800,711.7243",0.0068,"-5,266.8950",-0.0733,-0.0435,"734,386.1250",0.1577,"774,301.2100",0.1564,0.0085,"39,425,220.1900",0.0029,"37,828,075.9335",0.0032,-0.0822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,"66,480.0000","18,372,347.8050",0.0036,"66,531.3980","17,800,711.7243",0.0037,-51.3980,-0.0319,-0.0008,"206,693.6200",0.3216,"257,654.1180",0.2582,0.2456,"39,425,220.1900",0.0017,"37,828,075.9335",0.0018,-0.0413
102,0058,059949867,0300,"140,213.6200","2,694,961.1500",0.0520,"191,122.7200","2,566,361.4180",0.0745,"-50,909.1000",-0.3014,-0.2664,"206,693.6200",0.6784,"257,654.1180",0.7418,-0.0855,"39,425,220.1900",0.0036,"37,828,075.9335",0.0051,-0.2961
103,0058,064682707,0083,"8,111.5000","18,372,347.8050",0.0004,"24,189.6670","17,800,711.7243",0.0014,"-16,078.1670",-0.6751,-0.6647,"8,111.5000",1.0000,"24,189.6670",1.0000,0.0000,"39,425,220.1900",0.0002,"37,828,075.9335",0.0006,-0.6783
104,8519,055890379,0083,"78,329.5000","18,372,347.8050",0.0043,"57,624.6531","17,800,711.7243",0.0032,"20,704.8469",0.3170,0.3593,"78,329.5000",1.0000,"57,624.6531",1.0000,0.0000,"39,425,220.1900",0.0020,"37,828,075.9335",0.0015,0.3042
105,Total,,,"39,425,220.1900","39,425,220.1900",1.0000,"37,828,075.9335","37,828,075.9335",1.0000,"1,597,144.2565",0.0000,0.0422,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000

In [ ]:
# rwas_Tot_m - APRs de esa contrapartida (ctpa) de ese cliente en el mes m
# rwas_ctpa_Tot_m	 - total de APRs de esa contrapartida (ctpa) en el mes m (valores globales de la contrapartida, no por cliente ni banca)
# pct_ctpa_Tot_m - esa contrapartida de ese cliente representa un X% del total de APRs de esa contrapartida (ctpa) en el mes m
# rwas_Tot_m1 - APRs de esa contrapartida (ctpa) de ese cliente en el mes m-1
# rwas_ctpa_Tot_m1 - total de APRs de esa contrapartida (ctpa) en el mes m-1 (valores globales de la contrapartida, no por cliente ni banca)
# pct_ctpa_Tot_m1 - esa contrapartida de ese cliente representa un X% del total de APRs de esa contrapartida (ctpa) en el mes m-1
# rwas_Tot_diff - variacion neta de APRs de esa contrapartida (ctpa) de ese cliente entre el mes m y m-1
# pct_ctpa_MOM_rel - variacion relativa en porcentaje de esa contrapartida (ctpa) de ese cliente entre el mes m y m-1
# pct_rwas_ctpa_MOM_rel - variacion relativa en porcentaje del peso que representa esa contrapartida (ctpa) de ese cliente respecto al total de APRs de esa contrapartida entre el mes m y m-1
# rwas_cliente_Tot_m - total de APRs de ese cliente en el mes m (valores globales del cliente, no por contrapartida ni banca)
# pct_ctpa_cli_m - esa contrapartida (ctpa) de ese cliente representa un X% del total de APRs de ese cliente en el mes m
# rwas_cliente_total_m1 - total de APRs de ese cliente en el mes m  -1 (valores globales del cliente, no por contrapartida ni banca)
# pct_ctpa_cli_m1 - esa contrapartida (ctpa) de ese cliente representa un X% del total de APRs de ese cliente en el mes m-1
# pct_ctpa_cli_var_rel - variacion relativa en porcentaje del peso que representa esa contrapartida (ctpa) de ese cliente respecto al total de APRs de ese cliente entre el mes m y m-1

In [73]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_clim_ctpa4.to_excel(writer, sheet_name="banca_cli_ctpa_ratios", index=False)

#### desglose SALIDAS

In [27]:
clim_ctpa_SA_desglose = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns=["term_contract_type","motivo_des"],
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
clim_ctpa_SA_desglose

                                               contract_id                  \
term_contract_type                                      CP              LP
motivo_des                                         CAN/VTO   CI/OC CAN/VTO
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                0.0000  1.0000  0.0000
0058                000032713   0083                1.0000  0.0000  0.0000
                    000057385   0083                3.0000  0.0000  0.0000
                    000059569   0083                1.0000  0.0000  0.0000
                    000115593   0083                1.0000  0.0000  0.0000
...                                                    ...     ...     ...
                    059835368   0083                2.0000  0.0000  0.0000
                    059949867   0083                1.0000  0.0000  0.0000
                    064682707   0083                0.0000  2.0000  0.0000
8519                055890379   0083                2.0000  0.0000  0.0000
Total                                              81.0000 22.0000  1.0000

                                                             \
term_contract_type                                    Total
motivo_des                                      CI/OC
level60_operarea_id customer_id counterpart_id
0023                012225332   0083           0.0000     1
0058                000032713   0083           0.0000     1
                    000057385   0083           0.0000     3
                    000059569   0083           0.0000     1
                    000115593   0083           0.0000     1
...                                               ...   ...
                    059835368   0083           0.0000     2
                    059949867   0083           0.0000     1
                    064682707   0083           0.0000     2
8519                055890379   0083           0.0000     2
Total                                          2.0000   106

                                               rwas_regul_capital_amount  \
term_contract_type                                                    CP
motivo_des                                                       CAN/VTO
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                              0.0000
0058                000032713   0083                         69,898.4140
                    000057385   0083                         69,280.2150
                    000059569   0083                         51,758.7400
                    000115593   0083                        143,217.2800
...                                                                  ...
                    059835368   0083                         14,082.3799
                    059949867   0083                         18,727.8550
                    064682707   0083                              0.0000
8519                055890379   0083                          4,914.0525
Total                                                     5,129,510.4574

                                                                           \
term_contract_type                                                     LP
motivo_des                                              CI/OC     CAN/VTO
level60_operarea_id customer_id counterpart_id
0023                012225332   0083             312,982.1200      0.0000
0058                000032713   0083                   0.0000      0.0000
                    000057385   0083                   0.0000      0.0000
                    000059569   0083                   0.0000      0.0000
                    000115593   0083                   0.0000      0.0000
...                                                       ...         ...
                    059835368   0083                   0.0000      0.0000
                    059949867   0083                   0.0000      0.0000
                    064682707   0083              17,646.3750      0.0000
8519                055890379   0083                   0.0000      0.0000
Total                                          2,235,822.7390 13,519.2750


term_contract_type                                                  Total
motivo_des                                           CI/OC
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                0.0000   312,982.1200
0058                000032713   0083                0.0000    69,898.4140
                    000057385   0083                0.0000    69,280.2150
                    000059569   0083                0.0000    51,758.7400
                    000115593   0083                0.0000   143,217.2800
...                                                    ...            ...
                    059835368   0083                0.0000    14,082.3799
                    059949867   0083                0.0000    18,727.8550
                    064682707   0083                0.0000    17,646.3750
8519                055890379   0083                0.0000     4,914.0525
Total                                          41,296.3750 7,420,148.8464

[70 rows x 10 columns]

In [28]:
clim_ctpa_SA_desglose.columns = ['_'.join(col).strip() for col in clim_ctpa_SA_desglose.columns]
clim_ctpa_SA_desglose = clim_ctpa_SA_desglose.reset_index()
clim_ctpa_SA_desglose

,level60_operarea_id,customer_id,counterpart_id,contract_id_CP_CAN/VTO,contract_id_CP_CI/OC,contract_id_LP_CAN/VTO,contract_id_LP_CI/OC,contract_id_Total_,rwas_regul_capital_amount_CP_CAN/VTO,rwas_regul_capital_amount_CP_CI/OC,rwas_regul_capital_amount_LP_CAN/VTO,rwas_regul_capital_amount_LP_CI/OC,rwas_regul_capital_amount_Total_
0,0023,012225332,0083,0.0000,1.0000,0.0000,0.0000,1,0.0000,"312,982.1200",0.0000,0.0000,"312,982.1200"
1,0058,000032713,0083,1.0000,0.0000,0.0000,0.0000,1,"69,898.4140",0.0000,0.0000,0.0000,"69,898.4140"
2,0058,000057385,0083,3.0000,0.0000,0.0000,0.0000,3,"69,280.2150",0.0000,0.0000,0.0000,"69,280.2150"
3,0058,000059569,0083,1.0000,0.0000,0.0000,0.0000,1,"51,758.7400",0.0000,0.0000,0.0000,"51,758.7400"
4,0058,000115593,0083,1.0000,0.0000,0.0000,0.0000,1,"143,217.2800",0.0000,0.0000,0.0000,"143,217.2800"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0058,059835368,0083,2.0000,0.0000,0.0000,0.0000,2,"14,082.3799",0.0000,0.0000,0.0000,"14,082.3799"
66,0058,059949867,0083,1.0000,0.0000,0.0000,0.0000,1,"18,727.8550",0.0000,0.0000,0.0000,"18,727.8550"
67,0058,064682707,0083,0.0000,2.0000,0.0000,0.0000,2,0.0000,"17,646.3750",0.0000,0.0000,"17,646.3750"
68,8519,055890379,0083,2.0000,0.0000,0.0000,0.0000,2,"4,914.0525",0.0000,0.0000,0.0000,"4,914.0525"
69,Total,,,81.0000,22.0000,1.0000,2.0000,106,"5,129,510.4574","2,235,822.7390","13,519.2750","41,296.3750","7,420,148.8464"

In [ ]:
# primero renombrar las columnas, luego ordenarlas para sacar los totales que nos interesen --- totales por grupo de motivo_des, no por suma de plazo temporal de los grupos
# ----------------------------------------------------------------
#'contract_id_CP_CC/OI': 'n_con_CP_CC/OI',
#'contract_id_CP_CC/OC': 'n_con_CP_CC/OC',
#'contract_id_CP_REFI': 'n_con_CP_REFI',
#'contract_id_LP_CC/OI': 'n_con_LP_CC/OI',
#'contract_id_LP_CC/OC': 'n_con_LP_CC/OC',
#'contract_id_LP_REFI': 'n_con_LP_REFI',
#'rwas_regul_capital_amount_CP_CC/OI': 'rwas_CP_CC/OI',
#'rwas_regul_capital_amount_CP_CC/OC': 'rwas_CP_CC/OC',
#'rwas_regul_capital_amount_CP_REFI': 'rwas_CP_REFI',
#'rwas_regul_capital_amount_LP_CC/OI': 'rwas_LP_CC/OI',
#'rwas_regul_capital_amount_LP_CC/OC': 'rwas_LP_CC/OC',
#'rwas_regul_capital_amount_LP_REFI': 'rwas_LP_REFI',

renamed_dict_desglose = {
    'level60_operarea_id': 'banca',
    'customer_id': 'cliente',
    'counterpart_id': 'ctpa',
    'contract_id_CP_CAN/VTO': 'n_con_CP_CAN/VTO',
    'contract_id_CP_CI/OC': 'n_con_CP_CI/OC',
    'contract_id_LP_CAN/VTO': 'n_con_LP_CAN/VTO',
    'contract_id_LP_CI/OC': 'n_con_LP_CI/OC',
    'rwas_regul_capital_amount_CP_CAN/VTO': 'rwas_CP_CAN/VTO',
    'rwas_regul_capital_amount_CP_CI/OC': 'rwas_CP_CI/OC',
    'rwas_regul_capital_amount_LP_CAN/VTO': 'rwas_LP_CAN/VTO',
    'rwas_regul_capital_amount_LP_CI/OC': 'rwas_LP_CI/OC'
}

clim_ctpa_SA_desglose_new=clim_ctpa_SA_desglose.rename(mapper=renamed_dict_desglose, axis="columns").drop(columns=['contract_id_Total_', 'rwas_regul_capital_amount_Total_'])

In [30]:
clim_ctpa_SA_desglose_new

,banca,cliente,ctpa,n_con_CP_CAN/VTO,n_con_CP_CI/OC,n_con_LP_CAN/VTO,n_con_LP_CI/OC,rwas_CP_CAN/VTO,rwas_CP_CI/OC,rwas_LP_CAN/VTO,rwas_LP_CI/OC
0,0023,012225332,0083,0.0000,1.0000,0.0000,0.0000,0.0000,"312,982.1200",0.0000,0.0000
1,0058,000032713,0083,1.0000,0.0000,0.0000,0.0000,"69,898.4140",0.0000,0.0000,0.0000
2,0058,000057385,0083,3.0000,0.0000,0.0000,0.0000,"69,280.2150",0.0000,0.0000,0.0000
3,0058,000059569,0083,1.0000,0.0000,0.0000,0.0000,"51,758.7400",0.0000,0.0000,0.0000
4,0058,000115593,0083,1.0000,0.0000,0.0000,0.0000,"143,217.2800",0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...
65,0058,059835368,0083,2.0000,0.0000,0.0000,0.0000,"14,082.3799",0.0000,0.0000,0.0000
66,0058,059949867,0083,1.0000,0.0000,0.0000,0.0000,"18,727.8550",0.0000,0.0000,0.0000
67,0058,064682707,0083,0.0000,2.0000,0.0000,0.0000,0.0000,"17,646.3750",0.0000,0.0000
68,8519,055890379,0083,2.0000,0.0000,0.0000,0.0000,"4,914.0525",0.0000,0.0000,0.0000
69,Total,,,81.0000,22.0000,1.0000,2.0000,"5,129,510.4574","2,235,822.7390","13,519.2750","41,296.3750"

In [ ]:
clim_ctpa_SA_desglose_new['n_con_Tot_CAN/VTO'] = clim_ctpa_SA_desglose_new['n_con_CP_CAN/VTO'] + clim_ctpa_SA_desglose_new['n_con_LP_CAN/VTO']
clim_ctpa_SA_desglose_new['n_con_Tot_CI/OC'] = clim_ctpa_SA_desglose_new['n_con_CP_CI/OC'] + clim_ctpa_SA_desglose_new['n_con_LP_CI/OC']
clim_ctpa_SA_desglose_new['rwas_Tot_CAN/VTO'] = clim_ctpa_SA_desglose_new['rwas_CP_CAN/VTO'] + clim_ctpa_SA_desglose_new['rwas_LP_CAN/VTO']
clim_ctpa_SA_desglose_new['rwas_Tot_CI/OC'] = clim_ctpa_SA_desglose_new['rwas_CP_CI/OC'] + clim_ctpa_SA_desglose_new['rwas_LP_CI/OC']
clim_ctpa_SA_desglose_new['n_con_Tot'] = clim_ctpa_SA_desglose_new['n_con_Tot_CAN/VTO'] + clim_ctpa_SA_desglose_new['n_con_Tot_CI/OC']
clim_ctpa_SA_desglose_new['rwas_Tot'] = clim_ctpa_SA_desglose_new['rwas_Tot_CAN/VTO'] + clim_ctpa_SA_desglose_new['rwas_Tot_CI/OC']

# clim_ctpa_SA_desglose['n_con_Tot_CAN/VTO'] = clim_ctpa_SA_desglose['n_con_CP_CAN/VTO'] + clim_ctpa_SA_desglose['n_con_LP_CAN/VTO']
# clim_ctpa_SA_desglose['n_con_Tot_CI/OC'] = clim_ctpa_SA_desglose['n_con_CP_CI/OC'] + clim_ctpa_SA_desglose['n_con_LP_CI/OC']
# clim_ctpa_SA_desglose['n_con_Tot_CC/OI'] = clim_ctpa_SA_desglose['n_con_CP_CC/OI'] + clim_ctpa_SA_desglose['n_con_LP_CC/OI']
# clim_ctpa_SA_desglose['n_con_Tot_CC/OC'] = clim_ctpa_SA_desglose['n_con_CP_CC/OC'] + clim_ctpa_SA_desglose['n_con_LP_CC/OC']
# clim_ctpa_SA_desglose['n_con_Tot_REFI'] = clim_ctpa_SA_desglose['n_con_CP_REFI'] + clim_ctpa_SA_desglose['n_con_LP_REFI']
# 
# clim_ctpa_SA_desglose['rwas_Tot_CAN/VTO'] = clim_ctpa_SA_desglose['rwas_CP_CAN/VTO'] + clim_ctpa_SA_desglose['rwas_LP_CAN/VTO']
# clim_ctpa_SA_desglose['rwas_Tot_CI/OC'] = clim_ctpa_SA_desglose['rwas_CP_CI/OC'] + clim_ctpa_SA_desglose['rwas_LP_CI/OC']
# clim_ctpa_SA_desglose['rwas_Tot_CC/OI'] = clim_ctpa_SA_desglose['rwas_CP_CC/OI'] + clim_ctpa_SA_desglose['rwas_LP_CC/OI']
# clim_ctpa_SA_desglose['rwas_Tot_CC/OC'] = clim_ctpa_SA_desglose['rwas_CP_CC/OC'] + clim_ctpa_SA_desglose['rwas_LP_CC/OC']
# clim_ctpa_SA_desglose['rwas_Tot_REFI'] = clim_ctpa_SA_desglose['rwas_CP_REFI'] + clim_ctpa_SA_desglose['rwas_LP_REFI']
# 
# clim_ctpa_SA_desglose['n_con_Tot'] = clim_ctpa_SA_desglose['n_con_Tot_CAN/VTO'] + clim_ctpa_SA_desglose['n_con_Tot_CI/OC'] + clim_ctpa_SA_desglose['n_con_Tot_CC/OI'] + clim_ctpa_SA_desglose['n_con_Tot_CC/OC'] + clim_ctpa_SA_desglose['n_con_Tot_REFI']
# clim_ctpa_SA_desglose['rwas_Tot'] = clim_ctpa_SA_desglose['rwas_Tot_CAN/VTO'] + clim_ctpa_SA_desglose['rwas_Tot_CI/OC'] + clim_ctpa_SA_desglose['rwas_Tot_CC/OI'] + clim_ctpa_SA_desglose['rwas_Tot_CC/OC'] + clim_ctpa_SA_desglose['rwas_Tot_REFI']

clim_ctpa_SA_desglose_new_salida = clim_ctpa_SA_desglose_new.loc[:,['banca', 'cliente', 'ctpa',
                                                         'n_con_CP_CAN/VTO', 'n_con_LP_CAN/VTO', 'n_con_Tot_CAN/VTO',
                                                         'rwas_CP_CAN/VTO', 'rwas_LP_CAN/VTO', 'rwas_Tot_CAN/VTO',
                                                         'n_con_CP_CI/OC', 'n_con_LP_CI/OC', 'n_con_Tot_CI/OC',
                                                            'rwas_CP_CI/OC', 'rwas_LP_CI/OC', 'rwas_Tot_CI/OC',
                                                            'n_con_Tot', 'rwas_Tot']]
                                                         
# clim_ctpa_SA_desglose_new_salida = clim_ctpa_SA_desglose_new.loc[:,['banca', 'cliente', 'ctpa',
#                                                          'n_con_CP_CAN/VTO', 'n_con_LP_CAN/VTO', 'n_con_Tot_CAN/VTO',
#                                                          'rwas_CP_CAN/VTO', 'rwas_LP_CAN/VTO', 'rwas_Tot_CAN/VTO',
#                                                          'n_con_CP_CI/OC', 'n_con_LP_CI/OC', 'n_con_Tot_CI/OC',
#                                                          'rwas_CP_CI/OC', 'rwas_LP_CI/OC', 'rwas_Tot_CI/OC',
#                                                          'n_con_CP_CC/OI', 'n_con_LP_CC/OI', 'n_con_Tot_CC/OI',
#                                                          'rwas_CP_CC/OI', 'rwas_LP_CC/OI', 'rwas_Tot_CC/OI',
#                                                          'n_con_CP_CC/OC', 'n_con_LP_CC/OC', 'n_con_Tot_CC/OC',
#                                                          'rwas_CP_CC/OC', 'rwas_LP_CC/OC', 'rwas_Tot_CC/OC',
#                                                          'n_con_CP_REFI', 'n_con_LP_REFI', 'n_con_Tot_REFI',
#                                                          'rwas_CP_REFI', 'rwas_LP_REFI', 'rwas_Tot_REFI', 
#                                                             'n_con_Tot', 'rwas_Tot']]

clim_ctpa_SA_desglose_new_salida

,banca,cliente,ctpa,n_con_CP_CAN/VTO,n_con_LP_CAN/VTO,n_con_Tot_CAN/VTO,rwas_CP_CAN/VTO,rwas_LP_CAN/VTO,rwas_Tot_CAN/VTO,n_con_CP_CI/OC,n_con_LP_CI/OC,n_con_Tot_CI/OC,rwas_CP_CI/OC,rwas_LP_CI/OC,rwas_Tot_CI/OC,n_con_Tot,rwas_Tot
0,0023,012225332,0083,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,"312,982.1200"
1,0058,000032713,0083,1.0000,0.0000,1.0000,"69,898.4140",0.0000,"69,898.4140",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"69,898.4140"
2,0058,000057385,0083,3.0000,0.0000,3.0000,"69,280.2150",0.0000,"69,280.2150",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.0000,"69,280.2150"
3,0058,000059569,0083,1.0000,0.0000,1.0000,"51,758.7400",0.0000,"51,758.7400",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"51,758.7400"
4,0058,000115593,0083,1.0000,0.0000,1.0000,"143,217.2800",0.0000,"143,217.2800",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"143,217.2800"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0058,059835368,0083,2.0000,0.0000,2.0000,"14,082.3799",0.0000,"14,082.3799",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,"14,082.3799"
66,0058,059949867,0083,1.0000,0.0000,1.0000,"18,727.8550",0.0000,"18,727.8550",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"18,727.8550"
67,0058,064682707,0083,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,0.0000,2.0000,"17,646.3750",0.0000,"17,646.3750",2.0000,"17,646.3750"
68,8519,055890379,0083,2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,"4,914.0525"
69,Total,,,81.0000,1.0000,82.0000,"5,129,510.4574","13,519.2750","5,143,029.7324",22.0000,2.0000,24.0000,"2,235,822.7390","41,296.3750","2,277,119.1140",106.0000,"7,420,148.8464"

In [32]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    clim_ctpa_SA_desglose_new_salida.to_excel(writer, sheet_name="desglose_salidas", index=False)

#### analisis entradas MoM

In [33]:
clim_ctpa_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
clim_ctpa_SI_mes

                                               contract_id               \
term_contract_type                                      CP     LP Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                1.0000 0.0000     1
0058                000032713   0083                3.0000 0.0000     3
                    000057385   0083                3.0000 0.0000     3
                    000059569   0083                1.0000 0.0000     1
                    000115593   0083                1.0000 0.0000     1
...                                                    ...    ...   ...
                    059835368   0083                1.0000 0.0000     1
                    059949867   0083                1.0000 0.0000     1
                    064682707   0083                1.0000 0.0000     1
8519                055890379   0083                1.0000 0.0000     1
Total                                              98.0000 3.0000   101

                                               rwas_regul_capital_amount  \
term_contract_type                                                    CP
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                        968,228.9000
0058                000032713   0083                         84,801.7500
                    000057385   0083                         64,184.8750
                    000059569   0083                         53,849.3750
                    000115593   0083                        142,243.1200
...                                                                  ...
                    059835368   0083                          8,936.7500
                    059949867   0083                         18,671.3750
                    064682707   0083                          1,657.0000
8519                055890379   0083                         25,642.5000
Total                                                    10,280,415.1800


term_contract_type                                       LP           Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000    968,228.9000
0058                000032713   0083                 0.0000     84,801.7500
                    000057385   0083                 0.0000     64,184.8750
                    000059569   0083                 0.0000     53,849.3750
                    000115593   0083                 0.0000    142,243.1200
...                                                     ...             ...
                    059835368   0083                 0.0000      8,936.7500
                    059949867   0083                 0.0000     18,671.3750
                    064682707   0083                 0.0000      1,657.0000
8519                055890379   0083                 0.0000     25,642.5000
Total                                          649,034.8750 10,929,450.0550

[67 rows x 6 columns]

In [38]:
pd.options.display.max_rows = 20

In [39]:
# pool_m['pool_situation_type'] == 'SI') -- no tenemos la columna motivo_des en pool_m1

clim_ctpa_SI_mes1 = pool_m1[(pool_m1['billing_date'] == '2025-05-31')].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
clim_ctpa_SI_mes1

                                               contract_id               \
term_contract_type                                      CP     LP Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                2.0000 0.0000     2
0058                000032713   0083                2.0000 0.0000     2
                    000057385   0083                2.0000 0.0000     2
                    000059569   0083                2.0000 0.0000     2
                                0300                1.0000 0.0000     1
...                                                    ...    ...   ...
                    059835368   0083                1.0000 0.0000     1
                    059949867   0083                1.0000 0.0000     1
                    064682707   0083                2.0000 0.0000     2
8519                055890379   0083                4.0000 0.0000     4
Total                                              96.0000 1.0000    97

                                               rwas_regul_capital_amount  \
term_contract_type                                                    CP
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                        422,977.8700
0058                000032713   0083                         53,403.8290
                    000057385   0083                         45,843.6860
                    000059569   0083                        203,824.4900
                                0300                         35,666.9500
...                                                                  ...
                    059835368   0083                          6,826.1650
                    059949867   0083                         47,803.5430
                    064682707   0083                         17,709.5170
8519                055890379   0083                         45,000.1580
Total                                                     6,835,074.7842


term_contract_type                                         LP          Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                   0.0000   422,977.8700
0058                000032713   0083                   0.0000    53,403.8290
                    000057385   0083                   0.0000    45,843.6860
                    000059569   0083                   0.0000   203,824.4900
                                0300                   0.0000    35,666.9500
...                                                       ...            ...
                    059835368   0083                   0.0000     6,826.1650
                    059949867   0083                   0.0000    47,803.5430
                    064682707   0083                   0.0000    17,709.5170
8519                055890379   0083                   0.0000    45,000.1580
Total                                          2,323,432.2000 9,158,506.9842

[57 rows x 6 columns]

In [40]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare_si_mes = [
    ('contract_id', 'CP'),
    ('contract_id', 'LP'),
    ('contract_id', 'Total'),
    ('rwas_regul_capital_amount', 'CP'),
    ('rwas_regul_capital_amount', 'LP'),
    ('rwas_regul_capital_amount', 'Total')
]

# Calculate the difference for the selected columns
diff_clim_ctpa_SI_mes = clim_ctpa_SI_mes[cols_to_compare_si_mes].sub(clim_ctpa_SI_mes1[cols_to_compare_si_mes], fill_value=0)

# Concatenate for side-by-side comparison
comparison_clim_ctpa_SI_mes = pd.concat(
    [
        clim_ctpa_SI_mes[cols_to_compare_si_mes].add_suffix('_m'),
        clim_ctpa_SI_mes1[cols_to_compare_si_mes].add_suffix('_m1'),
        diff_clim_ctpa_SI_mes.add_suffix('_diff'),
    ],
    axis=1
).fillna(0).sort_index()

comparison_clim_ctpa_SI_mes

                                               contract_id_m                  \
term_contract_type                                      CP_m   LP_m  Total_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                  1.0000 0.0000   1.0000
0058                000032713   0083                  3.0000 0.0000   3.0000
                    000057385   0083                  3.0000 0.0000   3.0000
                    000059569   0083                  1.0000 0.0000   1.0000
                                0300                  0.0000 0.0000   0.0000
...                                                      ...    ...      ...
                    059835368   0083                  1.0000 0.0000   1.0000
                    059949867   0083                  1.0000 0.0000   1.0000
                    064682707   0083                  1.0000 0.0000   1.0000
8519                055890379   0083                  1.0000 0.0000   1.0000
Total                                                98.0000 3.0000 101.0000

                                               rwas_regul_capital_amount_m  \
term_contract_type                                                    CP_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                          968,228.9000
0058                000032713   0083                           84,801.7500
                    000057385   0083                           64,184.8750
                    000059569   0083                           53,849.3750
                                0300                                0.0000
...                                                                    ...
                    059835368   0083                            8,936.7500
                    059949867   0083                           18,671.3750
                    064682707   0083                            1,657.0000
8519                055890379   0083                           25,642.5000
Total                                                      10,280,415.1800

                                                                             \
term_contract_type                                     LP_m         Total_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000    968,228.9000
0058                000032713   0083                 0.0000     84,801.7500
                    000057385   0083                 0.0000     64,184.8750
                    000059569   0083                 0.0000     53,849.3750
                                0300                 0.0000          0.0000
...                                                     ...             ...
                    059835368   0083                 0.0000      8,936.7500
                    059949867   0083                 0.0000     18,671.3750
                    064682707   0083                 0.0000      1,657.0000
8519                055890379   0083                 0.0000     25,642.5000
Total                                          649,034.8750 10,929,450.0550

                                               contract_id_m1                  \
term_contract_type                                      CP_m1  LP_m1 Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                   2.0000 0.0000   2.0000
0058                000032713   0083                   2.0000 0.0000   2.0000
                    000057385   0083                   2.0000 0.0000   2.0000
                    000059569   0083                   2.0000 0.0000   2.0000
                                0300                   1.0000 0.0000   1.0000
...                                                       ...    ...      ...
                    059835368   0083                   1.0000 0.0000   1.0000
                    059949867   0083                   1.0000 0.0000   1.0000
                    064682707   0083                   2.0000 0.0000   2.0000
8519                055890379   0083                   4.0000 0.0000   4.0000
Total                                                 96.0000 1.0000  97.0000

                                               rwas_regul_capital_amount_m1  \
term_contract_type                                                    CP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                           422,977.8700
0058                000032713   0083                            53,403.8290
                    000057385   0083                            45,843.6860
                    000059569   0083                           203,824.4900
                                0300                            35,666.9500
...                                                                     ...
                    059835368   0083                             6,826.1650
                    059949867   0083                            47,803.5430
                    064682707   0083                            17,709.5170
8519                055890379   0083                            45,000.1580
Total                                                        6,835,074.7842

                                                                              \
term_contract_type                                      LP_m1       Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                   0.0000   422,977.8700
0058                000032713   0083                   0.0000    53,403.8290
                    000057385   0083                   0.0000    45,843.6860
                    000059569   0083                   0.0000   203,824.4900
                                0300                   0.0000    35,666.9500
...                                                       ...            ...
                    059835368   0083                   0.0000     6,826.1650
                    059949867   0083                   0.0000    47,803.5430
                    064682707   0083                   0.0000    17,709.5170
8519                055890379   0083                   0.0000    45,000.1580
Total                                          2,323,432.2000 9,158,506.9842

                                               contract_id_diff          \
term_contract_type                                      CP_diff LP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    -1.0000  0.0000
0058                000032713   0083                     1.0000  0.0000
                    000057385   0083                     1.0000  0.0000
                    000059569   0083                    -1.0000  0.0000
                                0300                    -1.0000  0.0000
...                                                         ...     ...
                    059835368   0083                     0.0000  0.0000
                    059949867   0083                     0.0000  0.0000
                    064682707   0083                    -1.0000  0.0000
8519                055890379   0083                    -3.0000  0.0000
Total                                                    2.0000  2.0000

                                                           \
term_contract_type                             Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083              -1.0000
0058                000032713   0083               1.0000
                    000057385   0083               1.0000
                    000059569   0083              -1.0000
                                0300              -1.0000
...                                                   ...
                    059835368   0083               0.0000
                    059949867   0083               0.0000
                    064682707   0083              -1.0000
8519                055890379   0083              -3.0000
Total                                              4.0000

                                               rwas_regul_capital_amount_diff  \
term_contract_type                                                    CP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                             545,251.0300
0058                000032713   0083                              31,397.9210
                    000057385   0083                              18,341.1890
                    000059569   0083                            -149,975.1150
                                0300                             -35,666.9500
...                                                                       ...
                    059835368   0083                               2,110.5850
                    059949867   0083                             -29,132.1680
                    064682707   0083                             -16,052.5170
8519                055890379   0083                             -19,357.6580
Total                                                          3,445,340.3958


term_contract_type                                     LP_diff     Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000   545,251.0300
0058                000032713   0083                    0.0000    31,397.9210
                    000057385   0083                    0.0000    18,341.1890
                    000059569   0083                    0.0000  -149,975.1150
                                0300                    0.0000   -35,666.9500
...                                                        ...            ...
                    059835368   0083                    0.0000     2,110.5850
                    059949867   0083                    0.0000   -29,132.1680
                    064682707   0083                    0.0000   -16,052.5170
8519                055890379   0083                    0.0000   -19,357.6580
Total                                          -1,674,397.3250 1,770,943.0708

[74 rows x 18 columns]

In [41]:
comparison_clim_ctpa_SI_mes.columns = ['_'.join(col).strip() for col in comparison_clim_ctpa_SI_mes.columns]
comparison_clim_ctpa_SI_mes = comparison_clim_ctpa_SI_mes.reset_index()

comparison_clim_ctpa_SI_mes

,level60_operarea_id,customer_id,counterpart_id,contract_id_m_CP_m,contract_id_m_LP_m,contract_id_m_Total_m,rwas_regul_capital_amount_m_CP_m,rwas_regul_capital_amount_m_LP_m,rwas_regul_capital_amount_m_Total_m,contract_id_m1_CP_m1,contract_id_m1_LP_m1,contract_id_m1_Total_m1,rwas_regul_capital_amount_m1_CP_m1,rwas_regul_capital_amount_m1_LP_m1,rwas_regul_capital_amount_m1_Total_m1,contract_id_diff_CP_diff,contract_id_diff_LP_diff,contract_id_diff_Total_diff,rwas_regul_capital_amount_diff_CP_diff,rwas_regul_capital_amount_diff_LP_diff,rwas_regul_capital_amount_diff_Total_diff
0,0023,012225332,0083,1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",-1.0000,0.0000,-1.0000,"545,251.0300",0.0000,"545,251.0300"
1,0058,000032713,0083,3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500",2.0000,0.0000,2.0000,"53,403.8290",0.0000,"53,403.8290",1.0000,0.0000,1.0000,"31,397.9210",0.0000,"31,397.9210"
2,0058,000057385,0083,3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750",2.0000,0.0000,2.0000,"45,843.6860",0.0000,"45,843.6860",1.0000,0.0000,1.0000,"18,341.1890",0.0000,"18,341.1890"
3,0058,000059569,0083,1.0000,0.0000,1.0000,"53,849.3750",0.0000,"53,849.3750",2.0000,0.0000,2.0000,"203,824.4900",0.0000,"203,824.4900",-1.0000,0.0000,-1.0000,"-149,975.1150",0.0000,"-149,975.1150"
4,0058,000059569,0300,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,"35,666.9500",0.0000,"35,666.9500",-1.0000,0.0000,-1.0000,"-35,666.9500",0.0000,"-35,666.9500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0058,059835368,0083,1.0000,0.0000,1.0000,"8,936.7500",0.0000,"8,936.7500",1.0000,0.0000,1.0000,"6,826.1650",0.0000,"6,826.1650",0.0000,0.0000,0.0000,"2,110.5850",0.0000,"2,110.5850"
70,0058,059949867,0083,1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750",1.0000,0.0000,1.0000,"47,803.5430",0.0000,"47,803.5430",0.0000,0.0000,0.0000,"-29,132.1680",0.0000,"-29,132.1680"
71,0058,064682707,0083,1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000",2.0000,0.0000,2.0000,"17,709.5170",0.0000,"17,709.5170",-1.0000,0.0000,-1.0000,"-16,052.5170",0.0000,"-16,052.5170"
72,8519,055890379,0083,1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000",4.0000,0.0000,4.0000,"45,000.1580",0.0000,"45,000.1580",-3.0000,0.0000,-3.0000,"-19,357.6580",0.0000,"-19,357.6580"
73,Total,,,98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550",96.0000,1.0000,97.0000,"6,835,074.7842","2,323,432.2000","9,158,506.9842",2.0000,2.0000,4.0000,"3,445,340.3958","-1,674,397.3250","1,770,943.0708"

In [42]:

renamed_dict_clim_ctpa_SI_mes = {
    'level60_operarea_id': 'banca',
    'customer_id': 'cliente',
    'counterpart_id': 'ctpa',
    
    'contract_id_m_CP_m': 'n_con_CP_m',
    'contract_id_m_LP_m': 'n_con_LP_m',
    'contract_id_m_Total_m': 'n_con_Tot_m',
    
    'rwas_regul_capital_amount_m_CP_m': 'rwas_CP_m',
    'rwas_regul_capital_amount_m_LP_m': 'rwas_LP_m',
    'rwas_regul_capital_amount_m_Total_m': 'rwas_Tot_m',
    
    'contract_id_m1_CP_m1': 'n_con_CP_m1',
    'contract_id_m1_LP_m1': 'n_con_LP_m1',
    'contract_id_m1_Total_m1': 'n_con_Tot_m1',
    
    'rwas_regul_capital_amount_m1_CP_m1': 'rwas_CP_m1',
    'rwas_regul_capital_amount_m1_LP_m1': 'rwas_LP_m1',
    'rwas_regul_capital_amount_m1_Total_m1': 'rwas_Tot_m1',
    
    'contract_id_diff_CP_diff': 'n_con_CP_diff',
    'contract_id_diff_LP_diff': 'n_con_LP_diff',
    'contract_id_diff_Total_diff': 'n_con_Tot_diff',
    
    'rwas_regul_capital_amount_diff_CP_diff': 'rwas_CP_diff',
    'rwas_regul_capital_amount_diff_LP_diff': 'rwas_LP_diff',
    'rwas_regul_capital_amount_diff_Total_diff': 'rwas_Tot_diff',

}

comparison_clim_ctpa_SI_mes_sal=comparison_clim_ctpa_SI_mes.rename(mapper=renamed_dict_clim_ctpa_SI_mes, axis="columns")
comparison_clim_ctpa_SI_mes_sal

,banca,cliente,ctpa,n_con_CP_m,n_con_LP_m,n_con_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_con_CP_m1,n_con_LP_m1,n_con_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_con_CP_diff,n_con_LP_diff,n_con_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff
0,0023,012225332,0083,1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",-1.0000,0.0000,-1.0000,"545,251.0300",0.0000,"545,251.0300"
1,0058,000032713,0083,3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500",2.0000,0.0000,2.0000,"53,403.8290",0.0000,"53,403.8290",1.0000,0.0000,1.0000,"31,397.9210",0.0000,"31,397.9210"
2,0058,000057385,0083,3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750",2.0000,0.0000,2.0000,"45,843.6860",0.0000,"45,843.6860",1.0000,0.0000,1.0000,"18,341.1890",0.0000,"18,341.1890"
3,0058,000059569,0083,1.0000,0.0000,1.0000,"53,849.3750",0.0000,"53,849.3750",2.0000,0.0000,2.0000,"203,824.4900",0.0000,"203,824.4900",-1.0000,0.0000,-1.0000,"-149,975.1150",0.0000,"-149,975.1150"
4,0058,000059569,0300,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,"35,666.9500",0.0000,"35,666.9500",-1.0000,0.0000,-1.0000,"-35,666.9500",0.0000,"-35,666.9500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0058,059835368,0083,1.0000,0.0000,1.0000,"8,936.7500",0.0000,"8,936.7500",1.0000,0.0000,1.0000,"6,826.1650",0.0000,"6,826.1650",0.0000,0.0000,0.0000,"2,110.5850",0.0000,"2,110.5850"
70,0058,059949867,0083,1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750",1.0000,0.0000,1.0000,"47,803.5430",0.0000,"47,803.5430",0.0000,0.0000,0.0000,"-29,132.1680",0.0000,"-29,132.1680"
71,0058,064682707,0083,1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000",2.0000,0.0000,2.0000,"17,709.5170",0.0000,"17,709.5170",-1.0000,0.0000,-1.0000,"-16,052.5170",0.0000,"-16,052.5170"
72,8519,055890379,0083,1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000",4.0000,0.0000,4.0000,"45,000.1580",0.0000,"45,000.1580",-3.0000,0.0000,-3.0000,"-19,357.6580",0.0000,"-19,357.6580"
73,Total,,,98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550",96.0000,1.0000,97.0000,"6,835,074.7842","2,323,432.2000","9,158,506.9842",2.0000,2.0000,4.0000,"3,445,340.3958","-1,674,397.3250","1,770,943.0708"

In [43]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_clim_ctpa_SI_mes_sal.to_excel(writer, sheet_name="entradas_MoM", index=False)

In [44]:
comparison_clim_ctpa_SI_mes_sal_ratios = comparison_clim_ctpa_SI_mes_sal.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_clim_ctpa_SI_mes_sal_ratios

    banca    cliente  ctpa      rwas_Tot_m    rwas_Tot_m1  rwas_Tot_diff
0    0023  012225332  0083    968,228.9000   422,977.8700   545,251.0300
1    0058  000032713  0083     84,801.7500    53,403.8290    31,397.9210
2    0058  000057385  0083     64,184.8750    45,843.6860    18,341.1890
3    0058  000059569  0083     53,849.3750   203,824.4900  -149,975.1150
4    0058  000059569  0300          0.0000    35,666.9500   -35,666.9500
..    ...        ...   ...             ...            ...            ...
69   0058  059835368  0083      8,936.7500     6,826.1650     2,110.5850
70   0058  059949867  0083     18,671.3750    47,803.5430   -29,132.1680
71   0058  064682707  0083      1,657.0000    17,709.5170   -16,052.5170
72   8519  055890379  0083     25,642.5000    45,000.1580   -19,357.6580
73  Total                  10,929,450.0550 9,158,506.9842 1,770,943.0708

[74 rows x 6 columns]

In [45]:
# Ensure that comparison_clim_ctpa is defined
comparison_SI_mes_ratios = comparison_clim_ctpa_SI_mes_sal_ratios.copy()

In [ ]:
comparison_clim_ctpa['rwas_cliente_Tot_m'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_cliente_Tot_m1'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m1'].transform('sum')

In [ ]:
pool_m[pool_m['pool_situation_type'] == 'SI']

In [ ]:


# Asegurar que las columnas sean numéricas
comparison_clim_ctpa['rwas_Tot_m'] = comparison_clim_ctpa['rwas_Tot_m'].astype(float)
comparison_clim_ctpa['rwas_Tot_m1'] = comparison_clim_ctpa['rwas_Tot_m1'].astype(float)

# === 1. Porcentajes por cliente ===

# Totales por cliente
comparison_clim_ctpa['rwas_cliente_Tot_m'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_cliente_Tot_m1'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m1'].transform('sum')

# % por ctpa dentro del cliente (m y m1)
comparison_clim_ctpa['pct_ctpa_cli_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_cliente_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_cli_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_cliente_Tot_m1'])# * 100


# Totales por ctpa 
comparison_clim_ctpa['rwas_ctpa_Tot_m'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_ctpa_Tot_m1'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m1'].transform('sum')


comparison_clim_ctpa['pct_ctpa_Tot_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_ctpa_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_Tot_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_ctpa_Tot_m1'])# * 100


# === 2. Porcentajes por banca y ctpa ===

# Totales por banca y ctpa
#comparison_clim_ctpa['banca_ctpa_total_m'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m'].transform('sum')
#comparison_clim_ctpa['banca_ctpa_total_m1'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m1'].transform('sum')

# % por ctpa dentro de banca (m y m1)
#comparison_clim_ctpa['pct_ctpa_vs_banca_m'] = (comparison_clim_ctpa['rwas_Total_m'] / comparison_clim_ctpa['banca_ctpa_total_m']) * 100
#comparison_clim_ctpa['pct_ctpa_vs_banca_m1'] = (comparison_clim_ctpa['rwas_Total_m1'] / comparison_clim_ctpa['banca_ctpa_total_m1']) * 100

# === 3. Variación entre % del cliente (en puntos) ===

comparison_clim_ctpa['pct_ctpa_vs_cliente_diff'] = comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']

# (Opcional) Variación relativa en porcentaje
comparison_clim_ctpa['pct_ctpa_cli_var_rel'] = (
    ((comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']) / 
     comparison_clim_ctpa['pct_ctpa_cli_m1']))#.replace(0, pd.NA)) * 100


#comparison_clim_ctpa['pct_ctpa_vs_banca_rel'] = (
#    ((comparison_clim_ctpa['pct_ctpa_vs_banca_m'] - comparison_clim_ctpa['pct_ctpa_vs_banca_m1']) / 
#     comparison_clim_ctpa['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
#)
comparison_clim_ctpa['pct_ctpa_MOM_rel'] = (comparison_clim_ctpa['pct_ctpa_Tot_m'] - comparison_clim_ctpa['pct_ctpa_Tot_m1']) / comparison_clim_ctpa['pct_ctpa_Tot_m1']#.replace(0, pd.NA)
comparison_clim_ctpa['pct_rwas_ctpa_MOM_rel'] = (comparison_clim_ctpa['rwas_Tot_m'] - comparison_clim_ctpa['rwas_Tot_m1']) / comparison_clim_ctpa['rwas_Tot_m1']#.replace(0, pd.NA)


# === Redondear ===
cols_to_round = [
    'rwas_cliente_Tot_m','pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1',
    'pct_ctpa_cli_var_rel','rwas_ctpa_Tot_m','rwas_ctpa_Tot_m1','pct_ctpa_Tot_m','pct_ctpa_Tot_m1','pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel'
]
# 'banca_ctpa_total_m','pct_ctpa_vs_banca_m', 'banca_ctpa_total_m1','pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
# 'pct_ctpa_vs_cliente_diff',

comparison_clim_ctpa3 = comparison_clim_ctpa.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff'] + cols_to_round].round(4)

comparison_clim_ctpa4 = comparison_clim_ctpa3.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_ctpa_Tot_m', 'pct_ctpa_Tot_m','rwas_Tot_m1','rwas_ctpa_Tot_m1', 'pct_ctpa_Tot_m1','rwas_Tot_diff',
                                                     'pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel',
                                                     'rwas_cliente_Tot_m', 'pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1','pct_ctpa_cli_var_rel']]

#### vision rapida evolucion mes a mes

In [151]:
mA_m = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="part_closing_date",
                   values="rwas_regul_capital_amount",
                   aggfunc=("sum"),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total").drop(columns=['Total'])

mA_m

part_closing_date                       2025-06-30
level60_operarea_id counterpart_id
0023                0083            1,076,570.5250
                    0300              389,789.0000
0058                0010            3,658,172.9250
                    0083           17,217,447.7800
                    0252            4,773,207.1200
                    0300            2,305,172.1500
                    0501              243,857.9950
                    0505            1,341,560.6500
                    0511              235,835.5000
                    0516            2,994,923.7700
                    0988            5,110,353.2750
8519                0083               78,329.5000
Total                              39,425,220.1900

In [152]:
mA_m.columns = [col for col in mA_m.columns]
mA_m = mA_m.reset_index()
mA_m_2 = mA_m.rename(columns={'2025-06-30': 'rwas_2025-06'})
#mA.drop(columns=['Total'], inplace=True).rename(columns={'2025-06-30': '2025-06-30_rwas'}, inplace=True)

In [153]:
mA_m_2

   level60_operarea_id counterpart_id    rwas_2025-06
0                 0023           0083  1,076,570.5250
1                 0023           0300    389,789.0000
2                 0058           0010  3,658,172.9250
3                 0058           0083 17,217,447.7800
4                 0058           0252  4,773,207.1200
5                 0058           0300  2,305,172.1500
6                 0058           0501    243,857.9950
7                 0058           0505  1,341,560.6500
8                 0058           0511    235,835.5000
9                 0058           0516  2,994,923.7700
10                0058           0988  5,110,353.2750
11                8519           0083     78,329.5000
12               Total                39,425,220.1900

In [154]:
mA_m1 = pool_m1.pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="part_closing_date",
                   values="rwas_regul_capital_amount",
                   aggfunc=("sum"),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total").drop(columns=['Total'])

mA_m1

part_closing_date                       2025-05-31
level60_operarea_id counterpart_id
0023                0083              422,977.8700
                    0300              888,546.0600
0058                0010            2,896,673.0500
                    0083           17,320,109.2012
                    0252            4,451,920.2500
                    0300            1,677,815.3580
                    0501              247,560.5550
                    0505            1,356,140.4677
                    0511              226,904.7620
                    0516            3,381,870.2215
                    0988            4,899,933.4850
8519                0083               57,624.6531
Total                              37,828,075.9335

In [155]:
mA_m1.columns = [col for col in mA_m1.columns]
mA_m1 = mA_m1.reset_index()
mA_m1_2 = mA_m1.rename(columns={'2025-05-31': 'rwas_2025-05'})

In [156]:
mA_m1_2

   level60_operarea_id counterpart_id    rwas_2025-05
0                 0023           0083    422,977.8700
1                 0023           0300    888,546.0600
2                 0058           0010  2,896,673.0500
3                 0058           0083 17,320,109.2012
4                 0058           0252  4,451,920.2500
5                 0058           0300  1,677,815.3580
6                 0058           0501    247,560.5550
7                 0058           0505  1,356,140.4677
8                 0058           0511    226,904.7620
9                 0058           0516  3,381,870.2215
10                0058           0988  4,899,933.4850
11                8519           0083     57,624.6531
12               Total                37,828,075.9335

In [157]:
df_union = mA_m_2.merge(
	mA_m1_2,
	how="left",
	on=['level60_operarea_id','counterpart_id'],
	indicator=True
)

df_union

   level60_operarea_id counterpart_id    rwas_2025-06    rwas_2025-05 _merge
0                 0023           0083  1,076,570.5250    422,977.8700   both
1                 0023           0300    389,789.0000    888,546.0600   both
2                 0058           0010  3,658,172.9250  2,896,673.0500   both
3                 0058           0083 17,217,447.7800 17,320,109.2012   both
4                 0058           0252  4,773,207.1200  4,451,920.2500   both
5                 0058           0300  2,305,172.1500  1,677,815.3580   both
6                 0058           0501    243,857.9950    247,560.5550   both
7                 0058           0505  1,341,560.6500  1,356,140.4677   both
8                 0058           0511    235,835.5000    226,904.7620   both
9                 0058           0516  2,994,923.7700  3,381,870.2215   both
10                0058           0988  5,110,353.2750  4,899,933.4850   both
11                8519           0083     78,329.5000     57,624.6531   both
12               Total                39,425,220.1900 37,828,075.9335   both

In [158]:
grand_total_m = df_union.loc[df_union['level60_operarea_id'] == 'Total', 'rwas_2025-06'].values[0]
grand_total_m1 = df_union.loc[df_union['level60_operarea_id'] == 'Total', 'rwas_2025-05'].values[0]
#grand_total_m1 = mA2.loc[mA2['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

df_union['rwas_Tot_m'] = grand_total_m
df_union['rwas_Tot_m1'] = grand_total_m1


# % por ctpa dentro de banca (m y m1)
df_union['pct_rwas_Tot_2025-06'] = (df_union['rwas_2025-06'] / df_union['rwas_Tot_m'])
df_union['pct_rwas_Tot_2025-05'] = (df_union['rwas_2025-05'] / df_union['rwas_Tot_m1'])
# comparison_clim_ctpa['pct_ctpa_cli_banca_Tot_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['banca_Tot_m1'])

# Totales por ctpa 
df_union['banca_Tot_m'] = df_union.groupby('level60_operarea_id')['rwas_2025-06'].transform('sum')
df_union['banca_Tot_m1'] = df_union.groupby('level60_operarea_id')['rwas_2025-05'].transform('sum')

df_union['pct_banca_Tot_2025-06'] = (df_union['rwas_2025-06'] / df_union['banca_Tot_m'])
df_union['pct_banca_Tot_2025-05'] = (df_union['rwas_2025-05'] / df_union['banca_Tot_m1'])

In [159]:
df_union

,level60_operarea_id,counterpart_id,rwas_2025-06,rwas_2025-05,_merge,rwas_Tot_m,rwas_Tot_m1,pct_rwas_Tot_2025-06,pct_rwas_Tot_2025-05,banca_Tot_m,banca_Tot_m1,pct_banca_Tot_2025-06,pct_banca_Tot_2025-05
0,0023,0083,"1,076,570.5250","422,977.8700",both,"39,425,220.1900","37,828,075.9335",0.0273,0.0112,"1,466,359.5250","1,311,523.9300",0.7342,0.3225
1,0023,0300,"389,789.0000","888,546.0600",both,"39,425,220.1900","37,828,075.9335",0.0099,0.0235,"1,466,359.5250","1,311,523.9300",0.2658,0.6775
2,0058,0010,"3,658,172.9250","2,896,673.0500",both,"39,425,220.1900","37,828,075.9335",0.0928,0.0766,"37,880,531.1650","36,458,927.3504",0.0966,0.0795
3,0058,0083,"17,217,447.7800","17,320,109.2012",both,"39,425,220.1900","37,828,075.9335",0.4367,0.4579,"37,880,531.1650","36,458,927.3504",0.4545,0.4751
4,0058,0252,"4,773,207.1200","4,451,920.2500",both,"39,425,220.1900","37,828,075.9335",0.1211,0.1177,"37,880,531.1650","36,458,927.3504",0.1260,0.1221
5,0058,0300,"2,305,172.1500","1,677,815.3580",both,"39,425,220.1900","37,828,075.9335",0.0585,0.0444,"37,880,531.1650","36,458,927.3504",0.0609,0.0460
6,0058,0501,"243,857.9950","247,560.5550",both,"39,425,220.1900","37,828,075.9335",0.0062,0.0065,"37,880,531.1650","36,458,927.3504",0.0064,0.0068
7,0058,0505,"1,341,560.6500","1,356,140.4677",both,"39,425,220.1900","37,828,075.9335",0.0340,0.0359,"37,880,531.1650","36,458,927.3504",0.0354,0.0372
8,0058,0511,"235,835.5000","226,904.7620",both,"39,425,220.1900","37,828,075.9335",0.0060,0.0060,"37,880,531.1650","36,458,927.3504",0.0062,0.0062
9,0058,0516,"2,994,923.7700","3,381,870.2215",both,"39,425,220.1900","37,828,075.9335",0.0760,0.0894,"37,880,531.1650","36,458,927.3504",0.0791,0.0928
10,0058,0988,"5,110,353.2750","4,899,933.4850",both,"39,425,220.1900","37,828,075.9335",0.1296,0.1295,"37,880,531.1650","36,458,927.3504",0.1349,0.1344
11,8519,0083,"78,329.5000","57,624.6531",both,"39,425,220.1900","37,828,075.9335",0.0020,0.0015,"78,329.5000","57,624.6531",1.0000,1.0000
12,Total,,"39,425,220.1900","37,828,075.9335",both,"39,425,220.1900","37,828,075.9335",1.0000,1.0000,"39,425,220.1900","37,828,075.9335",1.0000,1.0000

In [161]:
df_union2 = df_union.copy()
df_union2_salida = df_union2.loc[:,['level60_operarea_id','counterpart_id','rwas_2025-06','rwas_2025-05','pct_rwas_Tot_2025-06','pct_rwas_Tot_2025-05','pct_banca_Tot_2025-06','pct_banca_Tot_2025-05']
                             ].rename(columns={'level60_operarea_id': 'banca', 'counterpart_id': 'ctpa'})

In [162]:
df_union2_salida

,banca,ctpa,rwas_2025-06,rwas_2025-05,pct_rwas_Tot_2025-06,pct_rwas_Tot_2025-05,pct_banca_Tot_2025-06,pct_banca_Tot_2025-05
0,0023,0083,"1,076,570.5250","422,977.8700",0.0273,0.0112,0.7342,0.3225
1,0023,0300,"389,789.0000","888,546.0600",0.0099,0.0235,0.2658,0.6775
2,0058,0010,"3,658,172.9250","2,896,673.0500",0.0928,0.0766,0.0966,0.0795
3,0058,0083,"17,217,447.7800","17,320,109.2012",0.4367,0.4579,0.4545,0.4751
4,0058,0252,"4,773,207.1200","4,451,920.2500",0.1211,0.1177,0.1260,0.1221
5,0058,0300,"2,305,172.1500","1,677,815.3580",0.0585,0.0444,0.0609,0.0460
6,0058,0501,"243,857.9950","247,560.5550",0.0062,0.0065,0.0064,0.0068
7,0058,0505,"1,341,560.6500","1,356,140.4677",0.0340,0.0359,0.0354,0.0372
8,0058,0511,"235,835.5000","226,904.7620",0.0060,0.0060,0.0062,0.0062
9,0058,0516,"2,994,923.7700","3,381,870.2215",0.0760,0.0894,0.0791,0.0928
10,0058,0988,"5,110,353.2750","4,899,933.4850",0.1296,0.1295,0.1349,0.1344
11,8519,0083,"78,329.5000","57,624.6531",0.0020,0.0015,1.0000,1.0000
12,Total,,"39,425,220.1900","37,828,075.9335",1.0000,1.0000,1.0000,1.0000

In [163]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    df_union2_salida.to_excel(writer, sheet_name="evolucion", index=False)

#### evolucion entradas - todos meses

In [ ]:
clim_ctpa_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", 'counterpart_id','billing_date'],
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# clim_ctpa_SI_mes2 = clim_ctpa_SI_mes[clim_ctpa_SI_mes['level60_operarea_id'] != 'Total']
clim_ctpa_SI_mes

                                                 contract_id  \
level60_operarea_id counterpart_id billing_date
0023                0083           2025-06-30              1
0058                0010           2025-06-30              3
                    0083           2025-06-30             86
                    0252           2025-06-30              2
                    0300           2025-06-30              1
                    0511           2025-06-30              1
                    0516           2025-06-30              2
                    0988           2025-06-30              4
8519                0083           2025-06-30              1
Total                                                    101

                                                 rwas_regul_capital_amount
level60_operarea_id counterpart_id billing_date
0023                0083           2025-06-30                 968,228.9000
0058                0010           2025-06-30               1,132,269.2750
                    0083           2025-06-30               4,913,724.7350
                    0252           2025-06-30               1,449,976.0000
                    0300           2025-06-30               1,011,901.9000
                    0511           2025-06-30                  66,119.7500
                    0516           2025-06-30               1,120,432.8700
                    0988           2025-06-30                 241,154.1250
8519                0083           2025-06-30                  25,642.5000
Total                                                      10,929,450.0550

In [9]:
clim_ctpa_SI_mes.columns = [col for col in clim_ctpa_SI_mes.columns]
clim_ctpa_SI_mes = clim_ctpa_SI_mes.reset_index()
#mA_m_2 = mA_m.rename(columns={'2025-06-30': 'rwas_2025-06'})
clim_ctpa_SI_mes

,level60_operarea_id,counterpart_id,billing_date,contract_id,rwas_regul_capital_amount
0,0023,0083,2025-06-30,1,"968,228.9000"
1,0058,0010,2025-06-30,3,"1,132,269.2750"
2,0058,0083,2025-06-30,86,"4,913,724.7350"
3,0058,0252,2025-06-30,2,"1,449,976.0000"
4,0058,0300,2025-06-30,1,"1,011,901.9000"
5,0058,0511,2025-06-30,1,"66,119.7500"
6,0058,0516,2025-06-30,2,"1,120,432.8700"
7,0058,0988,2025-06-30,4,"241,154.1250"
8,8519,0083,2025-06-30,1,"25,642.5000"
9,Total,,,101,"10,929,450.0550"

In [12]:
clim_ctpa_SI_mes2 = clim_ctpa_SI_mes[clim_ctpa_SI_mes['level60_operarea_id'] != 'Total']

In [13]:
clim_ctpa_SI_mes2

,level60_operarea_id,counterpart_id,billing_date,contract_id,rwas_regul_capital_amount
0,0023,0083,2025-06-30,1,"968,228.9000"
1,0058,0010,2025-06-30,3,"1,132,269.2750"
2,0058,0083,2025-06-30,86,"4,913,724.7350"
3,0058,0252,2025-06-30,2,"1,449,976.0000"
4,0058,0300,2025-06-30,1,"1,011,901.9000"
5,0058,0511,2025-06-30,1,"66,119.7500"
6,0058,0516,2025-06-30,2,"1,120,432.8700"
7,0058,0988,2025-06-30,4,"241,154.1250"
8,8519,0083,2025-06-30,1,"25,642.5000"

In [26]:
clim_ctpa_SI_mes1 = pool_m1[(pool_m1['billing_date'] == '2025-05-31')].pivot_table(
	index=["level60_operarea_id", 'counterpart_id','billing_date'],
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
clim_ctpa_SI_mes1.columns = [col for col in clim_ctpa_SI_mes1.columns]
clim_ctpa_SI_mes1 = clim_ctpa_SI_mes1.reset_index()

In [27]:
clim_ctpa_SI_mes1

,level60_operarea_id,counterpart_id,billing_date,contract_id,rwas_regul_capital_amount
0,0023,0083,2025-05-31,2,"422,977.8700"
1,0058,0083,2025-05-31,83,"7,069,336.5787"
2,0058,0252,2025-05-31,1,"707,769.4000"
3,0058,0300,2025-05-31,2,"42,062.6300"
4,0058,0516,2025-05-31,5,"871,360.3475"
5,8519,0083,2025-05-31,4,"45,000.1580"
6,Total,,,97,"9,158,506.9842"

In [28]:
clim_ctpa_SI_mes1_2 = clim_ctpa_SI_mes1[clim_ctpa_SI_mes1['level60_operarea_id'] != 'Total']

In [29]:
clim_ctpa_SI_mes1_2

,level60_operarea_id,counterpart_id,billing_date,contract_id,rwas_regul_capital_amount
0,0023,0083,2025-05-31,2,"422,977.8700"
1,0058,0083,2025-05-31,83,"7,069,336.5787"
2,0058,0252,2025-05-31,1,"707,769.4000"
3,0058,0300,2025-05-31,2,"42,062.6300"
4,0058,0516,2025-05-31,5,"871,360.3475"
5,8519,0083,2025-05-31,4,"45,000.1580"

In [31]:
salida=pd.concat(
    [
        clim_ctpa_SI_mes2,
        clim_ctpa_SI_mes1_2
    ],
).fillna(0).sort_index()

salida

,level60_operarea_id,counterpart_id,billing_date,contract_id,rwas_regul_capital_amount
0,0023,0083,2025-06-30,1,"968,228.9000"
0,0023,0083,2025-05-31,2,"422,977.8700"
1,0058,0083,2025-05-31,83,"7,069,336.5787"
1,0058,0010,2025-06-30,3,"1,132,269.2750"
2,0058,0083,2025-06-30,86,"4,913,724.7350"
2,0058,0252,2025-05-31,1,"707,769.4000"
3,0058,0300,2025-05-31,2,"42,062.6300"
3,0058,0252,2025-06-30,2,"1,449,976.0000"
4,0058,0516,2025-05-31,5,"871,360.3475"
4,0058,0300,2025-06-30,1,"1,011,901.9000"
5,0058,0511,2025-06-30,1,"66,119.7500"
5,8519,0083,2025-05-31,4,"45,000.1580"
6,0058,0516,2025-06-30,2,"1,120,432.8700"
7,0058,0988,2025-06-30,4,"241,154.1250"
8,8519,0083,2025-06-30,1,"25,642.5000"

In [ ]:
clim_ctpa_SI_mes1_2

In [35]:
pivot_df = salida.pivot_table(
    index=['level60_operarea_id','counterpart_id'],
    columns='billing_date',
    values=['contract_id', 'rwas_regul_capital_amount'],
    aggfunc='sum',  # Specify an aggregation function, e.g., 'sum'
    fill_value=0    # Fill missing values with 0
)
pivot_df

                                   contract_id             \
billing_date                        2025-05-31 2025-06-30
level60_operarea_id counterpart_id
0023                0083                     2          1
0058                0010                     0          3
                    0083                    83         86
                    0252                     1          2
                    0300                     2          1
                    0511                     0          1
                    0516                     5          2
                    0988                     0          4
8519                0083                     4          1

                                   rwas_regul_capital_amount
billing_date                                      2025-05-31     2025-06-30
level60_operarea_id counterpart_id
0023                0083                        422,977.8700   968,228.9000
0058                0010                              0.0000 1,132,269.2750
                    0083                      7,069,336.5787 4,913,724.7350
                    0252                        707,769.4000 1,449,976.0000
                    0300                         42,062.6300 1,011,901.9000
                    0511                              0.0000    66,119.7500
                    0516                        871,360.3475 1,120,432.8700
                    0988                              0.0000   241,154.1250
8519                0083                         45,000.1580    25,642.5000

In [36]:
pivot_df.columns = ['_'.join(col).strip() for col in pivot_df.columns]
pivot_df2 = pivot_df.reset_index()
pivot_df2

,level60_operarea_id,counterpart_id,contract_id_2025-05-31,contract_id_2025-06-30,rwas_regul_capital_amount_2025-05-31,rwas_regul_capital_amount_2025-06-30
0,0023,0083,2,1,"422,977.8700","968,228.9000"
1,0058,0010,0,3,0.0000,"1,132,269.2750"
2,0058,0083,83,86,"7,069,336.5787","4,913,724.7350"
3,0058,0252,1,2,"707,769.4000","1,449,976.0000"
4,0058,0300,2,1,"42,062.6300","1,011,901.9000"
5,0058,0511,0,1,0.0000,"66,119.7500"
6,0058,0516,5,2,"871,360.3475","1,120,432.8700"
7,0058,0988,0,4,0.0000,"241,154.1250"
8,8519,0083,4,1,"45,000.1580","25,642.5000"

In [37]:
renamed_dict_pivot_df2 = {
    'level60_operarea_id': 'banca',
    'counterpart_id': 'ctpa',
    'contract_id_2025-05-31': 'cont_2025-05',
    'contract_id_2025-06-30': 'cont_2025-06',
    'rwas_regul_capital_amount_2025-05-31': 'rwas_2025-05',
    'rwas_regul_capital_amount_2025-06-30': 'rwas_2025-06',
}

pivot_df2_new=pivot_df2.rename(mapper=renamed_dict_pivot_df2, axis="columns")

In [38]:
pivot_df2_new

  banca  ctpa  cont_2025-05  cont_2025-06   rwas_2025-05   rwas_2025-06
0  0023  0083             2             1   422,977.8700   968,228.9000
1  0058  0010             0             3         0.0000 1,132,269.2750
2  0058  0083            83            86 7,069,336.5787 4,913,724.7350
3  0058  0252             1             2   707,769.4000 1,449,976.0000
4  0058  0300             2             1    42,062.6300 1,011,901.9000
5  0058  0511             0             1         0.0000    66,119.7500
6  0058  0516             5             2   871,360.3475 1,120,432.8700
7  0058  0988             0             4         0.0000   241,154.1250
8  8519  0083             4             1    45,000.1580    25,642.5000