In [1]:
import sys
sys.path.append(r'c:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool')
from schemas import schema_pool_m, schema_pool_m1, schema_client, schema_contable
import pandas as pd
pd.options.display.max_columns = None
# pd.options.display.max_rows = 200
# pd.reset_option('display.max_rows')
pd.set_option('display.float_format', '{:,.4f}'.format)
#pd.reset_option('display.float_format')
# for an specific column
# df['your_column'] = df['your_column'].apply(lambda x: f"{x:,.2f}")
# df['your_column'] = df['your_column'].round(2)

#### lectura de datos base (pool_m, pool_m1, client, contable)

In [2]:
pool_m = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m.csv',delimiter=';',dtype=schema_pool_m)
pool_m1 = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\pool_m1.csv',delimiter=';',dtype=schema_pool_m1)
client = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\cliente.csv',delimiter=';',dtype=schema_client)
contable = pd.read_csv(r'C:\Users\aitor\OneDrive\Desktop\FRED\course_env\Pandas_2025\onthego_materials\Completed_course\pool\contable.csv',delimiter=';',dtype=schema_contable)

In [3]:
pool_m

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
0,00000000000000000691334334,01821299008300000000019569,0058,0083,CP,BB-,000147893,NaN,BB-,NC,0,BB-,"296,086.7500",0.0874,0.0278,0.1202,0.0360,0.0453,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0285,MA,0.1003,0.0600,0.0600,2025-06-30
1,00000000000000000667711952,01822344050500000000190663,0058,0505,LP,B-,034908347,NaN,B-,NC,0,B-,"4,540.2500",-0.0700,-0.0881,-0.0892,0.0179,0.0246,SI,CI/OI,CN/OP,PARCIAL,6,2025-01-31,2025-01-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
2,00000000000000000687067102,01822344008300000000017034,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"40,324.2500",-0.0700,-0.0881,-0.0892,-0.1071,-0.1426,SI,CI/OI,CN/ON,NaN,6,2025-04-30,2025-04-30,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
3,00000000000000000693353710,01822344008300000000017182,0058,0083,CP,B-,034908347,NaN,B-,NC,0,B-,"18,069.6250",-0.0700,-0.0881,-0.0892,-0.5163,-0.6884,SI,CI/OI,CN/ON,NaN,6,2025-05-31,2025-05-31,NaN,NaN,-0.0881,MA,0.1003,0.0600,0.0600,2025-06-30
4,00000000000000000693528484,01822342008300000000033909,0058,0083,CP,B,038094323,NaN,B,NC,0,B,"19,809.6250",0.1414,0.0390,0.1966,0.0223,0.0310,SI,CI/OI,CP/OP,NaN,6,2025-05-31,2025-05-31,NaN,NaN,0.0390,MA,0.1003,0.0600,0.0600,2025-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,00000000000000000695883578,01822376008300000000058147,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"19,997.8750",0.0983,0.0713,0.1636,0.0862,0.1792,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
446,00000000000000000695925911,01822376008300000000058154,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"11,047.0000",0.0983,0.0713,0.1636,0.0645,0.1339,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
447,00000000000000000519329576,01821299051100000000031608,0058,0511,CP,A-,000992836,NaN,BB,NC,0,BB,"260,829.0000",0.1042,0.0831,0.1731,0.1751,0.2944,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0831,NaN,0.1003,0.0600,0.0600,2025-06-30
448,00000000000000000492897544,01822324051600000000060603,0058,0516,CP,B+,034807425,NaN,B+,NC,0,B+,"307,073.8800",0.0684,0.0654,0.0882,0.1109,0.1429,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
449,00000000000000000697419588,01825473001000000000151377,0058,0010,CP,B+,009637729,NaN,B+,NC,0,B+,"300,069.1200",0.0047,0.0453,0.0060,0.0639,0.0885,NO,CI/OC,NaN,NaN,6,2025-06-30,NaN,NaN,NaN,0.0453,MA,0.1003,0.0600,0.0600,2025-06-30

In [ ]:
# TOP 5 customers with highest regulatory capital amount with pool_situation_type = 'SI'
def five_oldest_surv(group):
    return group[group.pool_situation_type == 'SI'].nlargest(5, "rwas_regul_capital_amount")

pool_m.groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000032713   37   00000000000000000686975746  01822372008300000000030074
            185  00000000000000000696936333  01822372008300000000030649
            184  00000000000000000694261754  01822372008300000000030523
            35   00000000000000000690207454  01822372008300000000030311
            36   00000000000000000693356026  01822372008300000000030486
...                                     ...                         ...
059949867   44   00000000000000000575172005  01822338030000673422000109
            45   00000000000000000690815273  01822338008300000000019256
            189  00000000000000000696787786  01822338008300000000019498
064682707   150  00000000000000000683507011  01822376008300000000056595
            250  00000000000000000695917995  01822376008300000000058153

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000032713   37                 0058           0083                 CP
            185                0058           0083                 CP
            184                0058           0083                 CP
            35                 0058           0083                 CP
            36                 0058           0083                 CP
...                             ...            ...                ...
059949867   44                 0058           0300                 CP
            45                 0058           0083                 CP
            189                0058           0083                 CP
064682707   150                0058           0083                 CP
            250                0058           0083                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000032713   37                        B+                NaN         B+
            185                       B+                NaN         B+
            184                       B+                NaN         B+
            35                        B+                NaN         B+
            36                        B+                NaN         B+
...                                  ...                ...        ...
059949867   44                       BB+                NaN        BB+
            45                       BB+                NaN        BB+
            189                      BB+                NaN        BB+
064682707   150                       BB                NaN         BB
            250                       BB                NaN         BB

                rating_status rating_diff rating_var  \
customer_id
000032713   37             NC           0         B+
            185            NC           0         B+
            184            NC           0         B+
            35             NC           0         B+
            36             NC           0         B+
...                       ...         ...        ...
059949867   44             NC           0        BB+
            45             NC           0        BB+
            189            NC           0        BB+
064682707   150            UP           1     BB-/BB
            250            UP           1     BB-/BB

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000032713   37                129,461.7500                   0.1044
            185                35,988.6250                   0.1044
            184                34,374.8750                   0.1044
            35                 29,968.2500                   0.1044
            36                 22,746.0000                   0.1044
...                                    ...                      ...
059949867   44                140,213.6200                   0.1049
            45                 47,808.6250                   0.1049
            189                18,671.3750                   0.1049
064682707   150                 6,454.5000                   0.0983
            250                 1,657.0000                   0.0983

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000032713   37                   0.1008                  0.1341
            185                  0.1008                  0.1341
            184                  0.1008                  0.1341
            35                   0.1008                  0.1341
            36                   0.1008                  0.1341
...                                 ...                     ...
059949867   44                   0.0804                  0.1527
            45                   0.0804                  0.1527
            189                  0.0804                  0.1527
064682707   150                  0.0713                  0.1636
            250                  0.0713                  0.1636

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000032713   37                  0.0323                   0.0414
            185                 0.0373                   0.0479
            184                 0.0370                   0.0475
            35                  0.0197                   0.0253
            36                  0.0252                   0.0323
...                                ...                      ...
059949867   44                 -0.0254                  -0.0381
            45                 -0.0015                  -0.0023
            189                -0.1847                  -0.2706
064682707   150                 0.0547                   0.1134
            250                -0.2177                  -0.4493

                pool_situation_type motivo_des analisis_neg cancelation_type  \
customer_id
000032713   37                   SI      CI/OI        CP/OP              NaN
            185                  SI      CI/OI        CP/OP              NaN
            184                  SI      CI/OI        CP/OP              NaN
            35                   SI      CI/OI        CP/OP              NaN
            36                   SI      CI/OI        CP/OP              NaN
...                             ...        ...          ...              ...
059949867   44                   SI      CI/OI        CP/ON          PARCIAL
            45                   SI      CI/OI        CP/ON              NaN
            189                  SI      CI/OI        CP/ON              NaN
064682707   150                  SI      CI/OI        CP/OP              NaN
            250                  SI      CI/OI        CP/ON              NaN

                 rorc_6m_cust_times_number billing_date  \
customer_id
000032713   37                           6   2025-04-30
            185                          6   2025-06-30
            184                          6   2025-06-30
            35                           6   2025-05-31
            36                           6   2025-05-31
...                                    ...          ...
059949867   44                           6   2024-04-30
            45                           6   2025-05-31
            189                          6   2025-06-30
064682707   150                          6   2025-03-31
            250                          6   2025-06-30

                pool_customer_reg_date pool_exit_date alerta_com  \
customer_id
000032713   37              2025-04-30            NaN         DC
            185             2025-06-30            NaN         DC
            184             2025-06-30            NaN         DC
            35              2025-05-31            NaN         DC
            36              2025-05-31            NaN         DC
...                                ...            ...        ...
059949867   44              2024-04-30            NaN         SC
            45              2025-05-31            NaN         SC
            189             2025-06-30            NaN         SC
064682707   150             2025-03-31            NaN        NaN
            250             2025-06-30            NaN        NaN

                 prof_ratio_rorc_amount_2 valid_model_id  rorc_cliente  \
customer_id
000032713   37                     0.0992             MA        0.1003
            185                    0.0992             MA        0.1003
            184                    0.0992             MA        0.1003
            35                     0.0992             MA        0.1003
            36                     0.0992             MA        0.1003
...                                   ...            ...           ...
059949867   44                     0.0809             MA        0.1003
            45                     0.0809             MA        0.1003
            189                    0.0809             MA        0.1003
064682707   150                    0.0713             ME        0.1003
            250                    0.0713             ME        0.1003

                 rorc_op  new_rorc_op part_closing_date
customer_id
000032713   37    0.0600       0.0600        2025-06-30
            185   0.0600       0.0600        2025-06-30
            184   0.0600       0.0600        2025-06-30
            35    0.0600       0.0600        2025-06-30
            36    0.0600       0.0600        2025-06-30
...                  ...          ...               ...
059949867   44    0.0600       0.0600        2025-06-30
            45    0.0600       0.0600        2025-06-30
            189   0.0600       0.0600        2025-06-30
064682707   150   0.0600       0.0600        2025-06-30
            250   0.0600       0.0600        2025-06-30

[231 rows x 32 columns]

In [32]:
pool_m.groupby(["level60_operarea_id","counterpart_id"]).rwas_regul_capital_amount.mean()

level60_operarea_id  counterpart_id
0023                 0083             463,184.2150
                     0300             389,789.0000
                     0516               4,099.2500
0058                 0010             328,143.5221
                     0083              74,748.1175
                     0210             320,736.2500
                     0252             723,228.9450
                     0300             127,585.7163
                     0501             155,428.3438
                     0505             448,869.9667
                     0511             217,424.4954
                     0516             251,747.9389
                     0988             344,833.4433
8519                 0083               9,249.2836
                     0516              60,502.5000
Name: rwas_regul_capital_amount, dtype: float64

In [31]:
pool_m.loc[pool_m.counterpart_id != '0083'].groupby("customer_id").apply(five_oldest_surv, include_groups=False)

                                contract_id         current_contract_id  \
customer_id
000057385   84   00000000000000000610018115  01825423001000000000155772
000059569   116  00000000000000000586449710  01825423001000000000155724
            115  00000000000000000546767126  01825423030000155489060109
000115593   54   00000000000000000454313350  01822393030000087896000109
000163104   133  00000000000000000433676095  01825426051600000000049953
            239  00000000000000000483489070  01825426051600000000058643
000259175   77   00000000000000000558268132  01822372051100000000033092
            78   00000000000000000546935949  01822372030000021112000109
            79   00000000000000000680320886  01822372098800060920200080
            205  00000000000000000694803863  01822372098800060920200082
001005370   27   00000000000000000596662002  01822357051600000000078585
            173  00000000000000000549637223  01822357030000397400070109
001278519   33   00000000000000000553752851  01822343030000220118000109
002362927   109  00000000000000000645044849  01822376050100000001781524
002715853   71   00000000000000000555442827  01822345030000850894002109
003883696   85   00000000000000000586528390  01822419030000802149000109
007652980   49   00000000000000000679764662  01822336098800144348400069
            48   00000000000000000640634367  01822336098800144348400051
            191  00000000000000000697824258  01822336098800144348400072
            47   00000000000000000684634211  01822336098800144348400070
007685983   247  00000000000000000697005638  01822344098800166415000047
            246  00000000000000000697005143  01822344098800166415000046
008072751   6    00000000000000000589022395  01822376051600000000077748
008271052   111  00000000000000000637895063  01821299030000153295000909
010134184   12   00000000000000000584016126  01822393001000000000152914
            8    00000000000000000658384215  01822393098800165880900011
010228209   244  00000000000000000402222091  01822332051600000000043863
            137  00000000000000000667032500  01822332050100000001791154
010426433   30   00000000000000000582799852  01822359051600000000076640
011097471   124  00000000000000000546826609  01822346030000368150000909
            123  00000000000000000685671782  01822346050100000001798732
012054659   13   00000000000000000578854416  01822351001000000000150786
012225332   31   00000000000000000537869112  01824899030000033502000909
013644107   230  00000000000000000584319910  01821299001000000000152284
014742380   75   00000000000000000553440366  01825475098800170649200001
028407710   22   00000000000000000643922216  01822327050500000000175580
030695078   186  00000000000000000697145512  01822345025200000000169119
            39   00000000000000000688132471  01822345025200000000168705
            42   00000000000000000684715656  01822345025200000000168577
            40   00000000000000000687500047  01822345025200000000168681
            41   00000000000000000692115582  01822345025200000000168879
034908347   158  00000000000000000587708630  01822344001000000000156286
            1    00000000000000000667711952  01822344050500000000190663
050339197   188  00000000000000000694696573  01822743001000000000151850
051751124   249  00000000000000000555431464  01825651051100000000032996
059835368   68   00000000000000000642362660  01825714051600000000083986
            69   00000000000000000614224075  01825714051600000000080581
059949867   44   00000000000000000575172005  01822338030000673422000109

                level60_operarea_id counterpart_id term_contract_type  \
customer_id
000057385   84                 0058           0010                 CP
000059569   116                0058           0010                 CP
            115                0058           0300                 CP
000115593   54                 0058           0300                 CP
000163104   133                0058           0516                 CP
            239                0058           0516                 CP
000259175   77                 0058           0511                 CP
            78                 0058           0300                 CP
            79                 0058           0988                 LP
            205                0058           0988                 LP
001005370   27                 0058           0516                 CP
            173                0058           0300                 CP
001278519   33                 0058           0300                 CP
002362927   109                0058           0501                 LP
002715853   71                 0058           0300                 CP
003883696   85                 0058           0300                 CP
007652980   49                 0058           0988                 LP
            48                 0058           0988                 LP
            191                0058           0988                 LP
            47                 0058           0988                 LP
007685983   247                0058           0988                 CP
            246                0058           0988                 CP
008072751   6                  0058           0516                 CP
008271052   111                0058           0300                 CP
010134184   12                 0058           0010                 CP
            8                  0058           0988                 LP
010228209   244                0058           0516                 CP
            137                0058           0501                 LP
010426433   30                 0058           0516                 CP
011097471   124                0058           0300                 CP
            123                0058           0501                 LP
012054659   13                 0058           0010                 CP
012225332   31                 0023           0300                 CP
013644107   230                0058           0010                 CP
014742380   75                 0058           0988                 LP
028407710   22                 0058           0505                 LP
030695078   186                0058           0252                 CP
            39                 0058           0252                 CP
            42                 0058           0252                 CP
            40                 0058           0252                 CP
            41                 0058           0252                 CP
034908347   158                0058           0010                 CP
            1                  0058           0505                 LP
050339197   188                0058           0010                 CP
051751124   249                0058           0511                 CP
059835368   68                 0058           0516                 CP
            69                 0058           0516                 CP
059949867   44                 0058           0300                 CP

                m5_scale_master_limit_id cliente_nuevo_pool rating_mes  \
customer_id
000057385   84                        BB                NaN         BB
000059569   116                      BB-                NaN        BB-
            115                      BB-                NaN        BB-
000115593   54                        B-                NaN         B-
000163104   133                      BB+                NaN         B-
            239                       BB                NaN         B-
000259175   77                       NaN                NaN         BB
            78                        BB                NaN         BB
            79                        BB                NaN         BB
            205                       BB                NaN         BB
001005370   27                       BB+                NaN        BB+
            173                      BB+                NaN        BB+
001278519   33                        BB                NaN         BB
002362927   109                       B+                NaN         B+
002715853   71                       BB+                NaN        BB-
003883696   85                       BB-                NaN        BB-
007652980   49                         B                NaN         B-
            48                         B                NaN         B-
            191                        B                NaN         B-
            47                         B                NaN         B-
007685983   247                       BB                NaN         BB
            246                       BB                NaN         BB
008072751   6                        BB-                NaN        BB-
008271052   111                       B+                NaN         B+
010134184   12                       BB-                NaN        BB-
            8                        BB-                NaN        BB-
010228209   244                      BB+                NaN        BB+
            137                      BB+                NaN        BB+
010426433   30                       BBB                NaN          B
011097471   124                      BB+                NaN        BB+
            123                      BB+                NaN        BB+
012054659   13                        B+                NaN          B
012225332   31                      BBB-                NaN       BBB-
013644107   230                      BB-                NaN        BB-
014742380   75                        B-                NaN         B-
028407710   22                       CC+                NaN        CC+
030695078   186                       B-                NaN         B-
            39                        B-                NaN         B-
            42                        B-                NaN         B-
            40                        B-                NaN         B-
            41                        B-                NaN         B-
034908347   158                       B-                NaN         B-
            1                         B-                NaN         B-
050339197   188                       B+                NaN          B
051751124   249                       BB                NaN         BB
059835368   68                         B                NaN          B
            69                         B                NaN          B
059949867   44                       BB+                NaN        BB+

                rating_status rating_diff rating_var  \
customer_id
000057385   84             NC           0         BB
000059569   116            NC           0        BB-
            115            NC           0        BB-
000115593   54             NC           0         B-
000163104   133            NC           0         B-
            239            NC           0         B-
000259175   77             NC           0         BB
            78             NC           0         BB
            79             NC           0         BB
            205            NC           0         BB
001005370   27             UP           1     BB/BB+
            173            UP           1     BB/BB+
001278519   33             NC           0         BB
002362927   109            NC           0         B+
002715853   71             NC           0        BB-
003883696   85             NC           0        BB-
007652980   49             NC           0         B-
            48             NC           0         B-
            191            NC           0         B-
            47             NC           0         B-
007685983   247            NC           0         BB
            246            NC           0         BB
008072751   6              NC           0        BB-
008271052   111            NC           0         B+
010134184   12             NC           0        BB-
            8              NC           0        BB-
010228209   244            NC           0        BB+
            137            NC           0        BB+
010426433   30             NC           0          B
011097471   124            NC           0        BB+
            123            NC           0        BB+
012054659   13             NC           0          B
012225332   31             NC           0       BBB-
013644107   230            NC           0        BB-
014742380   75             NC           0         B-
028407710   22             NC           0        CC+
030695078   186            NC           0         B-
            39             NC           0         B-
            42             NC           0         B-
            40             NC           0         B-
            41             NC           0         B-
034908347   158            NC           0         B-
            1              NC           0         B-
050339197   188            NC           0          B
051751124   249            UP           1     BB-/BB
059835368   68             NC           0          B
            69             NC           0          B
059949867   44             NC           0        BB+

                 rwas_regul_capital_amount  rorc_last_m_cust_amount  \
customer_id
000057385   84                618,554.2500                   0.1232
000059569   116               271,377.5000                   0.0741
            115                35,368.7500                   0.0741
000115593   54                331,653.3800                   0.0795
000163104   133               550,715.0000                   0.0611
            239               249,220.1200                   0.0611
000259175   77                169,715.7500                   0.0487
            78                 69,034.1250                   0.0487
            79                  4,217.3750                   0.0487
            205                 2,363.1250                   0.0487
001005370   27              1,050,429.4000                   0.0600
            173             1,011,901.9000                   0.0600
001278519   33                  3,341.8750                   0.0744
002362927   109               168,411.1200                   0.0582
002715853   71                 26,271.6250                   0.0721
003883696   85                126,154.6250                   0.1062
007652980   49              3,791,792.5000                   0.0428
            48                993,983.9000                   0.0428
            191               237,731.0000                   0.0428
            47                 39,326.7500                   0.0428
007685983   247                   621.0000                   0.0397
            246                   439.0000                   0.0397
008072751   6                  97,725.0000                   0.0950
008271052   111               102,653.2500                   0.0618
010134184   12              1,575,211.9000                   0.0641
            8                   6,459.2500                   0.0641
010228209   244               871,212.7500                   0.0744
            137                58,289.0000                   0.0744
010426433   30                155,690.7500                   0.0323
011097471   124               458,579.0000                   0.0642
            123                17,157.8750                   0.0642
012054659   13                 60,760.0000                   0.0731
012225332   31                389,789.0000                   0.0932
013644107   230               912,108.4000                   0.1452
014742380   75                 33,419.3750                   0.0978
028407710   22              1,337,020.4000                  -0.1180
030695078   186               900,595.0000                  -0.0090
            39                831,531.4000                  -0.0090
            42                806,315.9000                  -0.0090
            40                706,623.1000                  -0.0090
            41                682,096.1000                  -0.0090
034908347   158               102,932.1250                  -0.0700
            1                   4,540.2500                  -0.0700
050339197   188               117,228.7500                   0.0382
051751124   249                66,119.7500                   0.0643
059835368   68                 17,505.3750                   0.2207
            69                  2,425.3750                   0.2207
059949867   44                140,213.6200                   0.1049

                 prof_ratio_rorc_amount  raroec_customer_amount  \
customer_id
000057385   84                   0.0864                  0.1582
000059569   116                  0.0734                  0.1021
            115                  0.0734                  0.1021
000115593   54                   0.0650                  0.1027
000163104   133                  0.0644                  0.2309
            239                  0.0644                  0.2309
000259175   77                   0.0263                  0.0726
            78                   0.0263                  0.0726
            79                   0.0263                  0.0726
            205                  0.0263                  0.0726
001005370   27                   0.0687                  0.1149
            173                  0.0687                  0.1149
001278519   33                   0.0834                  0.0840
002362927   109                  0.0741                  0.0743
002715853   71                   0.0662                  0.1228
003883696   85                   0.0355                  0.1784
007652980   49                   0.0310                  0.0877
            48                   0.0310                  0.0877
            191                  0.0310                  0.0877
            47                   0.0310                  0.0877
007685983   247                  0.0735                  0.0461
            246                  0.0735                  0.0461
008072751   6                    0.0930                  0.1102
008271052   111                  0.0349                  0.0747
010134184   12                   0.0619                  0.0814
            8                    0.0619                  0.0814
010228209   244                  0.0724                  0.1094
            137                  0.0724                  0.1094
010426433   30                   0.0488                  0.1196
011097471   124                  0.0652                  0.0887
            123                  0.0652                  0.0887
012054659   13                   0.0898                  0.0852
012225332   31                   0.0806                  0.1940
013644107   230                  0.0533                  0.2407
014742380   75                   0.0727                  0.1256
028407710   22                  -0.1537                 -0.1535
030695078   186                 -0.0083                 -0.0136
            39                  -0.0083                 -0.0136
            42                  -0.0083                 -0.0136
            40                  -0.0083                 -0.0136
            41                  -0.0083                 -0.0136
034908347   158                 -0.0881                 -0.0892
            1                   -0.0881                 -0.0892
050339197   188                  0.0414                  0.0563
051751124   249                  0.0464                  0.0947
059835368   68                   0.0806                  0.2896
            69                   0.0806                  0.2896
059949867   44                   0.0804                  0.1527

                 rorc_operation_amount  raroec_operation_amount  \
customer_id
000057385   84                  0.0478                   0.0606
000059569   116                 0.0532                   0.0730
            115                -0.0183                  -0.0256
000115593   54                  0.0298                   0.0390
000163104   133                 0.0542                   0.2084

In [ ]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize=).fillna(0)

In [44]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum", margins=True, margins_name="Total").fillna(0)

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
000032713,0.0000,"266,977.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"266,977.7500"
000057385,"618,554.2500","115,831.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"734,386.1250"
000059569,"271,377.5000","325,520.2500",0.0000,"35,368.7500",0.0000,0.0000,0.0000,0.0000,0.0000,"632,266.5000"
000115593,0.0000,"318,513.5000",0.0000,"331,653.3800",0.0000,0.0000,0.0000,0.0000,0.0000,"650,166.8800"
000147893,0.0000,"663,894.8700",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"663,894.8700"
000163104,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"799,935.1200",0.0000,"799,935.1200"
000259175,0.0000,"230,066.8750",0.0000,"69,034.1250",0.0000,0.0000,"169,715.7500",0.0000,"6,580.5000","475,397.2500"
000992836,0.0000,"2,766,053.3200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"2,766,053.3200"
001005370,0.0000,0.0000,0.0000,"1,011,901.9000",0.0000,0.0000,0.0000,"1,050,429.4000",0.0000,"2,062,331.3000"
001163997,0.0000,"163,282.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"163,282.2500"
001278519,0.0000,"15,021.6250",0.0000,"3,341.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"18,363.5000"
002362927,0.0000,"1,924,142.3750",0.0000,0.0000,"168,411.1200",0.0000,0.0000,0.0000,0.0000,"2,092,553.4950"
002715853,0.0000,"141,585.3750",0.0000,"26,271.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"167,857.0000"
003883696,0.0000,"37,121.2500",0.0000,"126,154.6250",0.0000,0.0000,0.0000,0.0000,0.0000,"163,275.8750"
005479572,0.0000,"49,819.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,819.6250"
005609283,0.0000,"117,063.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"117,063.0000"
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"5,062,834.1500","5,062,834.1500"
007685983,0.0000,"571,436.1300",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,060.0000","572,496.1300"
008072751,0.0000,"31,818.5000",0.0000,0.0000,0.0000,0.0000,0.0000,"97,725.0000",0.0000,"129,543.5000"
008271052,0.0000,"62,533.7500",0.0000,"102,653.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"165,187.0000"
009427237,0.0000,"190,098.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"190,098.7500"
009637729,0.0000,"234,792.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"234,792.3750"
010134184,"1,575,211.9000","2,852,937.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"6,459.2500","4,434,608.2700"
010228209,0.0000,0.0000,0.0000,0.0000,"58,289.0000",0.0000,0.0000,"871,212.7500",0.0000,"929,501.7500"
010426433,0.0000,"121,388.8750",0.0000,0.0000,0.0000,0.0000,0.0000,"155,690.7500",0.0000,"277,079.6250"
011097471,0.0000,"163,626.6250",0.0000,"458,579.0000","17,157.8750",0.0000,0.0000,0.0000,0.0000,"639,363.5000"
011717815,0.0000,"209,135.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"209,135.3750"
012054659,"60,760.0000","104,795.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"165,555.6250"
012225332,0.0000,"1,076,570.5250",0.0000,"389,789.0000",0.0000,0.0000,0.0000,0.0000,0.0000,"1,466,359.5250"
012246142,0.0000,"195,098.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"195,098.1200"
013042517,0.0000,"154,671.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"154,671.0000"
013371101,0.0000,"9,787.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"9,787.7500"
013644107,"912,108.4000","5,442.1250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"917,550.5250"
014742380,0.0000,"124,007.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"33,419.3750","157,426.6250"
016069816,0.0000,"533,289.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"533,289.0000"
017633949,0.0000,"59,886.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"59,886.2500"
021836410,0.0000,"56,599.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"56,599.2500"
024442741,0.0000,"181,997.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"181,997.3750"
027781126,0.0000,"115,397.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"115,397.2500"
028407710,0.0000,"115,226.3750",0.0000,0.0000,0.0000,"1,337,020.4000",0.0000,0.0000,0.0000,"1,452,246.7750"
028915227,0.0000,"130,412.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"130,412.0000"
029170892,0.0000,"1,214,645.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"1,214,645.1000"
029872299,0.0000,"155,075.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"155,075.3750"
030695078,0.0000,0.0000,"4,773,207.1200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"4,773,207.1200"
030724363,0.0000,"110,213.3750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"110,213.3750"
032729761,0.0000,"132,286.2500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"132,286.2500"
033127399,0.0000,"263,737.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"263,737.6250"
034807425,0.0000,"36,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,753.0000"
034908347,"102,932.1250","82,025.1250",0.0000,0.0000,0.0000,"4,540.2500",0.0000,0.0000,0.0000,"189,497.5000"
035201264,0.0000,"36,757.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"36,757.5000"
035455654,0.0000,"123,931.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"123,931.5000"
038094323,0.0000,"80,992.8750",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"80,992.8750"
040297019,0.0000,"391,753.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"391,753.0000"
050180900,0.0000,"49,761.6250",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"49,761.6250"
050339197,"117,228.7500","182,644.6200",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"299,873.3700"
051751124,0.0000,"556,540.7500",0.0000,0.0000,0.0000,0.0000,"66,119.7500",0.0000,0.0000,"622,660.5000"
052282112,0.0000,"22,654.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"22,654.7500"
052979558,0.0000,"73,005.7500",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"73,005.7500"
053704889,0.0000,"243,143.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"243,143.0000"
055890379,0.0000,"78,329.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"78,329.5000"
059835368,0.0000,"27,664.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"19,930.7500",0.0000,"47,595.0000"
059949867,0.0000,"66,480.0000",0.0000,"140,213.6200",0.0000,0.0000,0.0000,0.0000,0.0000,"206,693.6200"
064682707,0.0000,"8,111.5000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"8,111.5000"
Total,"3,658,172.9250","18,372,347.8050","4,773,207.1200","2,694,961.1500","243,857.9950","1,341,560.6500","235,835.5000","2,994,923.7700","5,110,353.2750","39,425,220.1900"

In [ ]:
3$CUR!2ra

In [5]:
618554.2500 / 39425220.1900

0.01568930362389943

In [ ]:
010134184

In [ ]:
filtered_data = pool_m[pool_m['customer_id'] != 'Total']

In [5]:
pool_m[pool_m.pool_situation_type == 'SI'].tail(10)

,contract_id,current_contract_id,level60_operarea_id,counterpart_id,term_contract_type,m5_scale_master_limit_id,customer_id,cliente_nuevo_pool,rating_mes,rating_status,rating_diff,rating_var,rwas_regul_capital_amount,rorc_last_m_cust_amount,prof_ratio_rorc_amount,raroec_customer_amount,rorc_operation_amount,raroec_operation_amount,pool_situation_type,motivo_des,analisis_neg,cancelation_type,rorc_6m_cust_times_number,billing_date,pool_customer_reg_date,pool_exit_date,alerta_com,prof_ratio_rorc_amount_2,valid_model_id,rorc_cliente,rorc_op,new_rorc_op,part_closing_date
246,00000000000000000697005143,01822344098800166415000046,0058,0988,CP,BB,007685983,NaN,BB,NC,0,BB,439.0000,0.0397,0.0735,0.0461,-2.4905,-4.5913,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0737,MA,0.1003,0.0600,0.0600,2025-06-30
247,00000000000000000697005638,01822344098800166415000047,0058,0988,CP,BB,007685983,NaN,BB,NC,0,BB,621.0000,0.0397,0.0735,0.0461,-2.0663,-4.0266,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0737,MA,0.1003,0.0600,0.0600,2025-06-30
248,00000000000000000697001013,01822407008300000000038116,0058,0083,CP,B+,035455654,NaN,B+,NC,0,B+,"31,113.7500",0.0706,0.0728,0.1272,-0.1227,-0.2386,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0734,MA,0.1003,0.0600,0.0600,2025-06-30
249,00000000000000000555431464,01825651051100000000032996,0058,0511,CP,BB,051751124,NaN,BB,UP,1,BB-/BB,"66,119.7500",0.0643,0.0464,0.0947,0.0529,0.0772,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0465,MA,0.1003,0.0600,0.0600,2025-06-30
250,00000000000000000695917995,01822376008300000000058153,0058,0083,CP,BB,064682707,NaN,BB,UP,1,BB-/BB,"1,657.0000",0.0983,0.0713,0.1636,-0.2177,-0.4493,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0713,ME,0.1003,0.0600,0.0600,2025-06-30
251,00000000000000000698049116,01821299008300000000019894,0058,0083,CP,BB,000992836,NaN,BB,NC,0,BB,"465,051.1200",0.1042,0.0831,0.1731,0.0010,0.0016,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,SC,0.0831,MA,0.1003,0.0600,0.0600,2025-06-30
252,00000000000000000696782023,01822324008300000000006896,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"15,561.5000",0.0684,0.0654,0.0882,0.0415,0.0537,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
253,00000000000000000696780300,01822324008300000000006895,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"3,736.2500",0.0684,0.0654,0.0882,-0.0659,-0.0855,SI,CI/OI,CP/ON,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
254,00000000000000000696597892,01822324008300000000006885,0058,0083,CP,B+,034807425,NaN,B+,NC,0,B+,"9,944.5000",0.0684,0.0654,0.0882,0.0256,0.0331,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0672,MA,0.1003,0.0600,0.0600,2025-06-30
255,00000000000000000697158920,01825473008300000000012415,0058,0083,CP,B+,009637729,NaN,B+,NC,0,B+,"104,853.1250",0.0047,0.0453,0.0060,0.0181,0.0232,SI,CI/OI,CP/OP,NaN,6,2025-06-30,2025-06-30,NaN,NaN,0.0453,MA,0.1003,0.0600,0.0600,2025-06-30

In [ ]:
margins=True, margins_name="Total"normalize=True .nlargest(10, "Total")

In [ ]:
618554.2500 / 39425220.1900

In [7]:
pd.options.display.max_rows = 200
pd.crosstab(index= pool_m[pool_m.pool_situation_type == 'SI'].customer_id, 
            columns = pool_m[pool_m.pool_situation_type == 'SI'].counterpart_id, 
            values = pool_m[pool_m.pool_situation_type == 'SI'].rwas_regul_capital_amount, 
            aggfunc="sum",normalize='columns').fillna(0).style.background_gradient(cmap='viridis', axis=None)

In [50]:
filtered_data

counterpart_id,0010,0083,0252,0300,0501,0505,0511,0516,0988,Total
customer_id,,,,,,,,,,
Total,9.2788,46.6005,12.1070,6.8356,0.6185,3.4028,0.5982,7.5965,12.9621,100.0000
007652980,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.8416,12.8416
030695078,0.0000,0.0000,12.1070,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,12.1070
010134184,3.9954,7.2363,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0164,11.2482
000992836,0.0000,7.0159,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,7.0159
002362927,0.0000,4.8805,0.0000,0.0000,0.4272,0.0000,0.0000,0.0000,0.0000,5.3077
001005370,0.0000,0.0000,0.0000,2.5666,0.0000,0.0000,0.0000,2.6644,0.0000,5.2310
012225332,0.0000,2.7307,0.0000,0.9887,0.0000,0.0000,0.0000,0.0000,0.0000,3.7193
028407710,0.0000,0.2923,0.0000,0.0000,0.0000,3.3913,0.0000,0.0000,0.0000,3.6835
029170892,0.0000,3.0809,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.0809

In [ ]:


pool_m.nlargest(5, "age") # just to check

# And what we want to do now, actually, we want to split our titanic data frame into a male group and a female group.
# And then for each group, we want to return the five oldest passengers that actually survived.
def five_oldest_surv(group):
    return group[group.survived == 1].nlargest(5, "age")

titanic.groupby("sex").apply(five_oldest_surv, include_groups=False)

		survived	pclass	age	fare
sex					
female	275	1	        1	63.0	77.9583
        483	1	        3	63.0	9.5875
        829	1	        1	62.0	80.0000
        366	1	        1	60.0	75.2500
        11	1	        1	58.0	26.5500
male	630	1	        1	80.0	30.0000
        570	1	        2	62.0	10.5000
        587	1	        1	60.0	79.2000
        647	1	        1	56.0	35.5000
        449	1	        1	52.0	30.5000

##### guardados excel (pool_m, pool_m1)

In [11]:
from pathlib import Path

file_path = Path("comparison_final_2.xlsx")
if file_path.exists():
    with pd.ExcelWriter(file_path, mode="a", if_sheet_exists="replace") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)
else:
    with pd.ExcelWriter(file_path, mode="w") as writer:
        pool_m.to_excel(writer, sheet_name="pool_m", index=False)
        pool_m1.to_excel(writer, sheet_name="pool_m1", index=False)

#### quick check of data pivot tables (pool_m, pool_m1)

##### area, ctpa, count contracts, sum rwas_regul_capital_amount

In [3]:
# area, ctpa, count contracts, sum rwas_regul_capital_amount

# filtramos por pool_situation_type = 'SI' porque en pool_m1 solo tenemos SI

m = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2             1,076,570.5250
                    0300                      1               389,789.0000
0058                0010                      7             3,658,172.9250
                    0083                    197            17,217,447.7800
                    0252                      7             4,773,207.1200
                    0300                     10             2,305,172.1500
                    0501                      3               243,857.9950
                    0505                      2             1,341,560.6500
                    0511                      2               235,835.5000
                    0516                      8             2,994,923.7700
                    0988                     10             5,110,353.2750
8519                0083                      7                78,329.5000
Total                                       256            39,425,220.1900

In [4]:
m_1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "counterpart_id"],
	values=["contract_id", "rwas_regul_capital_amount"],
	aggfunc={"contract_id": "count", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total"
)
m_1

                                    contract_id  rwas_regul_capital_amount
level60_operarea_id counterpart_id
0023                0083                      2               422,977.8700
                    0300                      1               888,546.0600
0058                0010                      5             2,896,673.0500
                    0083                    200            17,320,109.2012
                    0252                      6             4,451,920.2500
                    0300                     13             1,677,815.3580
                    0501                      3               247,560.5550
                    0505                      2             1,356,140.4677
                    0511                      3               226,904.7620
                    0516                     11             3,381,870.2215
                    0988                      7             4,899,933.4850
8519                0083                      8                57,624.6531
Total                                       261            37,828,075.9335

##### area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

In [5]:
# area, ctpa, term_contract_type, count contracts, sum rwas_regul_capital_amount

# quick check of data - term_contract_type (BASE for next steps)
# --------------------------------
m_cplp = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m_cplp_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

m1_cplp = pool_m1.pivot_table(index=["level60_operarea_id","counterpart_id"],
                 columns="term_contract_type",
                   values="rwas_regul_capital_amount",
                   aggfunc=(["count","sum"]),
                    
                   fill_value=0, 
                   margins=True, 
                   margins_name="Total")

In [6]:
m_cplp

                                   count                       sum  \
term_contract_type                    CP  LP Total              CP
level60_operarea_id counterpart_id
0023                0083               2   0     2  1,076,570.5250
                    0300               1   0     1    389,789.0000
0058                0010               7   0     7  3,658,172.9250
                    0083             189   8   197  9,895,869.6100
                    0252               7   0     7  4,773,207.1200
                    0300              10   0    10  2,305,172.1500
                    0501               0   3     3          0.0000
                    0505               0   2     2          0.0000
                    0511               2   0     2    235,835.5000
                    0516               8   0     8  2,994,923.7700
                    0988               2   8    10      1,060.0000
8519                0083               7   0     7     78,329.5000
Total                                235  21   256 25,408,930.1000


term_contract_type                              LP           Total
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250
                    0300                    0.0000    389,789.0000
0058                0010                    0.0000  3,658,172.9250
                    0083            7,321,578.1700 17,217,447.7800
                    0252                    0.0000  4,773,207.1200
                    0300                    0.0000  2,305,172.1500
                    0501              243,857.9950    243,857.9950
                    0505            1,341,560.6500  1,341,560.6500
                    0511                    0.0000    235,835.5000
                    0516                    0.0000  2,994,923.7700
                    0988            5,109,293.2750  5,110,353.2750
8519                0083                    0.0000     78,329.5000
Total                              14,016,290.0900 39,425,220.1900

In [4]:
m_cplp_SA

                                   count                     sum              \
term_contract_type                    CP LP Total             CP          LP
level60_operarea_id counterpart_id
0023                0083               1  0     1   312,982.1200      0.0000
0058                0010               1  0     1     8,912.5000      0.0000
                    0083              87  2    89 4,596,569.0924 52,773.0250
                    0252               1  0     1 1,012,624.4400      0.0000
                    0300               4  0     4   111,305.3200      0.0000
                    0511               2  0     2   151,676.1400      0.0000
                    0516               5  0     5 1,166,349.5315      0.0000
                    0988               0  1     1         0.0000  2,042.6250
8519                0083               2  0     2     4,914.0525      0.0000
Total                                103  3   106 7,365,333.1964 54,815.6500


term_contract_type                          Total
level60_operarea_id counterpart_id
0023                0083             312,982.1200
0058                0010               8,912.5000
                    0083           4,649,342.1174
                    0252           1,012,624.4400
                    0300             111,305.3200
                    0511             151,676.1400
                    0516           1,166,349.5315
                    0988               2,042.6250
8519                0083               4,914.0525
Total                              7,420,148.8464

In [7]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    ('count', 'CP'),
    ('count', 'LP'),
    ('count', 'Total'),
    ('sum', 'CP'),
    ('sum', 'LP'),
    ('sum', 'Total')
]

# Calculate the difference for the selected columns
diff_m_m1 = m_cplp[cols_to_compare].sub(m1_cplp[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparison = pd.concat(
    [
        m_cplp[cols_to_compare].add_suffix('_m'),
        m1_cplp[cols_to_compare].add_suffix('_m1'),
        diff_m_m1.add_suffix('_diff'),
        m_cplp_SA[cols_to_compare].add_suffix('_SA'),
        m_cplp_SI_mes[cols_to_compare].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0)

comparison

                                   count_m                        sum_m  \
term_contract_type                    CP_m LP_m Total_m            CP_m
level60_operarea_id counterpart_id
0023                0083                 2    0       2  1,076,570.5250
                    0300                 1    0       1    389,789.0000
0058                0010                 7    0       7  3,658,172.9250
                    0083               189    8     197  9,895,869.6100
                    0252                 7    0       7  4,773,207.1200
                    0300                10    0      10  2,305,172.1500
                    0501                 0    3       3          0.0000
                    0505                 0    2       2          0.0000
                    0511                 2    0       2    235,835.5000
                    0516                 8    0       8  2,994,923.7700
                    0988                 2    8      10      1,060.0000
8519                0083                 7    0       7     78,329.5000
Total                                  235   21     256 25,408,930.1000

                                                                   count_m1  \
term_contract_type                            LP_m         Total_m    CP_m1
level60_operarea_id counterpart_id
0023                0083                    0.0000  1,076,570.5250        2
                    0300                    0.0000    389,789.0000        1
0058                0010                    0.0000  3,658,172.9250        5
                    0083            7,321,578.1700 17,217,447.7800      191
                    0252                    0.0000  4,773,207.1200        6
                    0300                    0.0000  2,305,172.1500       13
                    0501              243,857.9950    243,857.9950        0
                    0505            1,341,560.6500  1,341,560.6500        0
                    0511                    0.0000    235,835.5000        3
                    0516                    0.0000  2,994,923.7700       11
                    0988            5,109,293.2750  5,110,353.2750        0
8519                0083                    0.0000     78,329.5000        8
Total                              14,016,290.0900 39,425,220.1900      240

                                                           sum_m1  \
term_contract_type                 LP_m1 Total_m1           CP_m1
level60_operarea_id counterpart_id
0023                0083               0        2    422,977.8700
                    0300               0        1    888,546.0600
0058                0010               0        5  2,896,673.0500
                    0083               9      200 10,108,617.8602
                    0252               0        6  4,451,920.2500
                    0300               0       13  1,677,815.3580
                    0501               3        3          0.0000
                    0505               2        2          0.0000
                    0511               0        3    226,904.7620
                    0516               0       11  3,381,870.2215
                    0988               7        7          0.0000
8519                0083               0        8     57,624.6531
Total                                 21      261 24,112,950.0848

                                                                   count_diff  \
term_contract_type                           LP_m1        Total_m1    CP_diff
level60_operarea_id counterpart_id
0023                0083                    0.0000    422,977.8700          0
                    0300                    0.0000    888,546.0600          0
0058                0010                    0.0000  2,896,673.0500          2
                    0083            7,211,491.3410 17,320,109.2012         -2
                    0252                    0.0000  4,451,920.2500          1
                    0300                    0.0000  1,677,815.3580         -3
                    0501              247,560.5550    247,560.5550          0
                    0505            1,356,140.4677  1,356,140.4677          0
                    0511                    0.0000    226,904.7620         -1
                    0516                    0.0000  3,381,870.2215         -3
                    0988            4,899,933.4850  4,899,933.4850          2
8519                0083                    0.0000     57,624.6531         -1
Total                              13,715,125.8487 37,828,075.9335         -5

                                                            sum_diff  \
term_contract_type                 LP_diff Total_diff        CP_diff
level60_operarea_id counterpart_id
0023                0083                 0          0   653,592.6550
                    0300                 0          0  -498,757.0600
0058                0010                 0          2   761,499.8750
                    0083                -1         -3  -212,748.2502
                    0252                 0          1   321,286.8700
                    0300                 0         -3   627,356.7920
                    0501                 0          0         0.0000
                    0505                 0          0         0.0000
                    0511                 0         -1     8,930.7380
                    0516                 0         -3  -386,946.4515
                    0988                 1          3     1,060.0000
8519                0083                 0         -1    20,704.8469
Total                                    0         -5 1,295,980.0152

                                                               count_SA  \
term_contract_type                      LP_diff     Total_diff    CP_SA
level60_operarea_id counterpart_id
0023                0083                 0.0000   653,592.6550   1.0000
                    0300                 0.0000  -498,757.0600   0.0000
0058                0010                 0.0000   761,499.8750   1.0000
                    0083           110,086.8290  -102,661.4212  87.0000
                    0252                 0.0000   321,286.8700   1.0000
                    0300                 0.0000   627,356.7920   4.0000
                    0501            -3,702.5600    -3,702.5600   0.0000
                    0505           -14,579.8177   -14,579.8177   0.0000
                    0511                 0.0000     8,930.7380   2.0000
                    0516                 0.0000  -386,946.4515   5.0000
                    0988           209,359.7900   210,419.7900   0.0000
8519                0083                 0.0000    20,704.8469   2.0000
Total                              301,164.2413 1,597,144.2565 103.0000

                                                           sum_SA              \
term_contract_type                  LP_SA Total_SA          CP_SA       LP_SA
level60_operarea_id counterpart_id
0023                0083           0.0000   1.0000   312,982.1200      0.0000
                    0300           0.0000   0.0000         0.0000      0.0000
0058                0010           0.0000   1.0000     8,912.5000      0.0000
                    0083           2.0000  89.0000 4,596,569.0924 52,773.0250
                    0252           0.0000   1.0000 1,012,624.4400      0.0000
                    0300           0.0000   4.0000   111,305.3200      0.0000
                    0501           0.0000   0.0000         0.0000      0.0000
                    0505           0.0000   0.0000         0.0000      0.0000
                    0511           0.0000   2.0000   151,676.1400      0.0000
                    0516           0.0000   5.0000 1,166,349.5315      0.0000
                    0988           1.0000   1.0000         0.0000  2,042.6250
8519                0083           0.0000   2.0000     4,914.0525      0.0000
Total                              3.0000 106.0000 7,365,333.1964 54,815.6500

                                                  count_SI_mes            \
term_contract_type                       Total_SA    CP_SI_mes LP_SI_mes
level60_operarea_id counterpart_id
0023                0083             312,982.1200       1.0000    0.0000
                    0300                   0.0000       0.0000    0.0000
0058                0010               8,912.5000       3.0000    0.0000
                    0083           4,649,342.1174      85.0000    1.0000
                    0252           1,012,624.4400       2.0000    0.0000
                    0300             111,305.3200       1.0000    0.0000
                    0501                   0.0000       0.0000    0.0000
                    0505                   0.0000       0.0000    0.0000
                    0511             151,676.1400       1.0000    0.0000
                    0516           1,166,349.5315       2.0000    0.0000
                    0988               2,042.6250       2.0000    2.0000
8519                0083               4,914.0525       1.0000    0.0000
Total                              7,420,148.8464      98.0000    3.0000

                                                     sum_SI_mes               \
term_contract_type                 Total_SI_mes       CP_SI_mes    LP_SI_mes
level60_operarea_id counterpart_id
0023                0083                 1.0000    968,228.9000       0.0000
                    0300                 0.0000          0.0000       0.0000
0058                0010                 3.0000  1,132,269.2750       0.0000
                    0083                86.0000  4,504,783.9850 408,940.7500
                    0252                 2.0000  1,449,976.0000       0.0000
                    0300                 1.0000  1,011,901.9000       0.0000
                    0501                 0.0000          0.0000       0.0000
                    0505                 0.0000          0.0000       0.0000
                    0511                 1.0000     66,119.7500       0.0000
                    0516                 2.0000  1,120,432.8700       0.0000
                    0988                 4.0000      1,060.0000 240,094.1250
8519                0083                 1.0000     25,642.5000       0.0000
Total                                  101.0000 10,280,415.1800 649,034.8750


term_contract_type                    Total_SI_mes
level60_operarea_id counterpart_id
0023                0083              968,228.9000
                    0300                    0.0000
0058                0010            1,132,269.2750
                    0083            4,913,724.7350
                    0252            1,449,976.0000
                    0300            1,011,901.9000
                    0501                    0.0000
                    0505                    0.0000
                    0511               66,119.7500
                    0516            1,120,432.8700
                    0988              241,154.1250
8519                0083               25,642.5000
Total                              10,929,450.0550

# GUARDO LA MATRIZ DE DIFERENCIAS
# --------------------------------------
comparison.to_excel("comparison_m_m1.xlsx")

# option 2
def format_col(col):
    if isinstance(col, tuple):
        return f"{col[1]}_{col[0]}"  # e.g., A_2020
    return col

df_flat.columns = [format_col(c) for c in df_flat.columns]

# 3. Rename index columns
renamed_dict = {
    'banca_': 'banca',
    'ctpa_': 'ctpa',
    'count_level_op': 'contract_count',
    'sum_level_op': 'contract_sum',
    'count_rwas': 'rwas_count',
    'sum_rwas': 'rwas_sum'
}

df_flat=df_flat.rename(mapper=renamed_dict, axis="columns")

In [8]:
comparison = comparison.reset_index()

comparison.columns = [
    '_'.join(map(str, col)).strip() if isinstance(col, tuple) else col
    for col in comparison.columns
]

In [9]:
comparison

,level60_operarea_id_,counterpart_id_,count_m_CP_m,count_m_LP_m,count_m_Total_m,sum_m_CP_m,sum_m_LP_m,sum_m_Total_m,count_m1_CP_m1,count_m1_LP_m1,count_m1_Total_m1,sum_m1_CP_m1,sum_m1_LP_m1,sum_m1_Total_m1,count_diff_CP_diff,count_diff_LP_diff,count_diff_Total_diff,sum_diff_CP_diff,sum_diff_LP_diff,sum_diff_Total_diff,count_SA_CP_SA,count_SA_LP_SA,count_SA_Total_SA,sum_SA_CP_SA,sum_SA_LP_SA,sum_SA_Total_SA,count_SI_mes_CP_SI_mes,count_SI_mes_LP_SI_mes,count_SI_mes_Total_SI_mes,sum_SI_mes_CP_SI_mes,sum_SI_mes_LP_SI_mes,sum_SI_mes_Total_SI_mes
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

import pandas as pd

# Step 1: Load the data
# df = pd.read_csv("your_data.csv")

# Step 2: Remove the 'Total' row if it exists
comparison33 = comparison[comparison['level60_operarea_id_'] != 'Total']


# Step 3: Convert number-like strings with commas to floats (for all except ID columns)
id_cols = ['level60_operarea_id_', 'counterpart_id_']
numeric_cols = [col for col in comparison33.columns if col not in id_cols]

for col in numeric_cols:
    comparison33[col] = comparison33[col].astype(str).str.replace(',', '')
    comparison33[col] = pd.to_numeric(comparison33[col], errors='coerce')

# Step 4: Create a copy for the percentage output
df_percent = comparison33.copy()

# Step 5: Calculate percentages only on numeric columns
df_percent[numeric_cols] = comparison33[numeric_cols].div(comparison33[numeric_cols].sum()) * 100

# Step 6: Optional - Round percentages
df_percent[numeric_cols] = df_percent[numeric_cols].round(2)

# Now df_percent has percentage values, and ID columns are untouched

In [26]:
renamed_dict = {
    'level60_operarea_id_': 'banca',
    'counterpart_id_': 'ctpa',
    'count_m_CP_m': 'n_cont_CP_m',
    'count_m_LP_m': 'n_cont_LP_m',
    'count_m_Total_m': 'n_cont_Tot_m',
    'sum_m_CP_m': 'rwas_CP_m',
    'sum_m_LP_m': 'rwas_LP_m',
    'sum_m_Total_m': 'rwas_Tot_m',
    'count_m1_CP_m1': 'n_cont_CP_m1',
    'count_m1_LP_m1': 'n_cont_LP_m1',
    'count_m1_Total_m1': 'n_cont_Tot_m1',
    'sum_m1_CP_m1': 'rwas_CP_m1',
    'sum_m1_LP_m1': 'rwas_LP_m1',
    'sum_m1_Total_m1': 'rwas_Tot_m1',
    'count_diff_CP_diff': 'n_cont_CP_diff',
    'count_diff_LP_diff': 'n_cont_LP_diff',
    'count_diff_Total_diff': 'n_cont_Tot_diff',
    'sum_diff_CP_diff': 'rwas_CP_diff',
    'sum_diff_LP_diff': 'rwas_LP_diff',
    'sum_diff_Total_diff': 'rwas_Tot_diff',
    'count_SA_CP_SA': 'n_cont_CP_SA',
    'count_SA_LP_SA': 'n_cont_LP_SA',
    'count_SA_Total_SA': 'n_cont_Tot_SA',
    'sum_SA_CP_SA': 'rwas_CP_SA',
    'sum_SA_LP_SA': 'rwas_LP_SA',
    'sum_SA_Total_SA': 'rwas_Tot_SA',
    'count_SI_mes_CP_SI_mes': 'n_cont_CP_SI_m',
    'count_SI_mes_LP_SI_mes': 'n_cont_LP_SI_m',
    'count_SI_mes_Total_SI_mes': 'n_cont_Tot_SI_m',
    'sum_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'sum_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'sum_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_renamed=comparison.rename(mapper=renamed_dict, axis="columns")

In [ ]:
# analisis contrapartidas por bancas - m vs m1 vs SA vs SI_mes ()

In [27]:
comparison_renamed

,banca,ctpa,n_cont_CP_m,n_cont_LP_m,n_cont_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_cont_CP_m1,n_cont_LP_m1,n_cont_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_cont_CP_diff,n_cont_LP_diff,n_cont_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_cont_CP_SA,n_cont_LP_SA,n_cont_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_cont_CP_SI_m,n_cont_LP_SI_m,n_cont_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,0083,2,0,2,"1,076,570.5250",0.0000,"1,076,570.5250",2,0,2,"422,977.8700",0.0000,"422,977.8700",0,0,0,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,0300,1,0,1,"389,789.0000",0.0000,"389,789.0000",1,0,1,"888,546.0600",0.0000,"888,546.0600",0,0,0,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,0010,7,0,7,"3,658,172.9250",0.0000,"3,658,172.9250",5,0,5,"2,896,673.0500",0.0000,"2,896,673.0500",2,0,2,"761,499.8750",0.0000,"761,499.8750",1.0000,0.0000,1.0000,"8,912.5000",0.0000,"8,912.5000",3.0000,0.0000,3.0000,"1,132,269.2750",0.0000,"1,132,269.2750"
3,0058,0083,189,8,197,"9,895,869.6100","7,321,578.1700","17,217,447.7800",191,9,200,"10,108,617.8602","7,211,491.3410","17,320,109.2012",-2,-1,-3,"-212,748.2502","110,086.8290","-102,661.4212",87.0000,2.0000,89.0000,"4,596,569.0924","52,773.0250","4,649,342.1174",85.0000,1.0000,86.0000,"4,504,783.9850","408,940.7500","4,913,724.7350"
4,0058,0252,7,0,7,"4,773,207.1200",0.0000,"4,773,207.1200",6,0,6,"4,451,920.2500",0.0000,"4,451,920.2500",1,0,1,"321,286.8700",0.0000,"321,286.8700",1.0000,0.0000,1.0000,"1,012,624.4400",0.0000,"1,012,624.4400",2.0000,0.0000,2.0000,"1,449,976.0000",0.0000,"1,449,976.0000"
5,0058,0300,10,0,10,"2,305,172.1500",0.0000,"2,305,172.1500",13,0,13,"1,677,815.3580",0.0000,"1,677,815.3580",-3,0,-3,"627,356.7920",0.0000,"627,356.7920",4.0000,0.0000,4.0000,"111,305.3200",0.0000,"111,305.3200",1.0000,0.0000,1.0000,"1,011,901.9000",0.0000,"1,011,901.9000"
6,0058,0501,0,3,3,0.0000,"243,857.9950","243,857.9950",0,3,3,0.0000,"247,560.5550","247,560.5550",0,0,0,0.0000,"-3,702.5600","-3,702.5600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0058,0505,0,2,2,0.0000,"1,341,560.6500","1,341,560.6500",0,2,2,0.0000,"1,356,140.4677","1,356,140.4677",0,0,0,0.0000,"-14,579.8177","-14,579.8177",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0058,0511,2,0,2,"235,835.5000",0.0000,"235,835.5000",3,0,3,"226,904.7620",0.0000,"226,904.7620",-1,0,-1,"8,930.7380",0.0000,"8,930.7380",2.0000,0.0000,2.0000,"151,676.1400",0.0000,"151,676.1400",1.0000,0.0000,1.0000,"66,119.7500",0.0000,"66,119.7500"
9,0058,0516,8,0,8,"2,994,923.7700",0.0000,"2,994,923.7700",11,0,11,"3,381,870.2215",0.0000,"3,381,870.2215",-3,0,-3,"-386,946.4515",0.0000,"-386,946.4515",5.0000,0.0000,5.0000,"1,166,349.5315",0.0000,"1,166,349.5315",2.0000,0.0000,2.0000,"1,120,432.8700",0.0000,"1,120,432.8700"
10,0058,0988,2,8,10,"1,060.0000","5,109,293.2750","5,110,353.2750",0,7,7,0.0000,"4,899,933.4850","4,899,933.4850",2,1,3,"1,060.0000","209,359.7900","210,419.7900",0.0000,1.0000,1.0000,0.0000,"2,042.6250","2,042.6250",2.0000,2.0000,4.0000,"1,060.0000","240,094.1250","241,154.1250"
11,8519,0083,7,0,7,"78,329.5000",0.0000,"78,329.5000",8,0,8,"57,624.6531",0.0000,"57,624.6531",-1,0,-1,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
12,Total,,235,21,256,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240,21,261,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5,0,-5,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [28]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed.to_excel(writer, sheet_name="banca_ctpa_cont_SA_SI", index=False)

In [ ]:
Column Name	Description								
banca	Identificador del tipo de banca								
ctpa	Identificador de la contrapartida asociada a la banca (area_id)								
n_cont_CP_m	numero contratos corto plazo de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_m	numero contratos largo plazo de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_m	numero total de contratos cp + lp de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_m	suma de aprs de los contratos de corto plazo de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_m	suma de aprs de los contratos de largo plazo de la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_m	suma del total de aprs cp + lp de la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_CP_m1	numero contratos corto plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_LP_m1	numero contratos largo plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_Tot_m1	numero total de contratos cp + lp de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_CP_m1	suma de aprs de los contratos de corto plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_LP_m1	suma de aprs de los contratos de largo plazo de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
rwas_Tot_m1	suma del total de aprs cp + lp de la contrapartida perteneciente a esa banca en el mes anterior (m1)								
n_cont_CP_diff	diferencia mes actual (m) contra mes anterior (m1) en el numero de contratos de corto plazo de la contrapartida perteneciente a esa banca 								
n_cont_LP_diff	diferencia mes actual (m) contra mes anterior (m1) en el numero de contratos de largo plazo de la contrapartida perteneciente a esa banca 								
num_cont_Tot_diff	diferencia total de contratos cp + lp del mes actual (m) contra el mes anterior (m1) para esa contrapartida perteneciente a esa banca								
rwas_CP_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos de corto plazo de la contrapartida perteneciente a esa banca								
rwas_LP_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos de largo plazo de la contrapartida perteneciente a esa banca								
rwas_Tot_diff	diferencia mes actual (m) contra mes anterior (m1) en la suma de aprs de contratos cp + lp de la contrapartida perteneciente a esa banca								
n_cont_CP_SA	numero contratos de corto plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_SA	numero contratos de largo plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_SA	numero contratos totales cp + lp que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_SA	suma de aprs de los contratos de corto plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_SA	suma de aprs de los contratos de largo plazo que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_SA	suma del total de aprs cp + lp de los contratos que salen de la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_CP_SI_m	numero contratos de corto plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_LP_SI_m	numero contratos de largo plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
n_cont_Tot_SI_m	numero total de contratos cp + lp que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_CP_SI_m	suma de los aprs de los contratos de corto plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_LP_SI_m	suma de los aprs de los contratos de largo plazo que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)								
rwas_Tot_SI_m	suma total de los aprs cp + lp de los contratos que entran en la bolsa para la contrapartida perteneciente a esa banca en el mes (m)

In [29]:
comparison_renamed.columns

Index(['banca', 'ctpa', 'n_cont_CP_m', 'n_cont_LP_m', 'n_cont_Tot_m',
       'rwas_CP_m', 'rwas_LP_m', 'rwas_Tot_m', 'n_cont_CP_m1', 'n_cont_LP_m1',
       'n_cont_Tot_m1', 'rwas_CP_m1', 'rwas_LP_m1', 'rwas_Tot_m1',
       'n_cont_CP_diff', 'n_cont_LP_diff', 'n_cont_Tot_diff', 'rwas_CP_diff',
       'rwas_LP_diff', 'rwas_Tot_diff', 'n_cont_CP_SA', 'n_cont_LP_SA',
       'n_cont_Tot_SA', 'rwas_CP_SA', 'rwas_LP_SA', 'rwas_Tot_SA',
       'n_cont_CP_SI_m', 'n_cont_LP_SI_m', 'n_cont_Tot_SI_m', 'rwas_CP_SI_m',
       'rwas_LP_SI_m', 'rwas_Tot_SI_m'],
      dtype='object')

#### Porcentages para contrapartida y banca y variaciones entre m y m1

In [16]:
# paso 1 - BASE de calculos: filtramos las columnas que nos interesan de la comparativa de conteo de contratos y sumatorio de rwas
# --------------------------------

comparison_renamed_filtered = comparison_renamed.loc[:,['banca', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_renamed_filtered

    banca  ctpa      rwas_Tot_m     rwas_Tot_m1  rwas_Tot_diff
0    0023  0083  1,076,570.5250    422,977.8700   653,592.6550
1    0023  0300    389,789.0000    888,546.0600  -498,757.0600
2    0058  0010  3,658,172.9250  2,896,673.0500   761,499.8750
3    0058  0083 17,217,447.7800 17,320,109.2012  -102,661.4212
4    0058  0252  4,773,207.1200  4,451,920.2500   321,286.8700
5    0058  0300  2,305,172.1500  1,677,815.3580   627,356.7920
6    0058  0501    243,857.9950    247,560.5550    -3,702.5600
7    0058  0505  1,341,560.6500  1,356,140.4677   -14,579.8177
8    0058  0511    235,835.5000    226,904.7620     8,930.7380
9    0058  0516  2,994,923.7700  3,381,870.2215  -386,946.4515
10   0058  0988  5,110,353.2750  4,899,933.4850   210,419.7900
11   8519  0083     78,329.5000     57,624.6531    20,704.8469
12  Total       39,425,220.1900 37,828,075.9335 1,597,144.2565

In [17]:
# === 2. Porcentajes por banca y ctpa ===

comparison_renamed_filtered['pct_var_rwas_MoM'] = (
    ((comparison_renamed_filtered['rwas_Tot_m'] - comparison_renamed_filtered['rwas_Tot_m1']) / 
     comparison_renamed_filtered['rwas_Tot_m1'].replace(0, pd.NA))
)

grand_total_m = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m'].values[0]
grand_total_m1 = comparison_renamed_filtered.loc[comparison_renamed_filtered['banca'] == 'Total', 'rwas_Tot_m1'].values[0]

comparison_renamed_filtered['Grand_Tot_m'] = grand_total_m
comparison_renamed_filtered['Grand_Tot_m1'] = grand_total_m1

# Compute the new column
comparison_renamed_filtered['pct_Grand_Tot_m'] = comparison_renamed_filtered['rwas_Tot_m'] / grand_total_m
comparison_renamed_filtered['pct_Grand_Tot_m1'] = comparison_renamed_filtered['rwas_Tot_m1'] / grand_total_m1

comparison_renamed_filtered['pct_var_GT_MoM'] = (
    ((comparison_renamed_filtered['pct_Grand_Tot_m'] - comparison_renamed_filtered['pct_Grand_Tot_m1']) / 
     comparison_renamed_filtered['pct_Grand_Tot_m1'].replace(0, pd.NA))
)

# Totales por banca y ctpa
comparison_renamed_filtered['ctpa_Tot_m'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m'].transform('sum')
comparison_renamed_filtered['ctpa_Tot_m1'] = comparison_renamed_filtered.groupby(['ctpa'])['rwas_Tot_m1'].transform('sum')

comparison_renamed_filtered['ctpa_Tot_diff'] = comparison_renamed_filtered['ctpa_Tot_m'] - comparison_renamed_filtered['ctpa_Tot_m1']

# % por ctpa dentro de banca (m y m1)
comparison_renamed_filtered['pct_ctpa_Tot_m'] = (comparison_renamed_filtered['rwas_Tot_m'] / comparison_renamed_filtered['ctpa_Tot_m'])
comparison_renamed_filtered['pct_ctpa_Tot_m1'] = (comparison_renamed_filtered['rwas_Tot_m1'] / comparison_renamed_filtered['ctpa_Tot_m1'])

comparison_renamed_filtered['pct_var_ctpa_Tot_MoM'] = (
    ((comparison_renamed_filtered['pct_ctpa_Tot_m'] - comparison_renamed_filtered['pct_ctpa_Tot_m1']) / 
     comparison_renamed_filtered['pct_ctpa_Tot_m1'].replace(0, pd.NA))
)

ordered_list = [
    'banca',
    'ctpa',
    'rwas_Tot_m',
    'Grand_Tot_m',
    'pct_Grand_Tot_m',
    'rwas_Tot_m1',
    'Grand_Tot_m1',
    'pct_Grand_Tot_m1',
    'rwas_Tot_diff',
    'pct_var_rwas_MoM',
    'pct_var_GT_MoM',
    'ctpa_Tot_m',
    'pct_ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
]

comparison_renamed_filtered_final = comparison_renamed_filtered.loc[:,ordered_list]

cols_to_blank_zero = [
    'ctpa_Tot_m',
    'ctpa_Tot_m1',
    'pct_ctpa_Tot_m',
    'pct_ctpa_Tot_m1',
    'ctpa_Tot_diff',
    'pct_var_ctpa_Tot_MoM'
    
]

# Set values in last row (index 12) to blank (None or NaN)
#df.loc[12, cols_to_blank] = None
#comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['area_id'] == 'Total', cols_to_blank_zero] = None

# Set those columns to 0.00 for the 'Total' row (row 12 or where area_id == 'Total')
comparison_renamed_filtered_final.loc[comparison_renamed_filtered_final['banca'] == 'Total', cols_to_blank_zero] = 0.0000


#comparison_renamed_filtered_final.loc['12',['ctpa_total_m','ctpa_total_m1', 'pct_ctpa_totales_m', 'pct_ctpa_totales_m1','pct_ctpa_mom_totales_rel']] = 0.0000

In [102]:
653592.6550/422977.87

1.5452171410291513

In [18]:
comparison_renamed_filtered_final

,banca,ctpa,rwas_Tot_m,Grand_Tot_m,pct_Grand_Tot_m,rwas_Tot_m1,Grand_Tot_m1,pct_Grand_Tot_m1,rwas_Tot_diff,pct_var_rwas_MoM,pct_var_GT_MoM,ctpa_Tot_m,pct_ctpa_Tot_m,ctpa_Tot_m1,pct_ctpa_Tot_m1,ctpa_Tot_diff,pct_var_ctpa_Tot_MoM
0,0023,0083,"1,076,570.5250","39,425,220.1900",0.0273,"422,977.8700","37,828,075.9335",0.0112,"653,592.6550",1.5452,1.4421,"18,372,347.8050",0.0586,"17,800,711.7243",0.0238,"571,636.0807",1.4660
1,0023,0300,"389,789.0000","39,425,220.1900",0.0099,"888,546.0600","37,828,075.9335",0.0235,"-498,757.0600",-0.5613,-0.5791,"2,694,961.1500",0.1446,"2,566,361.4180",0.3462,"128,599.7320",-0.5823
2,0058,0010,"3,658,172.9250","39,425,220.1900",0.0928,"2,896,673.0500","37,828,075.9335",0.0766,"761,499.8750",0.2629,0.2117,"3,658,172.9250",1.0000,"2,896,673.0500",1.0000,"761,499.8750",0.0000
3,0058,0083,"17,217,447.7800","39,425,220.1900",0.4367,"17,320,109.2012","37,828,075.9335",0.4579,"-102,661.4212",-0.0059,-0.0462,"18,372,347.8050",0.9371,"17,800,711.7243",0.9730,"571,636.0807",-0.0369
4,0058,0252,"4,773,207.1200","39,425,220.1900",0.1211,"4,451,920.2500","37,828,075.9335",0.1177,"321,286.8700",0.0722,0.0287,"4,773,207.1200",1.0000,"4,451,920.2500",1.0000,"321,286.8700",0.0000
5,0058,0300,"2,305,172.1500","39,425,220.1900",0.0585,"1,677,815.3580","37,828,075.9335",0.0444,"627,356.7920",0.3739,0.3183,"2,694,961.1500",0.8554,"2,566,361.4180",0.6538,"128,599.7320",0.3084
6,0058,0501,"243,857.9950","39,425,220.1900",0.0062,"247,560.5550","37,828,075.9335",0.0065,"-3,702.5600",-0.0150,-0.0549,"243,857.9950",1.0000,"247,560.5550",1.0000,"-3,702.5600",0.0000
7,0058,0505,"1,341,560.6500","39,425,220.1900",0.0340,"1,356,140.4677","37,828,075.9335",0.0359,"-14,579.8177",-0.0108,-0.0508,"1,341,560.6500",1.0000,"1,356,140.4677",1.0000,"-14,579.8177",0.0000
8,0058,0511,"235,835.5000","39,425,220.1900",0.0060,"226,904.7620","37,828,075.9335",0.0060,"8,930.7380",0.0394,-0.0027,"235,835.5000",1.0000,"226,904.7620",1.0000,"8,930.7380",0.0000
9,0058,0516,"2,994,923.7700","39,425,220.1900",0.0760,"3,381,870.2215","37,828,075.9335",0.0894,"-386,946.4515",-0.1144,-0.1503,"2,994,923.7700",1.0000,"3,381,870.2215",1.0000,"-386,946.4515",0.0000
10,0058,0988,"5,110,353.2750","39,425,220.1900",0.1296,"4,899,933.4850","37,828,075.9335",0.1295,"210,419.7900",0.0429,0.0007,"5,110,353.2750",1.0000,"4,899,933.4850",1.0000,"210,419.7900",0.0000
11,8519,0083,"78,329.5000","39,425,220.1900",0.0020,"57,624.6531","37,828,075.9335",0.0015,"20,704.8469",0.3593,0.3042,"18,372,347.8050",0.0043,"17,800,711.7243",0.0032,"571,636.0807",0.3170
12,Total,,"39,425,220.1900","39,425,220.1900",1.0000,"37,828,075.9335","37,828,075.9335",1.0000,"1,597,144.2565",0.0422,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [27]:
stacked = comparison_renamed_filtered_final.iloc[:,[0,1,4]]
stacked = stacked.iloc[:-1]
stacked

   banca  ctpa  pct_Grand_Tot_m
0   0023  0083           0.0273
1   0023  0300           0.0099
2   0058  0010           0.0928
3   0058  0083           0.4367
4   0058  0252           0.1211
5   0058  0300           0.0585
6   0058  0501           0.0062
7   0058  0505           0.0340
8   0058  0511           0.0060
9   0058  0516           0.0760
10  0058  0988           0.1296
11  8519  0083           0.0020

In [19]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_renamed_filtered_final.to_excel(writer, sheet_name="banca_ctpa_ratios", index=False)

In [ ]:
Column Name	Description
banca	Identificador del tipo de banca
ctpa	Identificador de la contrapartida asociada a la banca (area_id)
rwas_Tot_m	Total de APRs de la contrapartida en la banca asociada en el mes actual (m). Es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada.
Grand_Tot_m	Total de APRs mes actual
pct_Grand_Tot_m	Porcentage de APRs que representa la contrapartida asociada a la banca respecto al total de APRs del mes actual (rwas_Total_m/grand_total_m)
rwas_Tot_m1	Total de APRs de la contrapartida en la banca asociada en el mes anterior (m1). Es un agrupado que representa el 100% de los APRs de la contrapartida en la banca asociada.
Grand_Tot_m1	Total de APRs mes anterior
pct_Grand_Tot_m1	Porcentage de APRs que representaba la contrapartida asociada a la banca respecto al total de APRs el mes anterior (rwas_Total_m1/grand_total_m1)
rwas_Tot_diff	Variación neta del total de APRs de la contrapartida en la banca asociada entre el mes actual (m) y el mes anterior (m1). Calculado como: rwas_Total_m - rwas_Total_m1.
	
pct_var_rwas_MoM	Variación relativa del total de APRs de la contrapartida en la banca asociada entre el mes actual (m) y el mes anterior (m1). Calculado como: (pct_Grand_Tot_m - pct_Grand_Tot_m1)/pct_Grand_Tot_m1
	cuanto han variado los aprs de la 0083 pertenecientes a la banca 0023 de un mes a otro en terminos porcentuales
	
pct_var_GT_MoM	Variación relativa del total de APRs de la contrapartida entre el mes actual (m) y el mes anterior (m1). Calculado como: rwas_Total_diff / rwas_Total_m1.
	cuanto ha variado el peso que tenian los APRs de la contrapartida 0083 para la banca 0023 sobre el total de APRs global de un mes a otro
	variacion relativa entre pct_of_grand_total_m y pct_of_grand_total_m1
	la contrapartida 0083 de la banca 0023 ha incrementado su peso en un 154.52% de un mes a otro pasando de representar un 1.12% del total de APRs en m1 a un 2.73% en m
	
ctpa_Tot_m	Total neto de APRs que representa esa contrapartida para todas las bancas en mes actual (m)  (sumatorio de la misma contrapartida para todas las bancas)
	
pct_ctpa_Tot_m	Peso en porcentaje que representa esa contrapartida en esa banca respecto al total de su contrapartida en el mes actual. Calculado como: rwas_Total_m / ctpa_Tot_m.
	
ctpa_Tot_m1	Total neto de APRs que representa esa contrapartida para todas las bancas en mes anterior(m1)  (sumatorio de la misma contrapartida para todas las bancas)
	
pct_ctpa_Tot_m1	Peso en porcentaje que representa esa contrapartida en esa banca respecto al total de su contrapartida en el mes anterior. Calculado como: rwas_Total_m1 / ctpa_Tot_m1.
	
ctpa_Tot_diff	Variación neta del total de APRs del total de contrapartida en el mes(m) respecto al total en mes anterior (m1).
pct_var_ctpa_Tot_MoM	Variación relativa del peso porcentual que representa esa contrapartida entre el mes actual y el anterior.

# === 3. 

comparison_renamed_filtered['pct_ctpa_vs_banca_rel'] = (
    ((comparison_renamed_filtered['pct_ctpa_vs_banca_m'] - comparison_renamed_filtered['pct_ctpa_vs_banca_m1']) / 
     comparison_renamed_filtered['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
)

# === Redondear ===
cols_to_round = [
    'pct_ctpa_vs_banca_m', 'pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
]

comparison_renamed_filtered_perct = comparison_renamed_filtered.loc[:,['area_id', 'ctpa_id','rwas_Total_m','rwas_Total_m1','rwas_Total_diff'] + cols_to_round].round(2)

In [20]:
comparison_renamed_filtered_final.columns

Index(['banca', 'ctpa', 'rwas_Tot_m', 'Grand_Tot_m', 'pct_Grand_Tot_m',
       'rwas_Tot_m1', 'Grand_Tot_m1', 'pct_Grand_Tot_m1', 'rwas_Tot_diff',
       'pct_var_rwas_MoM', 'pct_var_GT_MoM', 'ctpa_Tot_m', 'pct_ctpa_Tot_m',
       'ctpa_Tot_m1', 'pct_ctpa_Tot_m1', 'ctpa_Tot_diff',
       'pct_var_ctpa_Tot_MoM'],
      dtype='object')

In [22]:
# analisis clientes
pd.options.display.max_rows = 70
clim = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

clim1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id"],
	values=['contract_id',"prof_ratio_rorc_amount", "rwas_regul_capital_amount"],
	aggfunc={'contract_id':'count',"prof_ratio_rorc_amount": "max", "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
).sort_values(by=["level60_operarea_id", "rwas_regul_capital_amount"], ascending=[True, False])

In [23]:
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    'contract_id',
    'prof_ratio_rorc_amount',
    'rwas_regul_capital_amount'
]

# Calculate the difference for the selected columns
cli_m_m1 = clim[cols_to_compare].sub(clim1[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparisoncli = pd.concat(
    [
        clim[cols_to_compare].add_suffix('_m2'),
        clim1[cols_to_compare].add_suffix('_m_12'),
        cli_m_m1.add_suffix('_diff'),
        clim_SA.add_suffix('_SA'),
        clim_SI_mes.add_suffix('_SI_mes')
    ],
    axis=1
)

comparisoncli

                                 contract_id_m2  prof_ratio_rorc_amount_m2  \
level60_operarea_id customer_id
0023                012225332                 3                     0.0806
0058                007652980                 4                     0.0310
                    030695078                 7                    -0.0083
                    010134184                 7                     0.0619
                    000992836                 2                     0.0831
                    002362927                 7                     0.0741
                    001005370                 2                     0.0687
                    028407710                 3                    -0.1537
                    029170892                 4                     0.0765
                    010228209                 2                     0.0724
                    013644107                 4                     0.0533
                    000163104                 2                     0.0644
                    000057385                 6                     0.0864
                    000147893                 3                     0.0278
                    000115593                 3                     0.0650
                    011097471                 7                     0.0652
                    000059569                 6                     0.0734
                    051751124                 2                     0.0464
                    007685983                 7                     0.0735
                    016069816                 5                     0.0760
                    000259175                 6                     0.0263
                    040297019                 6                     0.0814
                    050339197                 2                     0.0414
                    010426433                 2                     0.0488
                    000032713                 6                     0.1008
                    033127399                 4                     0.0776
                    053704889                 2                     0.0864
                    009637729                 3                     0.0453
                    011717815                 2                     0.0567
                    059949867                 3                     0.0804
                    012246142                 3                     0.0092
                    009427237                 4                     0.0761
                    034908347                 5                    -0.0881
                    024442741                 5                     0.0333
                    002715853                 6                     0.0662
                    012054659                 4                     0.0898
                    008271052                 3                     0.0349
                    001163997                 6                     0.0832
                    003883696                 3                     0.0355
                    014742380                 3                     0.0727
                    029872299                 5                     0.0960
                    013042517                 6                     0.0634
                    032729761                 2                     0.0941
                    028915227                 8                    -0.5108
                    008072751                 2                     0.0930
                    035455654                 3                     0.0728
                    005609283                 5                     0.0178
                    027781126                 4                    -0.0093
                    030724363                 5                     0.0113
                    038094323                 5                     0.0390
                    052979558                 3                     0.0145
                    017633949                 2                     0.0541
                    021836410                 7                     0.1006
                    005479572                 3                     0.0648
                    050180900                 2                    -0.0491
                    059835368                 5                     0.0806
                    035201264                 3                    -0.0227
                    034807425                 4                     0.0654
                    052282112                 4                    -0.1001
                    001278519                 2                     0.0834
                    013371101                 3                    -0.0166
                    064682707                 2                     0.0713
8519                055890379                 7                     0.0463
Total                                       256                     0.1008

                                 rwas_regul_capital_amount_m2  \
level60_operarea_id customer_id
0023                012225332                  1,466,359.5250
0058                007652980                  5,062,834.1500
                    030695078                  4,773,207.1200
                    010134184                  4,434,608.2700
                    000992836                  2,766,053.3200
                    002362927                  2,092,553.4950
                    001005370                  2,062,331.3000
                    028407710                  1,452,246.7750
                    029170892                  1,214,645.1000
                    010228209                    929,501.7500
                    013644107                    917,550.5250
                    000163104                    799,935.1200
                    000057385                    734,386.1250
                    000147893                    663,894.8700
                    000115593                    650,166.8800
                    011097471                    639,363.5000
                    000059569                    632,266.5000
                    051751124                    622,660.5000
                    007685983                    572,496.1300
                    016069816                    533,289.0000
                    000259175                    475,397.2500
                    040297019                    391,753.0000
                    050339197                    299,873.3700
                    010426433                    277,079.6250
                    000032713                    266,977.7500
                    033127399                    263,737.6250
                    053704889                    243,143.0000
                    009637729                    234,792.3750
                    011717815                    209,135.3750
                    059949867                    206,693.6200
                    012246142                    195,098.1200
                    009427237                    190,098.7500
                    034908347                    189,497.5000
                    024442741                    181,997.3750
                    002715853                    167,857.0000
                    012054659                    165,555.6250
                    008271052                    165,187.0000
                    001163997                    163,282.2500
                    003883696                    163,275.8750
                    014742380                    157,426.6250
                    029872299                    155,075.3750
                    013042517                    154,671.0000
                    032729761                    132,286.2500
                    028915227                    130,412.0000
                    008072751                    129,543.5000
                    035455654                    123,931.5000
                    005609283                    117,063.0000
                    027781126                    115,397.2500
                    030724363                    110,213.3750
                    038094323                     80,992.8750
                    052979558                     73,005.7500
                    017633949                     59,886.2500
                    021836410                     56,599.2500
                    005479572                     49,819.6250
                    050180900                     49,761.6250
                    059835368                     47,595.0000
                    035201264                     36,757.5000
                    034807425                     36,753.0000
                    052282112                     22,654.7500
                    001278519                     18,363.5000
                    013371101                      9,787.7500
                    064682707                      8,111.5000
8519                055890379                     78,329.5000
Total                                         39,425,220.1900

                                 contract_id_m_12  \
level60_operarea_id customer_id
0023                012225332                   3
0058                007652980                   4
                    030695078                   6
                    010134184                   7
                    000992836                   3
                    002362927                   6
                    001005370                   2
                    028407710                   3
                    029170892                   3
                    010228209                   3
                    013644107                   3
                    000163104                   2
                    000057385                   6
                    000147893                   5
                    000115593                   3
                    011097471                   8
                    000059569                   6
                    051751124                   2
                    007685983                   6
                    016069816                   5
                    000259175                   4
                    040297019                   4
                    050339197                   2
                    010426433                   2
                    000032713                   4
                    033127399                   3
                    053704889                   2
                    009637729                   4
                    011717815                   3
                    059949867                   3
                    012246142                   4
                    009427237                   2
                    034908347                   5
                    024442741                   5
                    002715853                   6
                    012054659                   2
                    008271052                   5
                    001163997                   6
                    003883696                   4
                    014742380                   4
                    029872299                   5
                    013042517                   5
                    032729761                   3
                    028915227                   7
                    008072751                   2
                    035455654                   3
                    005609283                   6
                    027781126                   5
                    030724363                   8
                    038094323                   4
                    052979558                   3
                    017633949                   3
                    021836410                   7
                    005479572                   3
                    050180900                   4
                    059835368                   6
                    035201264                   3
                    034807425                   3
                    052282112                   4
                    001278519                   2
                    013371101                   4
                    064682707                   3
8519                055890379                   8
Total                                         261

                                 prof_ratio_rorc_amount_m_12  \
level60_operarea_id customer_id
0023                012225332                         0.0916
0058                007652980                         0.0317
                    030695078                         0.0086
                    010134184                         0.0609
                    000992836                         0.0970
                    002362927                         0.0764
                    001005370                         0.0680
                    028407710                        -0.1604
                    029170892                         0.0816
                    010228209                         0.0718
                    013644107                         0.0456
                    000163104                         0.0672
                    000057385                         0.0838
                    000147893                         0.0262
                    000115593                         0.0604
                    011097471                         0.0726
                    000059569                         0.0722
                    051751124                         0.0433
                    007685983                         0.0808
                    016069816                         0.0695
                    000259175                         0.0379
                    040297019                         0.0797
                    050339197                         0.0361
                    010426433                         0.0555
                    000032713                         0.0963
                    033127399                         0.0848
                    053704889                         0.0867
                    009637729                         0.0546
                    011717815                         0.0558
                    059949867                         0.0674
                    012246142                         0.0018
                    009427237                         0.0743
                    034908347                        -0.0795
                    024442741                         0.0175
                    002715853                         0.0657
                    012054659                         0.0821
                    008271052                         0.0289
                    001163997                         0.0813
                    003883696                         0.0300
                    014742380                         0.0696
                    029872299                         0.0964
                    013042517                         0.0575
                    032729761                         0.0963
                    028915227                        -0.4649
                    008072751                         0.0942
                    035455654                         0.0735
                    005609283                         0.0099
                    027781126                        -0.0258
                    030724363                         0.0152
                    038094323                         0.0285
                    052979558                         0.0067
                    017633949                         0.0569
                    021836410                         0.0993
                    005479572                         0.0577
                    050180900                        -0.0994
                    059835368                         0.0325
                    035201264                        -0.0370
                    034807425                         0.0685
                    052282112                        -0.1525
                    001278519                         0.0822
                    013371101                        -0.0290
                    064682707                         0.0643
8519                055890379                         0.0082
Total                                                 0.0993

                                 rwas_regul_capital_amount_m_12  \
level60_operarea_id customer_id
0023                012225332                    1,311,523.9300
0058                007652980                    4,910,528.0220
                    030695078                    4,451,920.2500
                    010134184                    4,499,923.2340
                    000992836                    2,764,915.4575
                    002362927                    1,913,556.4600
                    001005370                    1,063,353.1000
                    028407710                    1,977,691.5600
                    029170892                      943,866.4630
                    010228209                      218,103.3430
                    013644107                       15,519.6930
                    000163104                      753,295.9800
                    000057385                      774,301.2100
                    000147893                      352,314.9640
                    000115593                      725,554.8300
                    011097471                      572,456.4560
                    000059569                      629,906.1800
                    051751124                    1,854,251.5400
                    007685983                      676,187.6450
                    016069816                      531,964.1160
                    000259175                      271,166.0500
                    040297019                      329,104.1060
                    050339197                      229,127.0900
                    010426433                      269,517.0000
                    000032713                      252,787.2030
                    033127399                      179,325.3700
                    053704889                      244,309.5600
                    009637729                      479,209.8930
                    011717815                      254,089.0255
                    059949867                      257,654.1180
                    012246142                      266,063.1110
                    009427237                      132,605.3700
                    034908347                      108,320.5977
                    024442741                      229,730.2817
                    002715853                      124,346.6055
                    012054659                      142,208.2300
                    008271052                      305,054.9360
                    001163997                      195,325.4230
                    003883696                      315,372.4160
                    014742380                      200,823.9700
                    029872299                       95,397.4800
                    013042517                      154,728.5603
                    032729761                      147,177.9130
                    028915227                      108,443.7424
                    008072751                      167,285.3210
                    035455654                      103,044.5560
                    005609283                      155,221.7630
                    027781126                      147,292.8774
                    030724363                      153,286.9900
                    038094323                      116,588.9420
                    052979558                       75,263.0920
                    017633949                       61,696.8340
                    021836410                       58,227.6453
                    005479572                       72,511.4750
                    050180900                      129,682.5580
                    059835368                       57,098.3189

In [24]:
cols_to_save = [
    'level60_operarea_id', 
    'customer_id',  # add index columns
    'contract_id_m2', 
    'prof_ratio_rorc_amount_m2',
    'rwas_regul_capital_amount_m2', 
    'contract_id_m_12',
    'prof_ratio_rorc_amount_m_12',
    'rwas_regul_capital_amount_m_12',
    'contract_id_diff', 
    'rwas_regul_capital_amount_diff', 
    'contract_id_SA',
    'rwas_regul_capital_amount_SA',
    'contract_id_SI_mes', 
    'rwas_regul_capital_amount_SI_mes'
]
# 'prof_ratio_rorc_amount_diff',
# 'prof_ratio_rorc_amount_SA',
#  'prof_ratio_rorc_amount_SI_mes',

# Reset index to include index columns as regular columns
comparisoncli_reset = comparisoncli.reset_index()


comparisoncli_reset=comparisoncli_reset.loc[:,cols_to_save]

In [25]:
comparisoncli_reset

,level60_operarea_id,customer_id,contract_id_m2,prof_ratio_rorc_amount_m2,rwas_regul_capital_amount_m2,contract_id_m_12,prof_ratio_rorc_amount_m_12,rwas_regul_capital_amount_m_12,contract_id_diff,rwas_regul_capital_amount_diff,contract_id_SA,rwas_regul_capital_amount_SA,contract_id_SI_mes,rwas_regul_capital_amount_SI_mes
0,0023,012225332,3,0.0806,"1,466,359.5250",3,0.0916,"1,311,523.9300",0,"154,835.5950",1,"312,982.1200",1,"968,228.9000"
1,0058,007652980,4,0.0310,"5,062,834.1500",4,0.0317,"4,910,528.0220",0,"152,306.1280",1,"44,651.7500",1,"237,731.0000"
2,0058,030695078,7,-0.0083,"4,773,207.1200",6,0.0086,"4,451,920.2500",1,"321,286.8700",1,"1,012,624.4400",2,"1,449,976.0000"
3,0058,010134184,7,0.0619,"4,434,608.2700",7,0.0609,"4,499,923.2340",0,"-65,314.9640",1,"101,319.4140",1,"113,850.8750"
4,0058,000992836,2,0.0831,"2,766,053.3200",3,0.0970,"2,764,915.4575",-1,"1,137.8625",2,"441,483.2575",1,"465,051.1200"
5,0058,002362927,7,0.0741,"2,092,553.4950",6,0.0764,"1,913,556.4600",1,"178,997.0350",1,"189,436.3400",2,"496,906.0000"
6,0058,001005370,2,0.0687,"2,062,331.3000",2,0.0680,"1,063,353.1000",0,"998,978.2000",1,0.0000,1,"1,011,901.9000"
7,0058,028407710,3,-0.1537,"1,452,246.7750",3,-0.1604,"1,977,691.5600",0,"-525,444.7850",2,"626,155.9600",2,"115,226.3750"
8,0058,029170892,4,0.0765,"1,214,645.1000",3,0.0816,"943,866.4630",1,"270,778.6370",2,"279,038.2230",3,"570,966.5000"
9,0058,010228209,2,0.0724,"929,501.7500",3,0.0718,"218,103.3430",-1,"711,398.4070",2,"108,163.7650",1,"871,212.7500"
10,0058,013644107,4,0.0533,"917,550.5250",3,0.0456,"15,519.6930",1,"902,030.8320",1,"2,042.6250",2,"913,450.5250"
11,0058,000163104,2,0.0644,"799,935.1200",2,0.0672,"753,295.9800",0,"46,639.1400",1,"82,835.7800",1,"249,220.1200"
12,0058,000057385,6,0.0864,"734,386.1250",6,0.0838,"774,301.2100",0,"-39,915.0850",3,"69,280.2150",3,"64,184.8750"
13,0058,000147893,3,0.0278,"663,894.8700",5,0.0262,"352,314.9640",-2,"311,579.9060",4,"56,098.9040",2,"367,808.1200"
14,0058,000115593,3,0.0650,"650,166.8800",3,0.0604,"725,554.8300",0,"-75,387.9500",1,"143,217.2800",1,"142,243.1200"
15,0058,011097471,7,0.0652,"639,363.5000",8,0.0726,"572,456.4560",-1,"66,907.0440",2,"60,871.0240",1,"34,184.1250"
16,0058,000059569,6,0.0734,"632,266.5000",6,0.0722,"629,906.1800",0,"2,360.3200",1,"51,758.7400",1,"53,849.3750"
17,0058,051751124,2,0.0464,"622,660.5000",2,0.0433,"1,854,251.5400",0,"-1,231,591.0400",1,"810,413.4000",1,"66,119.7500"
18,0058,007685983,7,0.0735,"572,496.1300",6,0.0808,"676,187.6450",1,"-103,691.5150",1,"95,039.1250",2,"1,060.0000"
19,0058,016069816,5,0.0760,"533,289.0000",5,0.0695,"531,964.1160",0,"1,324.8840",1,"43,718.7400",1,"45,085.8750"
20,0058,000259175,6,0.0263,"475,397.2500",4,0.0379,"271,166.0500",2,"204,231.2000",1,"115,909.6700",3,"232,430.0000"
21,0058,040297019,6,0.0814,"391,753.0000",4,0.0797,"329,104.1060",2,"62,648.8940",2,"134,145.6160",4,"197,144.7500"
22,0058,050339197,2,0.0414,"299,873.3700",2,0.0361,"229,127.0900",0,"70,746.2800",1,"45,384.6250",1,"117,228.7500"
23,0058,010426433,2,0.0488,"277,079.6250",2,0.0555,"269,517.0000",0,"7,562.6250",1,"114,016.0300",1,"121,388.8750"
24,0058,000032713,6,0.1008,"266,977.7500",4,0.0963,"252,787.2030",2,"14,190.5470",1,"69,898.4140",3,"84,801.7500"
25,0058,033127399,4,0.0776,"263,737.6250",3,0.0848,"179,325.3700",1,"84,412.2550",1,"71,277.7400",2,"155,847.0000"
26,0058,053704889,2,0.0864,"243,143.0000",2,0.0867,"244,309.5600",0,"-1,166.5600",1,"122,166.3300",1,"121,493.5000"
27,0058,009637729,3,0.0453,"234,792.3750",4,0.0546,"479,209.8930",-1,"-244,417.5180",2,"48,508.4770",1,"104,853.1250"
28,0058,011717815,2,0.0567,"209,135.3750",3,0.0558,"254,089.0255",-1,"-44,953.6505",2,"64,331.7155",1,"27,596.8750"
29,0058,059949867,3,0.0804,"206,693.6200",3,0.0674,"257,654.1180",0,"-50,960.4980",1,"18,727.8550",1,"18,671.3750"
30,0058,012246142,3,0.0092,"195,098.1200",4,0.0018,"266,063.1110",-1,"-70,964.9910",2,"107,335.8710",1,"36,550.5000"
31,0058,009427237,4,0.0761,"190,098.7500",2,0.0743,"132,605.3700",2,"57,493.3800",1,"59,721.4200",3,"117,183.7500"
32,0058,034908347,5,-0.0881,"189,497.5000",5,-0.0795,"108,320.5977",0,"81,176.9023",2,"44,894.3020",2,"126,563.3750"
33,0058,024442741,5,0.0333,"181,997.3750",5,0.0175,"229,730.2817",0,"-47,732.9067",3,"151,284.8267",3,"103,592.7500"
34,0058,002715853,6,0.0662,"167,857.0000",6,0.0657,"124,346.6055",0,"43,510.3945",2,"58,569.0000",2,"104,994.6250"
35,0058,012054659,4,0.0898,"165,555.6250",2,0.0821,"142,208.2300",2,"23,347.3950",1,"85,103.1000",3,"104,795.6250"
36,0058,008271052,3,0.0349,"165,187.0000",5,0.0289,"305,054.9360",-2,"-139,867.9360",3,"151,483.4420",1,"11,158.1250"
37,0058,001163997,6,0.0832,"163,282.2500",6,0.0813,"195,325.4230",0,"-32,043.1730",2,"88,240.9690",2,"56,372.0000"
38,0058,003883696,3,0.0355,"163,275.8750",4,0.0300,"315,372.4160",-1,"-152,096.5410",2,"44,491.2500",1,"24,081.0000"
39,0058,014742380,3,0.0727,"157,426.6250",4,0.0696,"200,823.9700",-1,"-43,397.3450",3,"176,499.5880",2,"124,007.2500"
40,0058,029872299,5,0.0960,"155,075.3750",5,0.0964,"95,397.4800",0,"59,677.8950",1,"24,016.7130",1,"84,508.0000"
41,0058,013042517,6,0.0634,"154,671.0000",5,0.0575,"154,728.5603",1,-57.5603,1,"42,034.3400",2,"42,228.2500"
42,0058,032729761,2,0.0941,"132,286.2500",3,0.0963,"147,177.9130",-1,"-14,891.6630",2,"117,540.4470",1,"103,688.5000"
43,0058,028915227,8,-0.5108,"130,412.0000",7,-0.4649,"108,443.7424",1,"21,968.2576",1,"11,278.4050",2,"33,280.3750"
44,0058,008072751,2,0.0930,"129,543.5000",2,0.0942,"167,285.3210",0,"-37,741.8210",1,"220,305.0000",1,"31,818.5000"
45,0058,035455654,3,0.0728,"123,931.5000",3,0.0735,"103,044.5560",0,"20,886.9440",1,"25,767.4700",1,"31,113.7500"
46,0058,005609283,5,0.0178,"117,063.0000",6,0.0099,"155,221.7630",-1,"-38,158.7630",2,"60,699.4250",1,"22,675.1250"
47,0058,027781126,4,-0.0093,"115,397.2500",5,-0.0258,"147,292.8774",-1,"-31,895.6274",3,"104,799.0574",2,"72,812.8750"
48,0058,030724363,5,0.0113,"110,213.3750",8,0.0152,"153,286.9900",-3,"-43,073.6150",4,"64,390.0850",1,"21,638.1250"
49,0058,038094323,5,0.0390,"80,992.8750",4,0.0285,"116,588.9420",1,"-35,596.0670",2,"83,404.7520",3,"48,147.7500"
50,0058,052979558,3,0.0145,"73,005.7500",3,0.0067,"75,263.0920",0,"-2,257.3420",2,"33,830.0020",2,"32,033.2500"
51,0058,017633949,2,0.0541,"59,886.2500",3,0.0569,"61,696.8340",-1,"-1,810.5840",2,"41,018.9020",1,"35,284.1250"
52,0058,021836410,7,0.1006,"56,599.2500",7,0.0993,"58,227.6453",0,"-1,628.3953",1,"3,079.9600",1,"1,607.5000"
53,0058,005479572,3,0.0648,"49,819.6250",3,0.0577,"72,511.4750",0,"-22,691.8500",1,"30,482.3280",1,"8,430.2500"
54,0058,050180900,2,-0.0491,"49,761.6250",4,-0.0994,"129,682.5580",-2,"-79,920.9330",3,"80,692.0580",1,"8,950.2500"
55,0058,059835368,5,0.0806,"47,595.0000",6,0.0325,"57,098.3189",-1,"-9,503.3189",2,"14,082.3799",1,"8,936.7500"
56,0058,035201264,3,-0.0227,"36,757.5000",3,-0.0370,"42,085.7493",0,"-5,328.2493",1,"25,158.0000",1,"20,591.6250"
57,0058,034807425,4,0.0654,"36,753.0000",3,0.0685,"101,342.6870",1,"-64,589.6870",2,"58,176.0770",3,"29,242.2500"
58,0058,052282112,4,-0.1001,"22,654.7500",4,-0.1525,"13,708.4273",0,"8,946.3227",2,"6,530.6899",2,"15,477.7500"
59,0058,001278519,2,0.0834,"18,363.5000",2,0.0822,"23,610.8870",0,"-5,247.3870",1,"17,215.2070",1,"15,021.6250"
60,0058,013371101,3,-0.0166,"9,787.7500",4,-0.0290,"35,291.0046",-1,"-25,503.2546",3,"29,965.7770",2,"5,651.6250"
61,0058,064682707,2,0.0713,"8,111.5000",3,0.0643,"24,189.6670",-1,"-16,078.1670",2,"17,646.3750",1,"1,657.0000"
62,8519,055890379,7,0.0463,"78,329.5000",8,0.0082,"57,624.6531",-1,"20,704.8469",2,"4,914.0525",1,"25,642.5000"
63,Total,,256,0.1008,"39,425,220.1900",261,0.0993,"37,828,075.9335",-5,"1,597,144.2565",106,"7,420,148.8464",101,"10,929,450.0550"

In [30]:
renamed_dict_cli = {
    'level60_operarea_id':'banca',
    'customer_id': 'cliente',
    'contract_id_m2': 'n_cont_m',
    'prof_ratio_rorc_amount_m2': 'rorc_cli_m',
    'rwas_regul_capital_amount_m2':'rwas_Tot_m',
    'contract_id_m_12':'n_cont_m1',
    'prof_ratio_rorc_amount_m_12': 'rorc_cli_m1',
    'rwas_regul_capital_amount_m_12':'rwas_Tot_m1',
    'contract_id_diff':'n_cont_Tot_diff',
    'rwas_regul_capital_amount_diff':'rwas_Tot_diff', 
    'contract_id_SA': 'n_cont_Tot_SA',
    'rwas_regul_capital_amount_SA':'rwas_Tot_SA',
    'contract_id_SI_mes': 'n_cont_Tot_SI_m',
    'rwas_regul_capital_amount_SI_mes':'rwas_Tot_SI_m'
}

comparisoncli_reset2=comparisoncli_reset.rename(mapper=renamed_dict_cli, axis="columns")

In [40]:
comparisoncli_reset2

,banca,cliente,n_cont_m,rorc_cli_m,rwas_Tot_m,n_cont_m1,rorc_cli_m1,rwas_Tot_m1,n_cont_Tot_diff,rwas_Tot_diff,n_cont_Tot_SA,rwas_Tot_SA,n_cont_Tot_SI_m,rwas_Tot_SI_m
0,0023,012225332,3,0.0806,"1,466,359.5250",3,0.0916,"1,311,523.9300",0,"154,835.5950",1,"312,982.1200",1,"968,228.9000"
1,0058,007652980,4,0.0310,"5,062,834.1500",4,0.0317,"4,910,528.0220",0,"152,306.1280",1,"44,651.7500",1,"237,731.0000"
2,0058,030695078,7,-0.0083,"4,773,207.1200",6,0.0086,"4,451,920.2500",1,"321,286.8700",1,"1,012,624.4400",2,"1,449,976.0000"
3,0058,010134184,7,0.0619,"4,434,608.2700",7,0.0609,"4,499,923.2340",0,"-65,314.9640",1,"101,319.4140",1,"113,850.8750"
4,0058,000992836,2,0.0831,"2,766,053.3200",3,0.0970,"2,764,915.4575",-1,"1,137.8625",2,"441,483.2575",1,"465,051.1200"
5,0058,002362927,7,0.0741,"2,092,553.4950",6,0.0764,"1,913,556.4600",1,"178,997.0350",1,"189,436.3400",2,"496,906.0000"
6,0058,001005370,2,0.0687,"2,062,331.3000",2,0.0680,"1,063,353.1000",0,"998,978.2000",1,0.0000,1,"1,011,901.9000"
7,0058,028407710,3,-0.1537,"1,452,246.7750",3,-0.1604,"1,977,691.5600",0,"-525,444.7850",2,"626,155.9600",2,"115,226.3750"
8,0058,029170892,4,0.0765,"1,214,645.1000",3,0.0816,"943,866.4630",1,"270,778.6370",2,"279,038.2230",3,"570,966.5000"
9,0058,010228209,2,0.0724,"929,501.7500",3,0.0718,"218,103.3430",-1,"711,398.4070",2,"108,163.7650",1,"871,212.7500"
10,0058,013644107,4,0.0533,"917,550.5250",3,0.0456,"15,519.6930",1,"902,030.8320",1,"2,042.6250",2,"913,450.5250"
11,0058,000163104,2,0.0644,"799,935.1200",2,0.0672,"753,295.9800",0,"46,639.1400",1,"82,835.7800",1,"249,220.1200"
12,0058,000057385,6,0.0864,"734,386.1250",6,0.0838,"774,301.2100",0,"-39,915.0850",3,"69,280.2150",3,"64,184.8750"
13,0058,000147893,3,0.0278,"663,894.8700",5,0.0262,"352,314.9640",-2,"311,579.9060",4,"56,098.9040",2,"367,808.1200"
14,0058,000115593,3,0.0650,"650,166.8800",3,0.0604,"725,554.8300",0,"-75,387.9500",1,"143,217.2800",1,"142,243.1200"
15,0058,011097471,7,0.0652,"639,363.5000",8,0.0726,"572,456.4560",-1,"66,907.0440",2,"60,871.0240",1,"34,184.1250"
16,0058,000059569,6,0.0734,"632,266.5000",6,0.0722,"629,906.1800",0,"2,360.3200",1,"51,758.7400",1,"53,849.3750"
17,0058,051751124,2,0.0464,"622,660.5000",2,0.0433,"1,854,251.5400",0,"-1,231,591.0400",1,"810,413.4000",1,"66,119.7500"
18,0058,007685983,7,0.0735,"572,496.1300",6,0.0808,"676,187.6450",1,"-103,691.5150",1,"95,039.1250",2,"1,060.0000"
19,0058,016069816,5,0.0760,"533,289.0000",5,0.0695,"531,964.1160",0,"1,324.8840",1,"43,718.7400",1,"45,085.8750"
20,0058,000259175,6,0.0263,"475,397.2500",4,0.0379,"271,166.0500",2,"204,231.2000",1,"115,909.6700",3,"232,430.0000"
21,0058,040297019,6,0.0814,"391,753.0000",4,0.0797,"329,104.1060",2,"62,648.8940",2,"134,145.6160",4,"197,144.7500"
22,0058,050339197,2,0.0414,"299,873.3700",2,0.0361,"229,127.0900",0,"70,746.2800",1,"45,384.6250",1,"117,228.7500"
23,0058,010426433,2,0.0488,"277,079.6250",2,0.0555,"269,517.0000",0,"7,562.6250",1,"114,016.0300",1,"121,388.8750"
24,0058,000032713,6,0.1008,"266,977.7500",4,0.0963,"252,787.2030",2,"14,190.5470",1,"69,898.4140",3,"84,801.7500"
25,0058,033127399,4,0.0776,"263,737.6250",3,0.0848,"179,325.3700",1,"84,412.2550",1,"71,277.7400",2,"155,847.0000"
26,0058,053704889,2,0.0864,"243,143.0000",2,0.0867,"244,309.5600",0,"-1,166.5600",1,"122,166.3300",1,"121,493.5000"
27,0058,009637729,3,0.0453,"234,792.3750",4,0.0546,"479,209.8930",-1,"-244,417.5180",2,"48,508.4770",1,"104,853.1250"
28,0058,011717815,2,0.0567,"209,135.3750",3,0.0558,"254,089.0255",-1,"-44,953.6505",2,"64,331.7155",1,"27,596.8750"
29,0058,059949867,3,0.0804,"206,693.6200",3,0.0674,"257,654.1180",0,"-50,960.4980",1,"18,727.8550",1,"18,671.3750"
30,0058,012246142,3,0.0092,"195,098.1200",4,0.0018,"266,063.1110",-1,"-70,964.9910",2,"107,335.8710",1,"36,550.5000"
31,0058,009427237,4,0.0761,"190,098.7500",2,0.0743,"132,605.3700",2,"57,493.3800",1,"59,721.4200",3,"117,183.7500"
32,0058,034908347,5,-0.0881,"189,497.5000",5,-0.0795,"108,320.5977",0,"81,176.9023",2,"44,894.3020",2,"126,563.3750"
33,0058,024442741,5,0.0333,"181,997.3750",5,0.0175,"229,730.2817",0,"-47,732.9067",3,"151,284.8267",3,"103,592.7500"
34,0058,002715853,6,0.0662,"167,857.0000",6,0.0657,"124,346.6055",0,"43,510.3945",2,"58,569.0000",2,"104,994.6250"
35,0058,012054659,4,0.0898,"165,555.6250",2,0.0821,"142,208.2300",2,"23,347.3950",1,"85,103.1000",3,"104,795.6250"
36,0058,008271052,3,0.0349,"165,187.0000",5,0.0289,"305,054.9360",-2,"-139,867.9360",3,"151,483.4420",1,"11,158.1250"
37,0058,001163997,6,0.0832,"163,282.2500",6,0.0813,"195,325.4230",0,"-32,043.1730",2,"88,240.9690",2,"56,372.0000"
38,0058,003883696,3,0.0355,"163,275.8750",4,0.0300,"315,372.4160",-1,"-152,096.5410",2,"44,491.2500",1,"24,081.0000"
39,0058,014742380,3,0.0727,"157,426.6250",4,0.0696,"200,823.9700",-1,"-43,397.3450",3,"176,499.5880",2,"124,007.2500"
40,0058,029872299,5,0.0960,"155,075.3750",5,0.0964,"95,397.4800",0,"59,677.8950",1,"24,016.7130",1,"84,508.0000"
41,0058,013042517,6,0.0634,"154,671.0000",5,0.0575,"154,728.5603",1,-57.5603,1,"42,034.3400",2,"42,228.2500"
42,0058,032729761,2,0.0941,"132,286.2500",3,0.0963,"147,177.9130",-1,"-14,891.6630",2,"117,540.4470",1,"103,688.5000"
43,0058,028915227,8,-0.5108,"130,412.0000",7,-0.4649,"108,443.7424",1,"21,968.2576",1,"11,278.4050",2,"33,280.3750"
44,0058,008072751,2,0.0930,"129,543.5000",2,0.0942,"167,285.3210",0,"-37,741.8210",1,"220,305.0000",1,"31,818.5000"
45,0058,035455654,3,0.0728,"123,931.5000",3,0.0735,"103,044.5560",0,"20,886.9440",1,"25,767.4700",1,"31,113.7500"
46,0058,005609283,5,0.0178,"117,063.0000",6,0.0099,"155,221.7630",-1,"-38,158.7630",2,"60,699.4250",1,"22,675.1250"
47,0058,027781126,4,-0.0093,"115,397.2500",5,-0.0258,"147,292.8774",-1,"-31,895.6274",3,"104,799.0574",2,"72,812.8750"
48,0058,030724363,5,0.0113,"110,213.3750",8,0.0152,"153,286.9900",-3,"-43,073.6150",4,"64,390.0850",1,"21,638.1250"
49,0058,038094323,5,0.0390,"80,992.8750",4,0.0285,"116,588.9420",1,"-35,596.0670",2,"83,404.7520",3,"48,147.7500"
50,0058,052979558,3,0.0145,"73,005.7500",3,0.0067,"75,263.0920",0,"-2,257.3420",2,"33,830.0020",2,"32,033.2500"
51,0058,017633949,2,0.0541,"59,886.2500",3,0.0569,"61,696.8340",-1,"-1,810.5840",2,"41,018.9020",1,"35,284.1250"
52,0058,021836410,7,0.1006,"56,599.2500",7,0.0993,"58,227.6453",0,"-1,628.3953",1,"3,079.9600",1,"1,607.5000"
53,0058,005479572,3,0.0648,"49,819.6250",3,0.0577,"72,511.4750",0,"-22,691.8500",1,"30,482.3280",1,"8,430.2500"
54,0058,050180900,2,-0.0491,"49,761.6250",4,-0.0994,"129,682.5580",-2,"-79,920.9330",3,"80,692.0580",1,"8,950.2500"
55,0058,059835368,5,0.0806,"47,595.0000",6,0.0325,"57,098.3189",-1,"-9,503.3189",2,"14,082.3799",1,"8,936.7500"
56,0058,035201264,3,-0.0227,"36,757.5000",3,-0.0370,"42,085.7493",0,"-5,328.2493",1,"25,158.0000",1,"20,591.6250"
57,0058,034807425,4,0.0654,"36,753.0000",3,0.0685,"101,342.6870",1,"-64,589.6870",2,"58,176.0770",3,"29,242.2500"
58,0058,052282112,4,-0.1001,"22,654.7500",4,-0.1525,"13,708.4273",0,"8,946.3227",2,"6,530.6899",2,"15,477.7500"
59,0058,001278519,2,0.0834,"18,363.5000",2,0.0822,"23,610.8870",0,"-5,247.3870",1,"17,215.2070",1,"15,021.6250"
60,0058,013371101,3,-0.0166,"9,787.7500",4,-0.0290,"35,291.0046",-1,"-25,503.2546",3,"29,965.7770",2,"5,651.6250"
61,0058,064682707,2,0.0713,"8,111.5000",3,0.0643,"24,189.6670",-1,"-16,078.1670",2,"17,646.3750",1,"1,657.0000"
62,8519,055890379,7,0.0463,"78,329.5000",8,0.0082,"57,624.6531",-1,"20,704.8469",2,"4,914.0525",1,"25,642.5000"
63,Total,,256,0.1008,"39,425,220.1900",261,0.0993,"37,828,075.9335",-5,"1,597,144.2565",106,"7,420,148.8464",101,"10,929,450.0550"

In [41]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparisoncli_reset2.to_excel(writer, sheet_name="banca_cli_cont_SA_SI", index=False)

In [32]:
comparisoncli_reset2.columns

Index(['banca', 'cliente', 'n_cont_m', 'rorc_cli_m', 'rwas_Tot_m', 'n_cont_m1',
       'rorc_cli_m1', 'rwas_Tot_m1', 'n_cont_Tot_diff', 'rwas_Tot_diff',
       'n_cont_Tot_SA', 'rwas_Tot_SA', 'n_cont_Tot_SI_m', 'rwas_Tot_SI_m'],
      dtype='object')

In [33]:
comparisoncli_renamed_filtered = comparisoncli_reset2.loc[:,['banca', 'cliente','rorc_cli_m','rorc_cli_m1','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparisoncli_renamed_filtered

,banca,cliente,rorc_cli_m,rorc_cli_m1,rwas_Tot_m,rwas_Tot_m1,rwas_Tot_diff
0,0023,012225332,0.0806,0.0916,"1,466,359.5250","1,311,523.9300","154,835.5950"
1,0058,007652980,0.0310,0.0317,"5,062,834.1500","4,910,528.0220","152,306.1280"
2,0058,030695078,-0.0083,0.0086,"4,773,207.1200","4,451,920.2500","321,286.8700"
3,0058,010134184,0.0619,0.0609,"4,434,608.2700","4,499,923.2340","-65,314.9640"
4,0058,000992836,0.0831,0.0970,"2,766,053.3200","2,764,915.4575","1,137.8625"
5,0058,002362927,0.0741,0.0764,"2,092,553.4950","1,913,556.4600","178,997.0350"
6,0058,001005370,0.0687,0.0680,"2,062,331.3000","1,063,353.1000","998,978.2000"
7,0058,028407710,-0.1537,-0.1604,"1,452,246.7750","1,977,691.5600","-525,444.7850"
8,0058,029170892,0.0765,0.0816,"1,214,645.1000","943,866.4630","270,778.6370"
9,0058,010228209,0.0724,0.0718,"929,501.7500","218,103.3430","711,398.4070"
10,0058,013644107,0.0533,0.0456,"917,550.5250","15,519.6930","902,030.8320"
11,0058,000163104,0.0644,0.0672,"799,935.1200","753,295.9800","46,639.1400"
12,0058,000057385,0.0864,0.0838,"734,386.1250","774,301.2100","-39,915.0850"
13,0058,000147893,0.0278,0.0262,"663,894.8700","352,314.9640","311,579.9060"
14,0058,000115593,0.0650,0.0604,"650,166.8800","725,554.8300","-75,387.9500"
15,0058,011097471,0.0652,0.0726,"639,363.5000","572,456.4560","66,907.0440"
16,0058,000059569,0.0734,0.0722,"632,266.5000","629,906.1800","2,360.3200"
17,0058,051751124,0.0464,0.0433,"622,660.5000","1,854,251.5400","-1,231,591.0400"
18,0058,007685983,0.0735,0.0808,"572,496.1300","676,187.6450","-103,691.5150"
19,0058,016069816,0.0760,0.0695,"533,289.0000","531,964.1160","1,324.8840"
20,0058,000259175,0.0263,0.0379,"475,397.2500","271,166.0500","204,231.2000"
21,0058,040297019,0.0814,0.0797,"391,753.0000","329,104.1060","62,648.8940"
22,0058,050339197,0.0414,0.0361,"299,873.3700","229,127.0900","70,746.2800"
23,0058,010426433,0.0488,0.0555,"277,079.6250","269,517.0000","7,562.6250"
24,0058,000032713,0.1008,0.0963,"266,977.7500","252,787.2030","14,190.5470"
25,0058,033127399,0.0776,0.0848,"263,737.6250","179,325.3700","84,412.2550"
26,0058,053704889,0.0864,0.0867,"243,143.0000","244,309.5600","-1,166.5600"
27,0058,009637729,0.0453,0.0546,"234,792.3750","479,209.8930","-244,417.5180"
28,0058,011717815,0.0567,0.0558,"209,135.3750","254,089.0255","-44,953.6505"
29,0058,059949867,0.0804,0.0674,"206,693.6200","257,654.1180","-50,960.4980"
30,0058,012246142,0.0092,0.0018,"195,098.1200","266,063.1110","-70,964.9910"
31,0058,009427237,0.0761,0.0743,"190,098.7500","132,605.3700","57,493.3800"
32,0058,034908347,-0.0881,-0.0795,"189,497.5000","108,320.5977","81,176.9023"
33,0058,024442741,0.0333,0.0175,"181,997.3750","229,730.2817","-47,732.9067"
34,0058,002715853,0.0662,0.0657,"167,857.0000","124,346.6055","43,510.3945"
35,0058,012054659,0.0898,0.0821,"165,555.6250","142,208.2300","23,347.3950"
36,0058,008271052,0.0349,0.0289,"165,187.0000","305,054.9360","-139,867.9360"
37,0058,001163997,0.0832,0.0813,"163,282.2500","195,325.4230","-32,043.1730"
38,0058,003883696,0.0355,0.0300,"163,275.8750","315,372.4160","-152,096.5410"
39,0058,014742380,0.0727,0.0696,"157,426.6250","200,823.9700","-43,397.3450"
40,0058,029872299,0.0960,0.0964,"155,075.3750","95,397.4800","59,677.8950"
41,0058,013042517,0.0634,0.0575,"154,671.0000","154,728.5603",-57.5603
42,0058,032729761,0.0941,0.0963,"132,286.2500","147,177.9130","-14,891.6630"
43,0058,028915227,-0.5108,-0.4649,"130,412.0000","108,443.7424","21,968.2576"
44,0058,008072751,0.0930,0.0942,"129,543.5000","167,285.3210","-37,741.8210"
45,0058,035455654,0.0728,0.0735,"123,931.5000","103,044.5560","20,886.9440"
46,0058,005609283,0.0178,0.0099,"117,063.0000","155,221.7630","-38,158.7630"
47,0058,027781126,-0.0093,-0.0258,"115,397.2500","147,292.8774","-31,895.6274"
48,0058,030724363,0.0113,0.0152,"110,213.3750","153,286.9900","-43,073.6150"
49,0058,038094323,0.0390,0.0285,"80,992.8750","116,588.9420","-35,596.0670"
50,0058,052979558,0.0145,0.0067,"73,005.7500","75,263.0920","-2,257.3420"
51,0058,017633949,0.0541,0.0569,"59,886.2500","61,696.8340","-1,810.5840"
52,0058,021836410,0.1006,0.0993,"56,599.2500","58,227.6453","-1,628.3953"
53,0058,005479572,0.0648,0.0577,"49,819.6250","72,511.4750","-22,691.8500"
54,0058,050180900,-0.0491,-0.0994,"49,761.6250","129,682.5580","-79,920.9330"
55,0058,059835368,0.0806,0.0325,"47,595.0000","57,098.3189","-9,503.3189"
56,0058,035201264,-0.0227,-0.0370,"36,757.5000","42,085.7493","-5,328.2493"
57,0058,034807425,0.0654,0.0685,"36,753.0000","101,342.6870","-64,589.6870"
58,0058,052282112,-0.1001,-0.1525,"22,654.7500","13,708.4273","8,946.3227"
59,0058,001278519,0.0834,0.0822,"18,363.5000","23,610.8870","-5,247.3870"
60,0058,013371101,-0.0166,-0.0290,"9,787.7500","35,291.0046","-25,503.2546"
61,0058,064682707,0.0713,0.0643,"8,111.5000","24,189.6670","-16,078.1670"
62,8519,055890379,0.0463,0.0082,"78,329.5000","57,624.6531","20,704.8469"
63,Total,,0.1008,0.0993,"39,425,220.1900","37,828,075.9335","1,597,144.2565"

In [34]:
comparisoncli_renamed_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   banca          64 non-null     object
 1   cliente        64 non-null     object
 2   rorc_cli_m     64 non-null     float64
 3   rorc_cli_m1    64 non-null     float64
 4   rwas_Tot_m     64 non-null     float64
 5   rwas_Tot_m1    64 non-null     float64
 6   rwas_Tot_diff  64 non-null     float64
dtypes: float64(5), object(2)
memory usage: 3.6+ KB

In [ ]:
['banca', 'ctpa', 'rwas_Tot_m', 'Grand_Tot_m', 'pct_Grand_Tot_m',
       'rwas_Tot_m1', 'Grand_Tot_m1', 'pct_Grand_Tot_m1', 'rwas_Tot_diff',
       'pct_var_rwas_MoM', 'pct_var_GT_MoM', 'ctpa_Tot_m', 'pct_ctpa_Tot_m',
       'ctpa_Tot_m1', 'pct_ctpa_Tot_m1', 'ctpa_Tot_diff',
       'pct_var_ctpa_Tot_MoM'],

In [35]:
comparisoncli_renamed_filtered.columns

Index(['banca', 'cliente', 'rorc_cli_m', 'rorc_cli_m1', 'rwas_Tot_m',
       'rwas_Tot_m1', 'rwas_Tot_diff'],
      dtype='object')

In [36]:
# Ensure that comparison_clim_ctpa is defined

comparison_cliente_final = comparisoncli_renamed_filtered.copy()

comparison_cliente_final['rorc_cli_var_rel'] = (
    ((comparison_cliente_final['rorc_cli_m'] - comparison_cliente_final['rorc_cli_m1']) / 
     comparison_cliente_final['rorc_cli_m1'])
    )

comparison_cliente_final['pct_rwas_cli_MoM_rel'] = (
    ((comparison_cliente_final['rwas_Tot_m'] - comparison_cliente_final['rwas_Tot_m1']) / 
     comparison_cliente_final['rwas_Tot_m1']))


# Totales por banca y ctpa  banca_Grand_Tot_m
comparison_cliente_final['banca_Grand_Tot_m'] = comparison_cliente_final.groupby(['banca'])['rwas_Tot_m'].transform('sum')
comparison_cliente_final['banca_Grand_Tot_m1'] = comparison_cliente_final.groupby(['banca'])['rwas_Tot_m1'].transform('sum')

# % por ctpa dentro de banca (m y m1)
comparison_cliente_final['pct_cli_banca_m'] = (comparison_cliente_final['rwas_Tot_m'] / comparison_cliente_final['banca_Grand_Tot_m'])
comparison_cliente_final['pct_cli_banca_m1'] = (comparison_cliente_final['rwas_Tot_m1'] / comparison_cliente_final['banca_Grand_Tot_m1'])

comparison_cliente_final['pct_cli_banca_var_rel'] = (
    ((comparison_cliente_final['pct_cli_banca_m'] - comparison_cliente_final['pct_cli_banca_m1']) / 
     comparison_cliente_final['pct_cli_banca_m1'])
    )

comparison_cliente_final_guardado = comparison_cliente_final.loc[:,['banca','cliente','rorc_cli_m','rorc_cli_m1','rorc_cli_var_rel','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff',
                                                                    'pct_rwas_cli_MoM_rel','banca_Grand_Tot_m','pct_cli_banca_m','banca_Grand_Tot_m1','pct_cli_banca_m1','pct_cli_banca_var_rel']]

In [42]:
comparison_cliente_final_guardado

,banca,cliente,rorc_cli_m,rorc_cli_m1,rorc_cli_var_rel,rwas_Tot_m,rwas_Tot_m1,rwas_Tot_diff,pct_rwas_cli_MoM_rel,banca_Grand_Tot_m,pct_cli_banca_m,banca_Grand_Tot_m1,pct_cli_banca_m1,pct_cli_banca_var_rel
0,0023,012225332,0.0806,0.0916,-0.1201,"1,466,359.5250","1,311,523.9300","154,835.5950",0.1181,"1,466,359.5250",1.0000,"1,311,523.9300",1.0000,0.0000
1,0058,007652980,0.0310,0.0317,-0.0221,"5,062,834.1500","4,910,528.0220","152,306.1280",0.0310,"37,880,531.1650",0.1337,"36,458,927.3504",0.1347,-0.0077
2,0058,030695078,-0.0083,0.0086,-1.9651,"4,773,207.1200","4,451,920.2500","321,286.8700",0.0722,"37,880,531.1650",0.1260,"36,458,927.3504",0.1221,0.0319
3,0058,010134184,0.0619,0.0609,0.0164,"4,434,608.2700","4,499,923.2340","-65,314.9640",-0.0145,"37,880,531.1650",0.1171,"36,458,927.3504",0.1234,-0.0515
4,0058,000992836,0.0831,0.0970,-0.1433,"2,766,053.3200","2,764,915.4575","1,137.8625",0.0004,"37,880,531.1650",0.0730,"36,458,927.3504",0.0758,-0.0371
5,0058,002362927,0.0741,0.0764,-0.0301,"2,092,553.4950","1,913,556.4600","178,997.0350",0.0935,"37,880,531.1650",0.0552,"36,458,927.3504",0.0525,0.0525
6,0058,001005370,0.0687,0.0680,0.0103,"2,062,331.3000","1,063,353.1000","998,978.2000",0.9395,"37,880,531.1650",0.0544,"36,458,927.3504",0.0292,0.8667
7,0058,028407710,-0.1537,-0.1604,-0.0418,"1,452,246.7750","1,977,691.5600","-525,444.7850",-0.2657,"37,880,531.1650",0.0383,"36,458,927.3504",0.0542,-0.2932
8,0058,029170892,0.0765,0.0816,-0.0625,"1,214,645.1000","943,866.4630","270,778.6370",0.2869,"37,880,531.1650",0.0321,"36,458,927.3504",0.0259,0.2386
9,0058,010228209,0.0724,0.0718,0.0084,"929,501.7500","218,103.3430","711,398.4070",3.2617,"37,880,531.1650",0.0245,"36,458,927.3504",0.0060,3.1018
10,0058,013644107,0.0533,0.0456,0.1689,"917,550.5250","15,519.6930","902,030.8320",58.1217,"37,880,531.1650",0.0242,"36,458,927.3504",0.0004,55.9029
11,0058,000163104,0.0644,0.0672,-0.0417,"799,935.1200","753,295.9800","46,639.1400",0.0619,"37,880,531.1650",0.0211,"36,458,927.3504",0.0207,0.0221
12,0058,000057385,0.0864,0.0838,0.0310,"734,386.1250","774,301.2100","-39,915.0850",-0.0515,"37,880,531.1650",0.0194,"36,458,927.3504",0.0212,-0.0871
13,0058,000147893,0.0278,0.0262,0.0611,"663,894.8700","352,314.9640","311,579.9060",0.8844,"37,880,531.1650",0.0175,"36,458,927.3504",0.0097,0.8137
14,0058,000115593,0.0650,0.0604,0.0762,"650,166.8800","725,554.8300","-75,387.9500",-0.1039,"37,880,531.1650",0.0172,"36,458,927.3504",0.0199,-0.1375
15,0058,011097471,0.0652,0.0726,-0.1019,"639,363.5000","572,456.4560","66,907.0440",0.1169,"37,880,531.1650",0.0169,"36,458,927.3504",0.0157,0.0750
16,0058,000059569,0.0734,0.0722,0.0166,"632,266.5000","629,906.1800","2,360.3200",0.0037,"37,880,531.1650",0.0167,"36,458,927.3504",0.0173,-0.0339
17,0058,051751124,0.0464,0.0433,0.0716,"622,660.5000","1,854,251.5400","-1,231,591.0400",-0.6642,"37,880,531.1650",0.0164,"36,458,927.3504",0.0509,-0.6768
18,0058,007685983,0.0735,0.0808,-0.0903,"572,496.1300","676,187.6450","-103,691.5150",-0.1533,"37,880,531.1650",0.0151,"36,458,927.3504",0.0185,-0.1851
19,0058,016069816,0.0760,0.0695,0.0935,"533,289.0000","531,964.1160","1,324.8840",0.0025,"37,880,531.1650",0.0141,"36,458,927.3504",0.0146,-0.0351
20,0058,000259175,0.0263,0.0379,-0.3061,"475,397.2500","271,166.0500","204,231.2000",0.7532,"37,880,531.1650",0.0125,"36,458,927.3504",0.0074,0.6874
21,0058,040297019,0.0814,0.0797,0.0213,"391,753.0000","329,104.1060","62,648.8940",0.1904,"37,880,531.1650",0.0103,"36,458,927.3504",0.0090,0.1457
22,0058,050339197,0.0414,0.0361,0.1468,"299,873.3700","229,127.0900","70,746.2800",0.3088,"37,880,531.1650",0.0079,"36,458,927.3504",0.0063,0.2596
23,0058,010426433,0.0488,0.0555,-0.1207,"277,079.6250","269,517.0000","7,562.6250",0.0281,"37,880,531.1650",0.0073,"36,458,927.3504",0.0074,-0.0105
24,0058,000032713,0.1008,0.0963,0.0467,"266,977.7500","252,787.2030","14,190.5470",0.0561,"37,880,531.1650",0.0070,"36,458,927.3504",0.0069,0.0165
25,0058,033127399,0.0776,0.0848,-0.0849,"263,737.6250","179,325.3700","84,412.2550",0.4707,"37,880,531.1650",0.0070,"36,458,927.3504",0.0049,0.4155
26,0058,053704889,0.0864,0.0867,-0.0035,"243,143.0000","244,309.5600","-1,166.5600",-0.0048,"37,880,531.1650",0.0064,"36,458,927.3504",0.0067,-0.0421
27,0058,009637729,0.0453,0.0546,-0.1703,"234,792.3750","479,209.8930","-244,417.5180",-0.5100,"37,880,531.1650",0.0062,"36,458,927.3504",0.0131,-0.5284
28,0058,011717815,0.0567,0.0558,0.0161,"209,135.3750","254,089.0255","-44,953.6505",-0.1769,"37,880,531.1650",0.0055,"36,458,927.3504",0.0070,-0.2078
29,0058,059949867,0.0804,0.0674,0.1929,"206,693.6200","257,654.1180","-50,960.4980",-0.1978,"37,880,531.1650",0.0055,"36,458,927.3504",0.0071,-0.2279
30,0058,012246142,0.0092,0.0018,4.1111,"195,098.1200","266,063.1110","-70,964.9910",-0.2667,"37,880,531.1650",0.0052,"36,458,927.3504",0.0073,-0.2942
31,0058,009427237,0.0761,0.0743,0.0242,"190,098.7500","132,605.3700","57,493.3800",0.4336,"37,880,531.1650",0.0050,"36,458,927.3504",0.0036,0.3798
32,0058,034908347,-0.0881,-0.0795,0.1082,"189,497.5000","108,320.5977","81,176.9023",0.7494,"37,880,531.1650",0.0050,"36,458,927.3504",0.0030,0.6838
33,0058,024442741,0.0333,0.0175,0.9029,"181,997.3750","229,730.2817","-47,732.9067",-0.2078,"37,880,531.1650",0.0048,"36,458,927.3504",0.0063,-0.2375
34,0058,002715853,0.0662,0.0657,0.0076,"167,857.0000","124,346.6055","43,510.3945",0.3499,"37,880,531.1650",0.0044,"36,458,927.3504",0.0034,0.2993
35,0058,012054659,0.0898,0.0821,0.0938,"165,555.6250","142,208.2300","23,347.3950",0.1642,"37,880,531.1650",0.0044,"36,458,927.3504",0.0039,0.1205
36,0058,008271052,0.0349,0.0289,0.2076,"165,187.0000","305,054.9360","-139,867.9360",-0.4585,"37,880,531.1650",0.0044,"36,458,927.3504",0.0084,-0.4788
37,0058,001163997,0.0832,0.0813,0.0234,"163,282.2500","195,325.4230","-32,043.1730",-0.1641,"37,880,531.1650",0.0043,"36,458,927.3504",0.0054,-0.1954
38,0058,003883696,0.0355,0.0300,0.1833,"163,275.8750","315,372.4160","-152,096.5410",-0.4823,"37,880,531.1650",0.0043,"36,458,927.3504",0.0087,-0.5017
39,0058,014742380,0.0727,0.0696,0.0445,"157,426.6250","200,823.9700","-43,397.3450",-0.2161,"37,880,531.1650",0.0042,"36,458,927.3504",0.0055,-0.2455
40,0058,029872299,0.0960,0.0964,-0.0041,"155,075.3750","95,397.4800","59,677.8950",0.6256,"37,880,531.1650",0.0041,"36,458,927.3504",0.0026,0.5646
41,0058,013042517,0.0634,0.0575,0.1026,"154,671.0000","154,728.5603",-57.5603,-0.0004,"37,880,531.1650",0.0041,"36,458,927.3504",0.0042,-0.0379
42,0058,032729761,0.0941,0.0963,-0.0228,"132,286.2500","147,177.9130","-14,891.6630",-0.1012,"37,880,531.1650",0.0035,"36,458,927.3504",0.0040,-0.1349
43,0058,028915227,-0.5108,-0.4649,0.0987,"130,412.0000","108,443.7424","21,968.2576",0.2026,"37,880,531.1650",0.0034,"36,458,927.3504",0.0030,0.1574
44,0058,008072751,0.0930,0.0942,-0.0127,"129,543.5000","167,285.3210","-37,741.8210",-0.2256,"37,880,531.1650",0.0034,"36,458,927.3504",0.0046,-0.2547
45,0058,035455654,0.0728,0.0735,-0.0095,"123,931.5000","103,044.5560","20,886.9440",0.2027,"37,880,531.1650",0.0033,"36,458,927.3504",0.0028,0.1576
46,0058,005609283,0.0178,0.0099,0.7980,"117,063.0000","155,221.7630","-38,158.7630",-0.2458,"37,880,531.1650",0.0031,"36,458,927.3504",0.0043,-0.2741
47,0058,027781126,-0.0093,-0.0258,-0.6395,"115,397.2500","147,292.8774","-31,895.6274",-0.2165,"37,880,531.1650",0.0030,"36,458,927.3504",0.0040,-0.2459
48,0058,030724363,0.0113,0.0152,-0.2566,"110,213.3750","153,286.9900","-43,073.6150",-0.2810,"37,880,531.1650",0.0029,"36,458,927.3504",0.0042,-0.3080
49,0058,038094323,0.0390,0.0285,0.3684,"80,992.8750","116,588.9420","-35,596.0670",-0.3053,"37,880,531.1650",0.0021,"36,458,927.3504",0.0032,-0.3314
50,0058,052979558,0.0145,0.0067,1.1642,"73,005.7500","75,263.0920","-2,257.3420",-0.0300,"37,880,531.1650",0.0019,"36,458,927.3504",0.0021,-0.0664
51,0058,017633949,0.0541,0.0569,-0.0492,"59,886.2500","61,696.8340","-1,810.5840",-0.0293,"37,880,531.1650",0.0016,"36,458,927.3504",0.0017,-0.0658
52,0058,021836410,0.1006,0.0993,0.0131,"56,599.2500","58,227.6453","-1,628.3953",-0.0280,"37,880,531.1650",0.0015,"36,458,927.3504",0.0016,-0.0644
53,0058,005479572,0.0648,0.0577,0.1231,"49,819.6250","72,511.4750","-22,691.8500",-0.3129,"37,880,531.1650",0.0013,"36,458,927.3504",0.0020,-0.3387
54,0058,050180900,-0.0491,-0.0994,-0.5060,"49,761.6250","129,682.5580","-79,920.9330",-0.6163,"37,880,531.1650",0.0013,"36,458,927.3504",0.0036,-0.6307
55,0058,059835368,0.0806,0.0325,1.4800,"47,595.0000","57,098.3189","-9,503.3189",-0.1664,"37,880,531.1650",0.0013,"36,458,927.3504",0.0016,-0.1977
56,0058,035201264,-0.0227,-0.0370,-0.3865,"36,757.5000","42,085.7493","-5,328.2493",-0.1266,"37,880,531.1650",0.0010,"36,458,927.3504",0.0012,-0.1594
57,0058,034807425,0.0654,0.0685,-0.0453,"36,753.0000","101,342.6870","-64,589.6870",-0.6373,"37,880,531.1650",0.0010,"36,458,927.3504",0.0028,-0.6509
58,0058,052282112,-0.1001,-0.1525,-0.3436,"22,654.7500","13,708.4273","8,946.3227",0.6526,"37,880,531.1650",0.0006,"36,458,927.3504",0.0004,0.5906
59,0058,001278519,0.0834,0.0822,0.0146,"18,363.5000","23,610.8870","-5,247.3870",-0.2222,"37,880,531.1650",0.0005,"36,458,927.3504",0.0006,-0.2514
60,0058,013371101,-0.0166,-0.0290,-0.4276,"9,787.7500","35,291.0046","-25,503.2546",-0.7227,"37,880,531.1650",0.0003,"36,458,927.3504",0.0010,-0.7331
61,0058,064682707,0.0713,0.0643,0.1089,"8,111.5000","24,189.6670","-16,078.1670",-0.6647,"37,880,531.1650",0.0002,"36,458,927.3504",0.0007,-0.6773
62,8519,055890379,0.0463,0.0082,4.6463,"78,329.5000","57,624.6531","20,704.8469",0.3593,"78,329.5000",1.0000,"57,624.6531",1.0000,0.0000
63,Total,,0.1008,0.0993,0.0151,"39,425,220.1900","37,828,075.9335","1,597,144.2565",0.0422,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000

In [43]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_cliente_final_guardado.to_excel(writer, sheet_name="banca_cli_ratios", index=False)

In [38]:
comparison_cliente_final_guardado.columns

Index(['banca', 'cliente', 'rorc_cli_m', 'rorc_cli_m1', 'rorc_cli_var_rel',
       'rwas_Tot_m', 'rwas_Tot_m1', 'rwas_Tot_diff', 'pct_rwas_cli_MoM_rel',
       'banca_Grand_Tot_m', 'pct_cli_banca_m', 'banca_Grand_Tot_m1',
       'pct_cli_banca_m1', 'pct_cli_banca_var_rel'],
      dtype='object')

In [ ]:
# rorc_cli_m - El RORC (Return on Risk-Weighted Capital) del cliente en esa banca en el mes actual (m).
# rorc_cli_m1 - El RORC (Return on Risk-Weighted Capital) del cliente en esa banca en el mes anterior (m1).
# rorc_cli_var_rel - Variacion relativa del RORC del cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rorc_cli_m - rorc_cli_m1 / rorc_cli_m1`. Expresses growth or decline as a proportion.
# rwas_Tot_m - APRs de ese cliente en esa banca en el mes actual (m)
# rwas_Tot_m1 - APRs de ese cliente en esa banca en el mes anterior (m1)
# rwas_Total_diff - Variacion neta de APRs de ese cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rwas_Tot_m - rwas_Tot_m1`
# pct_rwas_cli_MoM_rel - Variacion relativa de APRs de ese cliente en esa banca en el mes actual (m) vs mes anterior (m1). `rwas_Total_diff / rwas_Tot_m1`. Expresses growth or decline as a proportion.
# banca_Grand_Tot_m - Total neto de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs de la misma banca.
# banca_Grand_Tot_m1 - Total neto de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs de la misma banca.
# pct_cli_banca_m - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al total de APRs de la misma banca.(`rwas_Tot_m / banca_Grand_Tot_m`.)
# pct_cli_banca_m1 - Peso en porcentaje de APRs que representa ese cliente en esa banca en el mes anterior respecto al total de APRs de la misma banca. (`rwas_Tot_m / banca_Grand_Tot_m1`.)
# pct_cli_banca_var_rel - Variacion relativa del peso en porcentaje de APRs que representa ese cliente en esa banca en el mes actual respecto al peso en porcentaje de APRs de la misma banca en el mes anterior. (`pct_cli_banca_m / pct_cli_banca_m1 - 1`, showing how the proportion of contribution changed. )

In [44]:
# ANALISIS CLIENTES - CTPA
# --------------------------------
# pd.reset_option('display.max_rows')
# pd.options.display.max_rows = 70

clim_ctpa = pool_m[pool_m['pool_situation_type'] == 'SI'].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa = clim_ctpa.sort_index()

clim_ctpa_SA = pool_m[pool_m['pool_situation_type'] == 'SA'].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_SA = clim_ctpa_SA.sort_index()

clim_ctpa_SI_mes = pool_m[(pool_m['pool_situation_type'] == 'SI') & (pool_m['billing_date'] == '2025-06-30')].pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_SI_mes = clim_ctpa_SI_mes.sort_index()

clim_ctpa_m1 = pool_m1.pivot_table(
	index=["level60_operarea_id", "customer_id", 'counterpart_id'],
	columns="term_contract_type",
	values=['contract_id', "rwas_regul_capital_amount"],
	aggfunc={'contract_id': 'count', "rwas_regul_capital_amount": "sum"},
	fill_value=0,
	margins=True,
	margins_name="Total",
)
# To avoid errors with sort_values on a DataFrame with MultiIndex columns, sort only by index
clim_ctpa_m1 = clim_ctpa_m1.sort_index()

clim_ctpa, clim_ctpa_SA, clim_ctpa_SI_mes, clim_ctpa_m1

In [45]:
clim_ctpa

                                               contract_id                \
term_contract_type                                      CP      LP Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                2.0000  0.0000     2
                                0300                1.0000  0.0000     1
0058                000032713   0083                6.0000  0.0000     6
                    000057385   0010                1.0000  0.0000     1
                                0083                5.0000  0.0000     5
...                                                    ...     ...   ...
                    059949867   0083                2.0000  0.0000     2
                                0300                1.0000  0.0000     1
                    064682707   0083                2.0000  0.0000     2
8519                055890379   0083                7.0000  0.0000     7
Total                                             235.0000 21.0000   256

                                               rwas_regul_capital_amount  \
term_contract_type                                                    CP
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                      1,076,570.5250
                                0300                        389,789.0000
0058                000032713   0083                        266,977.7500
                    000057385   0010                        618,554.2500
                                0083                        115,831.8750
...                                                                  ...
                    059949867   0083                         66,480.0000
                                0300                        140,213.6200
                    064682707   0083                          8,111.5000
8519                055890379   0083                         78,329.5000
Total                                                    25,408,930.1000


term_contract_type                                          LP           Total
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000  1,076,570.5250
                                0300                    0.0000    389,789.0000
0058                000032713   0083                    0.0000    266,977.7500
                    000057385   0010                    0.0000    618,554.2500
                                0083                    0.0000    115,831.8750
...                                                        ...             ...
                    059949867   0083                    0.0000     66,480.0000
                                0300                    0.0000    140,213.6200
                    064682707   0083                    0.0000      8,111.5000
8519                055890379   0083                    0.0000     78,329.5000
Total                                          14,016,290.0900 39,425,220.1900

[96 rows x 6 columns]

In [63]:
# COMPARATIVE BETWEEN m_cplp and m1_cplp
# --------------------------------
# List of columns to compare (as tuples for MultiIndex columns)
cols_to_compare = [
    ('contract_id', 'CP'),
    ('contract_id', 'LP'),
    ('contract_id', 'Total'),
    ('rwas_regul_capital_amount', 'CP'),
    ('rwas_regul_capital_amount', 'LP'),
    ('rwas_regul_capital_amount', 'Total')
]

# Calculate the difference for the selected columns
diff_clim_ctpa_m1 = clim_ctpa[cols_to_compare].sub(clim_ctpa_m1[cols_to_compare], fill_value=0)

# Concatenate for side-by-side comparison
comparison_clim_ctpa = pd.concat(
    [
        clim_ctpa[cols_to_compare].add_suffix('_m'),
        clim_ctpa_m1[cols_to_compare].add_suffix('_m1'),
        diff_clim_ctpa_m1.add_suffix('_diff'),
        clim_ctpa_SA[cols_to_compare].add_suffix('_SA'),
        clim_ctpa_SI_mes[cols_to_compare].add_suffix('_SI_mes')
    ],
    axis=1
).fillna(0).sort_index()

comparison_clim_ctpa

                                               contract_id_m                   \
term_contract_type                                      CP_m    LP_m  Total_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                  2.0000  0.0000   2.0000
                                0300                  1.0000  0.0000   1.0000
0058                000032713   0083                  6.0000  0.0000   6.0000
                    000057385   0010                  1.0000  0.0000   1.0000
                                0083                  5.0000  0.0000   5.0000
...                                                      ...     ...      ...
                    059949867   0083                  2.0000  0.0000   2.0000
                                0300                  1.0000  0.0000   1.0000
                    064682707   0083                  2.0000  0.0000   2.0000
8519                055890379   0083                  7.0000  0.0000   7.0000
Total                                               235.0000 21.0000 256.0000

                                               rwas_regul_capital_amount_m  \
term_contract_type                                                    CP_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                        1,076,570.5250
                                0300                          389,789.0000
0058                000032713   0083                          266,977.7500
                    000057385   0010                          618,554.2500
                                0083                          115,831.8750
...                                                                    ...
                    059949867   0083                           66,480.0000
                                0300                          140,213.6200
                    064682707   0083                            8,111.5000
8519                055890379   0083                           78,329.5000
Total                                                      25,408,930.1000

                                                                \
term_contract_type                                        LP_m
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000
                                0300                    0.0000
0058                000032713   0083                    0.0000
                    000057385   0010                    0.0000
                                0083                    0.0000
...                                                        ...
                    059949867   0083                    0.0000
                                0300                    0.0000
                    064682707   0083                    0.0000
8519                055890379   0083                    0.0000
Total                                          14,016,290.0900

                                                               contract_id_m1  \
term_contract_type                                     Total_m          CP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083            1,076,570.5250         2.0000
                                0300              389,789.0000         1.0000
0058                000032713   0083              266,977.7500         4.0000
                    000057385   0010              618,554.2500         1.0000
                                0083              115,831.8750         5.0000
...                                                        ...            ...
                    059949867   0083               66,480.0000         2.0000
                                0300              140,213.6200         1.0000
                    064682707   0083                8,111.5000         3.0000
8519                055890379   0083               78,329.5000         8.0000
Total                                          39,425,220.1900       240.0000

                                                                 \
term_contract_type                               LP_m1 Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083            0.0000   2.0000
                                0300            0.0000   1.0000
0058                000032713   0083            0.0000   4.0000
                    000057385   0010            0.0000   1.0000
                                0083            0.0000   5.0000
...                                                ...      ...
                    059949867   0083            0.0000   2.0000
                                0300            0.0000   1.0000
                    064682707   0083            0.0000   3.0000
8519                055890379   0083            0.0000   8.0000
Total                                          21.0000 261.0000

                                               rwas_regul_capital_amount_m1  \
term_contract_type                                                    CP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                           422,977.8700
                                0300                           888,546.0600
0058                000032713   0083                           252,787.2030
                    000057385   0010                           653,202.4400
                                0083                           121,098.7700
...                                                                     ...
                    059949867   0083                            66,531.3980
                                0300                           191,122.7200
                    064682707   0083                            24,189.6670
8519                055890379   0083                            57,624.6531
Total                                                       24,112,950.0848

                                                                \
term_contract_type                                       LP_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                    0.0000
                                0300                    0.0000
0058                000032713   0083                    0.0000
                    000057385   0010                    0.0000
                                0083                    0.0000
...                                                        ...
                    059949867   0083                    0.0000
                                0300                    0.0000
                    064682707   0083                    0.0000
8519                055890379   0083                    0.0000
Total                                          13,715,125.8487

                                                                \
term_contract_type                                    Total_m1
level60_operarea_id customer_id counterpart_id
0023                012225332   0083              422,977.8700
                                0300              888,546.0600
0058                000032713   0083              252,787.2030
                    000057385   0010              653,202.4400
                                0083              121,098.7700
...                                                        ...
                    059949867   0083               66,531.3980
                                0300              191,122.7200
                    064682707   0083               24,189.6670
8519                055890379   0083               57,624.6531
Total                                          37,828,075.9335

                                               contract_id_diff          \
term_contract_type                                      CP_diff LP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                     0.0000  0.0000
                                0300                     0.0000  0.0000
0058                000032713   0083                     2.0000  0.0000
                    000057385   0010                     0.0000  0.0000
                                0083                     0.0000  0.0000
...                                                         ...     ...
                    059949867   0083                     0.0000  0.0000
                                0300                     0.0000  0.0000
                    064682707   0083                    -1.0000  0.0000
8519                055890379   0083                    -1.0000  0.0000
Total                                                   -5.0000  0.0000

                                                           \
term_contract_type                             Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083               0.0000
                                0300               0.0000
0058                000032713   0083               2.0000
                    000057385   0010               0.0000
                                0083               0.0000
...                                                   ...
                    059949867   0083               0.0000
                                0300               0.0000
                    064682707   0083              -1.0000
8519                055890379   0083              -1.0000
Total                                             -5.0000

                                               rwas_regul_capital_amount_diff  \
term_contract_type                                                    CP_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                             653,592.6550
                                0300                            -498,757.0600
0058                000032713   0083                              14,190.5470
                    000057385   0010                             -34,648.1900
                                0083                              -5,266.8950
...                                                                       ...
                    059949867   0083                                 -51.3980
                                0300                             -50,909.1000
                    064682707   0083                             -16,078.1670
8519                055890379   0083                              20,704.8469
Total                                                          1,295,980.0152

                                                                            \
term_contract_type                                  LP_diff     Total_diff
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000   653,592.6550
                                0300                 0.0000  -498,757.0600
0058                000032713   0083                 0.0000    14,190.5470
                    000057385   0010                 0.0000   -34,648.1900
                                0083                 0.0000    -5,266.8950
...                                                     ...            ...
                    059949867   0083                 0.0000       -51.3980
                                0300                 0.0000   -50,909.1000
                    064682707   0083                 0.0000   -16,078.1670
8519                055890379   0083                 0.0000    20,704.8469
Total                                          301,164.2413 1,597,144.2565

                                               contract_id_SA                  \
term_contract_type                                      CP_SA  LP_SA Total_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                   1.0000 0.0000   1.0000
                                0300                   0.0000 0.0000   0.0000
0058                000032713   0083                   1.0000 0.0000   1.0000
                    000057385   0010                   0.0000 0.0000   0.0000
                                0083                   3.0000 0.0000   3.0000
...                                                       ...    ...      ...
                    059949867   0083                   1.0000 0.0000   1.0000
                                0300                   0.0000 0.0000   0.0000
                    064682707   0083                   2.0000 0.0000   2.0000
8519                055890379   0083                   2.0000 0.0000   2.0000
Total                                                103.0000 3.0000 106.0000

                                               rwas_regul_capital_amount_SA  \
term_contract_type                                                    CP_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                           312,982.1200
                                0300                                 0.0000
0058                000032713   0083                            69,898.4140
                    000057385   0010                                 0.0000
                                0083                            69,280.2150
...                                                                     ...
                    059949867   0083                            18,727.8550
                                0300                                 0.0000
                    064682707   0083                            17,646.3750
8519                055890379   0083                             4,914.0525
Total                                                        7,365,333.1964

                                                                           \
term_contract_type                                   LP_SA       Total_SA
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                0.0000   312,982.1200
                                0300                0.0000         0.0000
0058                000032713   0083                0.0000    69,898.4140
                    000057385   0010                0.0000         0.0000
                                0083                0.0000    69,280.2150
...                                                    ...            ...
                    059949867   0083                0.0000    18,727.8550
                                0300                0.0000         0.0000
                    064682707   0083                0.0000    17,646.3750
8519                055890379   0083                0.0000     4,914.0525
Total                                          54,815.6500 7,420,148.8464

                                               contract_id_SI_mes            \
term_contract_type                                      CP_SI_mes LP_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                       1.0000    0.0000
                                0300                       0.0000    0.0000
0058                000032713   0083                       3.0000    0.0000
                    000057385   0010                       0.0000    0.0000
                                0083                       3.0000    0.0000
...                                                           ...       ...
                    059949867   0083                       1.0000    0.0000
                                0300                       0.0000    0.0000
                    064682707   0083                       1.0000    0.0000
8519                055890379   0083                       1.0000    0.0000
Total                                                     98.0000    3.0000

                                                             \
term_contract_type                             Total_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 1.0000
                                0300                 0.0000
0058                000032713   0083                 3.0000
                    000057385   0010                 0.0000
                                0083                 3.0000
...                                                     ...
                    059949867   0083                 1.0000
                                0300                 0.0000
                    064682707   0083                 1.0000
8519                055890379   0083                 1.0000
Total                                              101.0000

                                               rwas_regul_capital_amount_SI_mes  \
term_contract_type                                                    CP_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                               968,228.9000
                                0300                                     0.0000
0058                000032713   0083                                84,801.7500
                    000057385   0010                                     0.0000
                                0083                                64,184.8750
...                                                                         ...
                    059949867   0083                                18,671.3750
                                0300                                     0.0000
                    064682707   0083                                 1,657.0000
8519                055890379   0083                                25,642.5000
Total                                                           10,280,415.1800


term_contract_type                                LP_SI_mes    Total_SI_mes
level60_operarea_id customer_id counterpart_id
0023                012225332   0083                 0.0000    968,228.9000
                                0300                 0.0000          0.0000
0058                000032713   0083                 0.0000     84,801.7500
                    000057385   0010                 0.0000          0.0000
                                0083                 0.0000     64,184.8750
...                                                     ...             ...
                    059949867   0083                 0.0000     18,671.3750
                                0300                 0.0000          0.0000
                    064682707   0083                 0.0000      1,657.0000
8519                055890379   0083                 0.0000     25,642.5000
Total                                          649,034.8750 10,929,450.0550

[106 rows x 30 columns]

In [64]:
# one header per column
comparison_clim_ctpa.columns = ['_'.join(col).strip() for col in comparison_clim_ctpa.columns]
comparison_clim_ctpa = comparison_clim_ctpa.reset_index()

In [65]:
comparison_clim_ctpa

,level60_operarea_id,customer_id,counterpart_id,contract_id_m_CP_m,contract_id_m_LP_m,contract_id_m_Total_m,rwas_regul_capital_amount_m_CP_m,rwas_regul_capital_amount_m_LP_m,rwas_regul_capital_amount_m_Total_m,contract_id_m1_CP_m1,contract_id_m1_LP_m1,contract_id_m1_Total_m1,rwas_regul_capital_amount_m1_CP_m1,rwas_regul_capital_amount_m1_LP_m1,rwas_regul_capital_amount_m1_Total_m1,contract_id_diff_CP_diff,contract_id_diff_LP_diff,contract_id_diff_Total_diff,rwas_regul_capital_amount_diff_CP_diff,rwas_regul_capital_amount_diff_LP_diff,rwas_regul_capital_amount_diff_Total_diff,contract_id_SA_CP_SA,contract_id_SA_LP_SA,contract_id_SA_Total_SA,rwas_regul_capital_amount_SA_CP_SA,rwas_regul_capital_amount_SA_LP_SA,rwas_regul_capital_amount_SA_Total_SA,contract_id_SI_mes_CP_SI_mes,contract_id_SI_mes_LP_SI_mes,contract_id_SI_mes_Total_SI_mes,rwas_regul_capital_amount_SI_mes_CP_SI_mes,rwas_regul_capital_amount_SI_mes_LP_SI_mes,rwas_regul_capital_amount_SI_mes_Total_SI_mes
0,0023,012225332,0083,2.0000,0.0000,2.0000,"1,076,570.5250",0.0000,"1,076,570.5250",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",0.0000,0.0000,0.0000,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,012225332,0300,1.0000,0.0000,1.0000,"389,789.0000",0.0000,"389,789.0000",1.0000,0.0000,1.0000,"888,546.0600",0.0000,"888,546.0600",0.0000,0.0000,0.0000,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,000032713,0083,6.0000,0.0000,6.0000,"266,977.7500",0.0000,"266,977.7500",4.0000,0.0000,4.0000,"252,787.2030",0.0000,"252,787.2030",2.0000,0.0000,2.0000,"14,190.5470",0.0000,"14,190.5470",1.0000,0.0000,1.0000,"69,898.4140",0.0000,"69,898.4140",3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500"
3,0058,000057385,0010,1.0000,0.0000,1.0000,"618,554.2500",0.0000,"618,554.2500",1.0000,0.0000,1.0000,"653,202.4400",0.0000,"653,202.4400",0.0000,0.0000,0.0000,"-34,648.1900",0.0000,"-34,648.1900",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0058,000057385,0083,5.0000,0.0000,5.0000,"115,831.8750",0.0000,"115,831.8750",5.0000,0.0000,5.0000,"121,098.7700",0.0000,"121,098.7700",0.0000,0.0000,0.0000,"-5,266.8950",0.0000,"-5,266.8950",3.0000,0.0000,3.0000,"69,280.2150",0.0000,"69,280.2150",3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,2.0000,0.0000,2.0000,"66,480.0000",0.0000,"66,480.0000",2.0000,0.0000,2.0000,"66,531.3980",0.0000,"66,531.3980",0.0000,0.0000,0.0000,-51.3980,0.0000,-51.3980,1.0000,0.0000,1.0000,"18,727.8550",0.0000,"18,727.8550",1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750"
102,0058,059949867,0300,1.0000,0.0000,1.0000,"140,213.6200",0.0000,"140,213.6200",1.0000,0.0000,1.0000,"191,122.7200",0.0000,"191,122.7200",0.0000,0.0000,0.0000,"-50,909.1000",0.0000,"-50,909.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
103,0058,064682707,0083,2.0000,0.0000,2.0000,"8,111.5000",0.0000,"8,111.5000",3.0000,0.0000,3.0000,"24,189.6670",0.0000,"24,189.6670",-1.0000,0.0000,-1.0000,"-16,078.1670",0.0000,"-16,078.1670",2.0000,0.0000,2.0000,"17,646.3750",0.0000,"17,646.3750",1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000"
104,8519,055890379,0083,7.0000,0.0000,7.0000,"78,329.5000",0.0000,"78,329.5000",8.0000,0.0000,8.0000,"57,624.6531",0.0000,"57,624.6531",-1.0000,0.0000,-1.0000,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
105,Total,,,235.0000,21.0000,256.0000,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240.0000,21.0000,261.0000,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5.0000,0.0000,-5.0000,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [66]:
renamed_dict = {
    'level60_operarea_id': 'banca',
    'customer_id': 'cliente',
    'counterpart_id': 'ctpa',
    
    'contract_id_m_CP_m': 'n_con_CP_m',
    'contract_id_m_LP_m': 'n_con_LP_m',
    'contract_id_m_Total_m': 'n_con_Tot_m',
    
    'rwas_regul_capital_amount_m_CP_m': 'rwas_CP_m',
    'rwas_regul_capital_amount_m_LP_m': 'rwas_LP_m',
    'rwas_regul_capital_amount_m_Total_m': 'rwas_Tot_m',
    
    'contract_id_m1_CP_m1': 'n_con_CP_m1',
    'contract_id_m1_LP_m1': 'n_con_LP_m1',
    'contract_id_m1_Total_m1': 'n_con_Tot_m1',
    
    'rwas_regul_capital_amount_m1_CP_m1': 'rwas_CP_m1',
    'rwas_regul_capital_amount_m1_LP_m1': 'rwas_LP_m1',
    'rwas_regul_capital_amount_m1_Total_m1': 'rwas_Tot_m1',
    
    'contract_id_diff_CP_diff': 'n_con_CP_diff',
    'contract_id_diff_LP_diff': 'n_con_LP_diff',
    'contract_id_diff_Total_diff': 'n_con_Tot_diff',
    
    'rwas_regul_capital_amount_diff_CP_diff': 'rwas_CP_diff',
    'rwas_regul_capital_amount_diff_LP_diff': 'rwas_LP_diff',
    'rwas_regul_capital_amount_diff_Total_diff': 'rwas_Tot_diff',
    
    'contract_id_SA_CP_SA': 'n_con_CP_SA',
    'contract_id_SA_LP_SA': 'n_con_LP_SA',
    'contract_id_SA_Total_SA': 'n_con_Tot_SA',
    
    'rwas_regul_capital_amount_SA_CP_SA': 'rwas_CP_SA',
    'rwas_regul_capital_amount_SA_LP_SA': 'rwas_LP_SA',
    'rwas_regul_capital_amount_SA_Total_SA': 'rwas_Tot_SA',
    
    'contract_id_SI_mes_CP_SI_mes': 'n_con_CP_SI_m',
    'contract_id_SI_mes_LP_SI_mes': 'n_con_LP_SI_m',
    'contract_id_SI_mes_Total_SI_mes': 'n_con_Tot_SI_m',
    'rwas_regul_capital_amount_SI_mes_CP_SI_mes': 'rwas_CP_SI_m',
    'rwas_regul_capital_amount_SI_mes_LP_SI_mes': 'rwas_LP_SI_m',
    'rwas_regul_capital_amount_SI_mes_Total_SI_mes': 'rwas_Tot_SI_m'
}

comparison_clim_ctpa=comparison_clim_ctpa.rename(mapper=renamed_dict, axis="columns")

In [67]:
comparison_clim_ctpa

,banca,cliente,ctpa,n_con_CP_m,n_con_LP_m,n_con_Tot_m,rwas_CP_m,rwas_LP_m,rwas_Tot_m,n_con_CP_m1,n_con_LP_m1,n_con_Tot_m1,rwas_CP_m1,rwas_LP_m1,rwas_Tot_m1,n_con_CP_diff,n_con_LP_diff,n_con_Tot_diff,rwas_CP_diff,rwas_LP_diff,rwas_Tot_diff,n_con_CP_SA,n_con_LP_SA,n_con_Tot_SA,rwas_CP_SA,rwas_LP_SA,rwas_Tot_SA,n_con_CP_SI_m,n_con_LP_SI_m,n_con_Tot_SI_m,rwas_CP_SI_m,rwas_LP_SI_m,rwas_Tot_SI_m
0,0023,012225332,0083,2.0000,0.0000,2.0000,"1,076,570.5250",0.0000,"1,076,570.5250",2.0000,0.0000,2.0000,"422,977.8700",0.0000,"422,977.8700",0.0000,0.0000,0.0000,"653,592.6550",0.0000,"653,592.6550",1.0000,0.0000,1.0000,"312,982.1200",0.0000,"312,982.1200",1.0000,0.0000,1.0000,"968,228.9000",0.0000,"968,228.9000"
1,0023,012225332,0300,1.0000,0.0000,1.0000,"389,789.0000",0.0000,"389,789.0000",1.0000,0.0000,1.0000,"888,546.0600",0.0000,"888,546.0600",0.0000,0.0000,0.0000,"-498,757.0600",0.0000,"-498,757.0600",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0058,000032713,0083,6.0000,0.0000,6.0000,"266,977.7500",0.0000,"266,977.7500",4.0000,0.0000,4.0000,"252,787.2030",0.0000,"252,787.2030",2.0000,0.0000,2.0000,"14,190.5470",0.0000,"14,190.5470",1.0000,0.0000,1.0000,"69,898.4140",0.0000,"69,898.4140",3.0000,0.0000,3.0000,"84,801.7500",0.0000,"84,801.7500"
3,0058,000057385,0010,1.0000,0.0000,1.0000,"618,554.2500",0.0000,"618,554.2500",1.0000,0.0000,1.0000,"653,202.4400",0.0000,"653,202.4400",0.0000,0.0000,0.0000,"-34,648.1900",0.0000,"-34,648.1900",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0058,000057385,0083,5.0000,0.0000,5.0000,"115,831.8750",0.0000,"115,831.8750",5.0000,0.0000,5.0000,"121,098.7700",0.0000,"121,098.7700",0.0000,0.0000,0.0000,"-5,266.8950",0.0000,"-5,266.8950",3.0000,0.0000,3.0000,"69,280.2150",0.0000,"69,280.2150",3.0000,0.0000,3.0000,"64,184.8750",0.0000,"64,184.8750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,2.0000,0.0000,2.0000,"66,480.0000",0.0000,"66,480.0000",2.0000,0.0000,2.0000,"66,531.3980",0.0000,"66,531.3980",0.0000,0.0000,0.0000,-51.3980,0.0000,-51.3980,1.0000,0.0000,1.0000,"18,727.8550",0.0000,"18,727.8550",1.0000,0.0000,1.0000,"18,671.3750",0.0000,"18,671.3750"
102,0058,059949867,0300,1.0000,0.0000,1.0000,"140,213.6200",0.0000,"140,213.6200",1.0000,0.0000,1.0000,"191,122.7200",0.0000,"191,122.7200",0.0000,0.0000,0.0000,"-50,909.1000",0.0000,"-50,909.1000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
103,0058,064682707,0083,2.0000,0.0000,2.0000,"8,111.5000",0.0000,"8,111.5000",3.0000,0.0000,3.0000,"24,189.6670",0.0000,"24,189.6670",-1.0000,0.0000,-1.0000,"-16,078.1670",0.0000,"-16,078.1670",2.0000,0.0000,2.0000,"17,646.3750",0.0000,"17,646.3750",1.0000,0.0000,1.0000,"1,657.0000",0.0000,"1,657.0000"
104,8519,055890379,0083,7.0000,0.0000,7.0000,"78,329.5000",0.0000,"78,329.5000",8.0000,0.0000,8.0000,"57,624.6531",0.0000,"57,624.6531",-1.0000,0.0000,-1.0000,"20,704.8469",0.0000,"20,704.8469",2.0000,0.0000,2.0000,"4,914.0525",0.0000,"4,914.0525",1.0000,0.0000,1.0000,"25,642.5000",0.0000,"25,642.5000"
105,Total,,,235.0000,21.0000,256.0000,"25,408,930.1000","14,016,290.0900","39,425,220.1900",240.0000,21.0000,261.0000,"24,112,950.0848","13,715,125.8487","37,828,075.9335",-5.0000,0.0000,-5.0000,"1,295,980.0152","301,164.2413","1,597,144.2565",103.0000,3.0000,106.0000,"7,365,333.1964","54,815.6500","7,420,148.8464",98.0000,3.0000,101.0000,"10,280,415.1800","649,034.8750","10,929,450.0550"

In [68]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_clim_ctpa.to_excel(writer, sheet_name="banca_cli_ctpa_cont_SA_SI", index=False)

In [69]:
comparison_clim_ctpa2 = comparison_clim_ctpa.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff']]
comparison_clim_ctpa2

     banca    cliente  ctpa      rwas_Tot_m     rwas_Tot_m1  rwas_Tot_diff
0     0023  012225332  0083  1,076,570.5250    422,977.8700   653,592.6550
1     0023  012225332  0300    389,789.0000    888,546.0600  -498,757.0600
2     0058  000032713  0083    266,977.7500    252,787.2030    14,190.5470
3     0058  000057385  0010    618,554.2500    653,202.4400   -34,648.1900
4     0058  000057385  0083    115,831.8750    121,098.7700    -5,266.8950
..     ...        ...   ...             ...             ...            ...
101   0058  059949867  0083     66,480.0000     66,531.3980       -51.3980
102   0058  059949867  0300    140,213.6200    191,122.7200   -50,909.1000
103   0058  064682707  0083      8,111.5000     24,189.6670   -16,078.1670
104   8519  055890379  0083     78,329.5000     57,624.6531    20,704.8469
105  Total                  39,425,220.1900 37,828,075.9335 1,597,144.2565

[106 rows x 6 columns]

In [89]:
# Ensure that comparison_clim_ctpa is defined
comparison_clim_ctpa = comparison_clim_ctpa2.copy()

# Asegurar que las columnas sean numéricas
comparison_clim_ctpa['rwas_Tot_m'] = comparison_clim_ctpa['rwas_Tot_m'].astype(float)
comparison_clim_ctpa['rwas_Tot_m1'] = comparison_clim_ctpa['rwas_Tot_m1'].astype(float)

# === 1. Porcentajes por cliente ===

# Totales por cliente
comparison_clim_ctpa['rwas_cliente_Tot_m'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_cliente_Tot_m1'] = comparison_clim_ctpa.groupby('cliente')['rwas_Tot_m1'].transform('sum')

# % por ctpa dentro del cliente (m y m1)
comparison_clim_ctpa['pct_ctpa_cli_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_cliente_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_cli_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_cliente_Tot_m1'])# * 100


# Totales por ctpa 
comparison_clim_ctpa['rwas_ctpa_Tot_m'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m'].transform('sum')
comparison_clim_ctpa['rwas_ctpa_Tot_m1'] = comparison_clim_ctpa.groupby('ctpa')['rwas_Tot_m1'].transform('sum')


comparison_clim_ctpa['pct_ctpa_Tot_m'] = (comparison_clim_ctpa['rwas_Tot_m'] / comparison_clim_ctpa['rwas_ctpa_Tot_m'])# * 100
comparison_clim_ctpa['pct_ctpa_Tot_m1'] = (comparison_clim_ctpa['rwas_Tot_m1'] / comparison_clim_ctpa['rwas_ctpa_Tot_m1'])# * 100


# === 2. Porcentajes por banca y ctpa ===

# Totales por banca y ctpa
#comparison_clim_ctpa['banca_ctpa_total_m'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m'].transform('sum')
#comparison_clim_ctpa['banca_ctpa_total_m1'] = comparison_clim_ctpa.groupby(['banca', 'ctpa'])['rwas_Total_m1'].transform('sum')

# % por ctpa dentro de banca (m y m1)
#comparison_clim_ctpa['pct_ctpa_vs_banca_m'] = (comparison_clim_ctpa['rwas_Total_m'] / comparison_clim_ctpa['banca_ctpa_total_m']) * 100
#comparison_clim_ctpa['pct_ctpa_vs_banca_m1'] = (comparison_clim_ctpa['rwas_Total_m1'] / comparison_clim_ctpa['banca_ctpa_total_m1']) * 100

# === 3. Variación entre % del cliente (en puntos) ===

comparison_clim_ctpa['pct_ctpa_vs_cliente_diff'] = comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']

# (Opcional) Variación relativa en porcentaje
comparison_clim_ctpa['pct_ctpa_cli_var_rel'] = (
    ((comparison_clim_ctpa['pct_ctpa_cli_m'] - comparison_clim_ctpa['pct_ctpa_cli_m1']) / 
     comparison_clim_ctpa['pct_ctpa_cli_m1']))#.replace(0, pd.NA)) * 100


#comparison_clim_ctpa['pct_ctpa_vs_banca_rel'] = (
#    ((comparison_clim_ctpa['pct_ctpa_vs_banca_m'] - comparison_clim_ctpa['pct_ctpa_vs_banca_m1']) / 
#     comparison_clim_ctpa['pct_ctpa_vs_banca_m1'].replace(0, pd.NA)) * 100
#)
comparison_clim_ctpa['pct_ctpa_MOM_rel'] = (comparison_clim_ctpa['pct_ctpa_Tot_m'] - comparison_clim_ctpa['pct_ctpa_Tot_m1']) / comparison_clim_ctpa['pct_ctpa_Tot_m1']#.replace(0, pd.NA)
comparison_clim_ctpa['pct_rwas_ctpa_MOM_rel'] = (comparison_clim_ctpa['rwas_Tot_m'] - comparison_clim_ctpa['rwas_Tot_m1']) / comparison_clim_ctpa['rwas_Tot_m1']#.replace(0, pd.NA)


# === Redondear ===
cols_to_round = [
    'rwas_cliente_Tot_m','pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1',
    'pct_ctpa_cli_var_rel','rwas_ctpa_Tot_m','rwas_ctpa_Tot_m1','pct_ctpa_Tot_m','pct_ctpa_Tot_m1','pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel'
]
# 'banca_ctpa_total_m','pct_ctpa_vs_banca_m', 'banca_ctpa_total_m1','pct_ctpa_vs_banca_m1','pct_ctpa_vs_banca_rel'
# 'pct_ctpa_vs_cliente_diff',

comparison_clim_ctpa3 = comparison_clim_ctpa.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_Tot_m1','rwas_Tot_diff'] + cols_to_round].round(4)

comparison_clim_ctpa4 = comparison_clim_ctpa3.loc[:,['banca', 'cliente', 'ctpa','rwas_Tot_m','rwas_ctpa_Tot_m', 'pct_ctpa_Tot_m','rwas_Tot_m1','rwas_ctpa_Tot_m1', 'pct_ctpa_Tot_m1','rwas_Tot_diff',
                                                     'pct_ctpa_MOM_rel','pct_rwas_ctpa_MOM_rel',
                                                     'rwas_cliente_Tot_m', 'pct_ctpa_cli_m','rwas_cliente_Tot_m1','pct_ctpa_cli_m1','pct_ctpa_cli_var_rel']]

In [32]:
(389789.0000 - 888546.0600)/888546.0600

-0.5613181831001536

In [45]:
(0.2700-0.6800)/0.6800

-0.6029411764705882

In [90]:
comparison_clim_ctpa4

,banca,cliente,ctpa,rwas_Tot_m,rwas_ctpa_Tot_m,pct_ctpa_Tot_m,rwas_Tot_m1,rwas_ctpa_Tot_m1,pct_ctpa_Tot_m1,rwas_Tot_diff,pct_ctpa_MOM_rel,pct_rwas_ctpa_MOM_rel,rwas_cliente_Tot_m,pct_ctpa_cli_m,rwas_cliente_Tot_m1,pct_ctpa_cli_m1,pct_ctpa_cli_var_rel
0,0023,012225332,0083,"1,076,570.5250","18,372,347.8050",0.0586,"422,977.8700","17,800,711.7243",0.0238,"653,592.6550",1.4660,1.5452,"1,466,359.5250",0.7342,"1,311,523.9300",0.3225,1.2765
1,0023,012225332,0300,"389,789.0000","2,694,961.1500",0.1446,"888,546.0600","2,566,361.4180",0.3462,"-498,757.0600",-0.5823,-0.5613,"1,466,359.5250",0.2658,"1,311,523.9300",0.6775,-0.6076
2,0058,000032713,0083,"266,977.7500","18,372,347.8050",0.0145,"252,787.2030","17,800,711.7243",0.0142,"14,190.5470",0.0233,0.0561,"266,977.7500",1.0000,"252,787.2030",1.0000,0.0000
3,0058,000057385,0010,"618,554.2500","3,658,172.9250",0.1691,"653,202.4400","2,896,673.0500",0.2255,"-34,648.1900",-0.2502,-0.0530,"734,386.1250",0.8423,"774,301.2100",0.8436,-0.0016
4,0058,000057385,0083,"115,831.8750","18,372,347.8050",0.0063,"121,098.7700","17,800,711.7243",0.0068,"-5,266.8950",-0.0733,-0.0435,"734,386.1250",0.1577,"774,301.2100",0.1564,0.0085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0058,059949867,0083,"66,480.0000","18,372,347.8050",0.0036,"66,531.3980","17,800,711.7243",0.0037,-51.3980,-0.0319,-0.0008,"206,693.6200",0.3216,"257,654.1180",0.2582,0.2456
102,0058,059949867,0300,"140,213.6200","2,694,961.1500",0.0520,"191,122.7200","2,566,361.4180",0.0745,"-50,909.1000",-0.3014,-0.2664,"206,693.6200",0.6784,"257,654.1180",0.7418,-0.0855
103,0058,064682707,0083,"8,111.5000","18,372,347.8050",0.0004,"24,189.6670","17,800,711.7243",0.0014,"-16,078.1670",-0.6751,-0.6647,"8,111.5000",1.0000,"24,189.6670",1.0000,0.0000
104,8519,055890379,0083,"78,329.5000","18,372,347.8050",0.0043,"57,624.6531","17,800,711.7243",0.0032,"20,704.8469",0.3170,0.3593,"78,329.5000",1.0000,"57,624.6531",1.0000,0.0000
105,Total,,,"39,425,220.1900","39,425,220.1900",1.0000,"37,828,075.9335","37,828,075.9335",1.0000,"1,597,144.2565",0.0000,0.0422,"39,425,220.1900",1.0000,"37,828,075.9335",1.0000,0.0000

In [ ]:
# rwas_Tot_m - APRs de esa contrapartida (ctpa) de ese cliente en el mes m
# rwas_ctpa_Tot_m	 - total de APRs de esa contrapartida (ctpa) en el mes m (valores globales de la contrapartida, no por cliente ni banca)
# pct_ctpa_Tot_m - esa contrapartida de ese cliente representa un X% del total de APRs de esa contrapartida (ctpa) en el mes m
# rwas_Tot_m1 - APRs de esa contrapartida (ctpa) de ese cliente en el mes m-1
# rwas_ctpa_Tot_m1 - total de APRs de esa contrapartida (ctpa) en el mes m-1 (valores globales de la contrapartida, no por cliente ni banca)
# pct_ctpa_Tot_m1 - esa contrapartida de ese cliente representa un X% del total de APRs de esa contrapartida (ctpa) en el mes m-1
# rwas_Tot_diff - variacion neta de APRs de esa contrapartida (ctpa) de ese cliente entre el mes m y m-1
# pct_ctpa_MOM_rel - variacion relativa en porcentaje de esa contrapartida (ctpa) de ese cliente entre el mes m y m-1
# pct_rwas_ctpa_MOM_rel - variacion relativa en porcentaje del peso que representa esa contrapartida (ctpa) de ese cliente respecto al total de APRs de esa contrapartida entre el mes m y m-1
# rwas_cliente_Tot_m - total de APRs de ese cliente en el mes m (valores globales del cliente, no por contrapartida ni banca)
# pct_ctpa_cli_m - esa contrapartida (ctpa) de ese cliente representa un X% del total de APRs de ese cliente en el mes m
# rwas_cliente_total_m1 - total de APRs de ese cliente en el mes m  -1 (valores globales del cliente, no por contrapartida ni banca)
# pct_ctpa_cli_m1 - esa contrapartida (ctpa) de ese cliente representa un X% del total de APRs de ese cliente en el mes m-1
# pct_ctpa_cli_var_rel - variacion relativa en porcentaje del peso que representa esa contrapartida (ctpa) de ese cliente respecto al total de APRs de ese cliente entre el mes m y m-1

In [92]:
with pd.ExcelWriter("comparison_final_2.xlsx", mode="a", if_sheet_exists="replace") as writer:
    comparison_clim_ctpa4.to_excel(writer, sheet_name="banca_cli_ctpa_ratios", index=False)