#### 05 - How to avoid using debug coding errors

##### Test your debugging skills

In [ ]:
import pandas as pd
# Dataset: The 5 most succesful athletes in summer olympic games (medals)
my_dict = {
    "Phelps, Michael": 22,
    "Latynina, Larisa": 18,
    "Andrianov, Nikolay": 15,
    "Ono, Takashi": 13,
}

In [ ]:
my_dict["Phelps, Michael"]

22

In [ ]:
my_dict["Phelps, Michael"] + my_dict["Ono, Takashi"]

35

In [ ]:
my_series = pd.Series(my_dict)
my_series

Phelps, Michael       22
Latynina, Larisa      18
Andrianov, Nikolay    15
Ono, Takashi          13
dtype: int64

##### Major reasons for Coding Errors